*{box-sizing:border-box; outline:none;}
body{
	font-family: "Microsoft YaHei";font-size:14px; overflow-x:hidden;
	position: relative;
}
select,input{outline: none;}
label{font-weight:normal; margin: 0;}

html{ width:100%;}

* {
	margin: 0; padding: 0; list-style: none; outline: none;
	resize: none; border: none; text-decoration: none; font-family: "microsoft yahei";
}
.clearfix:after { content: ''; display: block; clear: both;}
.clearfix { zoom: 1;}
ol,ul,h1,h2,h3,h4,h5,h6,p,div,span { margin: 0; padding: 0;}
h1,h2,h3,h4,h5{ font-weight:normal; font-size:inherit; }


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #ccc; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #ccc; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #ccc; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #ccc; 
}
button{
	font-size:inherit;
}
table{border-collapse:collapse; border-spacing:0; }
table td{word-break: break-all; word-wrap:break-word;}
/*layer样式调整*/
.layui-layer-title{
	padding:0;
}

a,a:focus,a:visited,a:hover {
	text-decoration:none; color:inherit;
}
[v-cloak]{
	display:none;
}

body{
	
}

.hidden{
	visibility:hidden;
}
.greytext{/*灰色文本*/
	color:#5E616A;
}

/*适配手机端*/
@media screen and (max-width: 800px) {
	body{font-size:14px;}
}