* {
    line-height: 1.3;
    outline: none;
}

html{
    /* font-size: 60px; */
    font-size : 425%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
*, :after, :before {
    box-sizing: inherit;
    -moz-box-sizing:inherit;
    -webkit-box-sizing:inherit;
}
a{
    color: #666;
}

.content-box-sizing {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hv-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

body {
    font-size: .267rem;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
}

.svc-list{
    background: #FFF;
    padding: .12rem 0;
    border-bottom:1px solid #C9CACA;
    margin-bottom: .16rem;
}
.svc-item{
    display: block;
    text-align: center;
    padding: .15rem 0;
}
.svc-item img{
    display: block;
    margin:auto;
    width: .72rem;
    height: .72rem;
    margin-bottom: .12rem;
}
.svc-item > div{
    font-size: .2rem;
    color: #333;
}

#wrap, .g-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}

#header {
    box-sizing: border-box;
    text-align: center;
    font-size: $font-size-xl;
    color: #FFF;
    padding-left: .2rem;
    padding-right: .2rem;
    height: .76rem;
    position: relative;
    background:#3499db;

    flex-flow : row;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.header > :not(.header-center){
    z-index: 2;
    position: relative;
}
.header-center{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: .76rem;
    text-align: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    left: 0;
    bottom:0;
}
.header-center-blank{

    -webkit-box-flex: 1;
    -webkit-flex: 1 0.2rem;
    -moz-box-flex: 1;
    -moz-flex: 1 0.2rem;
    -ms-flex: 1 0.2rem;
    flex: 1 0.2rem;
    width: 100%;
    /*transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    -moz-transform:translate(0, -50%);
    -webkit-transform:translate(0, -50%);
    -o-transform:translate(0, -50%);*/
}
.header .logo{
    width: 1.53rem;
    height:.48rem;
    margin-right: .16rem;
    margin-top: -.06rem;
    margin-left: -.06rem;
}
.header .top-location,
.header .top-location i.iconfont{
    font-size: .16rem;
    margin-right: 0;
    padding: 0;
}
.header .top-location i.iconfont{
    position: relative;
    top: -.02rem;
    color: #333;
}
.header .user-head-icon{
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    margin-right: .1rem;
    vertical-align: top;
}
#header .top-main-nav  {
    z-index: 199;
}

#main, .g-main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

#footer {
    height: .76rem;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #FAFAFA;
    border-top: 1px solid #C9CACA;
}

#footer h5 {
    color: white;
}
.footer {
    border-top: 1px solid #C9CACA;
    padding: .2rem .24rem;
    background: #EFEFEF;
}
.footer .company-products{
    margin: .24rem .5rem;
}
.footer .btn{
    margin: 0 .05rem;
}
.footer .btn.btn-nopad{
    padding-left: 0;
    padding-right: 0;
}
.footer.main-nav{
    text-align: center;
    padding: 0;
}
.footer.main-nav i.iconfont{
    display: block;
    font-size: .50rem;
    line-height: .50rem;
    margin-bottom: .08rem;
}
.footer.main-nav p{
    font-size: .18rem;
    line-height: .20rem;
    margin:0;
}
.footer.main-nav .active *{
    color: #FE434C;
}
.footer .footer-copyright{
    padding-bottom: .24rem;
    color:#999;
    font-size: .18rem;
}

.footer .reply-input{
    border:1px solid #C9CACA;
    border-radius: .08rem;
    height: .52rem;
    background: #FFF;
    margin-right: .16rem;
}
.footer .reply-input input{
    border:0;
    width:100%;
    height: 100%;
    padding:0 .2rem;
    display: block;
    background: none;
}
.footer.ft-info{
    background: #FFF;
}

.footer-wrap {
    height: .9rem;
}

.footer-wrap .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}


.con {
    font-size: 28px;
    text-align: center;
}

input {
    background-color: #fff;
    /*padding: 1em 0;
    height: 1em;*/
}

#header > div {
    /*position: relative;*/
}
.header .iconfont{
    font-size: .36rem;
    padding-left: .08rem;
}
#header .icon-gerenzhongxin{
    padding-right: .08rem;
}
#header .icon-arrow-back {
    font-size: .32rem;
    top: -0.03em;
    left: -0.24rem;
    padding: .2rem;
    position: relative;
}

#header span {
    height: .7rem;
    line-height: .7rem;
    font-size: .22rem;
}

.header .iconfont {
    color: #666;
}
.header .header-back-btn{
    width:.30rem;
    text-align: center;
}
.header .header-back-btn > img{
    width:.18rem;
}
.forward {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.85em;
    padding: 0 0.3em;
}

.blue {
    color: #4389FE;
}

.gray {
    color : #666;
}

.lightgray {
    color : #999;
}

.black {
    color : #333;
}

.red {
    color : #FE434C;
}

.taphover {
    background-color: #FE333C;
}

.content {
    padding: 0.5em 0.5em 2em 0.5em;
}

gap {
    display: block;
    height: 0.24rem;
}

.ncard {
    background-color: #fff;
    margin : 0 0;
    padding-left: .24rem;
    position: relative;
    /*border-top: 1px solid #C9CACA;*/
    border-bottom: 1px solid #C9CACA;
}

.ncard:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    height: 0;
    border-bottom: 1px solid #C9CACA;
}

.ncard .item {
    position: relative;
    border-bottom: 1px solid #C9CACA;
}

.ncard .item:last-child {
    border-bottom: none;
}

.card {
    background-color: #fff;
    margin : 0 0 0.7em 0;
    padding : 0 0.5em;
    border-bottom: 1px solid #E9E9E9;
}

.cardHeader {
    font-size : 1em;
    line-height: 3em;
    border-bottom: 1px solid #f0f1f1;
}

.cardContent {
    position : relative;
    padding : 0.5em 0;
}

.cardFooter {
    background-color: #fafafa;
    position: relative;
    margin: 0 -0.5em;
    padding: 0 0.5em;
    line-height: 3em;
    height: 3em;
}

#tip-offline {
    padding-left : 1em;
    height : 30px;
    line-height : 30px;
    border-bottom : 1px solid #ddd;
}

.loadingSec {
    height: .72rem;
    line-height: .72rem;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.loadingSec > span {
    color: #ccc;
}

.loading {
    // background-image: url('../assets/images/loading_more.gif');
    background-size: 36%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    display: inline-block;
    width: 3em;
}

.loading-more .icon-loading2 {
    margin-right: .2rem;
}

.loadingSec .icon-loading2, .loading-more .icon-loading2 {
    font-size: 0.32rem;
    color: #999;
}

.loading-more {
    text-align: center;
    line-height: .72rem;
    height: .72rem;
    /*background-color: #fff;
    border-top: 1px solid #C9CACA;
    border-bottom: 1px solid #C9CACA;
    */
    margin-top: .24rem;
    margin-bottom: .24rem;
    font-size: .24rem;
}

.loading-more:after {
    content: '';
    display: block;
    height: .24rem;
}

sep:before {
    content : "|";
    color : #f0f1f1;
}

.icon-warn {
    font-size: 1.2em;
    margin-right: 0.3em;
    color: #e94040;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.hide {
    display: none;
}

@keyframes rotate {
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

.rotate {
    -webkit-animation: rotate 0.8s linear infinite;
    animation: rotate 0.8s linear infinite;
}

@keyframes fastshow {
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(0deg);}
}

@-webkit-keyframes fastshow {
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(0deg);}
}

.fastshow {
    -webkit-animation: fastshow 0.8s linear infinite;
    animation: fastshow 0.8s linear infinite;
}

/** 自适应正方形图�?**/
.img-rect-wrap,.img-rect-blank{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    position: relative;
}
.img-rect{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-bottom: 100%; /* 关键就在这里 */
}
.img-rect .img-wrap {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.img-rect .img-wrap img{
    width: 100%;
}
.img-rect > img{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.img-list,.img-list-2,.img-list-3,.img-list-4,.img-list-5{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.img-list-2 .img-rect-wrap, .img-list-2 .img-rect-blank{
    width: 48%;
    margin-bottom: 4%;
}
.img-list-3 .img-rect-wrap, .img-list-3 .img-rect-blank{
    width: 31%;
    margin-bottom: 3.5%;
}
.img-list-4 .img-rect-wrap, .img-list-4 .img-rect-blank{
    width: 22%;
    margin-bottom: 4%;
}
.img-list-5 .img-rect-wrap, .img-list-5 .img-rect-blank{
    width: 15%;
    margin-bottom: 6.2%;
}
.img-list:last-child .img-rect-wrap,
.img-list:last-child .img-rect-blank,
.img-list-2:last-child .img-rect-wrap,
.img-list-2:last-child .img-rect-blank,
.img-list-3:last-child .img-rect-wrap,
.img-list-3:last-child .img-rect-blank,
.img-list-4:last-child .img-rect-wrap,
.img-list-4:last-child .img-rect-blank,
.img-list-5:last-child .img-rect-wrap,
.img-list-5:last-child .img-rect-blank {
    margin-bottom: 0;
}

.tac {
    text-align: center;
}
.tal{
    text-align: left;
}
.tar{
    text-align: right;
}
.word-split{
    padding:0 .1rem;
    position: relative;
    top: -0.2em;
    font-size: .8em;
    color: #DDD;
}
.img-full{
    vertical-align: top;
    width: 100%;
    max-width: 100%;
}
.item-vrect-hd{
    border-left: .08rem solid #FE434C;
    padding-left: .1rem;
}
.header-caidan-icon,
#header .header-caidan-icon{
    z-index: 200;
}
.header-caidan-icon.active{
    color: #FE434C;
}
.menu-select{

}
.menu-select .menu-select-item{
    border-left: 1px solid #C9CACA;
    /* border-right: 1px solid #C9CACA; */
    border-bottom: 1px solid #C9CACA;
    /* margin-right: -1px; */
    font-size: .22rem;
    padding: .18rem 0;
    text-align: center;
    background: #FFF;
    height: .66rem;
    color: #666;
}

.menu-select .menu-select-item > .iconfont{
    font-size: .42rem;
    line-height: .22rem;
    display: inline-block;
    top: .03rem;
	position: relative;
}
.menu-select ul li:first-child .menu-select-item{
    border-left: 0;
}
.menu-select ul li:last-child .menu-select-item{
    border-right: 0;
}
.menu-select .menu-select-item.active{
    color:#FE434C;
}
.menu-select .menu-select-item.active .iconfont{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.menu-sub-wrap {
    z-index: 99;
    position: fixed;
    top: .710rem;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(0,0,0,.5);
    display: none;
}
.header .menu-sub-wrap {
    z-index: 99;
    position: fixed;
}
.menu-sub{
    padding: .2rem;
    background-color: #fff;
}
.menu-sub > ul{
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(0px, 0px) translateZ(0px);
}
.menu-sub li > a{
    display: block;
    text-align: center;
    margin: .2rem;
    border:1px solid #C9CACA;
    font-size: .22rem;
    color: #666;
    padding: .13rem 0;
    border-radius: .05rem;
}
.menu-sub li > a.active{
    color:#FE434C;
    border-color:#FE434C;
}
.menu-sub-full{
    top: 1.4rem;
}
.menu-sub-full .menu-sub1{
    padding: 0;
}
.menu-sub-full .menu-sub1 li > a{
    margin: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;
    padding:.2rem 0;
}
.menu-sub-full .menu-sub1 li > a.last{
    border:none;
}
.menu-sub-full .menu-sub1 li > a.active{
    border-color:#C9CACA;
}
.header-search-wrap {
    width: 100%;
    position: fixed;
    z-index: 2000;
}
.header-search {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    font-size: .24rem;
    color: #333;
    padding-left: .2rem;
    padding-right: .2rem;
    height: .70rem;
    position: relative;
    background-color: rgba(254,67,76, 0.1);
    border-bottom: 1px solid transparent;

    transition: background-color .2s;
    -moz-transition: background-color .2s; /* Firefox 4 */
    -webkit-transition: background-color .2s; /* Safari �?Chrome */
    -o-transition: background-color .2s; /* Opera */
}
.header-search.active{
    background-image: -webkit-linear-gradient(#fff, #f8f8f8);
    background-image: -o-linear-gradient(#fff, #f8f8f8);
    background-image: linear-gradient(#fff, #f8f8f8);
    border-bottom-color: #C9CACA;
}
.header-search.active .top-location{
    color: #333;
}
.header-search.active .top-location .iconfont{
    display: inline-block;
    transition: transform .2s;
    -moz-transition: transform .2s; /* Firefox 4 */
    -webkit-transition: transform .2s; /* Safari �?Chrome */
    -o-transition: transform .2s; /* Opera */
}
.header-search .search-input{
    border:1px solid #C9CACA;
    border-radius: .08rem;
    height: .46rem;
    background: #FFF;
    margin-right: .16rem;
    padding-left: .5rem;
}
.header-search .search-input > .iconfont{
    float: left;
    height: .46rem;
    line-height: .46rem;
    font-size: .24rem;
    margin-left: -0.4rem;
    color: #999;
    margin-top: .02rem;
}
.header-search .search-input > input{
    border:0;
    width:100%;
    height: 100%;
    padding:0;
    display: block;
    background: none;
    line-height: normal;
}
.header-search .menu-sub-wrap{
    top: .72rem;
}
.header-search .top-location {
    margin-right: .2rem;
    color: #FFF;
}
.header-search .cancel-btn{
    color: #333;
    display: none;
}
.header-search.active .top-location .iconfont {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari �?Chrome */
    -o-transform:rotate(180deg);  /* Opera */
}

.top-search {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    font-size: .18rem;
    color: #333;
    padding:.16rem;
    position: relative;
    background-color: rgba(254,67,76, 0.1);
    /* border-bottom: 1px solid transparent; */
}
.top-search.active{
    background-image: -webkit-linear-gradient(#fff, #f8f8f8);
    background-image: -o-linear-gradient(#fff, #f8f8f8);
    background-image: linear-gradient(#fff, #f8f8f8);
    border-bottom-color: #C9CACA;
}

.top-search .search-input{
    border:1px solid #C9CACA;
    border-radius: .08rem;
    height: .46rem;
    background: #FFF;
    margin-right: .16rem;
    padding-left: .5rem;
}
.top-search .search-input > .iconfont{
    float: left;
    height: .46rem;
    line-height: .46rem;
    font-size: .24rem;
    margin-left: -0.35rem;
}
.top-search .search-input > input{
    border:0;
    width:100%;
    height: 100%;
    padding:0;
    display: block;
    background: none;
    line-height: normal;
}

.top-main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.95);
    z-index: 30;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-name: menuin;
    animation-name: menuin;
    -webkit-transform-origin: 50% 50%;
}
.header .top-main-nav {
    position: fixed;
    z-index: 99;
}
.top-main-nav .dt-hd-navs {
    overflow: hidden;
    width: 100%;
    /* position: absolute;
    top: 42%;
    margin-top: -135px; */
}
.top-main-nav .dt-hd-navs li {
    text-align: center;
    width: 33.33333%;
    box-sizing: border-box;
    float: left;
}
.top-main-nav .dt-hd-navs li a {
    display: block;
}
/*.top-main-nav .dt-hd-navs li i {
    margin: .24rem auto;
    display: block;
    width: .72rem;
    height: .72rem;
    line-height: .72rem;
    border-radius: 50%;
    color: #FFF;
    background-color: red;
}*/
.top-main-nav .dt-hd-navs li p {
    margin-bottom: .4rem;
    line-height: 1;
    font-size: .2rem;
    color: #000;
}

@-webkit-keyframes menuin{
    0%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);opacity:0
    }
    100%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}

@-moz-keyframes menuin{
    0%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
    100%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}

@-o-keyframes menuin{
    0%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
    100%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}

@-ms-keyframes menuin{
    0%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
    100%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
@keyframes menuin{
    0%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
    100%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}

@-webkit-keyframes menuout{
    0%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);opacity:1
    }
    100%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
}

@-moz-keyframes menuout{
    0%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
}
@-o-keyframes menuout{
    0%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
}
@-ms-keyframes menuout{
    0%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
}
@keyframes menuout{
    0%{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    100%{
        -webkit-transform:scale(3);
        -moz-transform:scale(3);
        -ms-transform:scale(3);
        -o-transform:scale(3);
        transform:scale(3);
        opacity:0
    }
}

.menuin{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:300ms;
    animation-duration:300ms;
    -webkit-animation-name:menuin;
    animation-name:menuin;
    -webkit-transform-origin:50% 50%
}

.menuout{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;

    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:300ms;
    animation-duration:300ms;
    -webkit-animation-name:menuout;
    animation-name:menuout;
    -webkit-transform-origin:50% 50%
}
