$line-height-base: 1.5 !default;
$white:  #fff !default;
$black:  #000 !default;
$border-width: 1px !default;

$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;


// Padding applied to the modal body
$modal-inner-padding:         .2rem !default;

$modal-dialog-margin:         .15rem !default;
$modal-dialog-sm-up-margin-y: 0 !default;

$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:               $white !default;
$modal-content-border-color:     #C9CACA;   //rgba($black,.2) !default;
$modal-content-border-width:     $border-width !default;
$modal-content-xs-box-shadow:    0 3px 9px rgba($black,.5) !default;
$modal-content-sm-up-box-shadow: 0 5px 15px rgba($black,.5) !default;

$modal-backdrop-bg:           $black !default;
$modal-backdrop-opacity:      .5 !default;
$modal-header-border-color:   $gray-lighter !default;
$modal-footer-border-color:   $modal-header-border-color !default;
$modal-header-border-width:   $modal-content-border-width !default;
$modal-footer-border-width:   $modal-header-border-width !default;
$modal-header-padding:        .15rem !default;

$modal-lg:                    100% !default;
$modal-md:                    100% !default;
$modal-sm:                    100% !default;

$modal-transition:            transform .2s ease-out !default;

$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

$border-radius:          .15rem !default;
$border-radius-lg:       .15rem !default;
$border-radius-sm:       .15rem !default;

$zindex-modal-backdrop:     1040 !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}


@mixin transition($transition...) {
    @if $enable-transitions {
        @if length($transition) == 0 {
            transition: $transition-base;
        } @else {
            transition: $transition;
        }
    }
}

@mixin border-radius($radius: $border-radius) {
    @if $enable-rounded {
        border-radius: $radius;
    }
}
@mixin box-shadow($shadow...) {
    @if $enable-shadows {
        box-shadow: $shadow;
    }
}

.modal-open {
    overflow: hidden;
}

// Container that the modal scrolls within
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $modal-dialog-margin;
    z-index: 1000;
//    display: none;
    overflow: hidden;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
    // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
    // See also https://github.com/twbs/bootstrap/issues/17695

    // When fading in the modal, animate it to slide down
    &.fade .modal-dialog {
        @include transition($modal-transition);
        transform: translate(0, -25%);
    }
    &.show .modal-dialog { transform: translate(0, 0); }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    position: relative;
    width: 100%;
    // padding: $modal-dialog-margin;
    max-height: 80%;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column;
    flex-flow: column;
    background: #fff;
    border-radius: .15rem;
}

// Actual modal
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $modal-content-bg;
    background-clip: padding-box;
    //border: $modal-content-border-width solid $modal-content-border-color;
    @include border-radius($border-radius-lg);
    @include box-shadow($modal-content-xs-box-shadow);
    // Remove focus outline from opened modal
    outline: 0;
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // z-index: $zindex-modal-backdrop;
    background-color: $modal-backdrop-bg;

    // Fade for backdrop
    &.fade { opacity: 0; }
    &.show { opacity: $modal-backdrop-opacity; }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    // display: flex;
    align-items: center; // vertically center it
    //justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
    padding: $modal-header-padding;
    border-bottom: $modal-header-border-width solid $modal-header-border-color;
    text-align: center;
    background: #888;
    color: #FFF;
    border-top-left-radius:$border-radius-lg;
    border-top-right-radius:$border-radius-lg;
}

// Title text within header
.modal-title {
    margin-bottom: 0;
    width:100%;
    font-weight:normal;
    line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    // position: relative;
    // Enable `flex-grow: 1` so that the body take up as much space as possible
    // when should there be a fixed height on `.modal-dialog`.
    // flex: 1 1 auto;

    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    //flex-grow:1;
    //flex-shrink:1;
    //flex-basis:0;
    height: 100%;
    overflow-y: auto;
    // padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
    display: flex;
    align-items: center; // vertically center
    justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
    padding: $modal-inner-padding;
    border-top: $modal-footer-border-width solid $line-color;
    min-height:.7rem;

    // Easily place margin between footer elements
    > :not(:first-child) { margin-left: .25rem; }
    > :not(:last-child) { margin-right: .25rem; }

    > .btn {
        -webkit-box-flex: 1.0;
        -webkit-flex: 1 1 0;
        -moz-box-flex: 1.0;
        -moz-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0;

        font-size: $font-size-xm;
        padding: .05rem .15rem;
        background: none;
        border: none;
        border-radius: 0;
        margin-left:0;
        margin-right: 0;

        &:not(:first-child) {
            border-left: 1px solid $line-color;
        }
    }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// Scale up the modal
@include media-breakpoint-up(sm) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        max-width: $modal-md;
        max-height:80%;
        /*overflow-y: auto !important;*/
        // margin: $modal-dialog-sm-up-margin-y auto;
    }

    .modal-content {
        @include box-shadow($modal-content-sm-up-box-shadow);
    }

    .modal-sm { max-width: $modal-sm; }
}

@include media-breakpoint-up(lg) {
    .modal-lg { max-width: $modal-lg; }
}


.modal-alert, .modal-confirm, .modal-loading {
    .modal-body{
        padding: .25rem;
    }
}

.modal-white{
    .modal-header{
        background: #FFF;
        color: $gray-dark;
        font-size:$font-size-lm;
        border-bottom: none;
        padding-top:.3rem;
    }

    .modal-body{
        padding-top:0;
        font-size:$font-size-md;
        color: $gray;
    }
}
