$namespace: "mm-" !default;

$font-size-xl: .36rem !default;
$font-size-lg: .32rem !default;
$font-size: .3rem !default;

$font-size-lm: .28rem !default;
$font-size-md: .26rem !default;
$font-size-xm: .24rem !default;

$font-size-sm: .22rem !default;
$font-size-xs: .18rem !default;

$blue:    #3499db;  //主题蓝色

$white:  #fff !default;
$black:  #000 !default;
$red:    #ff2a00 !default;

$link-color: #369 !default;     // 链接色
$line-color: #c3c3c3 !default;  // 分割线

$gray-dark:                 #333 !default;  //  重要字体内容
$gray:                      #666 !default;  // 普通及辅助性字体
$gray-light:                #888 !default;  // 辅助性字体
$gray-lighter:              #999 !default;  // 辅助性字体次要字体，icon
$gray-lightest:             #eee !default;  // 用于分割条
