/*common style*/
body,html{height:100%;width:100%;overflow: hidden}
ul,li,p,body{margin:0;padding:0}
ul{list-style-type: none}
.hide{  display:none;}
.show{display:block}
[v-cloak]{display:none}
/*页面布局*/
body{
    background-color: #0E0F1A;
}
#container{
    position:absolute;
    height:100%;
    display:flex;
    width:100%;
}
.u3dwindow{
    width:calc(674vw * 100*1.5 / 1920);
    height:100%;
    position:relative;
    overflow: hidden;
}
.u3dwindowback{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
}
#charts{
    width:100%;
    height:100%;
}
.title{
    height:calc(74vh * 100 / 720);
    line-height:calc(74vh * 100 / 720);
    text-align: center;
    color:white;
    font-size:calc(26vh * 100 / 720);
}
.xcontent{
    height:calc(616vh * 100 / 720);
    margin-bottom:calc(30vh * 100 / 720);
    padding-right:calc(30vh * 100 / 720);
}
.xline{
    height:49.7%;
    display:flex;
}
.xline:nth-child(1){
    margin-bottom:0.6%;
}
#chart1{
    width:38%;
    margin-left:2%;
}
#chart2{
    flex-grow:1;
    display:flex;
    flex-direction: column;
}
#chart2content{
    flex-grow: 1;
    /*width:165%;*/
    /*height:165%;*/
    transform:scale(0.4,0.4);
    /*width:100%;*/
    /*height:100%;*/
    position:absolute;
    top:-44%;
    left:-42%;
    width:200%;
    height:200%;
}
#chart3{
    width:72%;
    margin-right:1%;
    display:flex;
    flex-direction: column;
    position:relative;
    overflow: hidden;
    background-color:#1B1B27;
}
#chart4{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}
.xsubitem{
    position: relative;
}
/*细节样式*/
.charttitle{
    height:calc(42vh * 100 / 720);
    line-height:calc(42vh * 100 / 720);
    padding-left:calc(20vh * 100 / 720);
    color:white;
    font-size:calc(16vh * 100 / 720);
    background-color: #21222D;
}
.lightback{
    background-color: #21222D ;
}
.lightback2{
    background-color: #15161E;
}
.fred{
    font-size:calc(16vh * 100 / 720);
    color:#BF3F76;
}
.fgreen{
    font-size:calc(16vh * 100 / 720);
    color:#56B2BA;
}
.f16white{
    font-size:calc(16vh * 100 / 720);
    color:white;
}
.f16yellow{
    font-size:calc(16vh * 100 / 720);
    color:#DDC762;
}
.f16blue{
    font-size:calc(16vh * 100 / 720);
    color:#2C73C1;
}
#chart4>ul{
    font-size:calc(14vh * 100 / 720);
    color:white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#chart4>ul>li{
    flex-grow: 1;
    display:flex;
    align-items: center;
}
#chart4>ul>li>span{
    flex-grow: 1;
    text-align: center;
}
.pingjunbox{
    display:flex;
    width:50.56%;
    margin-right:1%;
}
.chart1text{
    flex-grow: 1;
    align-self: center;
    display:flex;
    flex-direction: column;
    height:calc(140vh * 100 / 720)
}
.chart1text>li{
    flex-grow: 1;
    padding-left:calc(14vh * 100 / 720);
    display:flex;
    align-items: center;
}
.roundimg{
    height:calc(259vh * 100 / 720);
    color:white;
    width:100%;
}
.roundimg>div,.roundimg>div>div{
    height:100%;
    width:100%;
}
.backimg{
    background-size:50% 80%;
    background-position:right bottom;
    background-repeat: no-repeat;
}
.backimg_teacher{
    background-image:url('../../images/bigdatascreen/teacherimg.png');
}
.backimg_stu{
    background-image:url('../../images/bigdatascreen/stuimg.png');
}
.snow{position:absolute;top:70%;border-radius: 50%;z-index:50}
.desctag{
    width:calc(18vh * 100 / 720);
    height:calc(18vh * 100 / 720);
    margin-right:calc(5vh * 100 / 720);
    border-radius: 50%;
}
.description{
    position:absolute;
    top:calc(69vh * 100 / 720);
    right:calc(30vw * 100*1.5 / 1920);
    width:calc(90vw * 100*1.5 / 1920);
}
.description>li{
    display:flex;
    color:white;
    flex-grow: 1;
    margin:calc(5vh * 100 / 720) 0;
    font-size:calc(12vh * 100 / 720);
    align-items: center;
}
/*选择楼层下拉菜单*/
.selfloor{
    position:absolute;
    bottom:calc(60vh * 100 / 720);
    left:calc(272vw * 100*1.5 / 1920);
    width:calc(130vw * 100*1.5 / 1920);
    color:white;
    text-align: center;
    background-color: #2D3655;
    border-radius: calc(10vh * 100 / 720);
    padding:calc(5vh * 100 / 720) 0;
}
.datacollect{
    position:absolute;
    top:calc(74vh * 100 / 720);
    left:calc(154vw * 100*1.5 / 1920);
    width:calc(366vw * 100*1.5 / 1920);
    height:calc(176vh * 100 / 720);
    background-image: url('../../images/bigdatascreen/cloud.png');
    background-size:100% 100%;
    color:white;
    font-size:calc(40vh * 100 / 720);
    z-index:999;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.datacollect>span:nth-child(1){
    margin-bottom:calc(20vh * 100 / 720);
}
.tiao{
    font-size:calc(30vh * 100 / 720);
    margin-bottom:calc(25vh * 100 / 720);
    margin-left:calc(5vh * 100 / 720);
}
.floorimg{
    position:absolute;
    top:calc(230vh * 100 / 720);
    left:0;
    width:100%;
}
.floorimg img{
    width:100%;
    height:100%;
}
/*旋转动画*/
@keyframes myrotate
{
    from {transform: rotatex(0deg);}
    to {transform: rotatex(45deg);}
}
.rot{
    perspective: 2000px;
}
.rotateimg{
    width:calc(340vw * 100*1.5 / 1920);
    height:calc(246vh * 100 / 720);
    animation: myrotate 3s;
    transform: rotatex(45deg);
    margin:0 calc(5vw * 100*1.5 / 1920);
}
/*页尾logo*/
.logo{
    position:absolute;
    bottom:calc(20vh * 100 / 720);
    left:calc(216vw * 100*1.5 / 1920);
    width:calc(240vw * 100*1.5 / 1920);
    color:white;
    border-radius: calc(10vh * 100 / 720);
    padding:calc(5vh * 100 / 720) 0;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:calc(12vh * 100 / 720);
}
.logo img{
    width:calc(16vh * 100 / 720);
    height:calc(16vh * 100 / 720);
}
.logo>span{
    padding-left:calc(5vh * 100 / 720);
}
