<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../../js/bigdatascreen/layout.js" ></script>
		<link rel="stylesheet" href="../../css/bigdatascreen/operating-center.css" type="text/css" />
		<script type="text/javascript" src="../../js/bigdatascreen/swiper.animate1.0.2.min.js" ></script>
		<meta charset="UTF-8">
		<title>运营中心大屏</title>
		<style>
            .oscereportbox{
                display:flex;
                flex-wrap: wrap;
                width:100%;
                height:100%;
            }
            .oscereportbox li{
                width:50%;
                height:33.3%;
            }
		</style>
	</head>
	<body>
		<div id="vue_control" class="allscreen" v-cloak>
			<div class="reportouter">
				<div class="reportcon">
					<h3 class="reportcontit">OSCE三区双通道调度机制原理动画</h3>
					<div class="reportinner reportinner1">
						<video class="video1" muted='true' src="osce.webm" loop autoplay />
					</div>
				</div>
				<div class="reportcon">
					<h3 class="reportcontit">OSCE考试报告</h3>
					<div class="reportinner reportinner2">
						<!--<div class="reportinnercon">-->
							<!--<div class="reportitem reportitem1">-->
								<!--<h4 class="itemtit">成绩关键点分值</h4>-->
								<!--<table class="score_keypoint_table">-->
									<!--<tr>-->
										<!--<th>项目</th>-->
										<!--<th>最高分</th>-->
										<!--<th>中值</th>-->
										<!--<th>平均分</th>-->
										<!--<th>最低分</th>-->
									<!--</tr>-->
									<!--<tr>-->
										<!--<td>分值</td>-->
										<!--<td>461.25</td>-->
										<!--<td>356.5</td>-->
										<!--<td>357.79</td>-->
										<!--<td>244.25</td>-->
									<!--</tr>-->
								<!--</table>-->
							<!--</div>-->
							<!--<div class="reportitem reportitem2">-->
								<!--<h4 class="itemtit">成绩区段人数分布</h4>-->
								<!--<div class="chart score_distribution">-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="reportinnercon">-->
							<!--<div class="reportitem reportitem3">-->
								<!--<h4 class="itemtit">难度</h4>-->
								<!--<div class="chart difficulty">-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="reportitem reportitem4">-->
								<!--<h4 class="itemtit">区分度</h4>-->
								<!--<div class="chart distinction_degree">-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
                        <ul class="oscereportbox">
                            <li>
                                <div class="reportitem reportitem1">
                                    <h4 class="itemtit">成绩关键点分值</h4>
                                    <div style="flex:1 1;">
                                        <table class="score_keypoint_table">
                                            <tr>
                                                <th>项目</th>
                                                <th>最高分</th>
                                                <th>中值</th>
                                                <th>平均分</th>
                                                <th>最低分</th>
                                            </tr>
                                            <tr>
                                                <td>分值</td>
                                                <td>461.25</td>
                                                <td>356.5</td>
                                                <td>357.79</td>
                                                <td>244.25</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="reportitem reportitem2">
                                    <h4 class="itemtit">成绩区段人数分布</h4>
                                    <div class="chart score_distribution"></div>
                                </div>
                            </li>
                            <li>
                                <div class="reportitem reportitem3">
                                    <h4 class="itemtit">难度</h4>
                                    <div class="chart difficulty"></div>
                                </div>
                            </li>
                            <li>
                                <div class="reportitem reportitem4">
                                    <h4 class="itemtit">区分度</h4>
                                    <div class="chart distinction_degree"></div>
                                </div>
                            </li>
                            <li>
                                <div class="reportitem reportitem5">
                                    <h4 class="itemtit">信度</h4>
                                    <div class="chart trust_degree"></div>
                                </div>
                            </li>
                            <li>
                                <div class="reportitem reportitem6">
                                    <h4 class="itemtit">效度</h4>
                                    <div class="chart use_degree"></div>
                                </div>
                            </li>
                        </ul>
					</div>
				</div>
			</div>
			<div class="reportouter">
				<div class="reportcon">
					<h3 class="reportcontit">形成性评价(2017年5月)</h3>
					<div class="reportinner reportinner3">
						<div class="reportinnercon clearfix">
							<div class="reportitem reportitem1">
								<h4 class="itemtit">教师临床能力评价</h4>
								<div class="chart teacher_clinic_ability">
								</div>
							</div>
							<div class="reportitem reportitem1">
								<h4 class="itemtit">教学环境评价</h4>
								<div class="chart teach_environment">
								</div>
							</div>
							<div class="reportitem reportitem1">
								<h4 class="itemtit">学生临床能力评价</h4>
								<div class="chart student_clinic_ability">
								</div>
							</div>
							<div class="reportitem reportitem1">
								<h4 class="itemtit">学生ASK胜任力评价</h4>
								<div class="chart ASK">
								</div>
							</div>
						</div>
						<div class="reportinnercon">
							<div class="reportitem reportitem2">
								<h4 class="itemtit">形成性评价学期趋势柱状图</h4>
								<div class="chart formative_evaluation">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="reportouter">
				<div class="reportcon">
					<h3 class="reportcontit">实时管理状态</h3>
					<div class="reportinner reportinner4">
						<!-- 实时管理状态 数量统计 -->
						<div class="numstatistics clearfix">
							<p>
								当前人数：<span class="blue">{{current_state.currentpeople}}</span>人</br>
								峰值人数：<span class="blue">{{current_state.maxpeople}}</span>人</br>
								本月峰值：<span class="yellow">{{current_state.mouthmaxpeople}}</span>人</br>
							</p>
							<p>
								总教室数：<span class="blue">{{current_state.room}}</span>间</br>
								使用教室：<span class="blue">{{current_state.useroom}}</span>间</br>
								教室使用率：
								<span class="yellow">
									{{(current_state.useroom/current_state.room*100).toFixed(1)}}
								</span>
								%</br>
							</p>
							<p>
								传统模型：<span class="blue">{{current_state.model}}</span>个</br>
								使用模型：<span class="blue">{{current_state.usemodel}}</span>个</br>
								模型使用率：
								<span class="yellow">
									{{(current_state.usemodel/current_state.model*100).toFixed(1)}}
								</span>
								%</br>
							</p>
							<p>
								训练机器人：
								<span class="blue">{{current_state.robot}}</span>个</br>
								使用机器人：<span class="blue">{{current_state.userobot}}</span>个</br>
								机器人使用率：
								<span class="yellow">
									{{(current_state.userobot/current_state.robot*100).toFixed(1)}}
								</span>
								%</br>
							</p>
						</div>
						<div class="skillcenterinfo">
							<div class="clearfix skillcentertit1">
								<h4>2016年10月正式投入使用</h4>
								<h4>使用面积：13000平米</h4>
							</div>
							<!-- 技能中心各楼层展示 -->
							<div class="skillcentershow clearfix">
								<div class="floorcon">
									<div :class="flooritem(6)">
										<h5>第六层</h5><div class="tri"></div>
									</div>
									<div :class="flooritem(5)">
										<h5>第五层</h5><div class="tri"></div>
									</div>
									<div :class="flooritem(4)">
										<h5>第四层</h5><div class="tri"></div>
									</div>
									<div :class="flooritem(3)">
										<h5>第三层</h5><div class="tri"></div>
									</div>
									<div :class="flooritem(2)">
										<h5>第二层</h5><div class="tri"></div>
									</div>
									<div :class="flooritem(1)">
										<h5>第一层</h5><div class="tri"></div>
									</div>
								</div>
								<div class="floorimgcon">
									<div class="swiper-container">
								        <div class="swiper-wrapper">
                                            <div class="swiper-slide swiper-no-swiping">
                                                <img v-if="roomusedetailrandom[0]==1" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/1/1F.png" />
                                                <img v-if="roomusedetailrandom[0]==2" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/2/1F.png" />
                                                <img v-if="roomusedetailrandom[0]==3" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/3/1F.png" />
                                            </div>
								            <div class="swiper-slide swiper-no-swiping">
                                                <img v-if="roomusedetailrandom[1]==1" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/1/2F.png" />
                                                <img v-if="roomusedetailrandom[1]==2" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/2/2F.png" />
                                                <img v-if="roomusedetailrandom[1]==3" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/3/2F.png" />
                                            </div>
								            <div class="swiper-slide swiper-no-swiping">
                                                <img v-if="roomusedetailrandom[2]==1" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/1/3F.png" />
                                                <img v-if="roomusedetailrandom[2]==2" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/2/3F.png" />
                                                <img v-if="roomusedetailrandom[2]==3" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/3/3F.png" />
                                            </div>
								            <div class="swiper-slide swiper-no-swiping">
                                                <img v-if="roomusedetailrandom[3]==1" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/1/4F.png" />
                                                <img v-if="roomusedetailrandom[3]==2" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/2/4F.png" />
                                                <img v-if="roomusedetailrandom[3]==3" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/3/4F.png" />
                                            </div>
								            <div class="swiper-slide swiper-no-swiping">
                                                <img v-if="roomusedetailrandom[4]==1" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/1/5F.png" />
                                                <img v-if="roomusedetailrandom[4]==2" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/2/5F.png" />
                                                <img v-if="roomusedetailrandom[4]==3" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/3/5F.png" />
                                            </div>
								            <div class="swiper-slide swiper-no-swiping">
                                                <img v-if="roomusedetailrandom[5]==1" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/1/6F.png" />
                                                <img v-if="roomusedetailrandom[5]==2" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/2/6F.png" />
                                                <img v-if="roomusedetailrandom[5]==3" class="ani" swiper-animate-effect="fadeInUpRotate" swiper-animate-duration="2s" swiper-animate-delay="0s" src="../../images/bigdatascreen/3/6F.png" />
                                            </div>
								        </div>
								    </div>
								</div>
							</div>
							<div class="triline"><!--向上的三角-->
								<div class="tri"></div>
							</div>
							<div class="roomuse"><!--教室使用情况-->
								<h3>
									贵州医科大学技能中心{{currentfloor}}楼
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									使用率<span class="yellow">{{currentfloorrate}}</span>%
								</h3>
								<div class="roomusedetail">
									<div class="roomitem clearfix">
										<div class="use">使用</div>
										<div class="marquee" :style="marquee_line_height(currentflooruseroom)">
											<span v-for="item in currentflooruseroom">{{item}}</span>
										</div>
									</div>
									<div class="roomitem clearfix">
										<div class="empty">空闲</div>
										<div class="marquee" :style="marquee_line_height(currentfloorfreeroom)">
											<span v-for="item in currentfloorfreeroom">{{item}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <iframe src="background2.html" class="backgroundiframe"></iframe> -->
	</body>

	<script type="text/javascript">
		setTimeout(function(){ location.reload(); },43200000);
		var vm;
		var fontSize = 36;
        var fontSizeSmall=16;
		var swiper;

		onload = function(){
			vm=new Vue({
				el:"#vue_control",
				data:{
					//实时状态
					current_state:{
						currentpeople:600,//当前人数
						maxpeople:800,//峰值人数
						mouthmaxpeople:1032,//本月峰值
						room:107,//总教室数
						useroom:80,//使用教室
						model:200,//传统模型
						usemodel:20,//使用模型
						robot:80,//训练机器人
						userobot:50,//使用机器人
					},
					currentfloor:1,//当前展示的楼层
					roomusedetailrandom:[1,1,1,1,1,1],//记录随机数生成的结果(每个楼层选哪一种情况)
					roomusedetail:[
						{//第一层
							1:{use:[103,105,106,107],free:[101,102,108]},//第一种情况
							2:{use:[101,102,105,107],free:[103,106,108]},
							3:{use:[101,102,105,106],free:[103,107,108]}
						},
						{
							1:{use:[201,202,203,204,205,206],free:[207,208,209,210,211,212,213,214]},
							2:{use:[201,202,203,204,211,212,213,214],free:[205,206,207,208,209,210]},
							3:{use:[201,202,203,204,205,206,213,214],free:[207,208,209,210,211,212]}
						},
						{
							1:{use:[301,302,303,304,306,308,310],free:[305,307,309,311,312,313]},
							2:{use:[302,303,304,305,306,313],free:[301,307,308,309,310,311,312]},
							3:{use:[302,303,304,305,305,307,308,313],free:[301,309,310,311,312]}
						},
						{
							1:{use:[402,403,404,405,407,408,409,411],free:[401,406,410,412,413,414,415,416]},
							2:{use:[401,402,403,404,413,414,415,416],free:[405,406,407,408,409,410,411,412]},
							3:{use:[401,402,403,404,405,406,415,416],free:[407,408,409,410,411,412,413,414,415,416]}
						},
						{
							1:{use:[501,502,503,508,509,511,512],free:[504,505,506,507,510]},
							2:{use:[501,502,503,504,508,509,512],free:[505,506,507,510,511]},
							3:{use:[501,502,503,504,512],free:[505,506,507,508,509,510,511]}
						},
						{
							1:{use:[601,602,603,604,605,606,607,608,610,611,612,629,630,631,632,633,634,635,636,637,638,639,640],free:[613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,641,642]},
							2:{use:[601,602,603,604,605,606,607,608,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624],free:[625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642]},
							3:{use:[601,602,603,604,605,606,607,608,610,611,612,613,614,615,616,617,618,619],free:[620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642]}
						}
					]
				},
				methods:{
					flooritem:function(index){
						if (index == this.currentfloor){
							return {flooritem:true,flooritem_on:true};
						}else{
							return {flooritem:true};
						}
					},
					marquee_line_height:function(room){
						var length = room.length;
						if (length>18){
							return {'line-height':40*100/2160+'vh'};
						}else if(length>9){
							return {'line-height':60*100/2160+'vh'};
						}else{
							return {'line-height':120*100/2160+'vh'};
						}

					}
				},

				created:function(){

				},
				mounted:function(){
					//成绩区段人数分布
                    draw_pie({
                        element:$('.score_distribution')[0],
                        legend_data:['360分以下','360~420分','420~480分'],
                        data:[
                            {value:57, name:'360分以下'},
                            {value:36, name:'360~420分'},
                            {value:6, name:'420~480分'}
                        ]
                    });
                    //难度
                    draw_line({
                        element:$('.difficulty')[0],
                        areacolor:'#FBA01B',
                        xAxis_data:['病例分析','体格检查','外科操作','内科操作','急救操作','病史采集'],
                        data:[0.59,0.51,0.83,0.66,0.57,0.67],
                    });
                    //区分度
                    draw_line({
                        element:$('.distinction_degree')[0],
                        areacolor:'#8D4AE8',
                        xAxis_data:['病例分析','体格检查','外科操作','内科操作','急救操作','病史采集'],
                        data:[0.62,0.7,0.6,0.58,0.83,0.53],
                    });
                    //信度
                    draw_line({
                        element:$('.trust_degree')[0],
                        areacolor:'#FED928',
                        xAxis_data:['病例分析','体格检查','外科操作','内科操作','急救操作','病史采集'],
                        data:[0.7,0.6,0.8,0.4,0.5,0.56],
                    });
                    //效度
                    draw_line({
                        element:$('.use_degree')[0],
                        areacolor:'#11F0B9',
                        xAxis_data:['病例分析','体格检查','外科操作','内科操作','急救操作','病史采集'],
                        data:[0.4,0.7,0.5,0.85,0.73,0.37],
                    });
                    setInterval(function(){
                        //成绩区段人数分布
                        draw_pie({
                            element:$('.score_distribution')[0],
                            legend_data:['360分以下','360~420分','420~480分'],
                            data:[
                                {value:57, name:'360分以下'},
                                {value:36, name:'360~420分'},
                                {value:6, name:'420~480分'}
                            ]
                        });
                        //难度
                        draw_line({
                            element:$('.difficulty')[0],
                            areacolor:'#FBA01B',
                            xAxis_data:['病例分析','体格检查','外科操作','内科操作','急救操作','病史采集'],
                            data:[0.59,0.51,0.83,0.66,0.57,0.67],
                        });
                        //区分度
                        draw_line({
                            element:$('.distinction_degree')[0],
                            areacolor:'#8D4AE8',
                            xAxis_data:['病例分析','体格检查','外科操作','内科操作','急救操作','病史采集'],
                            data:[0.62,0.7,0.6,0.58,0.83,0.53],
                        });
                        //信度
                        draw_line({
                            element:$('.trust_degree')[0],
                            areacolor:'#FED928',
                            xAxis_data:['病例分析','体格检查','外科操作','内科操作','急救操作','病史采集'],
                            data:[0.7,0.6,0.8,0.4,0.5,0.56],
                        });
                        //效度
                        draw_line({
                            element:$('.use_degree')[0],
                            areacolor:'#11F0B9',
                            xAxis_data:['病例分析','体格检查','外科操作','内科操作','急救操作','病史采集'],
                            data:[0.4,0.7,0.5,0.85,0.73,0.37],
                        });
                        setTimeout(function(){
                            //教师临床能力评价
                            writeradar({
                                element:$('.teacher_clinic_ability')[0],
                                name:[
                                    {text:'教学态度',max:100},{text:'教育技术',max:100},{text:'教学内容',max:100},
                                    {text:'教学方法',max:100},{text:'教学效果',max:100}
                                ],
                                color:'#11F0B9',
                                value:[81,55,54,67,67]
                            });
                            //教学环境评价
                            writeradar({
                                element:$('.teach_environment')[0],
                                name:[
                                    {text:'个人生活',max:100},{text:'教学',max:100},{text:'教师',max:100},
                                    {text:'个人发展',max:100},{text:'氛围',max:100}
                                ],
                                color:'#FACE15',
                                value:[61,65,66,84,65]
                            });
                            //学生临床能力评价
                            writeradar({
                                element:$('.student_clinic_ability')[0],
                                name:[
                                    {text:'无菌观念',max:100},{text:'人文关怀',max:100},{text:'临床思维',max:100},
                                    {text:'专业知识',max:100},{text:'专业技能',max:100},{text:'职业素养',max:100},
                                    {text:'医患沟通',max:100},{text:'病人安全',max:100}
                                ],
                                color:'#8D4DE8',
                                value:[84,67,60,65,62,69,62,83]
                            });
                            //学生ASK胜任力评价
                            writeradar({
                                element:$('.ASK')[0],
                                name:[
                                    {text:'知识',max:100},{text:'态度',max:100},{text:'技能',max:100}
                                ],
                                color:'#FD51D9',
                                value:[87,70,67]
                            });
                        },2000)
                        setTimeout(function(){
                            //形成性评价学期趋势柱状图
                            single_bar({
                                element:$('.formative_evaluation')[0],
                                xAxis_data:['第一学期','第二学期','第三学期','第四学期','第五学期','第六学期','第七学期','第八学期','第九学期','第十学期'],
                                data:[71,81,82,71,77,77,86,73,81,80]
                            });
                        },4000)
                    },10000)
					//形成性评价学期趋势柱状图
					single_bar({
						element:$('.formative_evaluation')[0],
						xAxis_data:['第一学期','第二学期','第三学期','第四学期','第五学期','第六学期','第七学期','第八学期','第九学期','第十学期'],
						data:[71,81,82,71,77,77,86,73,81,80]
					});
					//教师临床能力评价
					writeradar({
						element:$('.teacher_clinic_ability')[0],
						name:[
							{text:'教学态度',max:100},{text:'教育技术',max:100},{text:'教学内容',max:100},
							{text:'教学方法',max:100},{text:'教学效果',max:100}
						],
						color:'#11F0B9',
						value:[81,55,54,67,67]
					});
					//教学环境评价
					writeradar({
						element:$('.teach_environment')[0],
						name:[
							{text:'个人生活',max:100},{text:'教学',max:100},{text:'教师',max:100},
							{text:'个人发展',max:100},{text:'氛围',max:100}
						],
						color:'#FACE15',
						value:[61,65,66,84,65]
					});
					//学生临床能力评价
					writeradar({
						element:$('.student_clinic_ability')[0],
						name:[
							{text:'无菌观念',max:100},{text:'人文关怀',max:100},{text:'临床思维',max:100},
							{text:'专业知识',max:100},{text:'专业技能',max:100},{text:'职业素养',max:100},
							{text:'医患沟通',max:100},{text:'病人安全',max:100}
						],
						color:'#8D4DE8',
						value:[84,67,60,65,62,69,62,83]
					});
					//学生ASK胜任力评价
					writeradar({
						element:$('.ASK')[0],
						name:[
							{text:'知识',max:100},{text:'态度',max:100},{text:'技能',max:100}
						],
						color:'#FD51D9',
						value:[87,70,67]
					});
					swiper = new Swiper('.swiper-container', {
				        paginationClickable: true,
				        spaceBetween: 30,
				        centeredSlides: true,
				        speed:2000,
				        loop:true,
				        noSwiping:true,
				        direction : 'vertical',
				        onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
							swiperAnimateCache(swiper); //隐藏动画元素
							swiperAnimate(swiper); //初始化完成开始动画
						},
						onSlideChangeStart: function(swiper){
							swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
						}
				    });

					var self = this;

					setInterval(function(){
						self.current_state.currentpeople = Math.round( 600+Math.random()*200 );//当前人数
						if(Math.random()*4<1 && self.current_state.maxpeople<1032){
							self.current_state.maxpeople++;//峰值人数
						}
						self.current_state.usemodel = Math.round( 20+Math.random()*10 );//当前正使用的模型
						self.current_state.userobot = Math.round( 45+Math.random()*10 );//当前正使用的智能设备
					},30000);

					setInterval(function(){
						//重新生成一遍当前的每一次教室使用情况
						var _arr = [1,1,1,1,1,1];
						$(_arr).each(function(i, el) {
							_arr[i] = Math.ceil(Math.random()*3);
						});
						self.roomusedetailrandom = _arr;
						if( self.currentfloor < 6 ){//切换当前展示的楼层
							self.currentfloor++;
						}else{
							self.currentfloor = 1;
						}
					},12000);
				},
				updated:function(){

				},
				watch:{
					roomusedetailrandom:function(){//重新生成教室使用情况后
						//重新计算当前使用的教室数量
						var self = this;
						self.current_state.useroom = 0;
						$(self.roomusedetail).each(function(i, el) {
							self.current_state.useroom += el[self.roomusedetailrandom[i]].use.length;
						});
					},
					currentfloor:function(val,oldval){
						swiper.slideNext();
					}
				},
				computed:{
					currentfloorrate:function(){//当前教室使用率
						var i = this.currentfloor-1;
						var usenum = this.roomusedetail[i][this.roomusedetailrandom[i]].use.length;
						var freenum = this.roomusedetail[i][this.roomusedetailrandom[i]].free.length;
						return (usenum/(usenum+freenum)*100).toFixed(1);
					},
					currentflooruseroom:function(){
						var i = this.currentfloor-1;
						return this.roomusedetail[i][this.roomusedetailrandom[i]].use;
					},
					currentfloorfreeroom:function(){
						var i = this.currentfloor-1;
						return this.roomusedetail[i][this.roomusedetailrandom[i]].free;
					}
				}
			})
		}

		function single_bar(opt){//绘制单个的柱状图
			var my_chart = echarts.init(opt.element);
			var option = {
				textStyle: {
					color:'#ffffff',
		            fontWeight: 'normal',
		            fontSize:fontSize
		        },
		        title :{
		            show:false
		        },
		        color: ['#FFDA2B'],//柱子的颜色
		        tooltip : {//提示框
		        	show:false,
		            trigger: 'axis',
		            axisPointer : {
		                type : 'shadow'
		            }
		        },
		        grid: {//控制图表的边距
		            left: '3%',
		            right: '13%',
		            bottom: '0%',
		            containLabel: true,
		            show:true,
		            backgroundColor:'rgba(22, 24, 35, 0.9)',
		            borderColor:'transparent'

		        },
		        xAxis :{
		        	name : '学期',
		        	nameTextStyle:{color:'#56B2BA'},
		            type : 'category',
		            data : opt.xAxis_data,
		            axisTick: {//x轴的刻度
		                show: false
		            },
		            axisLabel:{
		            	textStyle:{fontSize:fontSize}
		            }
		        },
		        yAxis :
		        {
		            name : '分数',
		            nameTextStyle:{color:'#EA4C8F'},
		            type : 'value',
		            max:100,
		            axisTick: {//y轴的刻度
		                show: false
		            },
		            axisLabel:{
		            	textStyle:{fontSize:fontSize}
		            }
		        },
		        series : [
		            {
		                name:'分数',
		                type:'bar',
		                barWidth: '50%',
		                itemStyle: {
		                    normal: {
		                        label: {
		                            textStyle: {
		                                color: '#116FCB'
		                            },
		                            formatter:function(a){
		                                return a.data.text;
		                            },
		                            show: false,
		                            position: 'top',
		                        }
		                    }
		                },
		                data:opt.data
		            }
		        ]
			};
			my_chart.setOption(option);
			$(window).resize(function(){
				my_chart.resize();
			});
			return my_chart;
		}

		function draw_line(opt){
			var my_chart = echarts.init(opt.element);
			var option = {
				textStyle: {
					color:'#ffffff',
		            fontWeight: 'normal',
		            fontSize:fontSizeSmall
		        },
		        title :{
		            show:false
		        },
		        color: ['#ffffff'],//线的颜色
		        tooltip : {//提示框
		        	show:false,
		            trigger: 'axis',
		            axisPointer : {
		                type : 'shadow'
		            }
		        },
		        grid: {//图表网格区域
		            left: '3%',//控制图表的边距
		            right: '0',
		            bottom: '0',
		            containLabel: true,
		            show:true,
		            backgroundColor:'rgba(22, 24, 35, 0.9)',
		            borderColor:'transparent'

		        },
		        xAxis :{
		            type : 'category',
		            data : opt.xAxis_data,
		            axisTick: {//x轴的刻度
		                show: false
		            },
		            axisLabel:{
		            	textStyle:{fontSize:fontSizeSmall}
		            }
		        },
		        yAxis :
		        {
		            name : opt.yAxis_name,
		            type : 'value',
		            max : 1,
		            axisTick: {//x轴的刻度
		                show: false
		            },
		            axisLabel:{
		            	textStyle:{fontSize:fontSizeSmall}
		            }
		        },
		        series : [
		            {
		                name:opt.yAxis_name,
		                type:'line',
		                areaStyle: {normal: {color:opt.areacolor,opacity:1,shadowOffsetY:10}},
		                data:opt.data
		            }
		        ]
			};
			my_chart.setOption(option);
			$(window).resize(function(){
				my_chart.resize();
			});
			return my_chart;
		}

		function draw_pie(opt){//绘制饼图
			var my_chart = echarts.init(opt.element);
			var option = {
				textStyle: {
					color:'#ffffff',
		            fontWeight: 'normal',
		            fontSize:fontSizeSmall
		        },
		        title :{
		            show:false
		        },
		        tooltip:{show:false},
		        color: ['#82DF1E','#20DB9A','#00B4F4'],//扇形的颜色
		        legend: {
			        data:opt.legend_data,
			        textStyle:{
			        	color:'#ffffff'
			        },
			        left:'center',
			        bottom:10,
			        itemWidth:10,
			        itemHeight:10
			    },
			    itemStyle:{normal:{borderWidth:2,borderColor: '#fff'}},
			    series : [
			        {
			            type: 'pie',
			            legendHoverLink: false,
            			hoverAnimation: false,
            			selectedMode: false,
            			avoidLabelOverlap: false,
            			label:{normal:{position:'inner',formatter:'{d}%',textStyle:{fontSize:fontSizeSmall}}},
			            radius : '65%',
			            center: ['50%', '52%'],
			            data:opt.data
			        }
			    ]
			}
			my_chart.setOption(option);
			$(window).resize(function(){
				my_chart.resize();
			});
			return my_chart;
		}

		function writeradar(opt) {
			var my_chart = echarts.init(opt.element);

			var option = {
				textStyle: {
					color:'#ffffff',
		            fontWeight: 'normal',
		            fontSize:fontSize
		        },
			    title : {
			    	show:false
			    },
			    toolbox: {
			        show : false     //工具栏
			    },
			    calculable : false,  //可拖动
			    radar : [
			        {
			            indicator : opt.name,
			            axisLabel:{
			            	show:true,
			            	margin:-6
			            },
			            axisLine: {            // 坐标轴线
			                show: true,        // 默认显示，属性show控制显示与否
			                lineStyle:{
			                	type:'dashed'
			                }
			            },
			            splitArea : {
			                show : true,
			                areaStyle : {
			                    color: ['#201D30']
			                }
			            },
			            splitLine: {
			                lineStyle: {
			                    color: ['rgba(255, 255, 255, 0.1)','rgba(255, 255, 255, 0.1)','rgba(255, 255, 255, 0.1)','rgba(255, 255, 255, 0.1)','rgba(255, 255, 255, 0.1)','rgba(255, 255, 255, 0.3)']
			                }
			            },
						name:{
						    textStyle: {
						    	color:'#fff'
						    }
						}
			        }
			    ],
			    series : [
			        {
			            name: '',
			            type: 'radar',
			            data : [
			                {
					            symbolSize:0,
					            itemStyle: {
					                normal: {
									    lineStyle:{
										    width: 0,//数据区域的边框
										    color:'transparent'
									    },
									    areaStyle:{
									    	color:opt.color,//数据区域的颜色
									    	opacity:1
									    }
					                }
					            },
			                    value : opt.value,
			                    name : ''
			                }
			            ]
			        }
			    ]
			};
			my_chart.setOption(option);
			$(window).resize(function(){
				my_chart.resize();
			});
			return my_chart;
		}
	</script>
</html>
