/*flex布局*/
.flex{display:flex}
.flex_center{  display:flex;  justify-content: center;  align-items: center;  }
.flex_pingjun{  display:flex;  justify-content: space-around;  }
.flex_fill{flex:1 1}
.flex_center_v{display:flex; align-items: center;}

/*边距*/
*{margin:0;padding:0}
.mr20{  margin-right:20px;  }
.mr10{  margin-right:10px;  }
.ml10{margin-left:10px;}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.p20{padding:20px}
.m10{margin:10px}
.mb20{margin-bottom:20px;}
.mb10{margin-bottom:10px;}
.p10rl{padding:0 10px;}
.p10{padding:10px}

/*定位*/
.rel{  position: relative;  }

/*背景色*/
.bgred{  background-color: #FF4949;  }
.bgblue{  background-color: #20A0FF;  }
.bgyellow{  background-color: #F7BA2A;  }
.bggreen{  background-color: #13CE66;  }
.bgblack{  background-color: black;  color:white;}
.bgzise{background-color: #9933CC}

/*浮动*/
.left{float:left}
.right{float:right}
ul{list-style-type: none}
.container{padding:8px;}

/*文字*/
.fgraysmall{
  font-size:12px;
  color:#aaa;
}

/*数形列表*/
.tree{
  min-width: 200px;
  margin-right:10px;
}
/*圆形标签*/
.r{
  border-radius: 50%;
  width:30px;
  height:30px;
  color:white;
  line-height: 30px;
  text-align: center;
  margin:0 10px;
}
/*题目行样式*/
.dificulty{
  width:200px;
}
.qtitle{
  flex:1 1;
}
.qdetail{
  border:1px solid #ddd;
  height:60px;
  align-items: center;
  margin-top:8px;
  padding:8px 0;
  cursor: pointer;
}
.qdetail:hover{
  background-color: #efefef;
}
.qdetaillist>li{
  display:flex;
  margin-bottom:10px;
}
.xlabel{
  min-width:100px;
  font-size:16px;
  color:#222;
  text-align: right;
}
.xsublabel{
  min-width:30px;
  font-size:14px;
  color:#222;
  text-align: center;
}
/*加入购物车的小球*/
.flyimage{
  width:10px;
  height:10px;
  border-radius: 50%;
  background-color: red;
}
.cp{cursor:pointer}


