<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>登录测试页</title>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../js/futuredoctorapp/common.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>
<body>
    <div id="login">
        <input type="text" placeholder="用户名" v-model="name" class="form-control">
        <input type="text" placeholder="密码" v-model="pwd" class="form-control">
        <button @click="login()" class="btn btn-primary btn-block">登录</button>
    </div>
    <script>
        var vm=new Vue({
            el:'#login',
            data:{
                name:'',
                pwd:'',
            },
            methods:{
                login:function(){
                    var data={
                        command:"usr/login",
                        accountname:this.name,
                        password:this.pwd,
                        type:100
                    };
                    function callback(res){
                        setCookie("uid",res.userid);
                        setCookie("sid",res.sessionid);
                        setCookie("name",res.name);
                        window.location.href="todo.html";
                    };
                    post("/usr/login",data,callback,errcodefn,errfn)
                }
            }
        })
    </script>
</body>
</html>
