<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../../js/futuredoctorapp/layout.js" ></script>
		<meta charset="UTF-8">
		<title>vue测试</title>
		<style>
			.container1{height:100%; overflow:auto;}
			.my_p::-webkit-scrollbar {
				width: 10px;
				height: 10px;
			}
			.my_p::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
			    background-color: #e2e2e2;
			}
			.my_p::-webkit-scrollbar-thumb {
				border-radius: 0;
				background-color: rgba(0,0,0,.3);
			}

			.active{
				background:green;
			}
			.notActive{
				background:yellow;
			}
			.user-defined-checkbox{
				width:50px; height:50px; border:1px solid;
			}
			.user-defined-checkbox-on{
				background-color:blue;
			}
			.appendfather{
				min-height:200px; background-color:#ccc;
			}
			.appendchild{
				width:100px; float:left; background-color:pink; height:100px;
			}
			.fade1{
				width:100px; height:50px; background-color:pink; transition:all 2s;
				animation:fade 2s;
			}
			@keyframes fade{
				from {opacity:0;}
				to {opacity:1;}
			}
			.radio_btn{
			    outline:none; -webkit-appearance:none; width:20px; height:20px; background-size:cover;
			    background-image:url(../../images/futuredoctorapp/btn-qiandao.png);
			    border-radius:50%;
			}
			.radio_btn:checked{
				outline:none;
				background-image: url(../../images/futuredoctorapp/btn-qiandao-hh.png) !important;
			}

			.flex{
				display:flex; width:100%; align-items:stretch;
			}
			.flex div:nth-of-type(1){
				width:200px; background-color:pink;
			}
			.flex div:nth-of-type(2){
				flex:1; background-color:black;
			}
		</style>	
	</head>
	<body>
		
		<div class='container1' v-cloak @mousewheel="mousewheel">
			<div v-for="(item,i) in 3">{{item}}+{{i}}</div>
			 <div class="fade1" v-if="fade==1">
			 	aa
			 </div>
			 <div class="fade1" v-else>
			 	bb
			 </div>
			<h1 class="_title">{{headerTitle}}</h1>
			<!-- <span v-pre :class="this will not be compiled">{{ this will not be compiled }}</span> -->

			<template v-if="items.length > 0">
				<div v-for="(item,index) in items" @click="show(item)" class="test_div clearFix" :index="index">
					<template v-if="item.id <= 3">
						{{'前三名:'+item.message}}
					</template>
					<template v-else>
						{{item.message}}
					</template>
	    			
				</div>
			</template>
			<template v-else>
				无
			</template>
			<hr/>
			<div class="test1">
				{{'id:'+now_item.id+',message:'+now_item.message}}
			</div>
			<hr/>
			<div v-for="n in evenNumbers">
				{{ n }}
			</div>
			<hr/>
			<div v-for="item in items">
				{{ item.id | my_filter1 }}
			</div>
			<hr/>

			<div :class="classObject[0]" @click="tab_color(0)">class切换</div>
			<div :class="classObject[1]" @click="tab_color(1)">class切换</div>
			<div :class="classObject[2]" @click="tab_color(2)">class切换</div>
			<hr/>
			<div v-for="(item,index) in classObject2" :class="item.class" @click="tab_color2(index)">
				{{item.text}}
			</div>
			<div :style="styleObject">dsfsfasdf</div>

			<input type="text" @keyup="keyup()" v-model="data_test">
			<p style="height:60px; overflow:auto;" class="my_p">
				哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
			</p>
			<input type="file" id="myfile" accept="image" />
			 <my-component></my-component>
			 <mytest :yes="test1"></mytest>
			 <mytest2 @ok="ok"></mytest2>
			 <!-- 多选框组 -->
			 <c-checkbox :mymodel.sync="checked_arr" myvalue="1"></c-checkbox>
			 <c-checkbox :mymodel.sync="checked_arr" myvalue="2"></c-checkbox>
			 <c-checkbox :mymodel.sync="checked_arr" myvalue="3"></c-checkbox>

			 <!-- 单个多选框 -->
			 <c-checkbox :mymodel.sync="checked"></c-checkbox>
			 <marquee scrollamount="1" scrolldelay="100">
			 	发放的发生啊萨法萨法打分暗示法萨芬
			 </marquee>
			 <div class="appendfather clearfix">
			 	
			 </div>
			 <input type="radio" class="radio_btn">

			 <div class="flex">
			 	<div @click.self="selfclick()"></div>
			 	<div><span style="height:300px; display:block;"></span></div>
			 </div>

			 <textarea autosize="true" rows="2"></textarea>
			 <div style="height:200px; font-size:26px; display:flex; flex-flow:column wrap;align-content: flex-start;">
			 	<span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span>
			 </div>
			 <c-father>
			 	<c-child></c-child>
			 </c-father>
		</div>

		<script type="text/javascript">
			//父组件
			Vue.component('c-father', {
				template: 
					'<ul>'+
						'<slot :text="data"></slot>'+
					'</ul>',
				props: ['yes'],
				data: function () {
					return {
						data:'fatherdata'
					}
				}
			})

			// 子组件
			Vue.component('c-child', {
				template:
					'<template scope="props">'+
						'<li>{{props.text}}+{{data}}</li>'+
					'</template>',
				props: ['yes'],
				data: function () {
					return {
						data:'childdata'
					}
				}
			})

			//组件代码
			Vue.component('mytest', {
				template: 
					'<div @click="fun1">sdafafasffd</div>',
				props: ['yes'],
				data: function () {
					return {
						childdata:'childdata'
					}
				},
				computed:{
					
				},
				methods:{
					fun1:function(){
						this.yes(this.childdata);
					}
				}
			})

			Vue.component('mytest2', {
				template: 
					'<div @click="fun1">emit测试组件</div>',
				props: ['yes'],
				data: function () {
					return {
						childdata:'childdata'
					}
				},
				computed:{
					
				},
				methods:{
					fun1:function(){
						this.$emit('ok',this.childdata);
					}
				}
			})

			Vue.component('c-checkbox', {
				template: 
					'<div :class="checkbox_change" @click="change">'+
					'</div>',
				props: ['mymodel','myvalue'],
				data: function () {
					return {
						
					}
				},
				methods: {
			        change:function(){
			        	var new_value;
			        	if(!this.myvalue){//是单个复选框
			        		if(this.mymodel){
			        			new_value = false;
			        		}else{
			        			new_value = true;
			        		}
			        	}else{//是多选框组
			        		new_value = this.mymodel.concat();
							if( $.inArray(this.myvalue, this.mymodel) != -1 ){//原来是选中的
				        		var i = $.inArray(this.myvalue, this.mymodel);
				        		new_value.splice(i,1);
				        	}else{
				        		new_value.push(this.myvalue);
				        	}
			        	}
			        	
			        	this.$emit('update:mymodel', new_value);
			        }
			    },
				computed:{
					checkbox_change:function(){
						if( ( (typeof(this.mymodel) == 'boolean')&&(this.mymodel == true) )
							||
							($.inArray(this.myvalue, this.mymodel) != -1) ){
							return {'user-defined-checkbox':true,'user-defined-checkbox-on':true};
						}else{
							return {'user-defined-checkbox':true,'user-defined-checkbox-on':false};
						}
					}
				}
			});

			var vm=new Vue({
		        el:'.container1',
		        components: {
					// <my-component> 将只在父模板可用
					'my-component': {template: '<div>模板模板模板</div>'}
				},
		        data:{
		            headerTitle:'标题',
		            data_test:'123456',
		            items: [
				    	{message:'Foo',id:1},
				     	{message:'Bar',id:2},
				     	{message:'Andy',id:3},
				     	{message:'Jock',id:4},
				     	{message:'Stan',id:5}
				    ],
				    now_item:{
				    	message:'',
				    	id:''
				    },
					classObject: [
						{'active':false,'notActive':true},
						{'active':false,'notActive':true},
						{'active':false,'notActive':true}
					],
					classObject2: [
						{text:'111',class:{'active':false,'notActive':true}},
						{text:'222',class:{'active':false,'notActive':true}},
						{text:'333',class:{'active':false,'notActive':true}}
					],
					styleObject: {
						color: 'red',
						fontSize: '13px'
					},
					mytest:'',
					mytest2:'',
					checked_arr:[],
					checked:false,
					fade:1

		        },
		        methods:{
		        	selfclick:function(){
		        		console.log(event.target);
		        	},
		        	ok:function(data){
		        		console.log('通过$emit传的数据：'+data);
		        		this.mytest2 = data;
		        	},
		        	test1:function(index){
						console.log('index is:'+index);
						this.mytest = index;
					},
		        	show:function(msg){
		        		$('.test_div').css('background', '');
		        		$(event.target).css('background', 'blue');
		        		//event.target.style.background = 'blue';
		        		//event.target.getAttribute('classId')
		        		this.now_item = msg;
		        		console.log(this.now_item);
		        	},
		        	mousewheel:function(){
		        		// console.log('鼠标滑动');
		        	},
		        	keyup:function(){
		        		var data = {
		        			fade:'fade',
		        			a:{fade:this.fade}
		        		};
		        		console.log(event.keyCode);

		        	},
		        	tab_color:function(index){//样式切换
		        		for( var i in this.classObject ){
		        			this.classObject[i].active = false;
		        			this.classObject[i].notActive = true;
		        		}
		        		this.classObject[index].active = true;
		        		this.classObject[index].notActive = false;
		        	},
		        	tab_color2:function(index){//样式切换
		        		// for ( var i in this.classObject2 ){
		        		// 	this.classObject2[i].class.active = false;
		        		// 	this.classObject2[i].class.notActive = true;
		        		// }
		        		if ( this.classObject2[index].class.active == true ){
		        			return false;
		        		}
		        		$(this.classObject2).each(function(n,value) {
		        			value.class.active = false;
		        			value.class.notActive = true;
		        		});
		        		this.classObject2[index].class.active = true;
		        		this.classObject2[index].class.notActive = false;
		        	}
		        },
		        computed:{
		        	evenNumbers: function () {
		        		var myarr = [];
						for (var x in this.items){
							myarr.push(this.items[x].id*10);
						}
						return myarr;
					}


		        },
		        watch:{
		        	headerTitle:function(val, oldVal){
		        		// console.log( 'new: %s, old: %s', val, oldVal );
		        	}
				},
				filters: {
					my_filter1: function (value) {
						if( value > 2 ){
							return value*100;
						}
						
					}
				},

		        created:function(){
		        	this.headerTitle = '标题2';
		        	// my_require.R({
		        	// 	isShade:1,
		        	// 	url:'/usr/login',
		        	// 	data:{
		        	// 		command:"usr/login",
			        //         accountname:15050440035,
			        //         password:123456,
			        //         type:100
		        	// 	},
		        	// 	callback:function(base){
		        	// 		console.log(base);
		        	// 	}
		        	// });
		        },
		        updated:function(){
		        	// console.log('updated');
		        	
		        },
		        mounted:function(){
		        	setTimeout(function(){$('#myfile')[0].click();},2000);
		        }
		    });
		
			/*
				vue框架中循环数组渲染列表时处理数据的方法
				1.在html中直接处理
				2.使用filter
				3.使用computed或者methods
			*/
			// layui.use('element', function(){
			// 	var element = layui.element();
			// });

			$(function() {
				$('#myfile').change(function(event) {
					$('body').append('<img src="'+URL.createObjectURL($(this)[0].files[0])+'"/>');
				});
			});

			$('<div class="appendchild"></div>').appendTo('.appendfather').css({}).animate({
			},3000, function() {
				
			});
			$('.container1').scroll(function() {//判断容器滚动时appendfather有没有出现
				if( $('.appendfather').offset().top < $(window).height() ){
					console.log('元素appendfather出现了');
					$('.container1').unbind('scroll');
				}
			});
		</script>
	</body>
</html>