<!--
  课表页面
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>任务</title>
    <script src="../../js/vue.js"></script>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/futuredoctorapp/common.js"></script>
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <style>
		body,html{
			height:100%;
		}
		ul{
			list-style-type: none;
			margin:0;
			padding:0;
		}
		li{
			flex: 1 1;
			border-left:1px solid #ddd;
			border-bottom:1px solid #ddd;
			display:flex;
			flex-direction: column;
			justify-content: center;
			padding:3px 5px;
		}
		.flexcenter{
			display:flex;
			justify-content: center;
		}
		.tp{
			position:relative;
			top:-1px;
			height:18px;
		}
		#container{
			display:flex;
			flex-direction: column;
			height:100%;
		}
		#courseheader{
			background-color: #3499db;
			color:white;
			height:50px;
			display:flex;
			align-items: center;
		}
		.tabletitle{
			height:40px;
			display:flex;
			background-color: #efefef;
		}
		.tabletitle li{
			border-bottom:2px solid #3499db;
		}
		#coursetable{
			overflow: auto;
			font-size:12px;
			flex:1 1;
		}
		.tablecontent{
			display:flex;
		}
		.headerleft{
			width:10%;
		}
		.headerleft img{
			height:18px;
		}
		.headerright{
			width:10%;
		}
		.headercenter{
			width:80%;
			font-size:20px;
		}
    </style>
</head>
	<body>
		<div id="container" v-cloak>
			<div id="courseheader">
				<span @click="goback()" class="headerleft flexcenter">
					<img src='../../images/futuredoctorapp/icon_fanhui.png' alt=''>
				</span>
				<span class="headercenter flexcenter">课表</span>
				<span class="headerright flexcenter"></span>
			</div>
			<ul class="tabletitle">
				<li>课程名称</li>
				<li>授课老师</li>
				<li>时间</li>
				<li>地点</li>
			</ul>
			<div id="coursetable">
				<ul v-for="(value1,index1) in courselist" class="tablecontent">
					<li>{{ value1.coursename }}</li>
					<li>
						<span v-for="(value2,index2) in courselist[index1].teachers">{{ value2.name }}</span>
					</li>
					<li>
						<span>{{ value1.starttime.slice(0,11)}}</span>
						<span>{{ value1.starttime.slice(10,16)}} - {{ value1.endtime.slice(10,16)}}</span>
					</li>
					<li>{{ value1.displayname }}</li>
				</ul>
			</div>
		</div>
    <script>
    	registerToNative('goBack', function (data) {
	         window.location.href='application.html'
	    });
    	var vm=new Vue({
    		el:'#container',
    		data:{
    			headerTitle:'课表',
    			courselist:[],//后台返回的课程数组
    		},
    		methods:{
    			goback:function(){
					window.location.href='application.html'
				}
    		}
    	});
    	  show_lesson();
    	function show_lesson(){
    		var data={
    				command:'course/querycourseinfo',//接口地址
    				sessionid:getCookie('sid'),
    				loginid:getCookie('uid'),
    				uid:getCookie('uid'),
    				timetype:2
    		};
    		function callback(res){
    			vm.courselist=res.schedules;
    		};
    		post('/course/querycourseinfo',data,callback,errcodefn,errfn)
    	}
//		vm.courselist=
//				[
//				{"scheduleid":1400,"courseid":1,"coursename":"儿内科学","startdt":"2017-07-01 00:00:00","starttime":"2017-07-01 14:55:00","endtime":"2017-07-01 16:45:00","roomnum":"11002","displayname":"普通实验室普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//				{"scheduleid":1382,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-29 00:00:00","starttime":"2017-06-29 10:00:00","endtime":"2017-06-29 10:45:00","roomnum":"104","displayname":"104房间","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//				{"scheduleid":1374,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-28 00:00:00","starttime":"2017-06-28 19:55:00","endtime":"2017-06-28 20:40:00","roomnum":"11002","displayname":"普通实验室普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//				{"scheduleid":1375,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-28 00:00:00","starttime":"2017-06-28 10:55:00","endtime":"2017-06-28 11:40:00","roomnum":"11002","displayname":"普通实验室","issigned":1,"totalstudents":2,"teachers":[{"uid":69038,"name":"魏强","role":3},{"uid":69038,"name":"魏强","role":3}],"learnids":[]},
//				{"scheduleid":1372,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-27 00:00:00","starttime":"2017-06-27 14:55:00","endtime":"2017-06-27 15:40:00","roomnum":"107","displayname":"107自习室","issigned":1,"totalstudents":3,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//				{"scheduleid":1371,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-27 00:00:00","starttime":"2017-06-27 10:00:00","endtime":"2017-06-27 10:45:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//				{"scheduleid":1370,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-26 00:00:00","starttime":"2017-06-26 19:55:00","endtime":"2017-06-26 20:40:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":4,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1400,"courseid":1,"coursename":"儿内科学","startdt":"2017-07-01 00:00:00","starttime":"2017-07-01 14:55:00","endtime":"2017-07-01 16:45:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1382,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-29 00:00:00","starttime":"2017-06-29 10:00:00","endtime":"2017-06-29 10:45:00","roomnum":"104","displayname":"104房间","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1374,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-28 00:00:00","starttime":"2017-06-28 19:55:00","endtime":"2017-06-28 20:40:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1375,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-28 00:00:00","starttime":"2017-06-28 10:55:00","endtime":"2017-06-28 11:40:00","roomnum":"11002","displayname":"普通实验室普通实验室","issigned":1,"totalstudents":2,"teachers":[{"uid":69038,"name":"魏强","role":3},{"uid":69038,"name":"魏强","role":3}],"learnids":[]},
//					{"scheduleid":1372,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-27 00:00:00","starttime":"2017-06-27 14:55:00","endtime":"2017-06-27 15:40:00","roomnum":"107","displayname":"107自习室","issigned":1,"totalstudents":3,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1371,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-27 00:00:00","starttime":"2017-06-27 10:00:00","endtime":"2017-06-27 10:45:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1370,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-26 00:00:00","starttime":"2017-06-26 19:55:00","endtime":"2017-06-26 20:40:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":4,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1400,"courseid":1,"coursename":"儿内科学","startdt":"2017-07-01 00:00:00","starttime":"2017-07-01 14:55:00","endtime":"2017-07-01 16:45:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1382,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-29 00:00:00","starttime":"2017-06-29 10:00:00","endtime":"2017-06-29 10:45:00","roomnum":"104","displayname":"104房间","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1374,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-28 00:00:00","starttime":"2017-06-28 19:55:00","endtime":"2017-06-28 20:40:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1375,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-28 00:00:00","starttime":"2017-06-28 10:55:00","endtime":"2017-06-28 11:40:00","roomnum":"11002","displayname":"普通实验室","issigned":1,"totalstudents":2,"teachers":[{"uid":69038,"name":"魏强","role":3},{"uid":69038,"name":"魏强","role":3}],"learnids":[]},
//					{"scheduleid":1372,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-27 00:00:00","starttime":"2017-06-27 14:55:00","endtime":"2017-06-27 15:40:00","roomnum":"107","displayname":"107自习室","issigned":1,"totalstudents":3,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1371,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-27 00:00:00","starttime":"2017-06-27 10:00:00","endtime":"2017-06-27 10:45:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":2,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//					{"scheduleid":1370,"courseid":1,"coursename":"儿内科学","startdt":"2017-06-26 00:00:00","starttime":"2017-06-26 19:55:00","endtime":"2017-06-26 20:40:00","roomnum":"11002","displayname":"普通实验室","issigned":0,"totalstudents":4,"teachers":[{"uid":149511,"name":"谢祥","role":3}],"learnids":[]},
//				]

    </script>
	</body>
</html>
