<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增节假日</title>
		<script src="../../js/vue.js"></script>
		<script src="../../js/element.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css">
			.addHoliday {
				margin: 20px 0;
			}
			
			.addHoliday .formInput {
				width: 250px;
				height: 36px !important;
			}
			
			.addHoliday ul li {
				width: 90%;
				margin: auto;
				overflow: hidden;
				margin-bottom: 20px;
			}
			
			.addHoliday ul li .op {
				height: 36px;
				line-height: 36px;
				width: 100px;
			}
			
			.addHoliday ul li #op span {
				margin-top: 10px;
				margin-bottom: 5px;
				display: inline-block;
			}
			
			.addHoliday ul li>div {
				float: left;
				margin-right: 20px;
			}
			
			.addHoliday .btn {
				text-align: center;
				margin-top: 20px;
			}
			
			.addHoliday .btn .save {
				margin-right: 20px;
			}
			
			.addHoliday .exceptDate {
				font-size: 14px;
			}
			
			.addHoliday .dates {
				margin-bottom: 20px;
			}
		</style>
	</head>

	<body>
		<div class="addHoliday">
			<ul>
				<li>
					<div>
						<p class="op">年度 :</p>
					</div>
					<div>
						<el-select v-model="year" filterable placeholder="请选择" class="formInput">
							<el-option :key="" label="2016" value="2016">
							</el-option>
							<el-option :key="" label="2017" value="2017">
							</el-option>
						</el-select>
					</div>
				</li>
				<li>
					<div>
						<p class="op">选择节假日 :</p>
					</div>
					<div style="width: 74%;">
						<p id="op">
							<span v-for="(item,index) in list">
								{{item | filterFn}}
								<i class="el-icon-delete2" @click="deleteBtn(index)"></i>
								&nbsp;&nbsp;
							</span>
						</p>
						<template>
							<div class="block times">
								<el-date-picker v-model="holiday" type="date" placeholder="选择节假日" :picker-options="pickerOptions0">
								</el-date-picker>
								</el-date-picker>
							</div>
						</template>
					</div>
				</li>
				<li>
					<div>
						<p class="op">例外工作日:</p>
					</div>
					<div>
						<p>
							<el-button type="primary" @click="addBtn">增加</el-button>
						</p>
					</div>
				</li>
				<li v-for="(item,index) in dates" class="exceptDate">
					<div class="op">
						<p style="margin-left: 10px;">例外工作日</p>
					</div>
					<div>
						<div class="dates">
							<template>
								<div class="block">
									<el-date-picker v-model="item.orgday" type="date" placeholder="选择日期" :picker-options="pickerOptions0">
									</el-date-picker>
									替换日期
									<el-date-picker v-model="item.trageday" type="date" placeholder="选择日期" :picker-options="pickerOptions0">
									</el-date-picker>
									<el-button type="primary" @click="remove(index)">移除</el-button>
								</div>
							</template>
						</div>
					</div>
				</li>
			</ul>
			<div class="btn">
				<el-button type="primary" class="save" @click="save">保存</el-button>
				<el-button @click="cancel">取消</el-button>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: '.addHoliday',
			data: {
				holiday: '', //节假日日期
				pram:window.location.href.split('=')[1],//0  新增      1  编辑
				editData:window.parent.vm.editData,//编辑时该条的信息
				dates: [], //例外工作日数组
				year: '', //年度
				list: [], //选择的节假日列表
				pickerOptions0: {
					shortcuts: [{
						text: '今天',
						onClick(picker) {
							picker.$emit('pick', new Date());
						}
					}, {
						text: '昨天',
						onClick(picker) {
							const date = new Date();
							date.setTime(date.getTime() - 3600 * 1000 * 24);
							picker.$emit('pick', date);
						}
					}, {
						text: '一周前',
						onClick(picker) {
							const date = new Date();
							date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
							picker.$emit('pick', date);
						}
					}]
				},
			},
			watch: {
				'holiday': function(val) {
					var flag = true;
					for(var i = 0; i < this.list.length; i++) {
						if(this.list[i] == this.formatDate(val)) {
							flag = false;
							layer.msg('节假日不能重复选择')
							break;
						}

					}
					if(flag) {
						this.list.push(this.formatDate(val))
					}
				}
			},
			filters:{
				filterFn(val){
					return val.substring(5,10)
				}
			},
			mounted() {
                 if(this.pram==1){
                 	this.year=this.editData.year;
                 	this.list=[];
                 	for(var i=0;i<this.editData.datalist.length;i++){
                 		this.list.push(this.editData.datalist[i].day)
                 	}
                 	console.log(this.editData)
                 	this.dates=[];
                 	for(var i=0;i<this.editData.excepet.length;i++){
                 		this.dates.push({
                 			id:this.editData.excepet[i].id,
                 			holidayid:this.editData.excepet[i].holiday,
                 			orgday:this.parserDate(this.editData.excepet[i].orgday),
                 			trageday:this.parserDate(this.editData.excepet[i].trageday)
                 		})
                 	}
//               	this.dates=this.editData.excepet
                 }
			},
			methods: {
				formatTen: function(num) {
					return num > 9 ? (num + "") : ("0" + num);
				},
				formatDate: function(date) { //标准时间转为时间格式
					var years = date.getFullYear();
					var month = date.getMonth() + 1;
					var day = date.getDate();
					var hour = date.getHours();
					var minute = date.getMinutes();
					var second = date.getSeconds();
					return years + "-" + this.formatTen(month) + "-" + this.formatTen(day);
				},
				parserDate: function(date) { //普通日期转化为标准日期
					var t = Date.parse(date);
					if(!isNaN(t)) {
						return new Date(Date.parse(date.replace(/-/g, "/")));
					} else {
						return new Date();
					}
				},
				save() { //新增时的保存按钮
					let self = this;
					if(self.year == '') {
						layer.msg('年度不能为空')
						return
					}

//					if(self.list.length == 0) {
//						layer.msg('请选择节假日')
//						return
//					}
//					if(self.dates.length == 0) {
//						layer.msg('请增加例外工作日')
//						return
//					}

					var orgdayList=[];
					var tragedayList=[];
					for(var i=0;i<self.dates.length;i++){//查重
						orgdayList.push(self.formatDate(self.dates[i].orgday));
						tragedayList.push(self.formatDate(self.dates[i].trageday));
					}
					orgdayLength=orgdayList.unique();
					tragedayLength=tragedayList.unique();
					console.log(orgdayLength);
					console.log(tragedayLength);
					if(orgdayLength.length!==orgdayList.length){
						layer.msg('例外工作日不能重复')
						return
					}
					if(tragedayLength.length!=tragedayList.length){
						layer.msg('替换日期不能重复')
						return
					}
					for(var i=0;i<self.list.length;i++){//数组排序
						for(var j=0;j<self.list.length-i-1;j++){
							if(Date.parse(new Date(self.list[j]))>Date.parse(new Date(self.list[j+1]))){
								var tem;
								tem=self.list[j];
								self.list[j]=self.list[j+1];
								self.list[j+1]=tem;
							}
						}
					}
					var dataList=[];
					for(var i=0;i<self.list.length;i++){
						dataList.push({
							index:i,
							day:self.list[i],
							holidaytype:3
						})
					}
					var newList = [];
					for(var i = 0; i < self.dates.length; i++) {
							newList.push({
								orgday: self.formatDate(self.dates[i].orgday),
								trageday: self.formatDate(self.dates[i].trageday)
							})
					}
					console.log(newList)
					if(self.pram==0){
						var data = {
							command: 'holiday/addholiday',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							datalist: dataList,
							year: self.year,
							excepet: newList,
							type:1,
							startat:self.list[0],
							endat:self.list[self.list.length-1]
						}
	
						function callback(res) {
							if(res && res.errcode == 0) {
								layer.msg('新增节假日成功')
								setTimeout(function() {
									window.parent.vm.getHoliday();
									closeAll()
								}, 300)
							} else {
								layer.msg(res.errdesc)
							}
						}
						post('/holiday/addholiday', data, callback, errcodefn, errfn)
					}else{
						var data = {
							command: 'holiday/updateholiday',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							datalist: dataList,
							year: self.year,
							excepet: newList,
							type:1,
							startat:self.list[0],
							endat:self.list[self.list.length-1],
							id:self.editData.holidayid
						}
	
						function callback(res) {
							if(res && res.errcode == 0) {
								layer.msg('修改节假日成功')
								setTimeout(function() {
									window.parent.vm.getHoliday();
									closeAll()
								}, 300)
							} else {
								layer.msg(res.errdesc)
							}
						}
						post('/holiday/updateholiday', data, callback, errcodefn, errfn)
					}
				},
				addBtn() { //增加例外工作日按钮
					for(var i = 0; i < this.dates.length; i++) {
						if(this.dates[i].orgday == '') {
							layer.msg('请选择例外工作日')
							return
						}
						if(this.dates[i].trageday == '') {
							layer.msg('请选择替换日期')
							return
						}
					}
					this.dates.push({
						orgday: '',
						trageday: ''
					})
				},
				deleteBtn(index){
					this.list.splice(index,1)
				},
				remove(index){
					this.dates.splice(index,1)
				},
				cancel(){
					closeAll()
				}
			}
		})
		Array.prototype.unique = function() { //数组去重函数
			var res = [this[0]];
			for(var i = 1; i < this.length; i++) {
				var repeat = false;
				for(var j = 0; j < res.length; j++) {
					if(this[i] == res[j]) {
						repeat = true;
						break;
					}
				}
				if(!repeat) {
					res.push(this[i]);
				}
			}
			return res;
		}
	</script>

</html>