<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增学科</title>
		<script src="../../js/vue.js"></script>
		<script src="../../js/element.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css">
			.addObj{
				margin: 20px  0;
			}
			.addObj .formInput{
				width: 250px;
				margin: 20px 20px 20px 0;
			}
			.addObj ul li{
				width: 80%;
				margin: auto;
				overflow: hidden;
			}
			.addObj ul li .op{
				height: 76px;
				line-height: 76px;
				width: 100px;
				text-align: right;
			}
			.addObj ul li #op{
				height: 76px;
				overflow: auto;
			}
			.addObj ul li #op span:nth-child(1){
				margin-top: 30px;
				margin-bottom: 10px;
				display: inline-block;
			}
			.addObj ul li div{
				float: left;
				margin-right: 20px;
			}
			.addObj .btn{
				text-align: center;
				margin-top: 20px;
				clear: both;
			}
			.addObj .btn .save{
				margin-right: 20px;
			}
			
		</style>
	</head>

	<body>
		<div class="addObj">
			<ul>
				<li>
					<div>
						<p class="op">学科名称 :</p>
					</div>
					<div>
						<el-input v-model="objName" class="formInput"></el-input>
					</div>
				</li>
				<li>
					<div>
						<p class="op">关联训练项 :</p>
					</div>
					<div style="width: 74%;margin-left: 120px;" >
						<p id="op" v-if="list.length!=0">

							<span v-for="(item,index) in list">
								{{item.name}}
								<i class="el-icon-delete2" @click="deleteBtn(index)"></i>
								&nbsp;&nbsp;
							</span>
						</p>
						<template>
						<el-select v-model="train" filterable class="formInput" >
							<el-option v-for="item in learnids" :key="item.value" :label="item.name" :value="item">
							</el-option>
						</el-select>
						</template>
					</div>
				</li>
			</ul>
			<div class="btn">
				<el-button type="primary" class="save" @click="save">保存</el-button>
				<el-button @click="cancel">取消</el-button>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: '.addObj',
			data: {
				objName:'',//学科名称
				learnids: [],//技能项列表
				train: '',//技能项
				list:[],//所选的技能项列表
				pram:window.location.href.split('=')[1],//传过来的参数判断是新增还是编辑
				res:'',//编辑时传过来的参数
			},
			mounted() {
               this.getExeType();
               if(this.pram==1){
               	this.lookDetail();
               	  
               }
			},
			watch:{
				'train':function(val){
					let flag=true;
					for (let i=0;i<this.list.length;i++) {
						if (this.list[i].id==val.learnid) {
							flag=false;
							layer.msg('关联训练项不能重复')
							break;
						}
						
					}
					if (flag) {
						if (val) {
							this.list.push({
								name:val.name,
								id:val.learnid
							});
						}
					}
				}
			},
			methods: {
				lookDetail(){
					let self=this;
					var data={
						command:'system/querycourse',
						sessionid:getCookie('sid'),
						loginid:getCookie('uid'),
						id:window.parent.vm.id
					}
					function callback(res){
						if(res && res.errcode==0){
							self.objName=res.coursename;
							self.list=res.learnlist;
						}else{
							layer.msg(res.errdesc)
						}
					}
					post('/system/querycourse',data,callback,errcodefn,errfn)
				},
                getExeType: function() { //查询训练类型名和训练项
					let self = this;
					var data = {
						command: 'learn/querylearninfo',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid')
					};

					function callback(res) {
						self.learnids = res.learnids;
					};
					post('/learn/querylearninfo', data, callback, errcodefn, errfn)
				},
				cancel(){
					closeAll()
				},
				save(){
					let self=this;
					if(self.objName==''){
						layer.msg('学科名称不能为空')
						return
					}
					if(self.list.length==0){
						layer.msg('关联技能项不能为空')
						return
					}
					console.log(self.list);
					var newList=[];
					for(var i=0;i<self.list.length;i++){
						newList.push({
							learnid:self.list[i].id
						})
					}
					if(self.pram==0){//新增
						let data={
							command:'system/addcourse',
							sessionid:getCookie('sid'),
							loginid:getCookie('uid'),
							creator:getCookie('uid'),
							coursename:self.objName,
							learnlist:newList
						}
						function callback(res){
							if(res && res.errcode==0){
								layer.msg('新增成功')
								setTimeout(function(){
									closeAll();
									window.parent.vm.getObjList('','','','','')
									self.list=[];
									newList=[];
								},300)
							}else{
								layer.msg(res.errdesc)
							}
						}
						post('/system/addcourse',data,callback,errcodefn,errfn)
					}else{//编辑
						let data={
							command:'system/modifycourse',
							sessionid:getCookie('sid'),
							loginid:getCookie('uid'),
							creator:getCookie('uid'),
							coursename:self.objName,
							learnlist:newList,
							id:window.parent.vm.id
						}
						function callback(res){
							if(res && res.errcode==0){
								layer.msg('编辑成功')
								setTimeout(function(){
									closeAll();
									window.parent.vm.getObjList('','','','','')
									self.list=[];
									newList=[];
								},300)
							}else{
								layer.msg(res.errdesc)
							}
						}
						post('/system/modifycourse',data,callback,errcodefn,errfn)
					}
					
				},
				deleteBtn(index){

					this.list.splice(index,1);
					if(this.list.length==0){
						this.train=""
					}
				}
			}
		})
	</script>

</html>