<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>开放日历设置</title>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<script src="../../js/scmp/jquery-ui.js"></script>

		<link rel="stylesheet" href="../../css/assistant/style.css">
		<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
		<style>
			#title {
				background-color: #E5E6E8;
				height: 40px;
				line-height: 40px;
				padding-left: 20px;
				margin-bottom: 20px;
			}
			::-webkit-scrollbar{width:0px}
			#shadow {
				position: fixed;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.7);
				width: 100%;
				height: 100%;
			}
			
			.shadowTitle {
				background-color: #F7F7F7;
				padding: 8px 20px;
				border-bottom: 1px solid #EDEDED;
			}
			
			#setExercise {
				background-color: white;
				width: 800px;
				margin: 50px auto;
			}
			
			input {
				padding-left: 10px;
			}
			
			#exeNum {
				width: 100%;
				display: block;
				height: 26px;
			}
			
			#exeType {
				padding: 4px 10px;
				display: block;
				width: 100%;
			}
			
			.shadowContent {
				padding: 20px 30px;
			}
			
			.topHandlers {
				padding-bottom: 20px;
			}
			
			.topHandlers>a {
				border-bottom: 1px solid #23527C;
				padding-bottom: 2px;
			}
			
			.container-fluid {
				height: 100%;
				min-height: 100%;
			}
			
			#addvanceExeList th,
			td {
				text-align: center;
				vertical-align: middle !important;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid" v-cloak>
			<div id="title">
				<a href="addvance.html">开放日历设置</a>
			</div>
			<div id="addvanceShowList">
				<div class="topHandlers">
					<button class="btn btn-primary" onclick="toAddNew()">新增</button>
					<button class="btn btn-primary" onclick="refreshList()">刷新列表</button>
				</div>
				<div id="addvanceExeList">
					<table class="table table-bordered table-striped table-hover f12">
						<thead>
							<tr>
								<th style="width:60px">序号</th>
								<th style="width: 100px;">开放场地</th>
								<th>训练项</th>
								<th style="width: 330px;">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(value,index) in openList">
								<td>{{ index+1 }}</td>
								<td>{{ value.room_num }}</td>
								<td>
									<span v-for="value1 in openList[index].name">{{ value1.name }}--{{ value1.type | learntype }}&nbsp;&nbsp;&nbsp;</span>
								</td>
								<td>
									<button class="btn btn-danger btn-xs" @click="deleteOnePlace(index)">
                                删除
                            </button>
									<button class="btn btn-info btn-xs" @click="toOpenTimeDetail(index)">
                                开放场地详情
                            </button>
									<button class="btn btn-primary btn-xs" @click="setTrainigItem(index)">
                                设置训练项
                            </button>
									<button class="btn btn-warning btn-xs" @click="setOpenTime(index)">
                                设置开放时间
                            </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
			Vue.filter('learntype', function(value) { //过滤训练项类型
				if(value == "0") {
					return "在线训练"
				} else if(value == "1") {
					return "模型"
				} else if(value == "2") {
					return "智能设备"
				} else if(value == "3") {
					return "出科训练"
				} else {
					return "其他";
				}
			});
			var vm = new Vue({
				el: '.container-fluid',
				data: {
					title: decodeURIComponent(window.location.href).split("=")[1],
					openList: [],
				},
				methods: {
					setTrainigItem: function(index) {
						var num = this.openList[index].placeid;
						$("#addvanceShowList").addClass('hide');
						$("#title").addClass('hide');
						$(".container-fluid").append("<iframe frameborder='0' width='100%' height='100%' scrolling='auto' id='test1' class='number'></iframe>");
						$('.number').attr('src', 'setTrainingItem.html?placeid=' + num);

					},
					setOpenTime: function(index) {
						var numplaceid = this.openList[index].placeid;
						$("#addvanceShowList").addClass('hide');
						$("#title").addClass('hide');
						$(".container-fluid").append("<iframe frameborder='0' width='100%' height='100%' scrolling='auto' id='test2' class='placeidNum'></iframe>");
						$('.placeidNum').attr('src', 'setOpenTime.html?placeid=' + numplaceid)

					},
					toOpenTimeDetail: function(index) {
						var self = this;
						var roomname = self.openList[index].room_num;
						var placeid = self.openList[index].placeid;
						layer.open({
							type: 2,
							title: roomname + '教室-开放训练时间详情',
							shadeClose: true,
							shade: 0.7,
							area: ['70%', '60%'],
							content: 'addvanceTimeDetail.html?placeid=' + placeid
						});
					},
					deleteOnePlace: function(index) {
						layer.open({
							type: 2,
							title: '删除',
							shadeClose: true,
							shade: 0.7,
							area: ['50%', '40%'],
							content: 'deleteDate.html?placeid=' + this.openList[index].placeid
						});
						//                  var self=this;
						//                  var placeid=self.openList[index].placeid;
						//                  var roomname=self.openList[index].room_num;
						//                  var data={
						//                      command:'learn/delopenplace',
						//                      sessionid:getCookie('sid'),
						//                      loginid:getCookie('uid'),
						//                      placeid:placeid
						//                  };
						//                  function callback(res){
						//                      layer.msg('成功删除开放场地-'+roomname,{icon:1});
						//                      refreshList();
						//                  };
						//                  post('/learn/delopenplace',data,callback,errcodefn,errfn)
					}
				}
			});
			showOpenList();

			function info(txt) { //tips
				(txt == "修改") && (layer.tips(txt, '.glyphicon-pencil', { tips: 1 }));
				(txt == "删除") && (layer.tips(txt, '.glyphicon-remove', { tips: 1 }));
				(txt == "开放场地详情") && (layer.tips(txt, '.glyphicon-list-alt', { tips: 1 }));
				(txt == "设置训练项") && (layer.tips(txt, '.glyphicon-list-alt', { tips: 1 }));
				(txt == "设置开放时间") && (layer.tips(txt, '.glyphicon-list-alt', { tips: 1 }));
			};

			function toAddNew() {
				$("#addvanceShowList").addClass('hide');
				$(".container-fluid").append("<iframe src='addNewAddvance.html' frameborder='0' width='100%' height='100%' scrolling='auto'  id='addPlace'></iframe>");
				$("#title").addClass('hide');
			};

			function showOpenList() {
				var data = {
					command: 'learn/queryplaceandlearn',
					sessionid: getCookie('sid'),
					loginid: getCookie('uid'),
					status: 0
				};

				function callback(res) {
					console.log(res);
					var placeArr = []; //场地名称
					for(index in res.learnplaces) {
						placeArr.push(res.learnplaces[index].room_num)
					};
					placeArr = notRepeat(placeArr);
					for(var i = 0; i < placeArr.length; i++) {
						vm.openList.push({
							room_num: placeArr[i],
							placeid: "",
							name: []
						})
					};
					for(var i = 0; i < vm.openList.length; i++) {
						for(var j = 0; j < res.learnplaces.length; j++) {
							if(vm.openList[i].room_num == res.learnplaces[j].room_num) {
								vm.openList[i].name.push({
									name: res.learnplaces[j].name,
									type: res.learnplaces[j].type
								});
								vm.openList[i].placeid = res.learnplaces[j].placeid
							}
						}
					};
					var temList = [];
					var flag = true;
					for (var i=0;i<vm.openList.length;i++) {
						for(var j=0;j<vm.openList[i].name.length;j++){
							for(var k=0;k<temList.length;k++){
								if(temList[k].name==vm.openList[i].name[j].name){
									flag = false;
									break;
								}
							}
							if(flag){
								temList.push(vm.openList[i].name[j]);
							}
							flag = true;
						}
						vm.openList[i].name=temList;
						temList = [];
					}
					
				};
				post('/learn/queryplaceandlearn', data, callback, errcodefn, errfn)
			};

			function refreshList() {
				vm.openList = [];
				showOpenList();
			};
		</script>
	</body>

</html>