<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出科考试管理</title>

    <link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="../../font-awesome-4.6.3/css/font-awesome.min.css">

    <style>
        #title{
            background-color: #E5E6E8;
            height:40px;
            line-height: 40px;
            padding-left:20px;
        }
        .booking-list:hover{
            cursor: pointer;
        }
        /*按输入条件查询*/
        section{
            margin: 20px;
        }
        /*考试状况列表*/
        .booking-list>li,#not-approved table tr{
            padding:10px 20px;
            border-bottom: 2px solid transparent;
        }
        .table>tbody>tr>td{
            border-top: 1px solid transparent;
        }
        li.active1{
            border-bottom: 2px solid #337ab7;
            color: #337ab7;
            cursor: pointer;
        }
        .evaluate{
            width:100%;
            margin:0 auto;
            padding:10px 0;
        }
        #booking-detail table tbody tr>td,
        #stu-report table tbody>tr>td{
            border-top: 1px solid transparent;
        }

        .evaluate form table ul li{
            display: inline-block;
            text-align: right;
        }

        .evaluate div table ul li{
            display: inline-block;
            color: #337ab7;
        }
        i{
            font-size: 22px;
        }
        /*弹框*/
        .shadow{
            position:fixed;
            top:0;
            left:0;
            background-color: rgba(0,0,0,0.7);
            width:100%;
            height:100%;
            z-index:2;
            display: none;
            font-size: 12px;
        }
        .shadowTitle{
            background-color: #F7F7F7;
            padding:8px 20px;
            border-bottom:1px solid #EDEDED;
        }
        .shadowBox{
            position:relative;
            top:50%;
            left:50%;
            width: 60rem;
            min-height: 30rem;
            margin-left: -30rem;
            margin-top: -18rem;
            background-color:white;
            overflow-y: auto;
        }
        .shadowContent{
            padding:10px 30px 0 20px;
        }
        .vue-win{
            display: block;
        }
        [v-cloak] {
            display: none !important;
        }
    </style>

</head>
<body style="margin: 5px;">
<div id="container-fluid"  v-cloak>
    <div id = "title">出科考试管理</div>

    <!--------------------------------------------状态导航-------------------------------------->
    <ul class="nav nav-tabs booking-list">
        <li id = "1" class="active1">待审核</li>
        <li id = "0">报名中</li>
        <li id = "6">待开考</li>
        <li id = "7">考试中</li>
        <li id = "4">已考完</li>
        <li id = "2">审核不通过</li>
        <li id = "3">已取消</li>
        <li id = "5">缺考</li>
    </ul>

    <!----------------------------------------预约状态列表中 明细表-------------------------->
    <ul class = "booking-detail">
        <!--------------------------------------------1、待审核 明细表------------------>
        <li id = "check-detail">
            <section>
                <div class="form-inline f12 sel-detail">
                    <div class="form-group">
                        <label>技能项：</label>
                        <input type="text" class="form-control"  v-model="learnname_1">
                    </div>

                    <div class="form-group">
                        <label>考试地点：</label>
                        <input type="text" class="form-control" v-model= "placeinfo_1" >
                    </div>

                    <div class="form-group">
                        <label>考试时间：</label>
                        <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                            <input id="starttime_1" class="form-control form-starttime" style="font-size: 13px;width:110px;" type="text">
                            <span class="input-group-addon">到</span>
                            <input id="endtime_1" class="form-control form-endtime" style="font-size: 13px;width:110px;" type="text">
                        </div>
                    </div>
                    <button @click = "listQuery1()" class="selDetail btn btn-primary" style = " width: 100px">
                        查询
                    </button>
                </div>
            </section>
            <table class="table table-bordered f12 table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>技能项</th>
                    <th>考试时间</th>
                    <th>考试地点</th>
                    <th>考官</th>
                    <th>报名人数上限</th>
                    <th>报名截止时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for = "(bookingDetails,index) in ckexambooklist ">
                    <td>{{index+1}}</td>
                    <td>{{bookingDetails.learnname}}</td>
                    <td>{{bookingDetails.starttime}} 至 {{bookingDetails.endtime}}</td>
                    <td>{{bookingDetails.placeinfo}}</td>
                    <td>{{bookingDetails.teacher}}</td>
                    <td>{{bookingDetails.volumemax}}</td>
                    <td>{{bookingDetails.joinlasttime}}</td>
                    <td>
                        <a href="#" @click="showBookingDetail(bookingDetails, $event)"> 预约详情</a>
                        <!--<a href="#">审核</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <!--------------------------------------------2、报名中 明细表------------------->
        <li class="hide" id = "register-detail">
            <section>
                <div class="form-inline f12 sel-detail">
                    <div class="form-group">
                        <label>技能项：</label>
                        <input type="text" class="form-control"  v-model="learnname_0">
                    </div>

                    <div class="form-group">
                        <label>考试地点：</label>
                        <input type="text" class="form-control" v-model= "placeinfo_0" >
                    </div>

                    <div class="form-group">
                        <label>考试时间：</label>
                        <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                            <input id="starttime_0" class="form-control form-starttime" style="font-size: 13px;width:110px;" type="text">
                            <span class="input-group-addon">到</span>
                            <input id="endtime_0" class="form-control form-endtime" style="font-size: 13px;width:110px;" type="text">
                        </div>
                    </div>
                    <button @click = "listQuery0()" class="selDetail btn btn-primary" style = " width: 100px">
                        查询
                    </button>
                </div>
            </section>
            <table class="table table-bordered f12 table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>技能项</th>
                    <th>考试时间</th>
                    <th>考试地点</th>
                    <th>考官</th>
                    <th>报名上限</th>
                    <th>已报名</th>
                    <th>报名截止时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for = "(bookingDetails,index) in ckexambooklist ">
                    <td>{{index+1}}</td>
                    <td>{{bookingDetails.learnname}}</td>
                    <td>{{bookingDetails.starttime}} 至 {{bookingDetails.endtime}}</td>
                    <td>{{bookingDetails.placeinfo}}</td>
                    <td>{{bookingDetails.teacher}}</td>
                    <td>{{bookingDetails.volumemax}}</td>
                    <td>{{bookingDetails.studentnum}}</td>
                    <td>{{bookingDetails.joinlasttime}}</td>
                    <td>
                        <a href="#" @click="showBookingDetail(bookingDetails, $event)">预约详情</a>
                        <a href="#">变更</a>
                        <a href="#" @click="RegStuDetail(bookingDetails)">考生</a>
                        <a href="#" @click="cancelExam(bookingDetails)">取消</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <!--------------------------------------------3、待开考 明细表-------------------->
        <li class="hide" id = "waiting-detail">
            <section>
                <div class="form-inline f12 sel-detail">
                    <div class="form-group">
                        <label>技能项：</label>
                        <input type="text" class="form-control"  v-model="learnname_6">
                    </div>

                    <div class="form-group">
                        <label>考试地点：</label>
                        <input type="text" class="form-control" v-model= "placeinfo_6" >
                    </div>

                    <div class="form-group">
                        <label>考试时间：</label>
                        <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                            <input id="starttime_6" class="form-control form-starttime" style="font-size: 13px;width:110px;" type="text">
                            <span class="input-group-addon">到</span>
                            <input id="endtime_6" class="form-control form-endtime" style="font-size: 13px;width:110px;" type="text">
                        </div>
                    </div>
                    <button @click = "listQuery6()" class="selDetail btn btn-primary" style = " width: 100px">
                        查询
                    </button>
                </div>
            </section>
            <table class="table table-bordered f12 table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>技能项</th>
                    <th>考试时间</th>
                    <th>考试地点</th>
                    <th>考官</th>
                    <th>报名上限</th>
                    <th>已报名</th>
                    <th>报名截止时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for = "(bookingDetails,index) in ckexambooklist " >
                    <td>{{index+1}}</td>
                    <td>{{bookingDetails.learnname}}</td>
                    <td>{{bookingDetails.starttime}} 至 {{bookingDetails.endtime}}</td>
                    <td>{{bookingDetails.placeinfo}}</td>
                    <td>{{bookingDetails.teacher}}</td>
                    <td>{{bookingDetails.volumemax}}</td>
                    <td>{{bookingDetails.studentnum}}</td>
                    <td>{{bookingDetails.joinlasttime}}</td>
                    <td>
                        <a href="#" @click="showBookingDetail(bookingDetails, $event)" >预约详情</a>
                        <a href="#" @click="RegStuDetail(bookingDetails)">考生</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <!--------------------------------------------4、考试中 明细表------------------->
        <li class="hide" id = "examing-detail">
            <section>
                <div class="form-inline f12 sel-detail">
                    <div class="form-group">
                        <label>技能项：</label>
                        <input type="text" class="form-control"  v-model="learnname_7">
                    </div>

                    <div class="form-group">
                        <label>考试地点：</label>
                        <input type="text" class="form-control" v-model= "placeinfo_7" >
                    </div>

                    <div class="form-group">
                        <label>考试时间：</label>
                        <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                            <input id="starttime_7" class="form-control form-starttime" style="font-size: 13px;width:110px;" type="text">
                            <span class="input-group-addon">到</span>
                            <input id="endtime_7" class="form-control form-endtime" style="font-size: 13px;width:110px;" type="text">
                        </div>
                    </div>
                    <button @click = "listQuery7()" class="selDetail btn btn-primary" style = " width: 100px">
                        查询
                    </button>
                </div>
            </section>
            <table class="table table-bordered f12 table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>技能项</th>
                    <th>考试时间</th>
                    <th>考试地点</th>
                    <th>考官</th>
                    <th>报名上限</th>
                    <th>已报名</th>
                    <th>报名截止时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for = "(bookingDetails,index) in ckexambooklist ">
                    <td>{{index+1}}</td>
                    <td>{{bookingDetails.learnname}}</td>
                    <td>{{bookingDetails.starttime}} 至 {{bookingDetails.endtime}}</td>
                    <td>{{bookingDetails.placeinfo}}</td>
                    <td>{{bookingDetails.teacher}}</td>
                    <td>{{bookingDetails.volumemax}}</td>
                    <td>{{bookingDetails.studentnum}}</td>
                    <td>{{bookingDetails.joinlasttime}}</td>
                    <td>
                        <a href="#" @click="showBookingDetail(bookingDetails, $event)">预约详情</a>
                        <a href="#" @click="selStuScore(bookingDetails)">考生成绩</a>
                        <a href="#" @click="evaluateDetail(bookingDetails)">巡视评价</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <!--------------------------------------------5、已考完 明细表----------------->
        <li class="hide" id = "examed-detail">
            <section>
                <div class="form-inline f12 sel-detail">
                    <div class="form-group">
                        <label>技能项：</label>
                        <input type="text" class="form-control"  v-model="learnname_4">
                    </div>

                    <div class="form-group">
                        <label>考试地点：</label>
                        <input type="text" class="form-control" v-model= "placeinfo_4" >
                    </div>

                    <div class="form-group">
                        <label>考试时间：</label>
                        <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                            <input id="starttime_4" class="form-control form-starttime" style="font-size: 13px;width:110px;" type="text">
                            <span class="input-group-addon">到</span>
                            <input id="endtime_4" class="form-control form-endtime" style="font-size: 13px;width:110px;" type="text">
                        </div>
                    </div>
                    <button @click = "listQuery4()" class="selDetail btn btn-primary" style = " width: 100px">
                        查询
                    </button>
                </div>
            </section>
            <table class="table table-bordered f12 table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>技能项</th>
                    <th>考试时间</th>
                    <th>考试地点</th>
                    <th>考官</th>
                    <th>报名上限</th>
                    <th>已报名</th>
                    <th>报名截止时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for = "(bookingDetails,index) in ckexambooklist ">
                    <td>{{index+1}}</td>
                    <td>{{bookingDetails.learnname}}</td>
                    <td>{{bookingDetails.starttime}} 至 {{bookingDetails.endtime}}</td>
                    <td>{{bookingDetails.placeinfo}}</td>
                    <td>{{bookingDetails.teacher}}</td>
                    <td>{{bookingDetails.volumemax}}</td>
                    <td>{{bookingDetails.studentnum}}</td>
                    <td>{{bookingDetails.joinlasttime}}</td>
                    <td>
                        <a href="#" @click="showBookingDetail(bookingDetails, $event)">预约详情</a>
                        <a href="#" @click="selStuScore(bookingDetails)">考生成绩</a>
                        <a href="#" @click="evaluateDetail(bookingDetails)">巡视评价</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <!--------------------------------------------6、审核不通过 明细表--------------->
        <li class="hide" id = "uncheck-detail">
            <section>
                <div class="form-inline f12 sel-detail">
                    <div class="form-group">
                        <label>技能项：</label>
                        <input type="text" class="form-control"  v-model="learnname_2">
                    </div>

                    <div class="form-group">
                        <label>考试地点：</label>
                        <input type="text" class="form-control" v-model= "placeinfo_2" >
                    </div>

                    <div class="form-group">
                        <label>考试时间：</label>
                        <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                            <input id="starttime_2" class="form-control form-starttime" style="font-size: 13px;width:110px;" type="text">
                            <span class="input-group-addon">到</span>
                            <input id="endtime_2" class="form-control form-endtime" style="font-size: 13px;width:110px;" type="text">
                        </div>
                    </div>
                    <div class = "form-group" style = "margin-right:5px;">
                        <label>取消类型：</label>
                        <select class="form-control"  v-model="canceltype_2">
                            <option>审核不通过</option>
                            <option>手动取消</option>
                        </select>
                    </div>
                    <button @click = "listQuery2()" class="selDetail btn btn-primary" style = " width: 100px">
                        查询
                    </button>
                </div>
            </section>
            <table class="table table-bordered f12 table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>技能项</th>
                    <th>考试时间</th>
                    <th>考试地点</th>
                    <th>考官</th>
                    <th>报名上限</th>
                    <th>已报名</th>
                    <th>报名截止时间</th>
                    <th>不通过原因</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for = "(bookingDetails,index) in ckexambooklist">
                    <td>{{index+1}}</td>
                    <td>{{bookingDetails.learnname}}</td>
                    <td>{{bookingDetails.starttime}}</td>
                    <td>{{bookingDetails.placeinfo}}</td>
                    <td>{{bookingDetails.teacher}}</td>
                    <td>{{bookingDetails.volumemax}}</td>
                    <td>{{bookingDetails.studentnum}}</td>
                    <td>{{bookingDetails.joinlasttime}}</td>
                    <td>{{bookingDetails.auditcomment}}</td>
                    <td>
                        <a href="#" @click="showBookingDetail(bookingDetails, $event)">预约详情</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <!--------------------------------------------7、已取消 明细表----------------->
        <li class="hide" id = "cancel-detail">
            <section>
                <div class="form-inline f12 sel-detail">
                    <div class="form-group">
                        <label>技能项：</label>
                        <input type="text" class="form-control"  v-model="learnname_3">
                    </div>

                    <div class="form-group">
                        <label>考试地点：</label>
                        <input type="text" class="form-control" v-model= "placeinfo_3" >
                    </div>

                    <div class="form-group">
                        <label>考试时间：</label>
                        <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                            <input id="starttime_3" class="form-control form-starttime" style="font-size: 13px;width:110px;" type="text">
                            <span class="input-group-addon">到</span>
                            <input id="endtime_3" class="form-control form-endtime" style="font-size: 13px;width:110px;" type="text">
                        </div>
                    </div>
                    <div class = "form-group" style = "margin-right:5px;">
                        <label>取消类型：</label>
                        <select class="form-control"  v-model="canceltype_3">
                            <option>审核不通过</option>
                            <option>手动取消</option>
                        </select>
                    </div>
                    <button @click = "listQuery3()" class="selDetail btn btn-primary" style = " width: 100px">
                        查询
                    </button>
                </div>
            </section>
            <table class="table table-bordered f12 table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>技能项</th>
                    <th>考试时间</th>
                    <th>考试地点</th>
                    <th>考官</th>
                    <th>报名上限</th>
                    <th>已报名</th>
                    <th>报名截止时间</th>
                    <th>取消类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for = "(bookingDetails,index) in ckexambooklist">
                    <td>{{index+1}}</td>
                    <td>{{bookingDetails.learnname}}</td>
                    <td>{{bookingDetails.starttime}}</td>
                    <td>{{bookingDetails.placeinfo}}</td>
                    <td>{{bookingDetails.teacher}}</td>
                    <td>{{bookingDetails.volumemax}}</td>
                    <td>{{bookingDetails.studentnum}}</td>
                    <td>{{bookingDetails.joinlasttime}}</td>
                    <td>{{bookingDetails.canceltype}}</td>
                    <td>
                        <a href="#" @click="showBookingDetail(bookingDetails, $event)">预约详情</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </li>
        <!--------------------------------------------8、缺考 明细表-------------------->
        <li class="hide" id = "unexam-detail">
            <section>
                <div class="form-inline f12 sel-detail">
                    <div class="form-group">
                        <label>技能项：</label>
                        <input type="text" class="form-control"  v-model="learnname_5">
                    </div>

                    <div class="form-group">
                        <label>考试地点：</label>
                        <input type="text" class="form-control" v-model= "placeinfo_5" >
                    </div>

                    <div class="form-group">
                        <label>考试时间：</label>
                        <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                            <input id="starttime_5" class="form-control form-starttime" style="font-size: 13px;width:110px;" type="text">
                            <span class="input-group-addon">到</span>
                            <input id="endtime_5" class="form-control form-endtime" style="font-size: 13px;width:110px;" type="text">
                        </div>
                    </div>
                    <button @click = "listQuery5()" class="selDetail btn btn-primary" style = " width: 100px">
                        查询
                    </button>
                </div>
            </section>
            <table class="table table-bordered f12 table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>技能项</th>
                    <th>考试时间</th>
                    <th>考试地点</th>
                    <th>考官</th>
                    <th>考生人数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for = "(bookingDetails,index) in ckexambooklist">
                    <td>{{index+1}}</td>
                    <td>{{bookingDetails.learnname}}</td>
                    <td>{{bookingDetails.starttime}}</td>
                    <td>{{bookingDetails.placeinfo}}</td>
                    <td>{{bookingDetails.teacher}}</td>
                    <td>{{bookingDetails.studentnum}}</td>
                    <td>
                        <a href="#" @click="showBookingDetail(bookingDetails, $event)">详情</a>
                        <a href="#" @click="RegStuDetail(bookingDetails)">考生</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>


    <!---------------------------弹框   考生成绩表------------------->
    <div class = "shadow" :class ="{'vue-win':showDetail}" v-if="showStuScore">
        <div class = "shadowBox">
            <p class = "shadowTitle">
                <span>考生成绩表</span>
                <i class="glyphicon glyphicon-remove rightTop" @click = "hideStuScore()"></i>
            </p>
            <div class=" shadowContent">
                <table class = "table">
                    <tbody>
                    <tr v-for = "scoreDetails in stuScore.score">
                        <td>平均分：{{scoreDetails.avgscore}}</td>
                        <td>最高分：{{scoreDetails.maxscore}}</td>
                        <td>最低分：{{scoreDetails.minscore}}</td>
                    </tr>
                    </tbody>
                </table>
                <table id = "emptyList" class = "table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>班级</th>
                        <th>学生姓名</th>
                        <th>学号</th>
                        <th>状态</th>
                        <th>成绩（分）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for = "(scoreDetails,index) in stuScore.ckexamstudentlist">
                        <td>{{index+1}}</td>
                        <td>{{scoreDetails.classname}}</td>
                        <td>{{scoreDetails.studentname}}</td>
                        <td>{{scoreDetails.studentid}}</td>
                        <td>{{scoreDetails.status | stuStatus}}</td>
                        <td>{{scoreDetails.score}}</td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" @click = "hideStuScore()" style = " width: 100px;float:right;margin-bottom: 2.15rem">关闭</button>
            </div>
        </div>
    </div>
    <!---------------------------弹框   预约详情-------------------->
    <div class = "shadow" :class ="{'vue-win':showDetail}" v-if="showBookingDetailWin">
        <div class = "shadowBox">
            <p class = "shadowTitle">
                <span>考试预约详情</span>
                <i class="glyphicon glyphicon-remove rightTop" @click="closeBookingDetail" style = "font-size: 22px"></i>
            </p>
            <div class="shadowContent">
                <table class = "table">
                    <tbody>
                    <tr>
                        <td>技能项：{{currentBookingDetail.learnname}}</td>
                        <td>考官：{{currentBookingDetail.teacher}}</td>
                    </tr>
                    <tr>
                        <td>考试地址：{{currentBookingDetail.placeinfo}}</td>
                        <td>考试时间：{{currentBookingDetail.starttime}} 至 {{currentBookingDetail.endtime}}</td>
                    </tr>
                    <tr>
                        <td>报名截至时间：{{currentBookingDetail.joinlasttime}}</td>
                        <td>报名人数上限：{{currentBookingDetail.volumemax}}</td>
                    </tr>
                    <tr>
                        <td>报名人数：{{currentBookingDetail.studentnum}}</td>
                    </tr>
                    <tr>
                        <td>备注：{{currentBookingDetail.examcomment}}</td>
                    </tr>
                    <tr v-if="currentBookingDetail.canceltype">
                        <td>取消类型：{{currentBookingDetail.canceltype}}</td>
                    </tr>
                    <tr v-if="currentBookingDetail.autitcomment">
                        <td>取消原因：{{currentBookingDetail.autitcomment}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!---------------------------弹框   巡视评价--------------------->
    <div class = "shadow evaluate" :class ="{'vue-win':showDetail}" v-if="showEvaluate">
        <div class="shadowBox">
            <p class = "shadowTitle">
                <span>巡视评价</span>
                <i class="glyphicon glyphicon-remove rightTop" @click="hideEvaluate()"></i>
            </p>
            <div class="shadowContent">
                <div>
                    <table style="width: 100%">
                        <tbody>
                        <tr>
                            <td>考官：{{evaluation.examiner}}</td>
                            <td style = "text-align: right">
                                <ul style="font-size: 4rem" v-if = "evaluation.score > 0">
                                    <li><i class="fa show fa-star" :class = "{'fa-star-o':evaluation.score < 1}"></i></li>
                                    <li><i class="fa show fa-star" :class = "{'fa-star-o':evaluation.score < 2}"></i></li>
                                    <li><i class="fa show fa-star" :class = "{'fa-star-o':evaluation.score < 3}"></i></li>
                                    <li><i class="fa show fa-star" :class = "{'fa-star-o':evaluation.score < 4}"></i></li>
                                    <li><i class="fa show fa-star" :class = "{'fa-star-o':evaluation.score < 5}"></i></li>
                                </ul>
                                <ul v-else>
                                    <li></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table id = "emptyEvaluate" class = "table table-bordered">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>评分项目</th>
                            <th>评分</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(evaluate,index) in evaluation.evaluationitems">
                            <td>{{index+1}}</td>
                            <td>{{evaluate.title}}</td>
                            <td>{{evaluate.score}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>其他建议和意见：{{evaluation.comment}}</p>
                </div>
                <button class="btn btn-primary" @click="hideEvaluate()" style ="width: 100px; float:right;margin-bottom: 2.15rem">关闭</button>
            </div>
        </div>
    </div>
    <!---------------------------弹框   已报名学生表----------------->
    <div class = "shadow miss-exam-detail" :class ="{'vue-win':showDetail}" v-if="showRegStudent">
        <div class = "shadowBox">
            <p class = "shadowTitle">
                <span>已报名学生</span>
                <i class="glyphicon glyphicon-remove rightTop" @click="hideRegStuDetail()"></i>
            </p>
            <div class="shadowContent">
                <table id = "emptyReg" class = "table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>班级</th>
                        <th>学生姓名</th>
                        <th>学号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  v-for = "(regStu,index) in regStu.ckexamstudentlist">
                        <td>{{index+1}}</td>
                        <td>{{regStu.classname}}</td>
                        <td>{{regStu.studentname}}</td>
                        <td>{{regStu.studentid}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!---------------------------弹框   取消技能项报名---------------->
    <div class = "shadow " :class ="{'vue-win':showDetail}" v-if = "showCancelExam">
        <div class = "shadowBox">
            <p class = "shadowTitle">
                <span>取消报名技能项</span>
                <i class="glyphicon glyphicon-remove rightTop" @click = "hideCancelExam()"></i>
            </p>
            <div class=" shadowContent">
                <div style="width: 40rem;height: 18rem;margin: 0 auto;">
                    <form>
                        <p style="float: left">取消原因：</p>
                        <textarea style="float: left" cols="50" rows="10" placeholder="50字以内" v-model="cancelReasons"></textarea>
                    </form>
                </div>
            </div>
            <button @click="submitCancel()"  class="btn btn-primary" style = " width: 100px;margin-left: 18rem">提交</button>
            <button @click="hideCancelExam()"  class="btn btn-default" style = " width: 100px;margin-left: 4rem">取消</button>
        </div>
    </div>

</div>

<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../layer/xie/layer1.js"></script>
<script src="../../js/scmp/common.js"></script>
<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="../../assets/bootstrap/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../../assets/bootstrap/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>

<script>
    Vue.directive('datepicker', {
        inserted (el, binding, vnode) {
            var $el = $(el);

            $el.datepicker({
                language: "zh-CN",
                autoclose: true
            });
        }
    });
    Vue.filter('stuStatus',function (value){
      switch (value){
        case 0: return "正常";
        break;
        case 1: return "待审核";
        break;
        case 2: return "审核不通过";
        break;
        case 3: return "取消";
        break;
        case 4 :return "已考试";
        break;
        case 5 :return "缺考";
        break;
      }
    })
    var vm = new Vue({
        el:"#container-fluid",
        data: {
            id:'',
            examid:'',
            starttime: '',
            endtime: '',
            ckexambooklist:[],
            ckexamstudentlist :[],
            evaluation:{},
            scorelist:[],
            scoreDetails:[],
            stuScore:{},
            bookingDetails:[],
            score:[],
            bookingDetail:null,
            listDetail:[],
            list:[],
            total:[],
            showEvaluate: false,
            examiner:[],
            showMissExam:false,
            missexamdetail:[],
            showRegStudent:false,
            showRegStuDetail:false,
            regStu:{},
            regStudent:{},
            evalDetail:{},
            learnname:'',
            placeinfo:'',
            canceltype:'',
            showCancelExam:false,
            currentBookingDetail: {},
            showBookingDetailWin: false,
            currentEventId:{},
            auditcomment:{},
            cancelReasons:'',
            StuScoreId:{},
            showStuScore:false,
            showDetail:true,
            // 报名条件
            learnname_0: '',
            placeinfo_0: '',
            // 待审核条件
            learnname_1: '',
            placeinfo_1: '',
            // 审核不通过条件
            learnname_2: '',
            placeinfo_2: '',
            canceltype_2:'',
            // 已取消条件
            learnname_3: '',
            placeinfo_3: '',
            canceltype_3:'',
            // 已考完条件
            learnname_4: '',
            placeinfo_4: '',
            // 缺考条件
            learnname_5: '',
            placeinfo_5: '',
            // 待开考条件
            learnname_6: '',
            placeinfo_6: '',
            // 考试中条件
            learnname_7: '',
            placeinfo_7: '',
    },
        mounted:function(){
            this.getBookingList(1,10);
        },
        methods: {
            getBookingList: function(){
              var _self=this;
              var tabObj = $(".booking-list").children('li.active1');
              var flag = tabObj.attr("id");

                var data={
                  flag: flag,
                  command:"ckexammanage/queryckexambyconditions",
                  loginid:getCookie('uid'),
                  sessionid:getCookie('sid'),
                };
                function callback(res){
                    vm.ckexambooklist =[];
                    vm.ckexambooklist=res.ckexambooklist;
                };
                post("/ckexammanage/queryckexambyconditions",data,callback,errcodefn,errfn);
          },
            listQuery: function (data) {
                var _self = this;
                    _self.ckexambooklist = [];
                var combox = $.extend({
                    command:"ckexammanage/queryckexambyconditions",
                    loginid:getCookie('uid'),
                    sessionid:getCookie('sid')
                }, data);

                function callback (res) {
                    _self.ckexambooklist = res.ckexambooklist;
                };
                post("/ckexammanage/queryckexambyconditions",combox,callback,errcodefn,errfn);
            },
            listQuery0: function () {
                var data = {
                    flag: "0",
                    learnname : this.learnname_0,
                    placeinfo : this.placeinfo_0,
                    starttime : $('#starttime_0').val() ?  $('#starttime_0').val() + ' 00:00:00' : '',
                    endtime   : $('#endtime_0').val() ? $('#endtime_0').val() + ' 23:59:59' : ''
                };
                this.listQuery(data);
            },
            listQuery1: function () {
                var data = {
                    flag: "1",
                    learnname : this.learnname_1,
                    placeinfo : this.placeinfo_1,
                    starttime : $('#starttime_1').val() ?  $('#starttime_1').val() + ' 00:00:00' : '',
                    endtime   : $('#endtime_1').val() ? $('#endtime_1').val() + ' 23:59:59' : ''
                };
                this.listQuery(data);
            },
            listQuery2: function () {
                var data = {
                    flag: "2",
                    learnname : this.learnname_2,
                    placeinfo : this.placeinfo_2,
                    canceltype: this.canceltype_2,
                    starttime : $('#starttime_2').val() ?  $('#starttime_2').val() + ' 00:00:00' : '',
                    endtime   : $('#endtime_2').val() ? $('#endtime_2').val() + ' 23:59:59' : ''
                };
                this.listQuery(data);
            },
            listQuery3: function () {
                var data = {
                    flag: "3",
                    learnname : this.learnname_3,
                    placeinfo : this.placeinfo_3,
                    canceltype: this.canceltype_3,
                    starttime : $('#starttime_3').val() ?  $('#starttime_3').val() + ' 00:00:00' : '',
                    endtime   : $('#endtime_3').val() ? $('#endtime_3').val() + ' 23:59:59' : ''
                };
                this.listQuery(data);
            },
            listQuery4: function () {
                var data = {
                    flag: "4",
                    learnname : this.learnname_4,
                    placeinfo : this.placeinfo_4,
                    starttime : $('#starttime_4').val() ?  $('#starttime_4').val() + ' 00:00:00' : '',
                    endtime   : $('#endtime_4').val() ? $('#endtime_4').val() + ' 23:59:59' : ''
                };
                this.listQuery(data);
            },
            listQuery5: function () {
                var data = {
                    flag: "5",
                    learnname : this.learnname_5,
                    placeinfo : this.placeinfo_5,
                    starttime : $('#starttime_5').val() ?  $('#starttime_5').val() + ' 00:00:00' : '',
                    endtime   : $('#endtime_5').val() ? $('#endtime_5').val() + ' 23:59:59' : ''
                };
                this.listQuery(data);
            },
            listQuery6: function () {
                var data = {
                    flag: "6",
                    learnname :  this.learnname_6,
                    placeinfo : this.placeinfo_6,
                    starttime : $('#starttime_6').val() ?  $('#starttime_6').val() + ' 00:00:00' : '',
                    endtime   : $('#endtime_6').val() ? $('#endtime_6').val() + ' 23:59:59' : ''
                };
                this.listQuery(data);
            },
            listQuery7: function () {
                var data = {
                    flag: "7",
                    learnname : this.learnname_7,
                    placeinfo : this.placeinfo_7,
                    starttime : $('#starttime_7').val() ?  $('#starttime_7').val() + ' 00:00:00' : '',
                    endtime   : $('#endtime_7').val() ? $('#endtime_7').val() + ' 23:59:59' : ''
                };
                this.listQuery(data);
            },

            cancelExam: function (bookingDetail) {
                var _self = this;
                    _self.showCancelExam = true;
                this.currentEventId = bookingDetail.id;
            },
            hideCancelExam: function () {
                this.showCancelExam = false;
            },
            submitCancel: function () {
                var data = {
                    examid:this.currentEventId,
                    command:"examapply/cancelexamapply",
                    loginid:getCookie('uid'),
                    sessionid:getCookie('sid'),
                    auditcomment: this.cancelReasons,
                };
                function callback(res){
                    setTimeout(function(){
                        this.showCancelExam = false;
                        layer.msg('成功取消该技能项报名', {icon: 1});
                    },2000)
                };
                post('/examapply/cancelexamapply',data,callback,errcodefn,errfn);
            },
            selStuScore:function (bookingDetail) {
                var _self=this;
                    _self.stuScore = {};
                this.showStuScore = true;
                this.StuScoreId = bookingDetail.id;
                var data = {
                    id:this.StuScoreId,
                    command:"ckexammanage/queryckexamstudent",
                    loginid:getCookie('uid'),
                    sessionid:getCookie('sid')
                };
                function callback (res) {
                    _self.stuScore = res;
                };
                function errcodefn (res) {
                    $("#emptyList tbody").html(
                        `<tr style="font-size: 1.2rem; font-weight:bold; text-align: center">
                            <td colspan="6">暂无学生成绩</td>
                        </tr>`)
                }
                post("/ckexammanage/queryckexamstudent",data,callback,errcodefn,errfn);
            },
            hideStuScore:function () {
                this.showStuScore = false;
            },
            evaluateDetail: function (bookingDetail) {
                var _self = this;
                    _self.showEvaluate = true;
                this.currentEventId = bookingDetail.id;
                    _self.evaluation = {};
                // ajax data
                var data = {
                    examid:this.currentEventId,
                    command:"ckexamapply/queryevaluation",
                    loginid:getCookie('uid'),
                    sessionid:getCookie('sid'),
                };
                function callback (res) {
                    _self.evaluation = res;
                }
                function errcodefn (res) {
                    $("#emptyEvaluate tbody").html (
                      `<tr style="font-size: 1.2rem;font-weight:bold; text-align: center">
                            <td colspan="3">暂无评教记录</td>
                        </tr>`
                    )
                }
                post("/ckexamapply/queryevaluation",data,callback,errcodefn,errfn);
            },
            hideEvaluate: function () {
                this.showEvaluate = false;
            },
            RegStuDetail:function (bookingDetail) {
                var _self=this;
                    _self.regStu = {};
                this.showRegStudent = true;
                this.regStudent = bookingDetail.id;
                var data = {
                    id:this.regStudent,
                    command:"ckexammanage/queryckexamstudent",
                    loginid:getCookie('uid'),
                    sessionid:getCookie('sid')
                };
                function callback (res) {
                    _self.regStu = res;
                };
              function errcodefn (res) {
                $("#emptyReg tbody").html(`
                        <tr style="font-size: 1.2rem; font-weight:bold; text-align: center">
                            <td colspan="4">暂无学生报名</td>
                        </tr>`)
              }
                post("/ckexammanage/queryckexamstudent",data,callback,errcodefn,errfn);
            },
            hideRegStuDetail:function () {
                this.showRegStudent = false;
            },
            showBookingDetail: function (bookingDetail, event) {
                this.currentBookingDetail = bookingDetail;
                this.showBookingDetailWin = true;
            },
            closeBookingDetail: function () {
                this.showBookingDetailWin = false;
            },
            query(){
                let _this=this;
                let _json={ "1":{
                    command:"examiner/listexaminer",
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid'),
                    uid:_this.teacherResult
                }};
                let json=JSON.stringify(_json);
                $.ajax({
                    url: "/examiner/listexaminer",
                    type: "POST",
                    data:json,
                    success: function (data) {
                        data = data["1"];
                    },
                    error:function() {
                        errfn();
                    }
                })
            },
        }
    });

    //列表项--点击显示
    $(".booking-list>li").bind("click",function(){
        var index = $(this).index();
        $(".booking-list>li").eq(index).addClass("active1")
            .siblings().removeClass("active1");
        $(".booking-detail>li").eq(index)
            .removeClass("hide").addClass("show")
            .siblings().removeClass("show").addClass("hide");
        vm.getBookingList();
    });


</script>
</body>
</html>