<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>上课班级管理</title>
	<link rel="stylesheet" href="../../css/element.css">
	<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css" />
	 <link rel="stylesheet" href="../../css/scmp/classManage.css" />  
	 <link rel="stylesheet" href="../../css/scmp/scmpcommon.css" /> 
	<!--	<script src="../../js/jquery-3.1.1.min.js"></script>-->
	<script src="../../js/jquery-1.11.3.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/element.js"></script>
	<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="../../layer/xie/layer1.js"></script>
	<script src="../../js/ajaxfileupload.js"></script>
	<script src="../../js/scmp/common.js"></script>
	<script src="../../js/base.js"></script>
	<script src="../../js/scmp/pageComponent.js"></script>
	<style>
		[v-cloak] {
			display: none
		}

		#cur:hover {
			background-color: #F5F5F5;
		}

		.message-student {
			padding-left: 15px;
			padding-right: 15px;
			margin-left: auto;
			margin-right: auto;
		}

		.title {
			background-color: #E5E6E8;
			height: 40px;
			line-height: 40px;
			padding-left: 20px;
		}

		.center {
			margin: 20px 0;
		}

		.pagination {
			width: 100%;
			text-align: right;
		}

		.flex-between {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.addClass>div{
			 display:flex; 
			 justify-content: flex-start;
			 /* align-items:center; */
			 margin-bottom: 10px;
		}
		.addClass div label{
			width:100px;
			text-align:right;
		}
		.table{
			width:calc(100% - 100px)!important;
			border:solid 1px lightgray;
		}
		.table td,th{
			border:solid 1px lightgray;
		}
		.uploadfile{
			cursor:pointer;
			opacity: 0;
			position:absolute;
			top:0;
			left:0;
		}
	</style>
</head>

<body>

	<div class="message-student" v-cloak>
		<p class="title">上课班级管理</p>
		<!--******************按钮 部分***********************-->
		<div class="center flex-between">
			<!-- <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off" @click="add()"
			 style="width: 66px;">新增</button> -->

			 <div class="dropdown load-in" style="cursor: pointer;">
				<el-button type="primary" @click="add">新增</el-button>
				<button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				 	aria-expanded="true">导入
    				<span class="caret"></span>
 				 </button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li style="margin-bottom: 10px;" class="fileUpload">
						<div style="cursor: pointer;" id="cur">
							<div data-loading-text="Loading..." class="manage-addstudent" autocomplete="off" style="margin-left: 20px;">
								 <input type="file" name="file" class="uploadfile" data-role='uploadStuBtn' style="cursor: pointer;opacity:0;"> 
								 导入班级
							</div>
						</div>
					</li>
					<li>
						<a href="/static/excel/上课班级学生导入.xls">下载模板</a>
					</li>
				</ul>
			</div> 
			 <!-- <div>
				<el-button type="primary" @click="add">新增</el-button>
				<el-dropdown @command="handleCommand">
					<el-button type="primary">
						导入<i class="el-icon-caret-bottom el-icon--right"></i>
					</el-button>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item command="a">
							 <input type="file" name="file" class="uploadfile" data-role='uploadStuBtn'>导入班级
						</el-dropdown-item>
						<el-dropdown-item command="b">下载模板</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
			</div>  -->
			<div>
				<el-input placeholder="请输入班级名称" v-model="searchName" style="width:280px;">
					<el-button slot="append" icon="search" @click="search"></el-button>
				</el-input>
			</div>
		</div>
		<!--**********************表格   班级信息**************-->
		<div class="table-responsive">
			<el-table ref="singleTable" :data="classlist" border highlight-current-row style="width: 100%">
				<el-table-column type="index" width="60">
				</el-table-column>
				<el-table-column property="classname" label="班级名称" width="280">
				</el-table-column>
				<el-table-column property="studentnum" label="学生数" width="80">
				</el-table-column>
				<el-table-column property="coursInfo" label="课程">
				</el-table-column>
				<el-table-column property="status" label="上课状态" width="100">
				</el-table-column>
				<el-table-column label="操作" width="330">
					<template scope="scope">
						<el-button @click.native.prevent="addStudent(scope.row)" type="info" size="mini">
							添加学生
						</el-button>
						<el-button @click.native.prevent="student(scope.row.classid)" type="info" size="mini">
							查看学生
						</el-button>
						<el-button @click.native.prevent="edit(scope.row)" type="info" size="mini">
							编辑
						</el-button>
						<el-button @click.native.prevent="finish(scope.row.classid,scope.row.status)" type="info" size="mini">
							结课
						</el-button>
						<el-button @click.native.prevent="delete_message(scope.row.classid)" type="danger" size="mini">
							删除
						</el-button>
					</template>
				</el-table-column>
			</el-table>
			<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]"
			 :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalNum" class="pagination">
			</el-pagination>
		</div>
		<!--******************新增编辑班级信息******************-->
		<el-dialog :title="is_edit?'修改班级':'新增班级'" :visible.sync="dialogVisibleAdd" size="small" :before-close="handleCloseAdd">
			<div class="addClass">
				<div>
					<label><span style="color:red;">*</span>
						班级名称：
					</label>
					<el-input v-model="addClass.name" placeholder="请输入班级名称" style="width:calc(100% - 100px);"></el-input>
				</div>
				<!-- <div>
					<label><span style="color:red;">*</span>
						年级：
					</label>
					<el-select v-model="addClass.grade" placeholder="请选择年级">
						<el-option v-for="item in gradelist" :key="item.paramvalue" :label="item.paramvalue" :value="item.paramvalue"></el-option>
					</el-select>
				</div> -->
				<div>
					<label><span style="color:red;">*</span>
						课程：
					</label>
					<table class="table">
						<thead>
							<tr>
								<th>课程</th>
								<th>老师</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item,index) in addClass.course">
								<td>
									<el-select v-model="item.id" filterable placeholder="请选择">
										<el-option v-for="cour in selectcourses" :key="cour.id" :label="cour.name" :value="cour.id"></el-option>
									</el-select>
								</td>
								<td>
									<el-select v-model="item.teacherid" filterable placeholder="请选择">
										    <el-option v-for="teach in selectteacher" :key="teach.id" :label="teach.name" :value="teach.id"></el-option>    
									</el-select>
								</td>
								<td>
									<el-button type="primary" icon="delete" @click="deleteCourse(index)"></el-button>
								</td>
							</tr>
							<tr>
								<td><el-button type="primary" @click="addCourse"><i class="el-icon-plus"></i></el-button></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button type="primary" @click="addSave">确 定</el-button> 
				<el-button @click="dialogVisibleAdd = false">取 消</el-button>
			</span>
		</el-dialog>
		<!--***********查看学生*****************-->
		<el-dialog title="查看学生" :visible.sync="dialogVisibleStudent" size="small" :before-close="handleCloseStudent">
			<el-button type="primary" @click="deleteAll" style="margin-bottom:20px;">批量删除</el-button>
			<el-table ref="multipleTable" 
				:data="studentlist"
				border 
				tooltip-effect="dark"
				@selection-change="handleSelectionChange"
				  style="width: 100%">
				<el-table-column type="selection" width="55">
				</el-table-column>
				<el-table-column property="code" label="学号" width="120">
				</el-table-column>
				<el-table-column property="name" label="姓名" width="120">
				</el-table-column>
				<el-table-column property="grade" label="年级" width="80">
				</el-table-column>
				<el-table-column property="majorname" label="专业" width="100">
				</el-table-column>
				<el-table-column label="操作">
					<template scope="scope">
						<el-button @click.native.prevent="deleteStudent(scope.row)" type="danger" size="mini">
							删除
						</el-button>
					</template>
				</el-table-column>
			</el-table>
			<span slot="footer" class="dialog-footer">
				<el-button @click="dialogVisibleStudent = false">取 消</el-button>
			</span>
		</el-dialog>
		<!--添加学生  -->
		<el-dialog title="添加学生" :visible.sync="dialogVisibleAddStudent" size="small" :before-close="handleCloseAddStudent">
			<div>
				<label style="width:100px;text-align:right;margin-right:20px;margin-bottom:20px;"><span style="color:red;">*</span>手机号</label>
				<el-select
					v-model="mobile"	
					filterable
					remote
					clearable
					placeholder="请输入手机号"
					:remote-method="remoteMethod"
					:loading="loading">
				<el-option
					v-for="item in mobileList"
					:key="item.value"
					:label="item.label"
					:value="item.value">
				</el-option>
			</el-select>
			</div>
			<div style="display:flex;">
				<label style="width:100px;text-align:right;margin-right:23px;margin-bottom:20px;"><span style="color:red;">*</span>姓名</label>
				<el-input v-model="studentName" disabled style="width:223px;"></el-input>
			</div>
			<span slot="footer" class="dialog-footer">
				<el-button type="primary" @click="addStudentSave">确 定</el-button> 
				<el-button @click="dialogVisibleAddStudent = false">取 消</el-button>
			</span>
		</el-dialog>
	</div>
</body>
<script>
	var vm = new Vue({
		el: ".message-student",
		data: {
			searchName: '',//搜索框
			pageSize: 10,
			currentPage: 1,
			totalNum: 0,
			dialogVisibleStudent: false,
			dialogVisibleAdd: false,
			dialogVisibleAddStudent:false,
			is_edit:false,
			addClass: {
				name: '',
				grade: '',
				course: [
					{ id: '', teacherid: '' }
				]
			},
			addclassShow: false, //新增班级
			studentShow: false, //学生
			editShow: false, //编辑
			finishShow: false, //结课
			deleteShow: false, //删除
			classlist: [], //上课班级列表
			studentlist: [], //学生列表
			selectcourses: [], //选择课程
			selectteacher: [], //选择老师
			courselist: [1], //课程列表
			coursenum: 0, //增加课程列表编号
			addnewcourse: [], //新增课程
			addnewcourselist: [],
			editnewcourse: [],
			gradelist: [], //年级列表
			gradenum: '', //年级
			editnew_name: '',
			perclassid: '',
			new_name: '',
			selgrade: '',
			hehe: '',
			courseindex: 0,
			mobile:'',
			loading:false,
			mobileList:[],
			mobiles:[],
			studentName:'',
			classid:'',
			stuidlist:[],
			classStudentId:'',
		},
		watch:{
			'mobile':function(val){
				this.mobileList.map((item)=>{
					if(val == item.value){
						this.studentName = item.name
					}
				})
			}
		},
		mounted: function () {
			let self = this
			this.init()
			// this.queryMobile()
			//		$(this.$el).on('change', '[data-role=uploadStuBtn]', function(){
			//			importExcel($(this), {
			//				command: 'cls/importStd',
			//				sessionid: getCookie('sid'),
			//				loginid: getCookie('uid')
			//			}, function(data){
			//				if(data && data.errcode == '0') {
			//					layer.msg('操作成功！');
			//				} else {
			//					layer.alert((data && data.errdesc) || '操作失败，请稍后再试！', {
			//					  // icon: 1,
			//					  skin: 'layer-ext-moon'
			//					})
			//				}
			//			}, function(data){
			//				layer.msg((data && data.errdesc) || '操作失败，请稍后再试！');
			//				// console.log(data);
			//			});
			//		});


			$('.fileUpload').on('change', '.uploadfile', function () {

				var val = $('.uploadfile').val();
				if (!val) return;
				var data = {
					command: 'cls/importStd',
					sessionid: getCookie('sid'),
					loginid: getCookie('uid'),
				}
				function callback(res) {

					$('.uploadfile').val('');
					console.log(res)
					if (res && res.errcode == 000000) {
						layer.msg('导入成功')
						// self.pageconf.onchange(1, 10);
						self.init()
					} else {
						layer.msg(res.errdesc)
					}

				}
				importExcel($('.uploadfile'), data, callback, function () {
					$('.uploadfile').val('');
				})
			});

			// this.pageconf.onchange(1, 10);/
			// this.selectcourses = [];
			// this.selectteacher = [];
			// this.gradelist = [];
			my_require.R({
				url: '/cls/selectCourses',
				data: {
					command: "cls/selectCourses",
					sessionid: getCookie('sid'),
					loginid: getCookie('uid'),
				},
				callback: function (base) {
					vm.selectcourses = base.courseslist;
				}
			});
			my_require.R({
				url: '/cls/selectteacher',
				data: {
					command: "cls/selectteacher",
					sessionid: getCookie('sid'),
					loginid: getCookie('uid'),
					requestpage: '1',
					sizeperpage: '1000'
				},
				callback: function (base) {
					vm.selectteacher = base.teacherlist;
					// console.log(vm.selectteacher)
				}
			});
			my_require.R({
				url: '/commparaconf/querycommparaconflist',
				data: {
					command: "commparaconf/querycommparaconflist",
					paramcode: 'gradelist',
				},
				callback: function (base) {
					// vm.selgrade=item.grade;
					vm.gradelist = base.commparaconflist;
				}
			});
		},
		methods: {
			// handleCommand(command) {
			// 	let self = this
			// 	if (command == 'a') {
			// 		var val = $('.uploadfile').val();
			// 		if (!val) return;
			// 		var data = {
			// 			command: 'cls/importStd',
			// 			sessionid: getCookie('sid'),
			// 			loginid: getCookie('uid'),
			// 		}
			// 		function callback(res) {
			// 			$('.uploadfile').val('');
			// 			console.log(res)
			// 			if (res && res.errcode == 000000) {
			// 				// layer.msg('导入成功')
			// 				self.$message({
			// 					type:'success',
			// 					message:'导入成功！'
			// 				})
			// 				// self.pageconf.onchange(1, 10);
			// 				self.init()
			// 			} else {
			// 				// layer.msg(res.errdesc)
			// 				self.$message.error(res.errdesc)
			// 			}

			// 		}
			// 		importExcel($('.uploadfile'), data, callback, function () {
			// 			$('.uploadfile').val('');
			// 		})
			// 	} else if (command == 'b') {
			// 		location.href = '/static/excel/上课班级学生导入.xls'
			// 	}
			// },
			handleCloseAddStudent(){
				this.dialogVisibleAddStudent = false
			},
			handleCloseStudent() {
				this.dialogVisibleStudent = false
			},
			handleCloseAdd() {
				this.dialogVisibleAdd = false
			},
			handleSizeChange(val) {
				this.pageSize = val
				this.init()
			},
			handleCurrentChange(val) {
				this.currentPage = val
				this.init()
			},
			search() {
				this.init()
			},
			queryMobile(mobile){
				let self = this
				my_require.R({
					url: '/cls/querystudent',
					data: {
						command: "cls/querystudent",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						mobile:mobile
					},
					callback: function (base) {
						// vm.pageconf.onchange(vm.pageconf.current, vm.pageconf.itemsPerPage)
						if (base && base.errcode == 0) {
							// self.mobileList = base.studentlist
							// base.studentlist = [
							// 	{mobile:'13585225663',name:'star',id:1},
							// 	{mobile:'13585225863',name:'stargfgfds',id:2},
							// 	{mobile:'13588625663',name:'star',id:1},
							// ]
							base.studentlist.map((item)=>{
								self.mobileList.push({
									label:item.mobile,
									value:item.id,
									name:item.name
								})
							})
							// console.log(self.mobileList)
						}
					}
				});
			},
			addCourse(){//新增课程
				this.addClass.course.push({
					id:'',
					teacherid:''
				})
			},
			deleteCourse(index){//删除课程
				this.addClass.course.splice(index,1)
			},
			// 根据手机号模糊搜索学生
			remoteMethod(query){
					this.mobileList = []
					// console.log(query)
					if (query !== '') {
						this.loading = true;
						setTimeout(() => {
								this.loading = false;
								// this.mobileList = this.mobiles.filter(item => {
								// 	return item.label.toLowerCase().indexOf(query.toLowerCase()) > -1;
								// });
								this.queryMobile(query)
							}, 200);
						} else {
							this.mobileList = [];
					}
			},	
			// 添加学生
			addStudent(row){
				this.dialogVisibleAddStudent = true	
				// console.log(row)
				this.classid = row.classid
				this.mobile = ''
				this.studentName = ''
			},
			// 
			addStudentSave(){
				let self = this
				if(!this.mobile || this.mobile == ''){
					this.$message({
						type:'warning',
						message:'请输入手机号!'
					})
				}else{
					my_require.R({
					url: '/cls/addsclassstudent',
					data: {
						command: "cls/addsclassstudent",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						stuid:self.mobile,
						sclassid:self.classid
					},
					callback: function (base) {
						// vm.pageconf.onchange(vm.pageconf.current, vm.pageconf.itemsPerPage)
						if (base && base.errcode == 0) {
							// self.mobileList = base.studentlist
							self.dialogVisibleAddStudent = false
							self.$message({
								type:'success',
								message:'该学生添加成功！'
							})
							self.init()
						}else if(base && base.errcode == 1811){
							self.$message.error('该学生已经添加过了，请不要重复添加！')
						}
					}
				});
				}
				
			},

			addSave(){//新增确认
				let self = this
				let idArr = []
				let	name = ''
				let	grade = ''
				let	requiredId = []
				let	requiredTea = []
				idArr = this.addClass.course
				name = this.addClass.name
				grade = this.addClass.grade
				// console.log(this.addClass.course)
				if(this.addClass.name == ''){
					this.$message.error('请填写班级名称！')
				}else if(this.addClass.course.length == 0){
					this.$message.error('请为该班级添加课程！')
				}
				if(this.addClass.course.length != 0){
					this.addClass.course.map(item=>{
						if(item.id == ''){
								// this.$message.error('该班级还有课程没有选择！')
								// break
							requiredId.push(item.id)
						}
						if(item.teacherid == ''){
							// this.$message.error('该班级还有老师没有选择！')
							// break
							requiredTea.push(item.teacherid)
						}
					})
					if(requiredId.length !== 0){
						this.$message.error('该班级还有'+requiredId.length+'门课程没有选择！')
					}else if(requiredTea.length !== 0){
						this.$message.error('该班级还有'+requiredTea.length+'个老师没有选择！')
					}else{
						if(!this.is_edit){
							this.sureAddClass(name,grade,idArr)
						}else{
							this.sureedit(name,grade,idArr)
						}
					}
					
				}
			},
			sureAddClass: function (name,grade,idArr) { //确认新增班级
				let self = this
				my_require.R({
					url: '/cls/addsclass',
					data: {
						command: "cls/addsclass",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						name: name,
						courselist: idArr,
						type: '0',
						// grade: grade,
					},
					callback: function (base) {
						// vm.pageconf.onchange(vm.pageconf.current, vm.pageconf.itemsPerPage)
						if (base.errcode == 0) {
							this.dialogVisibleAdd = false
							self.$message({
								type:'success',
								message:'新增成功了！'
							})
							self.init()
						}
					}
				});
				self.dialogVisibleAdd = false;
			},
			init() {
				let self = this
				let data = {
					command: "cls/listsclass",
					sessionid: getCookie('sid'),
					loginid: getCookie('uid'),
					idorname: self.searchName,
					pagenum: self.currentPage, //查询第几页
					perpagenum: self.pageSize, //每页展示多少条,
				};
				function callback(res) {

					self.classlist = [];
					self.classlist = res.sclassList;
					self.totalNum = res.resultsum
					// console.log(vm.classlist)
					vm.classlist.map((item) => {
						if (item.status == 1) {
							item.status = "正常";
						} else {
							item.status = '已结课'
						}
						let coursinfo = []
						item.coursinfo.map((item1) => {
							coursinfo.push(item1.coursename)
						})
						item.coursInfo = coursinfo.toString()
					})
				};
				post("/cls/listsclass", data, callback, errcodefn, errfn)
			},
			remove: function () {
				this.addclassShow = false;
				this.studentShow = false;
				this.editShow = false;
				this.finishShow = false;
				this.deleteShow = false;
			},
			cancel: function () {
				this.addclassShow = false;
				this.studentShow = false;
				this.editShow = false;
				this.finishShow = false;
				this.deleteShow = false;
			},
			add: function () {
				// this.editShow = false;
				// this.addnewcourselist = [];
				// this.addnewcourse = [];
				// this.new_name = '';
				// this.addclassShow = true;
				this.is_edit = false
				this.dialogVisibleAdd = true
				this.addClass.name = ''
				this.addClass.grade = ''
				this.addClass.course = [
					{ id: '', teacherid: ''}
				]
			},
			addclass: function () { //添加班级到新增列表
				this.addnewcourselist.push({
					course: this.selectcourses[0].name,
					teacher: this.selectteacher[0].name
				})
			},
			deletenewclass: function (index) { //删除新增班级课程记录
				var tempArr = [];
				for (var i = 0; i < this.addnewcourselist.length; i++) {
					if (i != index) {
						tempArr.push(vm.addnewcourselist[i])
					}
				};
				this.addnewcourselist = tempArr;
			},
			queryListSclassStd(id){
				my_require.R({
					url: '/cls/listsclassStd',
					data: {
						command: "cls/listsclassStd",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						pagenum: '1',
						perpagenum: '1000',
						id:id
					},
					callback: function (base) {
						vm.studentlist = base.stdlist;
					}
				});
			},
			student: function (classid) { //学生
				// this.studentShow = true;
				this.classStudentId = classid
				this.dialogVisibleStudent = true
				this.queryListSclassStd(classid)
			},
			handleSelectionChange(val){
				// console.log(val)
				this.stuidlist = []
				val.map((item)=>{
					this.stuidlist.push(item.id)
				})
			},
			// 批量删除
			deleteAll(){
				if(this.stuidlist.length == 0){
					this.$message({
						type:'info',
						message:'请先选中说要删除的学生！'
					})
				}else{
					 this.$confirm('此操作将永久删除此班该学生, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						this.deletesclassstudents(this.classStudentId)
						setTimeout(()=> {
							this.init()
						}, 500);
						// this.init()
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});          
					});
				}
				
			},
			deletesclassstudents(id){
				let self = this
				my_require.R({
					url: '/cls/deletesclassstudent',
					data: {
						command: "cls/deletesclassstudent",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						stuidlist:self.stuidlist,
						sclassid:id
					},
					callback: function (base) {
						// vm.studentlist = base.stdlist;
						if(base && base.errcode == 0){
							self.$message({
								type:'success',
								message:'删除成功了！'
							})
							self.queryListSclassStd(self.classStudentId)
						}else{
							self.$message.error(base.errdesc)
						}
					}
				});
			},
			deleteStudent(row){
				// console.log(row)
				this.stuidlist = []
				this.stuidlist.push(row.id)
				 this.$confirm('此操作将永久删除此班该学生, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						this.deletesclassstudents(row.sclassid)
						setTimeout(()=> {
							this.init()
						}, 500);
						this.init()
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});          
					});
			},
			edit: function (row) { //编辑
				this.is_edit = true
				this.dialogVisibleAdd = true
				// console.log(row)
				this.perclassid = row.classid
				this.addClass.name = row.classname
				this.addClass.grade = row.grade
				this.addClass.course = []
				row.coursinfo.map((item,index,arr)=>{
					// alert(parseInt(item.courseid))
					this.addClass.course.push({
						id:parseInt(item.courseid),
						teacherid:item.teacherid
					})
				})
			},
			editclass: function () { //添加班级到新增列表
				this.editnewcourse.push({
					course: this.selectcourses[0].name,
					teacher: this.selectteacher[0].name
				});
			},
			sureedit: function (name,grade,idArr) {
				let self = this
				my_require.R({
					url: '/cls/updatesclass',
					data: {
						command: "cls/updatesclass",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						id: this.perclassid,
						name: name,
						courselist: idArr,
						// grade:grade
					},
					callback: function (base) {
						// vm.pageconf.onchange(vm.pageconf.current, vm.pageconf.itemsPerPage)
						if(base.errcode == 0){
							self.dialogVisibleAdd = false
							self.$message({
								type:'success',
								message:'修改成功了！'
							})
							self.init()
						}

					}
				});
				this.editShow = false;
			},
			deleteeditclass: function (index) {
				var tempArr = []; // console.log(index)
				for (var i = 0; i < vm.editnewcourse.length; i++) {
					if (i != index) {
						tempArr.push(vm.editnewcourse[i])
					}
				};
				vm.editnewcourse = tempArr;
			},
			finish: function (classid, status) { //结课
				// alert(status)
				if (status == '已结课') {
					// layer.msg('该班级已结课！')
					this.$message({
						type: 'warning',
						message: '该班级已结课！'
					})
				} else {
					// this.finishShow = true;
					this.perclassid = classid;
					this.$confirm('确定这个班以后不用上课了吗？', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						this.surefinish()
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消结课！'
						});
					});
				}
			},
			surefinish: function () {
				let self = this
				my_require.R({
					url: '/trainingplan/updatetrainingstatus',
					data: {
						command: "trainingplan/updatetrainingstatus",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						sclassid: self.perclassid,
						trainingstatus: 4,
						sclassstatus: 2
					},
					callback: function (base) {
						if (base.errcode == 0) {
							// vm.pageconf.onchange(vm.pageconf.current, vm.pageconf.itemsPerPage)
							self.init()
							self.$message({
								type: 'success',
								message: '结课成功'
							})
							// layer.msg('结课成功！')
						} else {
							layer.msg('该班级有未结束的课程或已结课！')
							self.$message({
								type: 'error',
								message: '该班级有未结束的课程或已结课！'
							})
						}
					}
				});
				// this.finishShow = false;
			},
			delete_message: function (classid) { //删除
				this.perclassid = classid;
				this.$confirm('确定要删除此班级的信息吗？', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
					// this.surefinish()
					this.suredelete_message()
				}).catch(() => {
					this.$message({
						type: 'info',
						message: '已取消结课！'
					});
				});
			},
			suredelete_message: function () { //确认删除
				let self = this
				my_require.R({
					url: '/cls/deletesclass',
					data: {
						command: "cls/deletesclass",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						id: self.perclassid
					},
					callback: function (base) {
						if (base.errdesc == 'OK') {
							// layer.msg('删除成功')
							self.$message({
								type: 'success',
								message: '删除成功！'
							})
							// vm.pageconf.onchange(vm.pageconf.current, vm.pageconf.itemsPerPage)
							self.init()
						} else {
							// layer.msg('该班级已有课程，不可删除');
							self.$message({
								type: 'warning',
								message: '该班级已有课程，不可删除！'
							})
						}
					}
				});
				// this.deleteShow = false;
			}
		},
		computed: {
			// pages: function () {
			// 	var pag = [];
			// 	if (this.pageconf.current < this.pageconf.showItem) { //如果当前的激活的项 小于要显示的条数
			// 		//总页数和要显示的条数那个大就显示多少条
			// 		var i = Math.min(this.pageconf.showItem, this.pageconf.allpage);
			// 		while (i) {
			// 			pag.unshift(i--);
			// 		}
			// 	} else { //当前页数大于显示页数了
			// 		var middle = this.pageconf.current - Math.floor(this.pageconf.showItem / 2), //从哪里开始
			// 			i = this.pageconf.showItem;
			// 		if (middle > (this.pageconf.allpage - this.pageconf.showItem)) {
			// 			middle = (this.pageconf.allpage - this.pageconf.showItem) + 1
			// 		}
			// 		while (i--) {
			// 			pag.push(middle++);
			// 		}
			// 	}
			// 	return pag
			// }
		},

	})

	function coursedata() {
		$(".coursedata").find('tr').each(function () {
			vm.addnewcourse.push({
				course: $(this).find('#addcourse').find('select').find("option:selected").text(),
				teacher: $(this).find('#addteacher').find('select').find("option:selected").text()
			});
		});
	}

</script>

</html>