<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>OSCE考试>设备管理</title>
		<script src="../../js/vue.js"></script>
		<script src="../../js/element.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/futuredoctorapp/common.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<script src="../../js/scmp/pageComponent3.js"></script>
		<script src="../../js/base.js"></script>
		<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" href="../../css/scmp/cert.css">
		<style>
			[v-cloak] {
				display: none;
			}
			.left{
				float: left;
			}
			.right{
				float: right;
				padding-top: 0;
				margin-left: 20px;
				margin-right: 60px !important;
			}
			.directToPage{
				padding-top: 0 !important;
			}
			.pagination {
				margin: 0;
			}
			#countSearch {
				background-color: #F2F2F2;
				height: 40px;
				line-height: 40px;
				padding-left: 20px;
			}
			
			#cret tr,
			th {
				text-align: center;
				vertical-align: middle;
			}
			
			#cret .middle {
				line-height: 30px;
				vertical-align: middle !important;
			}
		</style>
	</head>

	<body>
		<p id="countSearch">OSCE考试>设备管理</p>
		<div id="cret" v-cloak>
			<template>
				<section>
					<div class="form-inline f12 sel-detail">
						<button @click="add()" class="selDetail btn btn-primary" style=" width: 100px">
                      	  增加
                    </button>
						<form class="form-inline" style="float: right;">
							<div class="form-group">
								<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
								<div class="input-group" id="input-search">

									<input type="text" class="form-control" id="exampleInputAmount" placeholder="设备名称" v-model="pageconf.search">
									<div class="input-group-addon" style="cursor: pointer;" @click="searchBtn">搜索</div>
								</div>
							</div>

						</form>
					</div>
				</section>
				<div style="clear: both;margin-top: 20px;">
					<table class="table table-bordered table-hover">
						<tr class="active">
							<th>设备编号</th>
							<th>设备类型</th>
							<th>设备名称</th>
							<th>所属考组</th>
							<th>设备描述</th>
							<th>操作</th>
						</tr>
						<tr v-for="(value,index) in listoscedevice">
							<td>{{value.id}}</td>
							<td>{{value.devicetypecn}}</td>
							<td>{{value.devicename}}</td>
							<td>{{value.oscegroup}}</td>
							<td>{{value.devicespec}}</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs" @click="edui(value)">编辑</button>
								<button type="button" class="btn btn-primary btn-xs" @click="delete_room(value)">删除</button>
							</td>
						</tr>
					</table>
				</div>
			</template>
			<page_component :pageconf="pageconf" :pages="pages"></page_component>
		</div>
		<script>
			var vm = new Vue({
				el: '#cret',
				data: {
					listoscedevice: [], //考区列表
					pageconf: {
						itemsPerPage: 10,
						search:'',
						current: 1, //默认显示第一页
						showItem: 10, //最多显示多少页，自己定义
						allpage: '', //总共多少页，根据请求返回结果计算
						totalnum: '', //总共条数，请求返回
						onchange: function(index, itemsperpage,a) { //ajax,index表示查看第几页,itemsperpage表示每页多少条
							changepage('page=' + index + '&number=' + itemsperpage);

							var data = {
								command: "oscedevice/listoscedevice",
								sessionid: getCookie('sid'),
								loginid: getCookie('uid'),
								pagenum: index, //查询第几页
								perpagenum: itemsperpage, //每页展示多少条,
                                devicename:a
							};

							function callback(res) {
								console.log(res)
								vm.pageconf.totalnum = res.totalnum;
								vm.pageconf.allpage = Math.ceil(res.totalnum / itemsperpage);
								vm.listoscedevice = [];
								vm.listoscedevice = res.listoscedevice;

							};
							post("/oscedevice/listoscedevice", data, callback, errcodefn, errfn)
						}
					},
					val:''
				},
				watch:{
					'pageconf.search':function(curVal,oldVal){
						if (curVal=='') {
							this.pageconf.onchange(1,10,'')
							this.pageconf.current=1;
							this.pageconf.itemsPerPage=10;
						}else{
							this.pageconf.onchange(1,10,curVal)
							this.pageconf.current=1;
							this.pageconf.itemsPerPage=10;
						}
					}
				},
				computed: {
					pages: function() {
						var pag = [];
						if(this.pageconf.current < this.pageconf.showItem) { //如果当前的激活的项 小于要显示的条数
							//总页数和要显示的条数那个大就显示多少条
							var i = Math.min(this.pageconf.showItem, this.pageconf.allpage);
							while(i) {
								pag.unshift(i--);
							}
						} else { //当前页数大于显示页数了
							var middle = this.pageconf.current - Math.floor(this.pageconf.showItem / 2), //从哪里开始
								i = this.pageconf.showItem;
							if(middle > (this.pageconf.allpage - this.pageconf.showItem)) {
								middle = (this.pageconf.allpage - this.pageconf.showItem) + 1
							}
							while(i--) {
								pag.push(middle++);
							}
						}
						return pag
					}
				},
				mounted: function() {
					this.pageconf.onchange(1,10);
				},
				methods: {
					add: function() {
						layer.open({
							type: 2,
							title: '增加设备',
							shadeClose: true,
							shade: 0.8,
							area: ['800px', '500px'],
							content: 'newDeviceManage.html?page='+findurltype('page')+'&num='+findurltype('number')
						});
					},
					edui: function(value) {
						var self=this;
						self.val=value;
						layer.open({
							type: 2,
							title: '修改设备',
							shadeClose: true,
							shade: 0.8,
							area: ['800px', '500px'],
							content: 'setDeviceManage.html?page='+findurltype('page')+'&num='+findurltype('number') 
						});
					},
					delete_room: function(value) {
						var self = this;
						var L = layer.confirm('确定要删除此房间吗？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							var data = {
								command: 'oscedevice/deleteoscedeviceassociate', //接口地址
								sessionid: getCookie('sid'),
								loginid: getCookie('uid'),
								id: value.id
							};
							function callback(res) {
								layer.msg('成功删除');
                                self.pageconf.onchange(findurltype('page'),findurltype('number'))
							};
							post('/oscedevice/deleteoscedeviceassociate', data, callback, errcodefn, errfn)
						})
					},
					searchBtn:function(){
						var self=this;
						if (self.pageconf.search=='') {
							layer.msg('请输入搜索内容')
						} else{
//							var data = {
//								command: "oscedevice/listoscedevice",
//								sessionid: getCookie('sid'),
//								loginid: getCookie('uid'),
//								devicename:self.pageconf.search
//							};
//
//							function callback(res) {
//								self.pageconf.totalnum = res.totalnum;
//								self.pageconf.current=1;
//								self.pageconf.itemsPerPage=10;
//								self.pageconf.allpage = Math.ceil(res.totalnum / self.pageconf.itemsPerPage);
//								self.listoscedevice = [];
//								self.listoscedevice = res.listoscedevice;
////								self.listoscedevice = res.listoscedevice;
//								
//								
//							};
//							post("/oscedevice/listoscedevice", data, callback, errcodefn, errfn)
                            self.pageconf.onchange(1,10,self.pageconf.search)
						}
						
					}
				}
			});
		</script>
	</body>

</html>