<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>调度顺序</title>
		<script src="../../js/vue.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}
			
			ol {
				list-style: none;
			}
			
			ul {
				list-style: none;
				border-top: 2px solid;
				border-bottom: 2px solid;
				border-right: 2px solid;
			}
			
			ul li {
				margin: 10px;
			}
			
			.add {
				height: 50px;
				line-height: 50px;
				background-color: #999999;
			}
			
			.add>button {
				margin-left: 30px;
			}
			
			ul>li {
				margin: 20px;
			}
		</style>
	</head>

	<body>
		<div id="dispatching">
			<div class="add">
				<button type="button" class="btn btn-primary" @click="newBtn">新建</button>
			</div>
			<!--新建-->
			<ul v-show="addShow">
				<li>
					<button class="btn btn-primary" @click="saveBtnAdd">保存</button>
					<button class="btn btn-primary" style="margin-left: 50px;" @click="deleteNew">取消</button>
				</li>
				<li style="display: flex;">
					<p>考试区域：</p>
					<div class="col-sm-6">
						<select class="form-control input-sm" v-model="roomid">
							<option v-for="itemArea in areaList" :value="itemArea.id">{{itemArea.areaname}}</option>
						</select>
					</div>
				</li>
				<li style="margin: 5px;">
					<div class="col-sm-2" v-for="(itemsortAdd,indexsortAdd) in optionsAdd" v-show="newAdd">
						<select class="form-control input-sm" v-model="itemsortAdd.inputtext">
							<option v-for="itemSelect in roomList" :value="itemSelect">{{itemSelect.roomname}}</option>
						</select>
					</div>
				</li>
				<br />
				<li style="clear: both;">
					<img src="../../images/scmp/jiantou.png" alt="" />
					<p>说明：本次考试将按照箭头方向房间顺序轮转</p>
				</li>
				<li style="clear: both;margin-top: 70px;">
					<p>考试动态图</p>
				</li>
			</ul>
			<!--如果有顺序，并且有数据-->
			<div v-if="dispatchList.length!=0">
				<ol>
					<li v-for="(item,index) in dispatchList">
						<!--保存-->
						<ul v-if="item.curShow">
							<li>
								<button class="btn btn-primary" @click="editBtn(index)">编辑</button>
								<button class="btn btn-primary" style="margin-left: 50px;" @click="cancelExit(index)">删除</button>
							</li>
							<li style="display: flex;">
								<p>考试区域：</p>
								<p>{{item.areaid}}</p>
							</li>
							<li>
								<div class="col-sm-2" v-for="itemsort in item.sort" style="padding-left: 0;" v-if="itemsort.sort!=0">
									<input type="text" class="form-control" readonly v-model="itemsort.roomname" :id="itemsort.id"  />
								</div>
							</li>
							<br />
							<li style="clear: both;">
								<img src="../../images/scmp/jiantou.png" alt="" />
								<p>说明：本次考试将按照箭头方向房间顺序轮转</p>
							</li>
							<li style="clear: both;margin-top: 70px;">
								<p>考试动态图</p>
							</li>
						</ul>
						<!--编辑-->
						<ul v-else>
							<li>
								<button class="btn btn-primary" @click="saveBtn(index)">保存</button>
								<button class="btn btn-primary" style="margin-left: 50px;" @click="cancel(index)">取消</button>
							</li>
							<li style="display: flex;">
								<p>考试区域：</p>
								<p>{{item.areaid}}</p>
							</li>
							<li style="margin: 5px;">
								<div class="col-sm-2" v-for="(itemsort,indexsort) in options">
									<select class="form-control input-sm" v-model="itemsort.inputtext">
										<option v-for="itemSelect in roomList" :value="itemSelect.id">{{itemSelect.roomname}}</option>
									</select>
								</div>
							</li>
							<br />
							<li style="clear: both;">
								<img src="../../images/scmp/jiantou.png" alt="" />
								<p>说明：本次考试将按照箭头方向房间顺序轮转</p>
							</li>
							<li style="clear: both;margin-top: 70px;">
								<button class="btn btn-primary">考试动态图</button>
							</li>
						</ul>
					</li>
				</ol>

			</div>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#dispatching',
			data: {
				addShow: false,
				editShow: false,
				dispatchList: '',
				roomList: [],
				areaList: '',
				sortlist: [],
				sortlistAdd: [],
				options: [],
				optionsAdd: [],
				roomid: '',
				newAdd: false
			},
			mounted() {
				this.searchList();
//				this.getRoomList('');
				this.getAreaList();

			},
			watch: {
				'roomid': function(curVal, oldVal) {
					this.roomList=[];
					this.getRoomList(curVal);
					this.optionsAdd = [];
					if(curVal != '') {
						this.newAdd = true;
					}
				}
			},
			methods: {
				newBtn: function() {
					this.addShow = true;
					this.cancel();

				},
				cancel() { //编辑时点击删除代表不编辑了
					this.searchList();
					this.options=[];
					this.roomList=[];
					this.optionsAdd=[];
				},
				cancelExit: function(index) {
					var self = this;
					var deleteIndex = index;
					layer.confirm('确定要删除吗？', {
						btn: ['确定', '取消']
					}, function(index) {
						var data = {
							command: 'osceroomexisting/deleteosceroomexistingsort',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							areaid: self.dispatchList[deleteIndex].sort[0].areaid
						}

						function callback(res) {
							layer.msg('删除成功！')
							setTimeout(function() {
								self.searchList();
							}, 50)

						}
						post('/osceroomexisting/deleteosceroomexistingsort', data, callback, errcodefn, errfn)
					}, function() {
						closeAll();
					})
				},
				deleteNew: function() {
					this.addShow = false;
					this.newAdd = false;
					this.options=[];
					this.roomList=[];
					this.optionsAdd=[];
				},
				editBtn: function(index) {
					var self = this;
					self.sortlist = [];
					var data = {
						command: 'osceroomexisting/listroomexistingsort',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid')
					}

					function callback(res) {
						self.dispatchList = res.listroomexistingsort;
						for(var i = 0; i < self.dispatchList.length; i++) {
							vm.$set(self.dispatchList[i], 'curShow', true);
						}
						vm.$set(self.dispatchList[index], 'curShow', false);
						for(var j = 0; j < self.dispatchList[index].sort.length; j++) {
                            if (self.dispatchList[index].sort[j].roomType==3) {
                            	self.options.push({ inputtext: '' })
                            }
							
						}
						console.log(self.dispatchList[index]);
						var num=0;
						for(var j = 0; j < self.dispatchList[index].sort.length; j++) {
							if (self.dispatchList[index].sort[j].sort==0) {
								self.options[j].inputtext = '';
								num++;
							}else{
								self.options[j-num].inputtext = self.dispatchList[index].sort[j].id
							}
							
						}
					}
					post('/osceroomexisting/listroomexistingsort', data, callback, errcodefn, errfn)

					self.getRoomList(self.dispatchList[index].sort[0].areaid);
				},
				saveBtn: function(index) {
					var self = this;
					for(var i = 0; i < self.options.length; i++) {
						if (self.options[i].inputtext!='') {
								self.sortlist.push({
								id: self.options[i].inputtext,
								sort: i + 1
							})
						}
						
					}
					var listId=[];
					for (var i=0;i<self.sortlist.length;i++) {
						if (self.sortlist[i].id!='') {
							listId.push(self.sortlist[i].id)
						}
					}
					listId=listId.unique1();
					if (listId.length!=self.sortlist.length) {
						layer.msg('该考试区域下面的房间不能重复选择')
						self.sortlist=[];
						return
					}
					var data = {
						command: 'osceroomexisting/updateosceroomexistingsort',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						sortlist: self.sortlist
					}

					function callback(res) {
						self.options = [];
						self.searchList();
                        self.roomList=[];
					}
					post('/osceroomexisting/updateosceroomexistingsort', data, callback, errcodefn, errfn)
				},
				saveBtnAdd: function() {
					var self = this;
					if(self.roomid != '' && self.optionsAdd.length != 0) {
						for(var i = 0; i < self.optionsAdd.length; i++) {
							if (self.optionsAdd[i].inputtext.id&&self.optionsAdd[i].inputtext.id!='') {
									self.sortlistAdd.push({
										id: self.optionsAdd[i].inputtext.id,
										sort: i + 1,
										areaid: self.roomid
								})
							}
							
						}
						var idList=[];
						for(var i = 0; i < self.sortlistAdd.length; i++) {
							idList.push(self.sortlistAdd[i].id)
						}
						idList = idList.unique1();
						if(idList.length < self.sortlistAdd.length) {
							layer.msg('该考试区域下面的房间不能重复选择')
							self.sortlistAdd=[];
							return
						}
						var data = {
							command: 'osceroomexisting/insertosceroomexistingsort',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							sortlist: self.sortlistAdd,

						}

						function callback(res) {
							if(res && res.errcode == 0) {
								self.optionsAdd = [];
								self.roomList=[];
								self.searchList();
								self.addShow = false;
							} else {
								layer.msg()
							}

						}
						post('/osceroomexisting/insertosceroomexistingsort', data, callback, errcodefn, errfn)
					} else {
						layer.msg('考试区域和考试房间是必填的')
					}

				},
				searchList: function() {
					var self = this;
					var data = {
						command: 'osceroomexisting/listroomexistingsort',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid')
					}

					function callback(res) {
						self.dispatchList = res.listroomexistingsort;
						for(var i = 0; i < self.dispatchList.length; i++) {
							vm.$set(self.dispatchList[i], 'curShow', true);
						}
					}
					post('/osceroomexisting/listroomexistingsort', data, callback, errcodefn, errfn)
				},
				getRoomList: function(val) {
					var self = this;
					var data = {
						command: "osceroomexisting/listosceroomexisting",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						areaid: val
					};

					function callback(res) {
                        for (var i=0;i<res.listosceroomexisting.length;i++) {
                        	if (res.listosceroomexisting[i].roomType==3) {
                        		self.roomList.push(res.listosceroomexisting[i])
                        	}
                        }
						for(var i = 0; i < self.roomList.length; i++) {
							self.optionsAdd.push({ inputtext: '' })
						}
					};
					post("/osceroomexisting/listosceroomexisting", data, callback, errcodefn, errfn)
				},
				getAreaList: function() {
					var self = this;
					var data = {
						command: "oscearea/queryareainfo",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid')
					};

					function callback(res) {

						self.areaList = res.resultlist;
					};
					post("/oscearea/queryareainfo", data, callback, errcodefn, errfn)
				}
			}
		})
		Array.prototype.unique1 = function() {
			var res = [this[0]];
			for(var i = 1; i < this.length; i++) {
				var repeat = false;
				for(var j = 0; j < res.length; j++) {
					if(this[i] == res[j]) {
						repeat = true;
						break;
					}
				}
				if(!repeat) {
					res.push(this[i]);
				}
			}
			return res;
		}
	</script>

</html>