<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/scmp/doorControl.css">
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="../../js/scmp/jquery-ui.js"></script>
    <link rel="stylesheet" href="../../css/assistant/style.css">
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
</head>
<body>
    <div class="container-fluid" v-cloak="">
        <div id="doorUserList">
            <div class="topHandler">
                <button class="btn btn-primary" onclick="addDoorUser()">增加门禁用户</button>
                <div class="search">
                    <input type="text" placeholder="输入用户名">
                    <button class="btn btn-default" onclick="matchDoorUser(this)"> <i class="glyphicon glyphicon-search"></i> 搜索</button>
                </div>
                <div id="userTable">
                    <table class="table table-bordered f12 table-striped table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>卡号</th>
                                <th>电话</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(value,index) in showUserList">
                                <td>{{ index+1 }}</td>
                                <td>{{ value.name }}</td>
                                <td>{{ value.cardno }}</td>
                                <td>{{ value.mobile }}</td>
                                <td class="text-danger poi" @click="deleteOneUser(index)"><i class="glyphicon glyphicon-minus-sign"></i> 删除</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="doorUserFooter">
                    <div class="pageInfo">
                        <div class="f12 left">
                            <span>每页显示</span>
                            <select name="" id="onePage" onchange="setPerPage(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                            <span>条</span>
                        </div>
                        <p class="f12 left">共 <span>{{ totalNum }}</span> 条</p>
                    </div>
                    <div class="pageNumBox">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" onclick="firstPage()">首页</button>
                            <div class="btn-group" id="pageList">
                                <button class="btn btn-default btn-sm" v-for="value in pageList" onclick="toPage(this)">{{ value }}</button>
                            </div>
                            <button class="btn btn-default btn-sm" onclick="lastPage()">尾页</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="shadow" class="hide">
            <div id="addUserBox" class="shadowBox hide">
                <p class="shadowTitle">
                    <span>增加门禁用户</span>
                    <i class="glyphicon glyphicon-remove rightTop" onclick="closeAddUser()"></i>
                </p>
                <div class="setTLeft">
                    <div class="search searchLeft">
                        <input type="text" placeholder="输入用户名">
                        <button class="btn btn-default" onclick="searchUserName(this)"> <i class="glyphicon glyphicon-search"></i> 搜索</button>
                    </div>
                    <ul id="users">
                        <li class="userListHeader">
                            <strong class="s1">姓名</strong>
                            <b> </b>
                            <strong class="s2">工号</strong>
                        </li>
                        <li @click="toggleUser(index)" v-for="(value,index) in userSearched" :data-index="index">
                            <i class="notChoosed"></i>
                            <span>{{ value.name }}</span>&nbsp;&nbsp; <span>{{ value.username }}</span>
                        </li>
                    </ul>
                </div>
                <div class="setTCenter">
                    <div>
                        <button class="btn btn-default" @click="pushDoorUser()">增加 &gt;&gt;</button><br><br>
                        <button class="btn btn-default" @click="pullDoorUser()">&lt;&lt; 删除</button>
                    </div>
                </div>
                <div class="setTRight">
                    <p>已选用户</p>
                    <ul class="choosedList" id="choosedUser">
                        <li @click="toggleChoosedUser(index)" v-for="(value,index) in userChoosed" :data-index="index">
                            <span>{{ value.name }}</span>&nbsp;&nbsp; <span>{{ value.username }}</span>
                        </li>
                    </ul>
                </div>
                <div class="bottomBtns">
                    <button class="btn btn-primary" @click="saveAddUser()">确 定</button>&nbsp;&nbsp;
                    <button class="btn btn-default" onclick="closeAddUser()">关 闭</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var doorId=window.location.href.split("=")[1];
        var vm=new Vue({
            el:'.container-fluid',
            data:{
                showUserList:[],
                pageList:[1],
                totalNum:"",
                userSearched:[],
                userChoosed:[]
            },
            methods:{
                saveAddUser:function(){
                    var self=this;
                    if(self.userChoosed.length==0){//已选不能为空
                        layer.msg("请选择需要添加的用户");
                        return
                    };
                    var sendUserList=[];//接口输入用户数组
                    for(var i=0;i<self.userChoosed.length;i++){
                        sendUserList.push({
                            doorctrl_id:getCookie("doorctrlid"),
                            doorctrl_sn:getCookie("doorctrlsn"),
                            door_id:getCookie("doorid"),
                            door_num:getCookie("doornum"),
                            userid:self.userChoosed[i].uid,
                            name:self.userChoosed[i].name,
                            user_code:self.userChoosed[i].username,
                            cardno:self.userChoosed[i].cardno
                        })
                    };
                    var data={
                        command:"dooraccesscontrol/adddooruser",
                        sessionid:getCookie('sid'),
                        loginid:getCookie('uid'),
                        userlist:sendUserList
                    };
                    function callback(res){
                        layer.alert('成功给 '+ getCookie('doorname') +' 添加 '+data.userlist.length+' 个用户 ',{icon:1,title:"成功提示"});
                        $("#shadow").addClass("hide");
                        $("#addUserBox").addClass("hide");
                        var numPerPage=$("#onePage").val();
                        getDoorUser(1,numPerPage);
                    };
                    post("/dooraccesscontrol/adddooruser",data,callback,errcodefn,errfn)
                },
                toggleUser:function(index){
                    $("#users li:not(.userListHeader):eq("+index+") i").toggleClass("isChoosed");
                    $("#users li:not(.userListHeader):eq("+index+")").toggleClass("grayBg");
                },
                toggleChoosedUser:function(index){
                    $("#choosedUser li:eq("+index+")").toggleClass("grayBg");
                },
                pushDoorUser:function(){//点击增加按钮，增加本门的门禁用户
                    var self=this;
                    for(var i=0;i<$("#users li.grayBg").length;i++){
                        self.userChoosed.push(
                                self.userSearched[$("#users li.grayBg:eq("+i+")").data("index")]
                        );
                    };
                    $("#users li i").each(function(){
                        $(this).removeClass("isChoosed");
                    });
                    $("#users li").each(function(){
                        $(this).removeClass("grayBg")
                    });
                },
                pullDoorUser:function(){//点击删除按钮，移除本门的门禁用户
                    var self=this;
                    for(var i=0;i<$("#choosedUser li.grayBg").length;i++){
                        delete self.userChoosed[$("#choosedUser li.grayBg:eq("+i+")").data("index")];

                    };
                    var temp=[];
                    for(index in self.userChoosed){
                        temp.push(self.userChoosed[index])
                    };
                    self.userChoosed=[];
                    self.userChoosed=temp;
                    $("#choosedUser li").each(function(){
                        $(this).removeClass("grayBg")
                    });
                },
                deleteOneUser:function(index){
                    var self=this;
                    var L=layer.confirm('确定移除 '+self.showUserList[index].name+ ' 对 ' + getCookie('doorname') + ' 的权限吗？', {
                        btn: ['确定','取消'], //按钮
                        icon:0
                    }, function(){
                        var data={
                            command:"dooraccesscontrol/deletedooruser",
                            loginid:getCookie('uid'),
                            sessionid:getCookie('sid'),
                            userlist:[{
                                user_id:self.showUserList[index].user_id,
                                user_code:self.showUserList[index].user_code,
                                doorctrl_id:getCookie("doorctrlid"),
                                doorctrl_sn:getCookie("doorctrlsn"),
                                door_id:getCookie("doorid"),
                                door_num:getCookie("doornum"),
                            }]
                        };
                        function callback(res){
                            layer.msg('成功删除一个用户',{icon:1});
                            var numPerPage=$("#onePage").val();
                            getDoorUser(1,numPerPage);
                        };
                        post("/dooraccesscontrol/deletedooruser",data,callback,errcodefn,errfn)
                    }, function(){
                        layer.close(L)
                    });
                }
            }
        });
        getDoorUser(1,10);//从后台获取该门的用户信息
        function getDoorUser(num1,num2){//从后台获取该门的用户信息
            $("#userTable tbody tr").each(function(){
                $(this).removeClass("hide");
            });
            var data={
                command:"dooraccesscontrol/finddooruser",
                sessionid:getCookie('sid'),
                loginid:getCookie('uid'),
                door_id:doorId,
                pagenum:num1,//查询第几页
                perpagenum:num2//每页展示多少条
            };
            function callback(res){
                vm.pageList=[];
                vm.totalNum=res.totalnum;
                var totalPageNum=Math.ceil(res.totalnum/num2);
                for(var i=1;i<=totalPageNum;i++){
                    vm.pageList.push(i);
                };
                vm.showUserList=[];
                vm.showUserList=res.resultlist;
                $("#pageList button").each(function(){
                    $(this).attr("class","btn btn-default btn-sm");
                });
                $("#pageList button:eq("+(num1-1)+")").attr("class","btn btn-primary btn-sm");
            };
            post("/dooraccesscontrol/finddooruser",data,callback,errcodefn,errfn)
        };
        function setPerPage(elem){//用户选择每页显示多少条门禁用户
            var perPageNum=$(elem).val();
            getDoorUser(1,perPageNum)
        };
        function matchDoorUser(elem){
            var value=$(elem).prev().val();
            $("#userTable tbody tr").each(function(){
                $(this).removeClass("hide");
                if($(this).children("td").eq(1).html().indexOf(value)==-1){
                    $(this).addClass("hide")
                }
            })
        };
        function addDoorUser(){
            $("#shadow").removeClass("hide");
            $("#addUserBox").removeClass("hide");
        };
        function closeAddUser(){
            $("#shadow").addClass("hide");
            $("#addUserBox").addClass("hide");
        };
        function toPage(elem){//用户要看哪一页的数据
            var pageNum=$(elem).text();//页数
            var perPageNum=$("#onePage").val();//每页条数
            getDoorUser(pageNum,perPageNum);
        };
        function searchUserName(elem){//增加门禁用户的搜索框
            var input=$(elem).prev().val();
            if(input!="输入用户名"){
                var data={
                    command:"userinfo/queryuserinfobyname",
                    loginid:getCookie('uid'),
                    sessionid:getCookie('sid'),
                    name:input
                };
                function callback(res){
                    if(res.resultlist.length==0){
                        layer.msg("没有匹配的内容，请重新搜索",{icon:5});
                        return
                    };
                    vm.userSearched=res.resultlist;
                    console.log(JSON.stringify(vm.userSearched[0]));
                };
                post("/userinfo/queryuserinfobyname",data,callback,errcodefn,errfn)
            }else{
                layer.msg("请输入用户名")
            }
        };
        function firstPage(){//看首页
            var numPerPage=$("#onePage").val();
            getDoorUser(1,numPerPage);
        };
        function lastPage(){//看尾页
            var numPerPage=$("#onePage").val();
            var totalPage=$("#pageList button").length;
            getDoorUser(totalPage,numPerPage);
        }
    </script>
</body>
</html>