<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>报名管理</title>
	<script src="../../js/vue.js"></script>
	<script src="../../js/element.js"></script>
	<script src="../../js/jquery-1.11.3.js"></script>
	<script src="../../layer/xie/layer1.js"></script>
	<script src="../../js/scmp/common.js"></script>
	<script src="../../js/ajaxfileupload.js"></script>
	<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="../../js/scmp/pageComponent.js"></script>
	<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/element.css">
	<style>
		[v-cloak] {
			display: none;
		}

		#countSearch {
			background-color: #F2F2F2;
			height: 40px;
			line-height: 40px;
			padding-left: 20px;
		}
		#cret {
			padding: 0 15px;
		}
		#cret .address{
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}
		#cret label{
			font-size: 14px;
		}
		#cret tr,th{
			text-align: center;
			vertical-align: middle !important;
			font-size: 12px;
		}
		#cret .middle{
			line-height: 30px;
			vertical-align: middle !important;
		}
		.table-bordered>tbody>tr>td{
			padding:8px 4px !important;
		}
		.left{
			float: left;
			padding-top: 20px
		}
		.right{
			float: right;
		}
		.name{
			min-width: 50px;
		}
		.dropdown-menu{
			top: 85px;
			left: 118px;
		}
	</style>
</head>
<body>
<p id="countSearch">报名管理</p>
<div id="cret" v-cloak>
	<div class="form-group" style="margin-bottom: 0">
		<button @click = "addOne" class="selDetail btn btn-primary" style = " width: 100px">
			新增
		</button>
		<button @click = "dropdown" class="btn btn-default dropdown-toggle " type="button"
				id="dropdownMenu" data-toggle="dropdown" style="margin: 20px;width: 100px"
				aria-haspopup="true" aria-expanded="true" >批量新增
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu" v-show="drop" style="margin: 20px">
			<li style="margin-left: 20px;" class="fileUpload">
				<div  style="width: 100px;height: 34px;position: relative;">
					<input type="file" name="file" class="uploadfile" style="width: 100px;height: 34px;position: absolute;left: 0;top: 0;opacity: 0;">
					导入
				</div>
			</li>
			<li>
				<a href="#" @click="download">导入模板下载</a>
				<!--<a href="../../static/excel/外训人员导入模板.xls">导入模板下载</a>-->
			</li>
		</ul>
	</div>

	<template>
		<el-tabs v-model="activeName" @tab-click="handleClick">
			<el-tab-pane label="待审核" name="first">
				<section>
					<div class="form-inline f12 sel-detail">
						<div class="form-group">
							<label>姓名：</label>
							<input type="text" class="form-control" v-model="sername_1">
						</div>
						<div class="form-group">
							<label>手机号码：</label>
							<input type="text" class="form-control" v-model= "serphone_1" >
						</div>
						<div class="form-group">
							<label>报名项目：</label>
							<select class="form-control" v-model="plan_id_1" style="margin: 15px 0;">
								<option :value="-1">全部</option>
								<option v-for="item in planList" :value="item.trainingplanid">{{item.trainingname}}</option>
							</select>
						</div>
						<div style="width:100%; margin-bottom: 15px" >
							<button @click = "search1(1,10)" class="selDetail btn btn-primary" style = " width: 100px">
								查询
							</button>
							<button @click = "exportMsg1()" class="selDetail btn btn-default" style = " width: 100px">
								导出
							</button>
						</div>
					</div>
				</section>
				<div style="clear: both;">
					<table class="table table-bordered table-hover">
						<tr class="active">
							<th>序号</th>
							<th class="name">姓名</th>
							<th>手机号码</th>
							<th>报名项目</th>
							<th>报名时间</th>
							<th>发票抬头</th>
							<th>纳税人识别号</th>
							<th>联系地址</th>
							<th style="min-width:93px">操作</th>
						</tr>
						<tr v-for="(value1,index1) in auditlist" :data-id="value1.single_id">
							<td>{{index1+1}}</td>
							<td>{{value1.username}}</td>
							<td>{{value1.mobile}}</td>
							<td>{{value1.name}}</td>
							<td>{{value1.bmtime}}</td>
							<td>{{value1.invoiceheader}}</td>
							<td>{{value1.taxpayernumber}}</td>
							<td style="width:10%;">{{value1.address}}</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs" @click="details1(value1)">查看</button>
								<button type="button" class="btn btn-primary btn-xs" @click="auditing1(value1)">审核</button>
							</td>
						</tr>
					</table>
				</div>
			</el-tab-pane>
			<!--待缴费-->
			<el-tab-pane label="待缴费" name="second">
				<section>
					<div class="form-inline f12 sel-detail">
						<div class="form-group">
							<label>姓名：</label>
							<input type="text" class="form-control" v-model="sername_2">
						</div>
						<div class="form-group">
							<label>手机号码：</label>
							<input type="text" class="form-control" v-model= "serphone_2" >
						</div>
						<div class="form-group">
							<label>报名项目：</label>
							<select class="form-control" v-model="plan_id_2" style="margin: 15px 0;">
								<option :value="-1">全部</option>
								<option v-for="item in planList" :value="item.trainingplanid">{{item.trainingname}}</option>
							</select>
						</div>
						<div style="width:100%; margin-bottom: 15px" >
							<button @click = "search2(1,10)" class="selDetail btn btn-primary" style = " width: 100px">
								查询
							</button>
							<button @click = "exportMsg2()" class="selDetail btn btn-default" style = " width: 100px">
								导出
							</button>
						</div>
					</div>
				</section>
				<div style="clear: both;">
					<table class="table table-bordered table-hover">
						<tr class="active">
							<th>序号</th>
							<th class="name">姓名</th>
							<th>手机号码</th>
							<th>报名项目</th>
							<th>培训费用(元)</th>
							<th>报名时间</th>
							<th>发票抬头</th>
							<th>纳税人识别号</th>
							<th>联系地址</th>
							<th style="min-width:181px">操作</th>
						</tr>
						<tr v-for="(value1,index1) in pendinglist">
							<td>{{index1+1}}</td>
							<td>{{value1.username}}</td>
							<td>{{value1.mobile}}</td>
							<td>{{value1.name}}</td>
							<td>{{value1.money}}</td>
							<td>{{value1.bmtime}}</td>
							<td>{{value1.invoiceheader}}</td>
							<td>{{value1.taxpayernumber}}</td>
							<td style="width: 12%;">{{value1.address}}</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs" @click="details2(value1)">查看</button>
								<button type="button" class="btn btn-primary btn-xs" @click="payment(value1)">缴费成功</button>
								<button type="button" class="btn btn-primary btn-xs" @click="cancle(value1)">取消报名</button>
							</td>
						</tr>
					</table>
				</div>
			</el-tab-pane>
			<!--已缴费-->
			<el-tab-pane label="已缴费" name="third">
				<section>
					<div class="form-inline f12 sel-detail">
						<div class="form-group">
							<label>姓名：</label>
							<input type="text" class="form-control" v-model="sername_3">
						</div>
						<div class="form-group">
							<label>手机号码：</label>
							<input type="text" class="form-control" v-model= "serphone_3" >
						</div>
						<div class="form-group">
							<label>报名项目：</label>
							<select class="form-control" v-model="plan_id_3" style="margin: 15px 0;">
								<option :value="-1">全部</option>
								<option v-for="item in planList" :value="item.trainingplanid">{{item.trainingname}}</option>
							</select>
						</div>
						<div style="width:100%; margin-bottom: 15px" >
							<button @click = "search3(1,10)" class="selDetail btn btn-primary" style = " width: 100px">
								查询
							</button>
							<button @click = "exportMsg3()" class="selDetail btn btn-default" style = " width: 100px">
								导出
							</button>
						</div>
					</div>
				</section>
				<div style="clear: both;">
					<table class="table table-bordered table-hover">
						<tr class="active">
							<th>序号</th>
							<th class="name">姓名</th>
							<th>手机号码</th>
							<th>报名项目</th>
							<th>培训费用(元)</th>
							<th>缴费时间</th>
							<th>发票抬头</th>
							<th>纳税人识别号</th>
							<th>联系地址</th>
							<th>缴费回执单号</th>
							<th>操作</th>
						</tr>
						<tr v-for="(value1,index1) in paddingoverlist" style="height: 1rem; ">
							<td>{{index1+1}}</td>
							<td>{{value1.username}}</td>
							<td>{{value1.mobile}}</td>
							<td>{{value1.name}}</td>
							<td>{{value1.money}}</td>
							<td>{{value1.jcreate_time}}</td>
							<td>{{value1.invoiceheader}}</td>
							<td>{{value1.taxpayernumber}}</td>
							<td style="width: 12%">{{value1.address}}</td>
							<td>{{value1.receipt_num}}</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs" @click="details3(value1)">查看</button>
							</td>
						</tr>
					</table>
				</div>
			</el-tab-pane>
			<!--已取消-->
			<el-tab-pane label="已取消" name="fourth">
				<section>
					<div class="form-inline f12 sel-detail">
						<div class="form-group">
							<label>姓名：</label>
							<input type="text" class="form-control" v-model="sername_4">
						</div>
						<div class="form-group">
							<label>手机号码：</label>
							<input type="text" class="form-control" v-model= "serphone_4" >
						</div>
						<div class="form-group">
							<label>报名项目：</label>
							<select class="form-control" v-model="plan_id_4" style="margin: 15px 0;">
								<option :value="-1">全部</option>
								<option v-for="item in planList" :value="item.trainingplanid">{{item.trainingname}}</option>
							</select>
						</div>
						<div style="width:100%; margin-bottom: 15px" >
							<button @click = "search4(1,10)" class="selDetail btn btn-primary" style = " width: 100px">
								查询
							</button>
							<button @click = "exportMsg4()" class="selDetail btn btn-default" style = " width: 100px">
								导出
							</button>
						</div>
					</div>
				</section>
				<div style="clear: both;">
					<table class="table table-bordered table-hover">
						<tr class="active">
							<th>序号</th>
							<th class="name">姓名</th>
							<th>手机号码</th>
							<th>报名项目</th>
							<th>缴费时间</th>
							<th>发票抬头</th>
							<th>纳税人识别号</th>
							<th>联系地址</th>
							<th>操作</th>
						</tr>
						<tr v-for="(value1,index1) in canclelist">
							<td>{{index1+1}}</td>
							<td>{{value1.username}}</td>
							<td>{{value1.mobile}}</td>
							<td>{{value1.name}}</td>
							<td>{{value1.jcreate_time}}</td>
							<td>{{value1.invoiceheader}}</td>
							<td>{{value1.taxpayernumber}}</td>
							<td style="width: 10%;">{{value1.address}}</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs" @click="details4(value1)">查看</button>
							</td>
						</tr>
					</table>
				</div>
			</el-tab-pane>
		</el-tabs>
	</template>
	<page_component :pageconf="pageconf" :pages="pages"></page_component>
</div>
<script>
  var vm = new Vue({
    el: '#cret',
    data: {
      drop:false,
      activeName: 'first',
      auditlist:[],//待审核数组
      pendinglist:[],//代缴费数组
      paddingoverlist:[],//已缴费数组
      canclelist:[],//已取消数组
      planList:[],
      sername_1:'',//待审核搜索名
      serphone_1:'',//待审核搜索号码
      plan_id_1:'-1',//待审核查询时的项目id
      sername_2:'',//待缴费搜索名
      serphone_2:'',//待缴费搜索号码
      plan_id_2:'-1',//待缴费查询时的项目id
      sername_3:'',//已缴费搜索名
      serphone_3:'',//已缴费搜索号码
      plan_id_3:'-1',//已缴费查询时的项目id
      sername_4:'',//已取消搜索名
      serphone_4:'',//已取消搜索号码
      plan_id_4:'-1',//已取消查询时的项目id
      pageconf: {
        itemsPerPage:10,
        current: 1,//默认显示第一页
        showItem: 5,//最多显示多少页，自己定义
        allpage: '',//总共多少页，根据请求返回结果计算
        totalnum: '',//总共条数，请求返回

        onchange: function(index, itemsperpage) { //ajax,index表示查看第几页,itemsperpage表示每页多少条
		  changepage('page=' + index + '&number=' + itemsperpage);

          var approve = {
            command:'approvemanage/querywaitapprove',//接口地址
            sessionid:getCookie('sid'),
            loginid:getCookie('uid'),
//            username:vm.sername_1,
//            plan_id:vm.plan_id,
//            mobile:vm.serphone_1,
            requestpage: index, //查询第几页
            sizeperpage: itemsperpage //每页展示多少条,
          };
          function approve_callback(res) {
            vm.pageconf.totalnum = res.totalcount;
            vm.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
            vm.auditlist =[];
            vm.auditlist=res.discresult;
          };

          var pending={
            command:'approvemanage/querywaitpaly',//接口地址
            sessionid:getCookie('sid'),
            loginid:getCookie('uid'),
//            username:vm.sername_2,
//            plan_id:vm.plan_id,
//            mobile:vm.serphone_2,
            requestpage: index, //查询第几页
            sizeperpage: itemsperpage //每页展示多少条,
          };
          function pending_callback(res){
            vm.pageconf.totalnum = res.totalcount;
            vm.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
            vm.pendinglist =[];
            vm.pendinglist=res.discresult;
          };

          var paddingover={
            command:'approvemanage/querypaly',//接口地址
            sessionid:getCookie('sid'),
            loginid:getCookie('uid'),
            requestpage: index, //查询第几页
            sizeperpage: itemsperpage //每页展示多少条,
          };
          function paddingover_callback(res){
            vm.pageconf.totalnum = res.totalcount;
            vm.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
            vm.paddingoverlist =[];
            vm.paddingoverlist=res.discresult;
          };

          var cancle={
            command:'approvemanage/querycancel',//接口地址
            sessionid:getCookie('sid'),
            loginid:getCookie('uid'),
            requestpage: index, //查询第几页
            sizeperpage: itemsperpage //每页展示多少条,
          };
          function cancle_callback(res){
            vm.pageconf.totalnum = res.totalcount;
            vm.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
            vm.canclelist=[];
            vm.canclelist=res.discresult;
          };

          if(vm.activeName == "first"){
            post("/approvemanage/querywaitapprove", approve, approve_callback, errcodefn, errfn);
		  }else if(vm.activeName == "second"){
            post('/approvemanage/querywaitpaly',pending,pending_callback,errcodefn,errfn);
		  }else if(vm.activeName == "third"){
            post('/approvemanage/querypaly',paddingover,paddingover_callback,errcodefn,errfn);
		  }else if(vm.activeName == "fourth"){
            post('/approvemanage/querycancel',cancle,cancle_callback,errcodefn,errfn)
		  }
        },
      }
    },
    watch: {
      'activeName': function(val, oldVal){
        if (val=='first'){
          	this.show_approve(1,10);
        }else if (val=='second'){
		  	this.show_pending(1,10);
        }else if (val=='third'){
		  	this.show_paddingover(1,10);
        }else if (val=='fourth'){
		  	this.show_cancle(1,10);
        }
      }
    },
	mounted: function() {
//			this.show_approve();
		this.getlist();
		var _this = this;
		setTimeout(function(){
			_this.pageconf.onchange(1,10);
		},100);

		//导入文件
		$('.fileUpload').on('change', '.uploadfile', function(){
			var val = $('.uploadfile').val();
			if(!val) return;
			var data={
				command:'externaltrain/importwxuserwxinfo',
				sessionid:getCookie('sid'),
				loginid:getCookie('uid'),
			}
		function callback(res){
			$('.uploadfile').val('');
			if (res && res.errcode==0) {
				layer.msg('导入成功,已成功导入 '+res.count+' 条')
				_this.drop=false;
				_this.pageconf.onchange(1, 10);
			}else{
				layer.msg(res.errdesc)
			}

		}
		importExcel($('.uploadfile'),data,callback, function(){
			$('.uploadfile').val('');
		})
		});

	},
    computed:{
      pages: function() {
        var pag = [];
        if(this.pageconf.current < this.pageconf.showItem) { //如果当前的激活的项 小于要显示的条数
          //总页数和要显示的条数那个大就显示多少条
          var i = Math.min(this.pageconf.showItem, this.pageconf.allpage);
          while(i) {
            pag.unshift(i--);
          }
        } else { //当前页数大于显示页数了
          var middle = this.pageconf.current - Math.floor(this.pageconf.showItem / 2), //从哪里开始
            i = this.pageconf.showItem;
          if(middle > (this.pageconf.allpage - this.pageconf.showItem)) {
            middle = (this.pageconf.allpage - this.pageconf.showItem) + 1
          }
          while(i--) {
            pag.push(middle++);
          }
        }
        return pag
      }
    },
    methods: {
      addOne:function(){
        layer.open({
          type: 2,
          title: '新增报名',
          shadeClose: true,
          shade: 0.8,
          area: ['60%', '80%'],
          content: 'enroll_add.html',
        });
	  },
      dropdown(){
        this.drop=true;
      },
      download() { //下载模板
        let data = {
          sessionid: getCookie('sid'),
          loginid: getCookie('uid'),
          command: "externaltrain/getexternaltrainmould",
        };
        exportMouldExcel(data);
      },
      exportMsg1() {
        var _self = this;
        var data = {
          command: "externaltrain/exportwxuser",
          sessionid: getCookie('sid'),
          loginid: getCookie('uid'),
          username:_self.sername_1,
          planid:_self.plan_id_1,
          mobile:_self.serphone_1,
		  exporttype:'first',
        };
        exportExcel(data);
      },
      exportMsg2() {
        var _self = this;
        var data = {
          command: "externaltrain/exportwxuser",
          sessionid: getCookie('sid'),
          loginid: getCookie('uid'),
          username:_self.sername_2,
          planid:_self.plan_id_2,
          mobile:_self.serphone_2,
          exporttype:'second',
        };
        exportExcel(data);
      },
      exportMsg3() {
        var _self = this;
        var data = {
          command: "externaltrain/exportwxuser",
          sessionid: getCookie('sid'),
          loginid: getCookie('uid'),
          username:_self.sername_3,
          planid:_self.plan_id_3,
          mobile:_self.serphone_3,
          exporttype:'third',
        };
        exportExcel(data);
      },
      exportMsg4() {
        var _self = this;
        var data = {
          command: "externaltrain/exportwxuser",
          sessionid: getCookie('sid'),
          loginid: getCookie('uid'),
          username:_self.sername_4,
          planid:_self.plan_id_4,
          mobile:_self.serphone_4,
          exporttype:'forth',
        };
        exportExcel(data);
      },
      handleClick(tab, event) {

      },
	  show_approve:function(index, itemsperpage){
		var self=this
		var data={
		  command:'approvemanage/querywaitapprove',//接口地址
		  sessionid:getCookie('sid'),
		  loginid:getCookie('uid'),
		  username:self.sername_1,
		  plan_id:self.plan_id,
		  mobile:self.serphone_1,
		  requestpage: index, //查询第几页
		  sizeperpage: itemsperpage //每页展示多少条,
		};
		function callback(res){
		  self.pageconf.totalnum = res.totalcount;
		  self.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
		  self.auditlist =[];
		  self.auditlist=res.discresult;
		};
		post('/approvemanage/querywaitapprove',data,callback,errcodefn,errfn)
	  },
	  show_pending:function(index, itemsperpage){
		var self=this
		var data={
			command:'approvemanage/querywaitpaly',//接口地址
			sessionid:getCookie('sid'),
			loginid:getCookie('uid'),
			username:self.sername_2,
			plan_id:self.plan_id,
			mobile:self.serphone_2,
			requestpage: index, //查询第几页
			sizeperpage: itemsperpage //每页展示多少条,
		};
		function callback(res){
			self.pageconf.totalnum = res.totalcount;
			self.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
			self.pendinglist =[];
			self.pendinglist=res.discresult;
		};
		post('/approvemanage/querywaitpaly',data,callback,errcodefn,errfn)
	},
	  show_paddingover:function(index, itemsperpage){
		var self=this
		var data={
			command:'approvemanage/querypaly',//接口地址
			sessionid:getCookie('sid'),
			loginid:getCookie('uid'),
			requestpage: index, //查询第几页
			sizeperpage: itemsperpage //每页展示多少条,
		};
		function callback(res){
			self.pageconf.totalnum = res.totalcount;
			self.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
			self.paddingoverlist =[];
			self.paddingoverlist=res.discresult;
		};
		post('/approvemanage/querypaly',data,callback,errcodefn,errfn)
	},
	  show_cancle:function(index, itemsperpage){
		var self=this
		var data={
			command:'approvemanage/querycancel',//接口地址
			sessionid:getCookie('sid'),
			loginid:getCookie('uid'),
          	requestpage: index, //查询第几页
          	sizeperpage: itemsperpage //每页展示多少条,
		};
		function callback(res){
          	self.pageconf.totalnum = res.totalcount;
          	self.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
          	self.canclelist=[];
			self.canclelist=res.discresult;
		};
		post('/approvemanage/querycancel',data,callback,errcodefn,errfn)
	},
      getlist:function(){
        var self=this
        var data={
          command:'trainingplan/querytrainingplanlist',//接口地址
          sessionid:getCookie('sid'),
          loginid:getCookie('uid'),
        };
        function callback(res){
          self.planList=res.list;
        };
        post('/trainingplan/querytrainingplanlist',data,callback,errcodefn,errfn)
      },
      details1:function(value){
        layer.open({
          type: 2,
          title: value.name+'-报名管理详情',
          shadeClose: true,
          shade: 0.8,
          area: ['55%', '63%'],
          content: 'enroll_detail1.html?single_id='+value.single_id,
        });
      },
      details2:function(value){
        layer.open({
          type: 2,
          title: value.name+'-报名管理详情',
          shadeClose: true,
          shade: 0.8,
          area: ['55%', '63%'],
          content: 'enroll_detail2.html?single_id='+value.single_id,
        });
      },
      details3:function(value){
        layer.open({
          type: 2,
          title: value.name+'-报名管理详情',
          shadeClose: true,
          shade: 0.8,
          area: ['55%', '70%'],
          content: 'enroll_detail3.html?single_id='+value.single_id,
        });
      },
      details4:function(value){
        layer.open({
          type: 2,
          title: value.name+'-报名管理详情',
          shadeClose: true,
          shade: 0.8,
          area: ['55%', '70%'],
          content: 'enroll_detail4.html?single_id='+value.single_id
        });
      },
      payment:function(value){
        layer.open({
          type:2,
          title:value.name+"-缴费",
          shadeClose:true,
          shade:0.8,
          area: ['50%', '50%'],
          content: 'enroll_jf.html?single_id='+value.single_id,
        });
      },
      cancle:function(value){
        layer.open({
          type:2,
          title:value.name+"-取消报名",
          shadeClose:true,
          shade:0.8,
          area: ['50%', '50%'],
          content: 'enroll_cancle.html?single_id='+value.single_id
        });
      },
      auditing1:function(value){
        layer.open({
          type:2,
          title:value.name+"-审核",
          shadeClose:true,
          shade:0.8,
          area: ['55%', '60%'],
          content: 'enroll_sp.html?single_id='+value.single_id
        });
      },
      search1:function(index, itemsperpage){
        var self=this
        var data={
          command:'approvemanage/querywaitapprove',//接口地址
          sessionid:getCookie('sid'),
          loginid:getCookie('uid'),
          username:self.sername_1,
          plan_id:self.plan_id_1,
          mobile:self.serphone_1,
          requestpage: index, //查询第几页
          sizeperpage: itemsperpage //每页展示多少条,

        };
        function callback(res){
          self.pageconf.totalnum = res.totalcount;
          self.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
          self.auditlist=[];
          self.auditlist=res.discresult;
        };
        post('/approvemanage/querywaitapprove',data,callback,errcodefn,errfn)
      },
      search2:function(index, itemsperpage){
        var self=this
        var data={
          command:'approvemanage/querywaitpaly',//接口地址
          sessionid:getCookie('sid'),
          loginid:getCookie('uid'),
          username:self.sername_2,
          plan_id:self.plan_id_2,
          mobile:self.serphone_2,
          requestpage: index, //查询第几页
          sizeperpage: itemsperpage //每页展示多少条,
        };
        function callback(res){
          self.pageconf.totalnum = res.totalcount;
          self.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
          self.pendinglist=[];
          self.pendinglist=res.discresult;
        };
        post('/approvemanage/querywaitpaly',data,callback,errcodefn,errfn)
      },
      search3:function(index, itemsperpage){
        var self=this
        var data={
          command:'approvemanage/querypaly',//接口地址
          sessionid:getCookie('sid'),
          loginid:getCookie('uid'),
          username:self.sername_3,
          plan_id:self.plan_id_3,
          mobile:self.serphone_3,
          requestpage: index, //查询第几页
          sizeperpage: itemsperpage //每页展示多少条,
        };
        function callback(res){
          self.pageconf.totalnum = res.totalcount;
          self.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
          self.paddingoverlist=[];
          self.paddingoverlist=res.discresult;
        };
        post('/approvemanage/querypaly',data,callback,errcodefn,errfn)
      },
      search4:function(index, itemsperpage){
        var self=this
        var data={
          command:'approvemanage/querycancel',//接口地址
          sessionid:getCookie('sid'),
          loginid:getCookie('uid'),
          username:self.sername_4,
          plan_id:self.plan_id_4,
          mobile:self.serphone_4,
          requestpage: index, //查询第几页
          sizeperpage: itemsperpage //每页展示多少条,
        };
        function callback(res){
          self.pageconf.totalnum = res.totalcount;
          self.pageconf.allpage = Math.ceil(res.totalcount / itemsperpage);
          self.canclelist =[];
          self.canclelist=res.discresult;
        };
        post('/approvemanage/querycancel',data,callback,errcodefn,errfn)
      },
    }
  });
</script>
</body>

</html>