<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/scmp/newCourse.css">
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="../../js/scmp/jquery-ui.js"></script>
    <link rel="stylesheet" href="../../css/assistant/style.css">
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
    <style>
        #content {
            overflow: hidden;
            width: 575px;
        }

        #content > div {
            float: left;
            padding: 20px;
        }

        .gesearchedstu {
            height: 200px;
            border: 1px solid #ddd;
            overflow-y: scroll;
        }

        .gechoosedstu {
            height: 200px;
            width: 172px;
            border: 1px solid #ddd;
            overflow-y: scroll;
            margin-top: 33px
        }

        .gesearchedstu > li {
            border-bottom: 1px solid #ddd;
        }

        .gechoosedstu > li {
            border-bottom: 1px solid #ddd;
        }

        li.choiced {
            background: red;
        }

        .gestucenter {
            margin-top: 110px;
        }

        .gebtu {
            margin-left: 44%;
        }
    </style>
</head>
<body>
<div class='container-fluid'>
    <div id='content'>
        <div class='gestuleft'>
            <div class='geboxtop'>
                <select name="" id="gegradelist" v-model="grade">
                    <option :value="-1">请选择年级</option>
                    <option v-for="(g,i) in gradeList" v-bind:value="g.gradename">{{g.gradename}}</option>
                </select>
                <select name="" id="geclasslist" v-model="clazz">
                    <option :value="-100">请选择班级</option>
                    <option value="" v-for="(c, i) in classlist" v-bind:value="c.id">{{c.classname}}</option>
                </select>
            </div>
            <div>
                <p class='gelefttitle'>
                    <input type="checkbox" id="selectAll"/>
                    <span>全选</span>
                </p>
                <ul class='gesearchedstu' id="leftBox">
                    <li v-for="(s,i) in stuList" v-bind:data-id="s.id" @click="setChoice">
                        {{s.name}}
                    </li>
                </ul>
            </div>

        </div>
        <div class='gestucenter'>
            <button @click="addStu">增加>></button>
            <br/>
            <button @click="delStu"><
                <删除
            </button>
        </div>
        <div class='gesturight'>
            <div class='geboxtop'>
                已选学员
            </div>
            <ul class='gechoosedstu' id="rightBox">
                <li v-for="(ss, i) in stuList2" v-bind:data-id="ss.stuid" @click="setChoice">
                    {{ss.stuname}}
                </li>
            </ul>
        </div>
    </div>
    <div class="gebtu">
        <button @click="saveStu">保存</button>
        <button @click="geclose()">关闭</button>
    </div>
</div>
</body>
<script>
    $(function () {
        $('#selectAll').click(function () {
            console.log($(this).prop('checked'))
            if ($(this).prop('checked') == true) {
                $('#leftBox li').addClass('choiced');
            } else {
                $('#leftBox li').removeClass('choiced');
            }
        });
//      $('#leftBox li').click(function(){
//          if($(this).hasClass('choiced')){
//              $('#selectAll').prop('checked', false);
//          }
//          $(this).toggleClass('choiced');
//          if($('#leftBox li').length === $('#leftBox li.choiced').length){
//              $('#selectAll').prop('checked', true);
//          }
//      })
    })
</script>
<script>
    var vm = new Vue({
        el: '.container-fluid',
        data: {
            clazz: -100,
            grade: -1,
            stuList: [],
            gradeList: [],
            classlist: [],
            stuList2: [],//已选择的学生列表
        },
        computed: {},
        created: function () {
            //TODO　请求年级数据。下面的gradelist即是结果里面的，回调自己写
            this.getsclasslist()
        },
        watch: {
            grade: function (newval, oldval) {
                var grade = newval
//                  this.gradeList.forEach(g=>{
//                      if(g.gradename == grade){
//                          vm.clsList = g.clslist;
//						}
//					})
                this.gradeList.forEach(function (value) {
                    if (value.gradename == grade) {
                        vm.classlist = value.classlist;
                    }
                })
            },
            clazz: function (newval, oldval) {
                //TODO post 请求班级人员名单
                //假设返回的是result;
                //下面的stulist即result.stulist;
                var self = this
                var json = {
                    command: "cls/listsclassStd",
                    loginid: getCookie('uid'),
                    sessionid: getCookie('sid'),
                    id: newval,
                    pagenum: 1,
                    perpagenum: 1000
                }

                function callback(res) {
                    self.stuList = res.stdlist
                    //{id,sclassid,name,code}
                }

                post("/cls/listsclassStd", json, callback, errcodefn, errfn);
            }
        },
        methods: {
            getsclasslist: function () {
                var self = this
                var json = {
                    command: "cls/listsclassbygrade",
                    loginid: getCookie('uid'),
                    sessionid: getCookie('sid'),
                    pagenum: 1,
                    perpagenum: 1000
                }

                function callback(res) {
                    for (var j = res.sclassList.length-1;j >= 0 ; j--) {
                        if (res.sclassList[j].gradename == null){
                            res.sclassList.splice(j,1);
                        }
                        self.gradeList = res.sclassList
                    }
                }

                post("/cls/listsclassbygrade", json, callback, errcodefn, errfn)
            },
            setChoice: function (e) {
                console.log($(e.target).parent()[0].id == 'leftBox')
                if ($(e.target).parent()[0].id == 'leftBox') {
                    if ($(e.target).hasClass('choiced')) {
                        $('#selectAll').prop('checked', false);
                    }
                    $(e.target).toggleClass('choiced');
                    if ($('#leftBox li').length === $('#leftBox li.choiced').length) {
                        $('#selectAll').prop('checked', true);
                    }
                } else {
                    $(e.target).toggleClass('choiced');
                }
            },
            geclose: function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index)
            },
            saveStu: function (e) {
                var lis = $('#rightBox li');
                var ids = lis.map(function () {
                    return $(this).attr('data-id');
                }).get().join(',');
                console.log(ids);//ids 即是id字符串
//                    $.post('/', {ids: ids}, function () {
//                        //TODO 处理回调
//						//回调函数需要处理vm.stuList和vm.stuList2
//                    })
                if ($(".gechoosedstu>li").length == 0) {
                    layer.msg('请添加学生');
                    return
                }
                ;
                var json = {
                    command: "plan/addstudentplan",
                    sessionid: getCookie('sid'),
                    loginid: getCookie('uid'),
                    stuid: ids,
                    planid: window.location.href.split('=')[1]////控制url
                };
                console.log(JSON.stringify(json))
                function callback(res) {
                    layer.msg('成功保存')
                    setTimeout(function () {
                        layer.closeAll()
                        window.parent.location.reload()
                    }, 3000)
//	                	self.stuList = res.stulist;
                };
                post("/plan/addstudentplan", json, callback, errcodefn, errfn)//新建课程接口
            },
            addStu: function () {
                var lis = $('#leftBox li.choiced');
                var stu = [];
                lis.each(function () {
                    stu.push({stuid: $(this).attr('data-id'), stuname: $(this).text()});
                    $(this).remove();
                });
                this.stuList2 = this.stuList2.concat(stu);
                //TODO 1.0 移除stuList ，这里也可以不用管了，虽然数据是脏的，但是毫无影响
            },
            delStu: function (e) {
                var lis = $('#rightBox li.choiced');
                var stu = [];
                lis.each(function () {
                    stu.push({stuid: $(this).attr('data-id'), stuname: $(this).text()});
                    $(this).remove();
                });
                this.stuList = this.stuList.concat(stu);
                //TODO 2.0移除stuList2
                //同TODO 1.0
            }
        }
    })
</script>
</html>
