<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增开放时间</title>
		<script src="../../js/vue.js"></script>
		<script src="../../js/element.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css">
			html,
			body {
				width: 100%;
				height: 100%;
			}
			
			.addKalendar {
				margin: 0 20px;
			}
			
			.addKalendar .formInput {
				width: 200px;
				margin: 20px 20px 20px 0;
			}
			
			.addKalendar .smallMask {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
				top: 0;
				left: 0;
			}
			
			.addKalendar .first,
			.second {
				display: inline-block;
				font-size: 16px;
				padding: 10px;
				margin: 20px 20px 20px 0;
				border-bottom: 2px solid rgb(172, 172, 124);
				color: rgb(170, 170, 170);
			}
			
			.addKalendar .active {
				border-bottom: 2px solid rgb(255, 214, 41);
				color: rgb(32, 136, 194);
				font-weight: bold;
			}
			
			.addKalendar .next {
				margin: 20px 0;
				text-align: center;
			}
			
			.addKalendar .addBtn {
				margin-right: 20px;
			}
			
			.addKalendar .maskChild {
				background-color: white;
				position: fixed;
				width: 80%;
				left: 10%;
				top: 150px;
			}
			
			.addKalendar .maskBottom {
				text-align: center;
				padding-bottom: 50px;
			}
			
			.addKalendar .maskBtn {
				margin-right: 20px;
				margin-top: 20px;
			}
			
			.addKalendar .addTrain {
				height: 40px;
				line-height: 40px;
				background-color: #F2F2F2;
				margin-bottom: 20px;
				padding-left: 20px;
			}
			

			.addKalendar .el-table::after,
			.el-table::before {
				z-index: -1;
			}
			
			[v-cloak] {
				display: none
			}
			
			.addKalendar .addTimeBtn {
				margin-bottom: 20px;
			}
			.addKalendar .op {
				padding: 0 80px 0 20px;
				height: 42px;
				line-height: 42px;
				border-bottom: 1px solid #eee;
				font-size: 14px;
				color: #333;
				overflow: hidden;
				background-color: #F8F8F8;
				border-radius: 2px 2px 0 0;
			}
			.addKalendar .oa{
				color: rgb(32, 136, 194);
				cursor: pointer;
			}
		</style>
	</head>

	<body>
		<div class="addKalendar" v-cloak>
			<p class="op">
				<span class="oa" @click="back">开放日历设置</span>
				<span>&gt;&gt;新增开放时间</span>
			</p>
			<div>
				<template>
					<el-select v-model="place" filterable placeholder="请选择授课地点" class="formInput">
						<el-option v-for="item in siteList" :key="item.siteid" :label="item.sitename" :value="item.siteid">
						</el-option>
					</el-select>
				</template>
				<span>允许最多训练人数</span>
				<el-input v-model="personNum" placeholder="请输入人数" class="formInput"></el-input>

				<el-select v-model="admin" filterable placeholder="请选择管理员" class="formInput">
					<el-option v-for="item in adminList" :key="item.siteid" :label="item.teacherame" :value="item.teacherid">
					</el-option>
				</el-select>
				<el-button type="primary" @click="training">训练位类型维护</el-button>
			</div>
			<div>
				<span class="first">第一步：设置训练位</span>
				<span class="second">第二步：设置开放时间</span>
			</div>
			<div v-show="first">
				<div>
					<template>
						<el-table :data="chooseAdd" border style="width: 100%">
							<el-table-column label="训练位编号" prop="code">
							</el-table-column>
							<el-table-column label="训练位类型" prop="workstationtypename">
							</el-table-column>
							<el-table-column label="训练项">
								<template scope="scope">
									<span v-for="value in chooseAdd[scope.$index].learnids">{{value.name}}-{{value.type | learntype}}&nbsp;&nbsp;</span>
								</template>
							</el-table-column>
							<el-table-column label="操作">
								<template scope="scope">
									<el-button size="small" type="danger" @click="deleteBtn(scope.$index, scope.row)">删除</el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</div>
				<div class="next">
					<el-button type="primary" class="addBtn" @click="trainAddBtn">增加训练位</el-button>
					<el-button type="primary" @click="toNext">下一步</el-button>
				</div>
			</div>
			<div v-show="second">
				<el-button type="primary" class="addTimeBtn" @click="addTimeBtn">新增开放时间</el-button>
				<div>
					<template>
						<el-table :data="timeDetail" border style="width: 100%">
							<el-table-column label="开放日期" prop="open_day">
							</el-table-column>
							<el-table-column label="时间段">
								<template scope="scope">
									<span v-for="item in timeDetail[scope.$index].times">{{item.open_start_dt |filterFun }}-{{item.open_end_dt | filterFun }} &nbsp;&nbsp;</span>
								</template>
							</el-table-column>
							<el-table-column label="有效期" prop="dates">
							</el-table-column>
							<el-table-column label="操作">
								<template scope="scope">
									<el-button size="small" type="primary" @click="editTime(scope.$index, scope.row)">修改</el-button>
									<el-button size="small" type="danger" @click="deleteTime(scope.$index, scope.row)">删除</el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</div>
				<div class="next">
					<el-button type="primary" class="addBtn" @click="goback">上一步</el-button>
					<el-button type="primary" @click="saveAll">保存</el-button>
				</div>
			</div>
			<!--新增训练位弹出框-->
			<div class="smallMask" v-show="smallMask">
				<div class="maskChild">
					<p class="addTrain">新增训练位</p>
					<template>
						<el-table :data="choosedTotal" border style="width: 90%;margin: auto;">
							<el-table-column label="训练位编号">
								<template scope="scope">
									<el-input v-model="trainNum" placeholder="请输入训练位编号" class="formInput"></el-input>
								</template>
							</el-table-column>
							<el-table-column label="训练位类型">
								<template scope="scope">
									<el-select v-model="trainType" filterable placeholder="请选择训练位类型" class="formInput">
										<el-option v-for="item in exeType" :key="item.siteid" :label="item.traintypename" :value="item.id">
										</el-option>
								</template>
							</el-table-column>
							<el-table-column label="训练项">
								<template scope="scope">
									<span v-for="value in exeListById">{{value.name}}--{{value.type | learntype}}</span>
								</template>
							</el-table-column>
						</el-table>
					</template>
					<div class="maskBottom">
						<el-button type="primary" class="maskBtn" @click="maskSaveBtn">保存</el-button>
						<el-button class="maskBtn" @click="maskCancelBtn">取消</el-button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		Vue.filter('learntype', function(value) { //过滤训练项类型
			if(value == "0") {
				return "在线训练"
			} else if(value == "1") {
				return "模型"
			} else if(value == "2") {
				return "智能设备"
			} else {
				return '出科训练'
			}
		});
		Vue.filter('filterFun', function(val) {
			return val.substring(0, 5)
		});
		var vm = new Vue({
			el: '.addKalendar',
			data: {
				siteList: [], //授课地点列表
				place: '', //选择的授课地点
				personNum: '', //允许设置的最大人数
				adminList: [], //老师列表
				admin: '', //选择的管理员，
				choosedTotal: [1], //新增训练位数组
				exeType: [], //所有训练位类型的数组
				smallMask: false, //增加训练项的弹出框,
				chooseAdd: [], //新增后展示的数组
				trainNum: '', //训练位编号
				trainType: '', //训练位类型
				exeListById: [], //训练项数组
				typenameadd: '', //新增后训练类型的名称
				first: true, //第一步的页面先显示
				second: false, //第二步页面先隐藏
				timeDetail: [], //新增开放时间列表
			    flag:true,
			},
			mounted() {
				this.getPlaceList();
				this.getAdminList();
				$('.first').addClass('active')
			},
			watch: {
				'trainType': function(curVal, oldVal) {
					var self = this;
					self.trainShow = true;
					var data = {
						command: 'learn/querylearninfobyid',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						workstationtypeid: curVal
					};

					function callback(res) {
						self.exeListById = res.learnids;
					};
					post('/learn/querylearninfobyid', data, callback, errcodefn, errfn)
				}
			},
			methods: {

				back(){
					closeAll()
				},
				getPlaceList: function() { //获取授课地点的函数
					var self = this;
					var json = {
						command: "site/sitelist",
						loginid: getCookie('uid'),
						sessionid: getCookie('sid')
					};

					function callback(response) {
						self.siteList = [];
						self.siteList = response.sitelist;

					};
					post("/site/sitelist", json, callback, errcodefn, errfn)
				},
				getAdminList: function() { //获取老师列表
					let self = this;
					var data = {
						command: "cls/teacherlist",
						loginid: getCookie('uid'),
						sessionid: getCookie('sid'),
						roleid: 1 // 0表示全部,1表示 运维管理员, 2 表示 运营管理员,3表示授课老师, 4表示教辅老师
					};

					function callback(res) {
						self.adminList = [];
						self.adminList = res.teacherlist
					};
					post("/cls/teacherlist", data, callback, errcodefn, errfn)
				},
				getExeType: function() { //获取训练位类型
					var self = this;
					var data = {
						command: "learn/querylearnworkstation",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid')
					};

					function callback(res) {
						self.exeType = res.traintypenames
					};
					post("/learn/querylearnworkstation", data, callback, errcodefn, errfn)
				},
				training: function() { //训练位类型维护按钮
					layer.open({
						type: 2,
						title: '训练位类型维护',
						shadeColose: true,
						area: ['90%', '100%'],
						content: 'huaxi_setTraining.html'
					})
				},
				maskSaveBtn: function() { //新增训练项弹出框的保存按钮
					let self = this;
					if(self.trainNum == "") {
						layer.msg('训练位编号不能为空')
						return
					}
					if(self.trainType == "") {
						layer.msg('训练位类型不能为空')
						return
					}
					var flag = true;
					for(var i = 0; i < self.chooseAdd.length; i++) {
						if(self.chooseAdd[i].code == self.trainNum) {
							flag = false;
							break;
						}

					}
					if(!flag) {
						layer.msg('训练位编号不能重复')
						return
					}
					for(var i = 0; i < self.exeType.length; i++) {
						if(self.exeType[i].id == self.trainType) {
							self.typenameadd = self.exeType[i].type;
						}
					}
					if(self.typenameadd == "0") {
						self.typenameadd = "在线训练";
					} else if(self.typenameadd == "1") {
						self.typenameadd = "模型";
					} else if(self.typenameadd == "2") {
						self.typenameadd = "智能设备";
					} else {
						self.typenameadd = '出科训练';
					}
					self.chooseAdd.push({
						code: self.trainNum,
						workstationtypeid: self.trainType,
						workstationtypename: self.typenameadd,
						learnids: self.exeListById
					})
					self.smallMask = false;
					self.exeListById = [];
				},
				trainAddBtn: function() { //新增训练项的增加按钮
					this.getExeType();
					this.smallMask = true;
					this.trainNum = '';
					this.trainType = '';
				},
				maskCancelBtn: function() { //取消按钮
					this.smallMask = false;
					this.trainNum = '';
					this.trainType = '';
					this.exeListById = [];
				},
				deleteBtn: function(index, row) {
					this.chooseAdd.splice(index, 1);
				},
				toNext: function() {
					if(this.chooseAdd.length == 0) {
						layer.msg('请设置训练位');
						return
					}
					this.first = false;
					this.second = true;
					$('.first').removeClass('active');
					$('.second').addClass('active')
				},
				addTimeBtn: function() { //新增开放时间按钮

					layer.open({
						type: 2,
						title: '新增开放时段',
						shadeClose: false,
						shade: 0.7,
						area: ['80%', '90%'],
						content: 'huaxi_addTimeOldTwo.html?pram=0'
					});
				},

				editTime: function(index, row) { //老的修改按钮
					this.dataObj = row;
					this.indexs = index;
					layer.open({
						type: 2,
						title: '新增开放时段',
						shadeClose: false,
						shade: 0.7,
						area: ['80%', '80%'],
						content: 'huaxi_addTimeOldTwo.html?pram=1'
					});
				},
				deleteTime: function(indexs, row) { //删除一条信息按钮
					layer.confirm('确定删除此条开放时间吗？', {
						title: '删除',
						btn: ['确定', '取消']
					}, function() {
						vm.timeDetail.splice(indexs, 1);
						var index = layer.index; //获取当前弹层的索引号
						layer.close(index); //关闭当前弹层F
					}, function() {

					})
				},

				goback: function() { //上一步按钮
					this.first = true;
					this.second = false;
					$('.first').addClass('active');
					$('.second').removeClass('active')
				},
				saveAll: function() { //保存全部按钮
					let self = this;
					if(self.place == '') {
						layer.msg('请选择授课地点')
						return
					}
					if(self.personNum == '') {
						layer.msg('请输入最多训练人数')
						return
					}
					if(self.admin == '') {
						layer.msg('请选择管理员')
						return
					}
					if(self.timeDetail.length == 0) {
						layer.msg('请新增开放时间')
						return
					}
					var sendlearnWorkStation = [];

					var sendaddPlaceOpenTimeInfo = [];
					for(let i = 0; i < self.timeDetail.length; i++) {
						var arr = self.timeDetail[i].open_day.split(',');
						for(let i = 0; i < arr.length; i++) {
							if(arr[i] == '周一') {
								arr[i] = '1';
							} else if(arr[i] == '周二') {
								arr[i] = '2';
							} else if(arr[i] == '周三') {
								arr[i] = '3';
							} else if(arr[i] == '周四') {
								arr[i] = '4';
							} else if(arr[i] == '周五') {
								arr[i] = '5';
							} else if(arr[i] == '周六') {
								arr[i] = '6';
							} else if(arr[i] == '周日') {
								arr[i] = '7';
							}
						}
						sendaddPlaceOpenTimeInfo.push({
							place_id: self.place,
							start_dt: self.timeDetail[i].dates.substring(0, 10) + ' 00:00:00',
							end_dt: self.timeDetail[i].dates.substring(11, 22) + ' 00:00:00',
							opentimes: self.timeDetail[i].times,
							open_day: arr.join(',')
						})
					}
					console.log(sendaddPlaceOpenTimeInfo)
					for(var i = 0; i < self.chooseAdd.length; i++) {
						sendlearnWorkStation.push({
							placeid: self.place,
							code: self.chooseAdd[i].code,
							workstationtypeid: self.chooseAdd[i].workstationtypeid //待验证
						})
					};
					console.log(sendlearnWorkStation)
					var data = {
						command: "learn/addplaceandopentime",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						learnWorkStation: sendlearnWorkStation,
						addPlaceOpenTimeInfo: sendaddPlaceOpenTimeInfo,
						admin: self.admin,
						volume: self.personNum

					};

					function callback(res) {

						if(res && res.errcode == 0) {

							layer.msg('成功设置一条开放训练');
							closeAll();
							window.parent.vm.refreshList();
								this.flag=true;
						} else {
							layer.msg(res.errdesc)
								this.flag=true;
						}
					};
					if(this.flag){
							this.flag=false;
							post('/learn/addplaceandopentime', data, callback, errcodefn, errfn)
					}
					
				}
			}
		})
		vm.$mount('.addKalendar')
	</script>

</html>