<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>设置训练项</title>
		<script src="../../js/vue.js"></script>
		<script src="../../js/element.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css" >
		    .handEdit{
		    	margin: 0 20px;
		    }
			.handEdit .smallMask {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
				top: 0;
				left: 0;
			}
			
			.handEdit .maskChild {
				background-color: white;
				position: fixed;
				width: 80%;
				left: 10%;
				top: 150px;
			}
			
			.handEdit .maskBottomEdit {
				text-align: center;
				padding-bottom: 50px;
			}
			
			.handEdit .maskBtnEdit {
				margin-right: 20px;
				margin-top: 20px;
			}
			
			.handEdit .addTrain {
				height: 40px;
				line-height: 40px;
				background-color: #F2F2F2;
				margin-bottom: 20px;
				padding-left: 20px;
			}
			
			.el-table::after,
			.el-table::before {
				z-index: -1;
			}
			
			.handEdit .place {
				height: 40px;
				line-height: 40px;
			}
			
			.handEdit .addBtn {
				margin:20px 0;
			}
			
			[v-cloak] {
				display: none
			}
			.handEdit .formInput {
				height: 76px;
			}
			.handEdit .el-input__inner{
				margin-top: 20px;
			}
			.handEdit .op {
				padding: 0 80px 0 20px;
				height: 42px;
				line-height: 42px;
				border-bottom: 1px solid #eee;
				font-size: 14px;
				color: #333;
				overflow: hidden;
				background-color: #F8F8F8;
				border-radius: 2px 2px 0 0;
			}
			.handEdit .oa{
				color: rgb(32, 136, 194);
				cursor: pointer;
			}
		</style>
	</head>

	<body>
		<div class="handEdit" v-cloak>
			<p class="op">
				<span class="oa" @click="back">开放日历设置</span>
				<span>&gt;&gt;设置训练项</span>
			</p>
			<p class="place">场地 ：{{getPlace}}</p>
			<el-button type="primary" @click="trainAddBtn" class="addBtn">新增训练项</el-button>
			<div>
				<template>
					<el-table :data="choosedTotal" border style="width: 100%">
						<el-table-column label="训练位编号" prop="code">
						</el-table-column>
						<el-table-column label="训练位类型" prop="type">
						</el-table-column>
						<el-table-column label="训练项">
							<template scope="scope">
								<span v-for="valueChoose in choosedTotal[scope.$index].learnids">{{ valueChoose.name}}-{{valueChoose.type | learntype}}&nbsp;&nbsp;&nbsp;</span>
							</template>
						</el-table-column>
						<el-table-column label="操作">
							<template scope="scope">
								<el-button size="small" type="primary" @click="startBtn(scope.$index, scope.row)" v-if="choosedTotal[scope.$index].status==1">启用</el-button>
								<el-button size="small" type="primary" @click="endBtn(scope.$index, scope.row)" v-if="choosedTotal[scope.$index].status==0">停用</el-button>
								<el-button size="small" type="danger" @click="deleteBtn(scope.$index, scope.row)">删除</el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>
			</div>
			<div class="maskBottomEdit">
				<el-button type="primary" class="maskBtnEdit" @click="saveAll">保存</el-button>
				<el-button class="maskBtnEdit" @click="cancel">取消</el-button>
			</div>
			<!--新增训练位弹出框-->
			<div class="smallMask" v-show="smallMask">
				<div class="maskChild">
					<p class="addTrain">新增训练项</p>
					<template>
						<el-table :data="addTrain" border style="width: 90%;margin: auto;">
							<el-table-column label="训练位编号">
								<template scope="scope">
									<el-input v-model="trainNum" placeholder="请输入训练位编号" class="formInput"></el-input>
								</template>
							</el-table-column>
							<el-table-column label="训练位类型">
								<template scope="scope">
									<el-select v-model="trainType" filterable placeholder="请选择训练位类型" class="formInput">
										<el-option v-for="item in exeType" :key="item.siteid" :label="item.traintypename" :value="item.id">
										</el-option>
								</template>
							</el-table-column>
							<el-table-column label="训练项">
								<template scope="scope">
									<span v-for="value in exeListById">{{value.name}}--{{value.type | learntype}}</span>
								</template>
							</el-table-column>
						</el-table>
					</template>
					<div class="maskBottomEdit">
						<el-button type="primary" class="maskBtnEdit" @click="maskSaveBtn">保存</el-button>
						<el-button class="maskBtnEdit" @click="maskCancelBtn">取消</el-button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		Vue.filter('learntype', function(value) { //过滤训练项类型
			if(value == "0") {
				return "在线训练"
			} else if(value == "1") {
				return "模型"
			} else if(value == "2") {
				return "智能设备"
			} else if(value == "3") {
				return "出科训练"
			} else {
				return "其他";
			}
		});
		var vm = new Vue({
			el: '.handEdit',
			data: {
				placeid: window.location.href.split('=')[1], //上个页面传过来的参数
				choosedTotal: [], //展示列表
				smallMask: false, //新增训练位弹出框的显示/隐藏
				addTrain: [1], //新增训练项的
				trainNum: '', //新增训练位编号
				trainType: '', //新增训练位类型
				exeType: [], //训练项数组
				exeListById: [], //新增训练项列表
				typenameadd: '', //训练位类型名称
				getPlace: '', //场地
				sendlearnWorkStation: [], //保存时上传的数组
			},
			mounted() {
				this.getList();
				this.getExeType();
				this.findPlace();
			},
			watch: {
				'trainType': function(curVal, oldVal) {
					var self = this;
					self.trainShow = true;
					var data = {
						command: 'learn/querylearninfobyid',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						workstationtypeid: curVal
					};

					function callback(res) {
						self.exeListById = res.learnids;
					};
					post('/learn/querylearninfobyid', data, callback, errcodefn, errfn)
				}
			},
			methods: {
				back(){
					closeAll()
				},
				findPlace: function() { //获取场地接口
					var self = this;
					var data = {
						command: "site/findplace",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						id: self.placeid

					}

					function callback(res) {
						self.getPlace = res.roomnum;
					}
					post('/site/findplace', data, callback, errcodefn, errfn)
				},
				getList: function() { //获取已存在的训练项接口
					var self = this;
					self.choosedTotal = [];
					var data1 = {
						command: "learn/listlearnworkstation",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						placeid: self.placeid
					};

					function callback(res) {
						self.choosedTotal = res.learnworkstations;
						for(var i = 0; i < self.choosedTotal.length; i++) {
							self.$set(self.choosedTotal[i], 'type', self.choosedTotal[i].learnids[0].type)
						}
						console.log(self.choosedTotal);
						for(var i = 0; i < self.choosedTotal.length; i++) {
							if(self.choosedTotal[i].type == '0') {
								self.choosedTotal[i].type = '在线训练';
							} else if(self.choosedTotal[i].type == '1') {
								self.choosedTotal[i].type = '模型';
							} else if(self.choosedTotal[i].type == '2') {
								self.choosedTotal[i].type = '智能设备';
							} else if(self.choosedTotal[i].type == '3') {
								self.choosedTotal[i].type = '出科训练';
							} else {
								self.choosedTotal[i].type = '其他';
							}
						}
					}
					post('/learn/listlearnworkstation', data1, callback, errcodefn, errfn)
				},
				getExeType: function() { //获取训练位类型
					var self = this;
					var data = {
						command: "learn/querylearnworkstation",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid')
					};

					function callback(res) {
						self.exeType = res.traintypenames
					};
					post("/learn/querylearnworkstation", data, callback, errcodefn, errfn)
				},
				maskSaveBtn: function() { //新增训练项弹出框的保存按钮
					let self = this;
					if(self.trainNum == "") {
						layer.msg('训练位编号不能为空')
						return
					}
					if(self.trainType == "") {
						layer.msg('训练位类型不能为空')
						return
					}
					var flag = true;
					for(var i = 0; i < self.choosedTotal.length; i++) {
						if(self.choosedTotal[i].code == self.trainNum) {
							flag = false;
							break;
						}

					}
					if(!flag) {
						layer.msg('训练位编号不能重复')
						return
					}
					for(var i = 0; i < self.exeType.length; i++) {
						if(self.exeType[i].id == self.trainType) {
							self.typenameadd = self.exeType[i].type;
						}
					}
					if(self.typenameadd == "0") {
						self.typenameadd = "在线训练";
					} else if(self.typenameadd == "1") {
						self.typenameadd = "模型";
					} else if(self.typenameadd == "2") {
						self.typenameadd = "智能设备";
					} else {
						self.typenameadd = '出科训练';
					}
					self.choosedTotal.push({
						code: self.trainNum,
						workstationtypeid: self.trainType,
						type: self.typenameadd,
						learnids: self.exeListById,
						status: 0
					})
					self.smallMask = false;
					self.exeListById = [];
				},
				trainAddBtn: function() { //新增训练项的增加按钮
					this.smallMask = true;
					this.trainNum = '';
					this.trainType = '';
				},
				maskCancelBtn: function() { //取消按钮
					this.smallMask = false;
					this.trainNum = '';
					this.trainType = '';
					this.exeListById = [];
				},
				saveAll: function() { //设置完成后保存按钮
					let self = this;
					for(var i = 0; i < self.choosedTotal.length; i++) {
						self.sendlearnWorkStation.push({
							workstationtypeid: self.choosedTotal[i].workstationtypeid,
							placeid: self.placeid,
							code: self.choosedTotal[i].code,
							status: self.choosedTotal[i].status,
							id: self.choosedTotal[i].id
						})
					}
					var data = {
						command: "learn/updatelearnplace",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						learnWorkStation: self.sendlearnWorkStation
					}

					function callback(res) {
						if(res && res.errcode == 0) {
							layer.msg('设置成功！');
							closeAll();
							self.choosedTotal=[];
							window.parent.vm.refreshList();
						} else {
							layer.msg(res.errdesc)
						}
					}
					post('/learn/updatelearnplace', data, callback, errcodefn, errfn)
				},
				deleteBtn: function(index, row) {
					layer.confirm('确定要删除本训练位？', {
						title: '删除',
						btn: ['是', '否'] //按钮
					}, function() {
						if(row.id) {
							var data = {
								command: "learn/deletelearnworkstation",
								sessionid: getCookie('sid'),
								loginid: getCookie('uid'),
								id: row.id
							}

							function callback(res) {
								if(res && res.errcode == 0) {
									layer.msg('删除成功')
									vm.getList();
								} else {
									layer.msg(res.errdesc)
								}
							}
							post('/learn/deletelearnworkstation', data, callback, errcodefn, errfn)
						} else {
							vm.choosedTotal.splice(index, 1)
							layer.msg('删除成功')
							var indexs = layer.index; //获取当前弹层的索引号
							setTimeout(function(){
								layer.close(indexs); //关闭当前弹层F
							},1000)
						}

					}, function() {

					});
				},
				startBtn: function(index, row) { //启用按钮
					layer.confirm('确定要启用本训练位吗', {
						title: '启用',
						btn: ['是', '否']
					}, function() {
						vm.choosedTotal[index].status = 0;
						var indexs = layer.index; //获取当前弹层的索引号
						layer.close(indexs); //关闭当前弹层
					})
				},
				endBtn: function(index, row) { //禁用按钮
					layer.confirm('确定要禁用本训练位吗', {
						title: '禁用',
						btn: ['是', '否']
					}, function() {
						vm.choosedTotal[index].status = 1;
						var indexs = layer.index; //获取当前弹层的索引号
						layer.close(indexs); //关闭当前弹层
					})
				},
				cancel: function() {
					this.choosedTotal=[];
					closeAll()
					
				}
			}
		})
	</script>

</html>