<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>实验室预约审核</title>
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../js/scmp/pageComponent4.js"></script>
    <script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="../../assets/bootstrap/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="../../assets/bootstrap/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="../../css/element.css">
    <style>
        [v-cloak] {
            display: none;
        }
        #countSearch {
            background-color: #F2F2F2;
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
        }
        #lab{
            margin: 5px;
        }
        #lab table{
            font-size: 12px;
        }
        #lab tr,#lab th{
            text-align: center;
            vertical-align: middle;
        }
        #lab .titleMsg{
            text-align: left;
        }
        #lab td{
            vertical-align: middle;
        }
        #lab .middle{
            line-height: 30px;
            vertical-align: middle !important;
        }
        #lab label{
            margin-left: 10px;
            font-weight: 100 ;
        }
        i{
            font-size: 18px;
            float: right;
            color: #4c4c4c;
        }

        .right{
            padding-top: 20px;
        }

        /*弹框*/
        .shadow{
            position:fixed;
            top:0;
            left:0;
            background-color: rgba(0,0,0,0.7);
            width:100%;
            height:100%;
            z-index:2;
            display: none;
            font-size: 12px;
        }
        .shadow .shadowTitle{
            background-color: #F7F7F7;
            padding:8px 20px;
            border-bottom:1px solid #EDEDED;
        }
        .shadowBox{
            position:relative;
            top:50%;
            left:50%;
            max-width: 70rem;
            min-height: 30rem;
            margin-left: -30rem;
            margin-top: -18rem;
            background-color:white;
            overflow-y: auto;
        }
        .shadowContent{
            padding:30px;
        }

        .shadow .table>tbody>tr>td,.table>tbody>tr>th{
            border-top: 1px solid transparent;
        }
        .shadow .table>tbody>tr>td{
            height:auto;
            text-align: left;
            padding-left: 5rem;
            max-width: 28rem;
        }
        .vue-win{
            display: block;
        }
    </style>
</head>
<body>
<p id="countSearch">实验室预约审核</p>
<div id="lab" v-cloak>
    <template>
        <el-tabs v-model="activeName">
            <el-tab-pane label="待审核" name="approvewait">
                <section>
                    <div class="form-inline f12 sel-detail">
                        <div class="form-group">
                            <label>实验室名称：</label>
                            <input type="text" class="form-control"  v-model="pageconf.name">
                        </div>
                        <div class="form-group">
                            <label>预约类型：</label>
                            <select class="form-control" v-model="pageconf.type" style="margin: 15px 0;width: 150px">
                                <option value="">全部类型</option>
                                <option value="1">个人预约</option>
                                <option value="2">班级预约</option>
                                <option value="3">出科预约</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>预约时间：</label>
                            <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                                <input id="starttime_1" class="form-control" style="font-size: 13px;width:110px;" type="text">
                                <span class="input-group-addon">至</span>
                                <input id="endtime_1" class="form-control " style="font-size: 13px;width:110px;" type="text">
                            </div>
                        </div>
                        <button @click = "search_wait()" class="selDetail btn btn-primary" style = " width: 100px;margin:10px">
                            查询
                        </button>
                        <p>
                            <button @click = "agree" class="selDetail btn btn-primary" style = " width: 100px;margin:10px">
                                批量通过
                            </button>
                            <button @click = "disagree" class="selDetail btn btn-default" style = " width: 100px;margin:10px">
                                批量不通过
                            </button>
                        </p>
                    </div>
                </section>
                <div style="clear: both;">
                    <table class="table table-bordered table-hover">
                        <tr class="active">
                            <th style="min-width: 56px">
                                <input type="checkbox" :checked="checkAll" @click='checkedAll'/>全选
                            </th>
                            <th>序号</th>
                            <th>实验室名称</th>
                            <th>实验室地址</th>
                            <th>训练内容</th>
                            <th>预约时段</th>
                            <th>预约类型</th>
                            <th>人数<br>或位置</th>
                            <th>申请人</th>
                            <th style="min-width: 145px">操作</th>
                        </tr>
                        <tr v-for="(value1,index1) in applydatas">
                            <td>
                                <input type="checkbox"  :value="value1" v-model="ischeckdate"/>
                            </td>
                            <td>{{index1+1}}</td>
                            <td>{{value1.placename}}</td>
                            <td>{{value1.placeaddress}}</td>
                            <td >
                                <p v-for="(valueDetail,index) in applydatas[index1].learnlist">
                                    {{valueDetail.learnname}}&nbsp;&nbsp;
                                </p>
                            </td>
                            <td>{{value1.applystarttime | substr(0, 16)}}-{{value1.applyendtime | substr(11, 5)}}</td>
                            <td>{{value1.applytype | ordertype}}</td>
                            <td>{{value1.stdnum}}{{value1.stdposition}}</td>
                            <td>{{value1.applyuname}}&nbsp;&nbsp;{{value1.applymobile}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" @click="agree(value1)">通过</button>
                                <button type="button" class="btn btn-primary btn-xs" @click="disagree(value1)">不通过</button>
                                <button type="button" class="btn btn-primary btn-xs" @click="reviewDetail(value1)">详情</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="已审核" name="approve">
                <section>
                    <div class="form-inline f12 sel-detail">
                        <div class="form-group">
                            <label>实验室名称：</label>
                            <input type="text" class="form-control" v-model="pageconf.name">
                        </div>
                        <div class="form-group">
                            <label>预约类型：</label>
                            <select class="form-control" v-model="pageconf.type" style="margin: 15px 0;width: 150px">
                                <option value="">全部类型</option>
                                <option value="1">个人预约</option>
                                <option value="2">班级预约</option>
                                <option value="3">出科预约</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>审核结果：</label>
                            <select class="form-control" v-model="chooseResult" style="margin: 15px 0;width: 150px">
                                <option value="approve" selected="selected">全部结果</option>
                                <option value="approveback">审批不通过</option>
                                <option value="approvepass">审批通过</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>预约时间：</label>
                            <div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
                                <input id="starttime_2" class="form-control" style="font-size: 13px;width:110px;" type="text">
                                <span class="input-group-addon">至</span>
                                <input id="endtime_2" class="form-control" style="font-size: 13px;width:110px;" type="text">
                            </div>
                        </div>
                        <button @click = "search_end()" class="selDetail btn btn-primary" style = " width: 100px;margin:10px">
                            查询
                        </button>
                    </div>
                </section>
                <div style="clear: both;">
                    <table class="table table-bordered table-hover">
                        <tr class="active">
                            <th>序号</th>
                            <th>实验室名称</th>
                            <th>实验室地址</th>
                            <th>训练内容</th>
                            <th>预约时段</th>
                            <th>预约类型</th>
                            <th>人数<br>或位置</th>
                            <th>申请人</th>
                            <th>审核结果</th>
                            <th style="min-width: 145px">操作</th>
                        </tr>
                        <tr v-for="(value2,index2) in applydatas">
                            <td>{{index2+1}}</td>
                            <td>{{value2.placename}}</td>
                            <td>{{value2.placeaddress}}</td>
                            <td>
                                <p v-for="(valueDetail,index) in applydatas[index2].learnlist">
                                    {{valueDetail.learnname}}&nbsp;&nbsp;
                                </p>
                            </td>
                            <td>{{value2.applystarttime | substr(0, 16)}}-{{value2.applyendtime | substr(11, 5)}}</td>
                            <td>{{value2.applytype | ordertype}}</td>
                            <td>{{value2.stdnum}}{{value2.stdposition}}</td>
                            <td>{{value2.applyuname}}&nbsp;&nbsp;{{value2.applymobile}}</td>
                            <td>{{value2.applystatus | resultstatus}}</td>
                            <td><button type="button" class="btn btn-primary btn-xs" @click="reviewDetail(value2)">详情</button></td>
                        </tr>
                    </table>
                </div>
            </el-tab-pane>
        </el-tabs>
    </template>

    <page_component :pageconf="pageconf" :pages="pages"></page_component>
    <!--—————————————————审核弹框———————————————————-->
    <div class = "shadow " :class ="{'vue-win':showDetail}" v-if = "showReview1">
        <div class = "shadowBox">
            <p class = "shadowTitle">
                <span>提示</span>
                <i class="glyphicon glyphicon-remove rightTop" @click = "hideReview()"></i>
            </p>
            <div class=" shadowContent">
                <div style="width: 40rem;height: 18rem;margin: 0 auto;">
                    <p>备注：</p>
                    <form>
                        <textarea cols="60" rows="10" v-model="description1">通过</textarea>
                    </form>
                </div>
            </div>
            <div style="width: 100%;margin-top:20px;text-align: center">
                <button @click="submitReviewAgree()"  class="btn btn-primary" style = " width: 100px;margin: 20px">提交</button>
                <button @click="hideReview()"  class="btn btn-default" style = " width: 100px;margin: 20px">取消</button>
            </div>
        </div>
    </div>
    <div class = "shadow " :class ="{'vue-win':showDetail}" v-if = "showReview2">
        <div class = "shadowBox">
            <p class = "shadowTitle">
                <span>提示</span>
                <i class="glyphicon glyphicon-remove rightTop" @click = "hideReview()"></i>
            </p>
            <div class=" shadowContent">
                <div style="width: 40rem;height: 18rem;margin: 0 auto;">
                    <p>不通过原因：</p>
                    <form>
                        <textarea cols="60" rows="10" v-model="description2">不通过</textarea>
                    </form>
                </div>
            </div>
            <div style="width: 100%;margin-top:20px;text-align: center">
                <button @click="submitReviewDisagree()"  class="btn btn-primary" style = " width: 100px;margin: 20px">提交</button>
                <button @click="hideReview()"  class="btn btn-default" style = " width: 100px;margin: 20px">取消</button>
            </div>
        </div>
    </div>
    <div class = "shadow " :class ="{'vue-win':showDetail}" v-if = "showReview">
        <div class = "shadowBox">
            <p class = "shadowTitle">
                <span>提示</span>
                <i class="glyphicon glyphicon-remove rightTop" @click = "hideReview()"></i>
            </p>
            <div class=" shadowContent" style="text-align: center">请至少选择一条记录进行操作！</div>
            <div style="width: 100%;margin-top:20px;text-align: center">
                <button @click="hideReview()"  class="btn btn-success" style = " width: 100px;margin: 20px">确定</button>
            </div>
        </div>
    </div>
    <!---------------------------————详情弹框-------------------------------------->
    <div class = "shadow" :class ="{'vue-win':showDetail}" v-if="showReviewDetail">
        <div class = "shadowBox">
            <p class = "shadowTitle">
                <span>预约详情</span>
                <i class="glyphicon glyphicon-remove rightTop" @click="closeReviewDetail" style = "font-size: 22px"></i>
            </p>
            <div class="shadowContent1">
                <table class = "table">
                    <tbody>
                    <th class="titleMsg">预约信息</th>
                    <tr>
                        <td>实验室名称：{{shadowDetail.placename}}</td>
                        <td>实验室地址：{{shadowDetail.placeaddress}}</td>
                    </tr>
                    <tr>
                        <td>预约类型：{{shadowDetail.applytype | ordertype}}</td>
                        <td>预约时段：{{shadowDetail.applystarttime | substr(0, 16)}} ~ {{shadowDetail.applyendtime | substr(11, 5)}}</td>
                    </tr>
                    <tr>
                        <td v-if="shadowDetail.applytype == 1 && shadowDetail.applystatus !== 20">预约位置：{{shadowDetail.stdposition}}</td>
                        <td v-if="shadowDetail.applytype == 2 && shadowDetail.applystatus !== 20">占用情况：{{shadowDetail.applystdnum}} / {{shadowDetail.placenum}}</td>
                        <td v-if="shadowDetail.applytype == 2 && shadowDetail.applystatus !== 20">申请人数：{{shadowDetail.stdnum}}</td>
                        <td v-if="shadowDetail.applytype == 3 && shadowDetail.applystatus !== 20">预约人数：{{shadowDetail.volumemax}}</td>
                    </tr>
                    <tr>
                        <td>申请人：{{shadowDetail.applyuname}}&nbsp;&nbsp;{{shadowDetail.applymobile}}</td>
                    </tr>
                    <tr>
                        <td>训练内容：
                            <span v-for="(itemDetail,index) in shadowDetail.learnlist">
                                {{itemDetail.learnname}}&nbsp;&nbsp;
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>预约备注：{{shadowDetail.applycontent}}</td>
                    </tr>
                    <th v-if="shadowDetail.applystatus !== 20 && shadowDetail.applystatus"  class="titleMsg">审核信息</th>
                    <tr v-if="shadowDetail.applystatus !== 20 && shadowDetail.applystatus">
                        <td>审核结果：{{shadowDetail.applystatus | resultstatus}}</td>
                        <td>审核人：{{shadowDetail.approveuname}}.{{shadowDetail.approveumobile}}</td>

                    </tr>
                    <tr v-if="shadowDetail.applystatus !== 20 && shadowDetail.applystatus">
                        <td>审核意见：{{shadowDetail.approvedescirption}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
  Vue.directive('datepicker', {
    inserted (el, binding, vnode) {
      var $el = $(el);
      $el.datepicker({
        language: "zh-CN",
        autoclose: true
      });
    }
  });

  Vue.filter('substr', substr = (str, start, len) => {
    if(str && typeof str === 'string') {
      return "".substr.call(str, start, len);
    }
    return str;
  })

  var vm = new Vue({
    el: '#lab',
    data: {
      activeName: 'approvewait',
      chooseResult: 'approve',
      //审核
      showDetail: true,
      showReview: false,//无备选项时提醒
      showReview1: false,//审核通过弹框
      showReview2: false, //审核不通过弹框
      showReviewDetail: false,//预约详情
      shadowDetail: {},//审核详情
      description1: '同意.',//审核意见（同意）
      description2: '不同意.', //审核意见（不同意）
      checkAll: false,//全选
      ischeckdate: [],//获取选项框数据
      allSelectList: [],//获取的所有数据
      applylistagree: [],//待审核预约列表
      applylistdisagree: [],//待审核预约列表
      applydatas: [],
      pageconf: {
        //查询条件
        name: '',
        type: '',
        value1:'',
        value2:'',

        itemsPerPage: 10,
        current: 1, //默认显示第一页
        showItem: 10, //最多显示多少页，自己定义
        allpage: '', //总共多少页，根据请求返回结果计算
        totalnum: '', //总共条数，请求返回
        onchange: function (index,itemsperpage,name,type,value1,value2) {
          changepage('page=' + index + '&number=' + itemsperpage);
          var data = {
            command: "appointment/batchapproveinfolist",
            sessionid: getCookie('sid'),
            loginid: getCookie('uid'),
            userid: getCookie('uid'),
            page: index, //查询第几页
            reqnum: itemsperpage,//每页展示多少条
            approvestatus: (vm.activeName == 'approve') ? vm.chooseResult : vm.activeName,
            placename: name,
            applytype: type,
            applystart: value1,
            applyend: value2,
          };

          function callback (res) {
            vm.applydatas = [];
            vm.applydatas = res.applydatas;
            vm.pageconf.totalnum = res.count;
            vm.pageconf.allpage = Math.ceil(res.count / itemsperpage);
          };
          post("/appointment/batchapproveinfolist", data, callback, errcodefn, errfn);
        },
      },
    },
    watch: {
      'activeName': function(val){
        var _self = this;
        _self.init(val,1,10);
        _self.pageconf.itemsPerPage=10;
        _self.pageconf.current=1;

        _self.pageconf.name = '';
        _self.pageconf.type = '';
        _self.chooseResult = 'approve';
        $('#starttime_1').val('');
        $('#starttime_2').val('');
        $('#endtime_1').val('');
        $('#endtime_2').val('');
      },
      'ischeckdate':function(){
        var _self = this;
        if(_self.allSelectList.length===_self.ischeckdate.length){
          _self.checkAll=true;
        }else{
          _self.checkAll=false;
        }
      },
    },
    mounted: function() {
      var _self = this;
      setTimeout(function(){
        _self.pageconf.onchange(1,10,_self.pageconf.name,_self.pageconf.type,_self.pageconf.value1,_self.pageconf.value2);
      },100);
    },
    computed:{
      pages:function(){
        var pag = [];
        if( this.pageconf.current < this.pageconf.showItem ){ //如果当前的激活的项 小于要显示的条数
          //总页数和要显示的条数那个大就显示多少条
          var i = Math.min(this.pageconf.showItem,this.pageconf.allpage);
          while(i){
            pag.unshift(i--);
          }
        }else{ //当前页数大于显示页数了
          var middle = this.pageconf.current - Math.floor(this.pageconf.showItem / 2 ),//从哪里开始
            i = this.pageconf.showItem;
          if( middle >  (this.pageconf.allpage - this.pageconf.showItem)  ){
            middle = (this.pageconf.allpage - this.pageconf.showItem) + 1
          }
          while(i--){
            pag.push( middle++ );
          }
        }
        return pag
      }
    },
    filters:{
      ordertype:function (value){
        switch (value){
          case '1': return "个人预约";
            break;
          case '2': return "班级预约";
            break;
          case '3': return "出科预约";
            break;
        }
      },

      resultstatus:function (value){
        switch (value){
          case 20: return "待审批";
            break;
          case 100: return "审批通过";
            break;
          case -10: return "审批未通过";
            break;
        }
      },
    },
    methods: {
      init: function (status,pageindex,pagenum){
        var _self = this;
        var data = {
          command: "appointment/batchapproveinfolist",
          sessionid: getCookie('sid'),
          loginid: getCookie('uid'),
          userid: getCookie('uid'),
          approvestatus:status,
          page: pageindex, //查询第几页
          reqnum: pagenum,//每页展示多少条
        }
        function callback(res){
          _self.pageconf.totalnum = res.count;
          _self.pageconf.allpage = Math.ceil(res.count / pagenum);
          _self.applydatas =[];
          _self.applydatas=res.applydatas;
        };
        post('/appointment/batchapproveinfolist',data,callback,errcodefn,errfn)
      },

      search_wait: function () {
        this.pageconf.value1 = $('#starttime_1').val();
        this.pageconf.value2 =  $('#endtime_1').val();
        this.pageconf.current = 1;
        this.pageconf.onchange(this.pageconf.current,this.pageconf.itemsPerPage,this.pageconf.name,this.pageconf.type,this.pageconf.value1,this.pageconf.value2);
      },
      search_end: function () {
        this.pageconf.value1 = $('#starttime_2').val();
        this.pageconf.value2 =  $('#endtime_2').val();
        this.pageconf.current = 1;
        this.pageconf.onchange(this.pageconf.current,this.pageconf.itemsPerPage,this.pageconf.name,this.pageconf.type,this.pageconf.value1,this.pageconf.value2);
      },

      checkedAll: function() {
        var _self = this;
        var checkdate = [];
        _self.allSelectList = _self.applydatas;
        if (!_self.checkAll) {
          _self.allSelectList.forEach((item) => {
            checkdate.push(item);
          });
        }
        _self.ischeckdate = checkdate;
      },
      agree: function (el) {
        var _self = this;
        _self.applylistagree = [];
        if(el.id == 0 || el.id) {
          _self.showReview1 = true;
          _self.applylistagree.push({id:el.id,applytype:el.applytype,scheduleid:el.scheduleid}) ;
        }else if ($(this.ischeckdate).length == 0){
          _self.showReview = true;
        }else{
          _self.showReview1 = true;
          $(_self.ischeckdate).each(function(index,n){
            _self.applylistagree.push({id:n.id,applytype:n.applytype,scheduleid:n.scheduleid});
          });
        }
      },
      disagree:function (el) {
        var _self = this;
        _self.applylistdisagree = [];
        if(el.id == 0 || el.id) {
          _self.showReview2 = true;
          _self.applylistdisagree.push({id:el.id,applytype:el.applytype,scheduleid:el.scheduleid}) ;
        }else if ($(this.ischeckdate).length == 0){
          _self.showReview = true;
        }else{
          _self.showReview2 = true;
          $(_self.ischeckdate).each(function(index,n){
            _self.applylistdisagree.push({id:n.id,applytype:n.applytype,scheduleid:n.scheduleid})
          });
        }
      },
      hideReview: function () {
        var _self = this;
        _self.showReview = false;
        _self.showReview1 = false;
        _self.showReview2 = false;
      },
      submitReviewAgree: function () {
        var _self = this;
        var data = {
          command:"appointment/batchapprove",
          loginid:getCookie('uid'),
          sessionid:getCookie('sid'),
          approvelist:_self.applylistagree,
          status:'100',
          description: _self.description1,
        };
        function callback(res){
          layer.msg('审核完成', {icon: 1});
          setTimeout(function () {
            _self.showReview1 = false;
          },1200);
          vm.init('approvewait',1,10);
        };
        post('/appointment/batchapprove',data,callback,errcodefn,errfn);
      },
      submitReviewDisagree: function () {
        var _self = this;
        var data = {
          command:"appointment/batchapprove",
          loginid:getCookie('uid'),
          sessionid:getCookie('sid'),
          approvelist:_self.applylistdisagree,
          status:'-10',
          description: _self.description2,
        };
        function callback(res){
          layer.msg('审核完成', {icon: 1});
          setTimeout(function () {
            _self.showReview2 = false;
          },1200);
          vm.init('approvewait',1,10);
        };
        post('/appointment/batchapprove',data,callback,errcodefn,errfn);
      },

      reviewDetail:function(details){
        var _self = this;
        var data = {
          command:'appointment/batchapprovedetail',
          loginid:getCookie('uid'),
          sessionid:getCookie('sid'),
          id:details.id,
          scheduleid:details.scheduleid,
          applytype:details.applytype,
        };
        function callback (res) {
          _self.shadowDetail = res;
        };
        post('/appointment/batchapprovedetail',data,callback,errcodefn,errfn);
        _self.showReviewDetail = true;
      },
      closeReviewDetail:function(){
        var _self = this;
        _self.showReviewDetail = false;
      },
    }
  });
</script>
</body>
</html>
