<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改操作题</title>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/base.js"></script>
    <script src="../../js/scmp/newq_compo.js"></script>
    <script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/scmp/addqcommon.css">
</head>
<body>
<div class="container">
    <cpagetitle :title="pagetitletext"></cpagetitle>
    <cmain :maintitle="maintitle[0]">
        <div class="maincontent">
            <textarea cols="30" rows="10" class="form-control" placeholder="输入题目名称,50字以内" v-model="qname" maxlength="50"></textarea>
        </div>
    </cmain>
    <cmain :maintitle="maintitle[1]">
        <div class="maincontent">
            <textarea cols="30" rows="10" class="form-control" placeholder="输入答案,300字以内" v-model="qanswer" maxlength="300"></textarea>
        </div>
    </cmain>
    <cmain :maintitle="maintitle[2]">
        <div class="flexcenter">
            <span class="labeltitle">所属学科</span>
            <select class="form-control labelcontent" v-model="seldiscipline">
                <option value="">请选择</option>
                <option v-for="(v,i) in disciplinelist" :value="v.id">{{ v.name }}</option>
            </select>
        </div>
        <div class="flexcenter">
            <span class="labeltitle">技能项</span>
            <select class="form-control labelcontent" v-model="learninfo">
                <option value="">请选择</option>
                <option v-for="(v,i) in learninfolist" :value="v.learnid">{{ v.name }}</option>
            </select>
        </div>
    </cmain>
    
    <div class="footerBtn">
    	<button type="button" class="btn btn-primary" @click="submitnewq">确定</button>
		<button type="button" class="btnBg btn btn-primary" @click="close()">关闭</button>
    </div>
</div>
<script>
    var vm=new Vue({
        el:'.container',
        data:{
            qanswer:'',
            qname:'',
            disciplinelist:[],//学科列表
            seldiscipline:'',
            learninfolist:[],//技能项列表
            learninfo:'',
            pagetitletext:'修改题目-操作',//页面标题
            maintitle:['题目名称','题目描述','设置'],//页面主模块标题
        },
        created:function(){
            this.list=window.parent.vm.list;
            this.questionid=window.parent.vm.questionid;
            this.qname=this.list.name;
            this.qanswer=this.list.comment;
            this.seldiscipline=this.list.courseid;
            this.learninfo=this.list.learnid;
        },
        mounted:function(){
            this.querydiscipline();
            this.querylearninfo()
        },
        methods:{
            querydiscipline:function(){//查询学科接口
                var self=this
                var data={
                    command:"cls/selectCourses",
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid')
                }
                function callback(res){
                    self.disciplinelist=res.courseslist
                }
                post("/cls/selectCourses",data,callback,errcodefn,errfn)
            },
            querylearninfo:function(){//查询学科接口
                var self=this
                var data={
                    command:"learn/querylearninfo",
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid')
                }
                function callback(res){
                    self.learninfolist=res.learnids;
                }
                post("/learn/selectCourses",data,callback,errcodefn,errfn)
            },
            submitnewq:function(){//保存添加题目接口
                if(this.qname==''){
                    layer.msg('请输入题干内容')
                    return
                }
                if(this.qanswer==''){
                    layer.msg('请设置正确答案')
                    return
                }
                if(this.seldiscipline==''){
                    layer.msg('请选择题目所属学科')
                    return
                }
                if(this.learninfo==''){
                    layer.msg('请选择题目所属技能项')
                    return
                }
                var data={
                    command:'question/modifyoperationquestioninfo',
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid'),
                    id:this.questionid,
                    questionname:this.qname,
                    usertype:3,
                    questiontypeid:7,
                    courseid:this.seldiscipline,
                    description:this.qanswer,
                    learnid:this.learninfo

                };
                var _this = this;
                function callback(res){
                    var L=layer.confirm('修改成功，是否继续修改当前题目评分表？', {
                        btn: ['是','否'] //按钮
                    }, function(){
                        window.location.assign("./modify_addgrade.html?id="+_this.questionid)
                    }, function(){
                        layer.close(L)
                        window.parent.vm.pageconf.onchange(findurltype('page'),findurltype('number'));
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index)
                    })
                }
                post('/question/modifyoperationquestioninfo',data,callback,errcodefn,errfn)
            },
            close:function(){
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(index)
            }
        }
    })
</script>
</body>
</html>