<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建组合题</title>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/base.js"></script>
    <script src="../../js/scmp/newq_compo.js"></script>
    <script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/scmp/addqcommon.css">
    <style>
        .zuhehandler{
            padding-top:20px;
        }
        .oneq{
            border:1px solid #ddd;
            margin:10px 0;
        }
        .oneq>div{
            position:relative;
        }
        .deleteoneq{
            position:absolute;
            top:20px;
            left:180px;
            font-size: 28px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <cpagetitle :title="pagetitletext"></cpagetitle>
        <cmain :maintitle="maintitle[0]">
            <div class="maincontent">
                <textarea cols="30" rows="10" class="form-control" placeholder="输入题目名称,300字以内" v-model="qname" maxlength="300"></textarea>
            </div>
        </cmain>
        <div class="zuhehandler">
            <button class="btn btn-primary mright20 mleft20" @click="adddanxuan()">添加单选题</button>
            <button class="btn btn-primary mright20" @click="addduoxuan()">添加多选题</button>
            <button class="btn btn-primary mright20" @click="addpanduan()">添加判断题</button>
            <button class="btn btn-primary" @click="addwenda()">添加问答题</button>
        </div>
        <ul>
            <li v-for="(value1,index1) in subitem" class="oneq">
                <div class="danxuan" v-if="subitem[index1].cateid==1">
                    <span class="deleteoneq glyphicon glyphicon-minus-sign" @click="deleteoneq(index1)"></span>
                    <cmain :maintitle="'题目'+(index1+1)+'-单选题'">
                        <div class="maincontent">
                            <textarea cols="30" rows="10" class="form-control" placeholder="输入题目名称,300字以内" v-model="subitem[index1].itemquestion" maxlength="300"></textarea>
                        </div>
                    </cmain>
                    <cmain :maintitle="maintitle[1]">
                        <ul class="addoptions">
                            <li v-for="(value2,index2) in subitem[index1].questionitem">
                                <span class="itemname">{{ index2 | numtoa }}</span>
                                <input type="text" placeholder="输入选项内容，100字以内" class="form-control" v-model="value2.content" maxlength="100">
                                <b @click="addoption(index1,index2)" v-show="value2.handler=='add'" class="glyphicon glyphicon-plus-sign optionhandler"></b>
                                <b @click="deleteoption(index1,index2)" v-show="value2.handler=='delete'" class="glyphicon glyphicon-minus-sign optionhandler"></b>
                            </li>
                        </ul>
                    </cmain>
                    <cmain :maintitle="maintitle[2]">
                        <div>
                            <label class="radio-inline" v-for="(value3,index3) in subitem[index1].questionitem">
                                <input type="radio" :value="index3 | numtoa" :name="index1" v-model="subitem[index1].answer"> {{ index3 | numtoa }}
                            </label>
                        </div>
                    </cmain>
                </div>
                <div class="duoxuan" v-else-if="subitem[index1].cateid==2">
                    <span class="deleteoneq glyphicon glyphicon-minus-sign" @click="deleteoneq(index1)"></span>
                    <cmain :maintitle="'题目'+(index1+1)+'-多选题'">
                        <div class="maincontent">
                            <textarea cols="30" rows="10" class="form-control" placeholder="输入题目名称,300字以内" v-model="subitem[index1].itemquestion" maxlength="300"></textarea>
                        </div>
                    </cmain>
                    <cmain :maintitle="maintitle[1]">
                        <ul class="addoptions">
                            <li v-for="(value2,index2) in subitem[index1].questionitem">
                                <span class="itemname">{{ index2 | numtoa }}</span>
                                <input type="text" placeholder="输入选项内容，100字以内" class="form-control" v-model="value2.content" maxlength="100">
                                <b @click="addoption(index1,index2)" v-show="value2.handler=='add'" class="glyphicon glyphicon-plus-sign optionhandler"></b>
                                <b @click="deleteoption(index1,index2)" v-show="value2.handler=='delete'" class="glyphicon glyphicon-minus-sign optionhandler"></b>
                            </li>
                        </ul>
                    </cmain>
                    <cmain :maintitle="maintitle[2]">
                        <div>
                            <label class="radio-inline" v-for="(value3,index3) in subitem[index1].questionitem">
                                <input type="checkbox" :value="index3 | numtoa" :name="index1" v-model="subitem[index1].answer"> {{ index3 | numtoa }}
                            </label>
                        </div>
                    </cmain>
                </div>
                <div class="panduan" v-else-if="subitem[index1].cateid==4">
                    <span class="deleteoneq glyphicon glyphicon-minus-sign" @click="deleteoneq(index1)"></span>
                    <cmain :maintitle="'题目'+(index1+1)+'-判断题'">
                        <div class="maincontent">
                            <textarea cols="30" rows="10" class="form-control" placeholder="输入题目名称,300字以内" v-model="subitem[index1].itemquestion" maxlength="300"></textarea>
                        </div>
                    </cmain>
                    <cmain :maintitle="maintitle[1]">
                        <div>
                            <label class="radio-inline">
                                <input type="radio" :value="0" :name="index1" v-model="subitem[index1].answer"> 正确
                            </label>
                            <label class="radio-inline">
                                <input type="radio" :value="1" :name="index1" v-model="subitem[index1].answer"> 错误
                            </label>
                        </div>
                    </cmain>
                </div>
                <div class="wenda" v-else>
                    <span class="deleteoneq glyphicon glyphicon-minus-sign" @click="deleteoneq(index1)"></span>
                    <cmain :maintitle="'题目'+(index1+1)+'-问答题'">
                        <div class="maincontent">
                            <textarea cols="30" rows="10" class="form-control" placeholder="输入题目名称,300字以内" v-model="subitem[index1].itemquestion" maxlength="300"></textarea>
                        </div>
                    </cmain>
                    <cmain :maintitle="maintitle[1]">
                        <div class="maincontent">
                            <textarea cols="30" rows="10" class="form-control" placeholder="输入答案,300字以内" v-model="subitem[index1].answer" maxlength="300"></textarea>
                        </div>
                    </cmain>
                </div>
            </li>
        </ul>


        <cmain :maintitle="maintitle[3]">
            <div class="flexcenter">
                <span class="labeltitle">所属学科</span>
                <select class="form-control labelcontent" v-model="seldiscipline">
                    <option value="">请选择学科</option>
                    <option v-for="(v,i) in disciplinelist" :value="v.id">{{ v.name }}</option>
                </select>
            </div>
        </cmain>
        <cupdate :submitnewq="submitnewq"></cupdate>
    </div>
    <script>
        var vm=new Vue({
            el:'.container',
            data:{
                qname:'',//组合题的提干
                disciplinelist:[],//学科列表
                seldiscipline:'',//所属学科
                pagetitletext:'修改题目-组合题',//页面标题
                maintitle:['题干','选项','正确答案','设置'],//页面主模块标题
                subitem:[],//组合体数组，用于渲染页面和提交
                questionmodel:{
                    itemquestion:'',//子题题干,
                    cateid:'',//子题题目类型
                    questionitem:[],//子题选项
                    answer:''//子题答案
                }
            },
            created:function(){
                this.list=window.parent.vm.list;
                this.questionid=window.parent.vm.questionid;
                this.qname=this.list.name;
                this.seldiscipline=this.list.courseid;
                for(var i=0;i<this.list.subitem.length;i++){
                   if (this.list.subitem[i].cateid==1){
                       var questionitem=[];
                       for(var j=0;j<this.list.subitem[i].questionitem.length;j++){
                           questionitem.push({
                               content:this.list.subitem[i].questionitem[j].content,
                               handler:(j==0) ? 'add':'delete'
                           });
                       }
                       this.subitem.push({
                           itemquestion:this.list.subitem[i].itemquestion,
                           cateid:1,
                           answer:this.list.subitem[i].answer,
                           questionitem:questionitem
                       });
                   } else if(this.list.subitem[i].cateid==2){
                       var answer=[];
                       for(var k=0;k<this.list.subitem[i].answer.length;k++){
                           answer.push(this.list.subitem[i].answer[k].toUpperCase())
                       }
                       var question=[];
                       for(var a=0;a<this.list.subitem[i].questionitem.length;a++){
                           question.push({
                               content:this.list.subitem[i].questionitem[a].content,
                               handler:(a==0) ? 'add':'delete'
                           });
                       }
                       this.subitem.push({
                           itemquestion:this.list.subitem[i].itemquestion,
                           cateid:2,
                           answer:answer,
                           questionitem:question
                       });
                   } else if (this.list.subitem[i].cateid==4){
                       this.subitem.push({
                           itemquestion:this.list.subitem[i].itemquestion,
                           cateid:4,
                           answer:this.list.subitem[i].answer
                       });
                   } else if (this.list.subitem[i].cateid==5){
                       this.subitem.push({
                           itemquestion:this.list.subitem[i].itemquestion,
                           cateid:5,
                           answer:this.list.subitem[i].answer
                       });
                   }
                }
            },
            filters:{
                numtoa:function(val){
                    switch (val){
                        case 0:
                            return 'A'
                            break;
                        case 1:
                            return 'B'
                            break;
                        case 2:
                            return 'C'
                            break;
                        case 3:
                            return 'D'
                            break;
                        case 4:
                            return 'E'
                            break;
                        case 5:
                            return 'F'
                            break;
                        case 6:
                            return 'G'
                            break;
                        case 7:
                            return 'H'
                            break;
                    }
                }
            },
            mounted:function(){
                this.querydiscipline()
            },
            methods:{
                adddanxuan:function(){
                    this.augments();
                    if (this.continue){
                        this.subitem.push({
                            itemquestion:'',//子题题干,
                            cateid:1,//子题题目类型
                            questionitem:[{itemname:'',content:'',handler:'add'},{itemname:'',content:'',handler:'delete'},{itemname:'',content:'',handler:'delete'},{itemname:'',content:'',handler:'delete'},{itemname:'',content:'',handler:'delete'}],//子题选项
                            answer:''//子题答案
                        })
                    }
                },
                addduoxuan:function(){
                    this.augments();
                    if (this.continue) {
                        this.subitem.push({
                            itemquestion: '',//子题题干,
                            cateid: 2,//子题题目类型
                            questionitem: [{itemname: '', content: '', handler: 'add'}, {
                                itemname: '',
                                content: '',
                                handler: 'delete'
                            }, {itemname: '', content: '', handler: 'delete'}, {
                                itemname: '',
                                content: '',
                                handler: 'delete'
                            }, {itemname: '', content: '', handler: 'delete'}],//子题选项
                            answer: []//子题答案
                        })
                    }
                },
                addpanduan:function(){
                    this.augments();
                    if (this.continue) {
                        this.subitem.push({
                            itemquestion: '',//子题题干,
                            cateid: 4,//子题题目类型
                            answer: ''//子题答案
                        })
                    }
                },
                addwenda:function(){
                    this.augments();
                    if (this.continue) {
                        this.subitem.push({
                            itemquestion: '',//子题题干,
                            cateid: 5,//子题题目类型
                            answer: ''//子题答案
                        })
                    }
                },
                addoption:function(index1,index2){//增加选项
                    if(this.subitem[index1].questionitem.length>=8){
                        layer.msg('最多添加8个选项')
                        return
                    }
                    this.subitem[index1].questionitem.push({
                        itemname:'',
                        content:'',
                        handler:'delete'
                    })
                },
                augments:function (){
                    if (this.subitem.length>9){
                        layer.msg('最多创建十个子题');
                        this.continue=false
                    }else {
                        this.continue=true
                    }
                },
                deleteoption:function(index1,index2){//删除选项
                    var self=this
                    if(this.subitem[index1].questionitem.length<=1){
                        layer.msg('最少要有1个选项')
                        return
                    }
                    self.subitem[index1].questionitem=deleteItem(self.subitem[index1].questionitem,index2)
                },
                querydiscipline:function(){//查询学科接口
                    var self=this
                    var data={
                        command:"cls/selectCourses",
                        sessionid:getCookie('sid'),
                        loginid:getCookie('uid')
                    }
                    function callback(res){
                        self.disciplinelist=res.courseslist
                    }
                    post("/cls/selectCourses",data,callback,errcodefn,errfn)
                },
                submitnewq:function(){//保存添加题目接口
                    if(this.qname==''){
                        layer.msg('请输入组合题题干')
                        return
                    }
                    for(var i=0;i<this.subitem.length;i++){
                        if(!this.subitem[i].itemquestion){
                            layer.msg('请完成子题题干的设置')
                            return
                        }
                        if(!this.subitem[i].answer && this.subitem[i].answer!=0){
                            layer.msg('请完成子题正确答案的设置')
                            return
                        }
                        if(this.subitem[i].cateid==1 || this.subitem[i].cateid==2){
                            if(this.subitem[i].cateid==2){//多选
                                var answerstr=''
                                for(index in this.subitem[i].answer){
                                    answerstr+=this.subitem[i].answer[index]
                                }
                                this.subitem[i].answer=answerstr
                            }
                            for(var j=0;j<this.subitem[i].questionitem.length;j++){
                                this.subitem[i].questionitem[j].itemname=numtocase(j)
                                if(this.subitem[i].questionitem[j].content==''){
                                    layer.msg('请完成选项内容输入')
                                    return
                                }
                            }
                        }
                    }
                    if(this.seldiscipline==''){
                        layer.msg('请选择组合题所属学科')
                        return
                    }
                    var data={
                        command:'question/updateassociationquestion',
                        sessionid:getCookie('sid'),
                        loginid:getCookie('uid'),
                        creatorid:getCookie('uid'),
                        questionid:this.questionid,
                        name:this.qname,
                        courseid:this.seldiscipline,
                        subitem:this.subitem
                    }
                    function callback(res){
                        layer.msg('已成功修改');
                        window.parent.vm.pageconf.onchange(findurltype('page'),findurltype('number'));
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        setTimeout(function(){
                            parent.layer.close(index)
                        },1000)
                    }
                    post('/question/updateassociationquestion',data,callback,errcodefn,errfn)
                },
                deleteoneq:function(index){//删除一个子题
                    var self=this
                    var L=layer.confirm('确定要去掉这个子题吗？', {
                        btn: ['确定','取消'] //按钮
                    }, function(){
                        self.subitem=deleteItem(self.subitem,index)
                        layer.close(L)
                    }, function(){
                        layer.close(L)
                    })
                }
            }
        })
    </script>
</body>
</html>