<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>增加考区</title>
		<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css" />
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<script src="../../js/vue.js"></script>
		<link rel="stylesheet" href="../../css/assistant/style.css">
		<link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
	</head>
	<style>
		body {
			overflow: auto;
		}
		
		.add_place {
			text-align: left;
		}
	</style>

	<body>
		<div id="add_site" v-cloak style="margin: 30px 15%;">
			<div class="s_addStudent" style="z-index: 99999;">
				<div class="s_studentMessage">
					<ul>
						<li>
							<form class="form-horizontal">
								<div class="col-md-8">
									<div class="form-group form-group-sm">
										<label class="col-sm-3 control-label">*考区名称 ：</label>
										<div class="col-sm-9">
											<input class="form-control " type="text" v-model='name'>
										</div>
									</div>
								</div>
							</form>
						</li>
						<li>
							<form class="form-horizontal">
								<div class="col-md-8">
									<div class="form-group form-group-sm">
										<label class="col-sm-3 control-label">考区描述 ：</label>
										<div class="col-sm-9">
											<input class="form-control " type="text" v-model='desc'>
										</div>
									</div>
								</div>
							</form>
						</li>
						<li>
							<form class="form-horizontal">
								<div class="col-md-8">
									<div class="form-group form-group-sm">
										<label class="col-sm-3 control-label"></label>
										<div class="col-sm-9">
											<span type="text">说明：考试区域如A区、B区，1区、2区等</span>
										</div>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
				<div style="clear:both;overflow:hidden;padding:25px 30px 0 0;text-align: center;" class="bt_add">
					<button class="btn btn-default" type="submit" v-on:click="cancel" style="float: left;margin-left: 45%;">取消</button>
					<button class="btn btn-primary" type="submit" v-on:click="save" style="float:left;margin-left: 20px;">保存</button>
				</div>
			</div>
		</div>
		<script>
			var vm = new Vue({
				el: '#add_site',
				data: {
					name: '',
					desc: '',
				},
				methods: {
					cancel: function() {
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index)
					},
					save: function() {
						var self = this;
						var re = /^[\u4E00-\u9FA5A-Za-z0-9]+$/;
						if(self.name != '' && !re.test(self.name)) {
							layer.msg('考区名称不能包含特殊字符');
							return
						}
						if(self.desc!=''&&!re.test(self.desc)){
							layer.msg('考区描述不能包含特殊字符');
							return
						}
						if(self.name == '') {
							layer.msg('带*号的为必填项')
						} else {
							var data = {
								command: 'oscearea/addarea',
								sessionid: getCookie('sid'),
								loginid: getCookie('uid'),
								areaname: self.name,
								areadesc: self.desc,
							}
							console.log(JSON.stringify(data))

							function callback(res) {
								layer.msg('成功新建一个考区');
								setTimeout(function() {
									layer.closeAll()
									window.parent.location.reload()
								}, 1000)
							}
							post('/oscearea/addarea', data, callback, errcodefn, errfn)
						}

					},
				}
			})
		</script>
	</body>

</html>