<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建单选题</title>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/scmp/newq_compo.js"></script>
    <script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/scmp/addqcommon.css">
</head>
<body>
    <div class="container">
        <cpagetitle :title="pagetitletext" :showback="true"></cpagetitle>
        <cmain :maintitle="maintitle[0]">
            <div class="maincontent">
                <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="输入题目名称,300字以内" v-model="qname" maxlength="300"></textarea>
            </div>
        </cmain>
        <cmain :maintitle="maintitle[1]">
            <ul class="addoptions">
                <li v-for="(value,index) in options">
                    <span class="itemname">{{ index | numtoa }}</span>
                    <input type="text" placeholder="输入选项内容，100字以内" class="form-control" v-model="value.inputtext" maxlength="100">
                    <b @click="addoption()" v-if="value.handler=='add'" class="glyphicon glyphicon-plus-sign optionhandler"></b>
                    <b v-else @click="deleteoption(index)" class="glyphicon glyphicon-minus-sign optionhandler"></b>
                </li>
            </ul>
        </cmain>
        <cmain :maintitle="maintitle[2]">
            <div>
                <label class="radio-inline" v-for="(value,index) in options">
                    <input type="radio" :value="index | numtoa" name="danxuan" v-model="answer"> {{ index | numtoa }}
                </label>
            </div>
        </cmain>
        <cmain :maintitle="maintitle[3]">
            <div class="flexcenter">
                <span class="labeltitle">所属学科</span>
                <select class="form-control labelcontent" v-model="seldiscipline">
                    <option value="">请选择学科</option>
                    <option v-for="(v,i) in disciplinelist" :value="v.id">{{ v.name }}</option>
                </select>
            </div>
        </cmain>
        <cfooter :submitnewq="submitnewq"></cfooter>
    </div>
    <script>
        var vm=new Vue({
            el:'.container',
            data:{
                options:[{inputtext:'',handler:'add'},{inputtext:'',handler:'delete'},{inputtext:'',handler:'delete'},{inputtext:'',handler:'delete'},{inputtext:'',handler:'delete'}],
                answer:'',
                qname:'',
                disciplinelist:[],//学科列表
                seldiscipline:'',
                pagetitletext:'新增题目-单选',//页面标题
                maintitle:['题目名称','选项','正确答案','设置'],//页面主模块标题
            },
            filters:{
                numtoa:function(val){
                    switch (val){
                        case 0:
                            return 'A'
                            break;
                        case 1:
                            return 'B'
                            break;
                        case 2:
                            return 'C'
                            break;
                        case 3:
                            return 'D'
                            break;
                        case 4:
                            return 'E'
                            break;
                        case 5:
                            return 'F'
                            break;
                        case 6:
                            return 'G'
                            break;
                        case 7:
                            return 'H'
                            break;
                    }
                },
            },
            mounted:function(){
                this.querydiscipline()
            },
            methods:{
                addoption:function(){//增加选项
                    if(this.options.length>=8){
                        layer.msg('最多添加8个选项')
                        return
                    }
                    this.options.push({
                        inputtext:'',
                        handler:'delete'
                    })
                },
                deleteoption:function(index){//删除选项
                    var self=this
                    if(this.options.length<=1){
                        layer.msg('最少要有1个选项')
                        return
                    }
                    self.options=deleteItem(self.options,index)
                },
                querydiscipline:function(){//查询学科接口
                    var self=this
                    var data={
                        command:"cls/selectCourses",
                        sessionid:getCookie('sid'),
                        loginid:getCookie('uid')
                    }
                    function callback(res){
                        self.disciplinelist=res.courseslist
                    }
                    post("/cls/selectCourses",data,callback,errcodefn,errfn)
                },
                submitnewq:function(){//保存添加题目接口
                    if(this.qname==''){
                        layer.msg('请输入题干内容')
                        return
                    }
                    for(index in this.options){
                        if(this.options[index].inputtext==''){
                            layer.msg('请完成选项内容输入')
                            return
                        }
                    }
                    if(this.answer==''){
                        layer.msg('请设置正确答案')
                        return
                    }
                    if(this.seldiscipline==''){
                        layer.msg('请选择题目所属学科')
                        return
                    }
                    var data={
                        command:'question/addquestioninfo',
                        sessionid:getCookie('sid'),
                        loginid:getCookie('uid'),
                        creatorid:getCookie('uid'),
                        name:this.qname,
                        cateid:1,
                        courseid:this.seldiscipline,
                        answer:this.answer,
                        questionitem:[],
                    }
                    for(var i=0;i<this.options.length;i++){
                        data.questionitem.push({
                            itemname:numtocase(i),
                            content:this.options[i].inputtext,
                        })
                    }
                    function callback(res){
                        var L=layer.confirm('添加题目成功!', {
                            btn: ['继续添加','不再添加'] //按钮
                        }, function(){
                            layer.close(L)
                            window.location.reload()
                        }, function(){
                            layer.close(L)
                            window.history.go(-1)
                        })
                    }
                    post('/question/addquestioninfo',data,callback,errcodefn,errfn)
                }
            }
        })
    </script>
</body>
</html>