<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>增加房间</title>
		<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css" />
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<script src="../../js/vue.js"></script>
		<link rel="stylesheet" href="../../css/assistant/style.css">
		<link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
	</head>
	<style>
		body {
			overflow: auto;
		}
		
		.add_site {
			text-align: left;
		}
	</style>

	<body>
		<div id="add_site" v-cloak style="margin: 30px 15%;">
			<div class="s_addStudent" style="z-index: 99999;">
				<div class="s_studentMessage">
					<ul>
						<li>
							<form class="form-horizontal">
								<div class="col-md-8">
									<div class="form-group form-group-sm">
										<label class="col-sm-3 control-label">*房间编号 ：</label>
										<div class="col-sm-9">
											<input class="form-control " type="text" v-model='id' placeholder="只可输入数字" onkeyup='this.value=this.value.replace(/\D/gi,"")'>
										</div>
									</div>
								</div>
							</form>
						</li>
						<li>
							<form class="form-horizontal">
								<div class="col-md-8">
									<div class="form-group form-group-sm">
										<label class="col-sm-3 control-label">*房间名称 ：</label>
										<div class="col-sm-9">
											<input class="form-control " type="text" v-model='roomname'>
										</div>
									</div>
								</div>
							</form>
						</li>
						<li>
							<form class="form-horizontal">
								<div class="col-md-8">
									<div class="form-group form-group-sm">
										<label class="col-sm-3 control-label">*功能属性 ：</label>
										<div class="col-sm-9">
											<select class="form-control input-sm" v-model='roomType' :value='roomType'>
												<option :value="value1.paramvalue" v-for="value1 in paramlist">{{value1.param1}}</option>
											</select>
										</div>
									</div>
								</div>
							</form>
						</li>
						<li>
							<form class="form-horizontal">
								<div class="col-md-8">
									<div class="form-group form-group-sm">
										<label class="col-sm-3 control-label">*所属区域 ：</label>
										<div class="col-sm-9">
											<select class="form-control input-sm" v-model='areaid' :value='areaid' v-if="roomType==2 || roomType==3">
												<option :value="value.id" v-for="value in resultlist">{{value.areaname}}</option>
											</select>
											<select class="form-control input-sm" v-model='areaid' :value='areaid' v-else disabled>
												
											</select>
										</div>
									</div>
								</div>
							</form>
						</li>
						<li>
							<form class="form-horizontal">
								<div class="col-md-8">
									<div class="form-group form-group-sm">
										<label class="col-sm-3 control-label">*房间描述 ：</label>
										<div class="col-sm-9">
											<input class="form-control " type="text" v-model='roomdesc'>
										</div>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
				<div style="clear:both;overflow:hidden;padding:25px 30px 0 0;text-align: center;" class="bt_add">
					<button class="btn btn-default" type="submit" v-on:click="cancel" style="float: left;margin-left: 45%;">取消</button>
					<button class="btn btn-primary" type="submit" v-on:click="save" style="float:left;margin-left: 20px;">保存</button>
				</div>
			</div>
		</div>
		<script>
			var vm = new Vue({
				el: '#add_site',
				data: {
					roomname: '',
					id: '',
					areaid: '',
					roomdesc: '',
					catedataid: '',
					resultlist: [],
					roomType: '',
					paramlist: [],
				},
				mounted: function() {
					this.get_result();
					this.get_param();
				},
				methods: {
					cancel: function() {
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index)
					},
					get_result: function() {
						var self = this
						var data = {
							command: 'oscearea/queryareainfo',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
						}

						function callback(res) {
							self.resultlist = res.resultlist
						}
						post('/oscearea/queryareainfo', data, callback, errcodefn, errfn)
					},
					get_param: function() {
						var self = this
						var data = {
							command: 'commparaconf/querycommparaconflist',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							paramcode: 'osce_room_type',
						}

						function callback(res) {
							self.paramlist = res.commparaconflist;
						}
						post('/commparaconf/querycommparaconflist', data, callback, errcodefn, errfn)
					},
					save: function() {
						var self = this;
						var re =  /^[\u4E00-\u9FA5A-Za-z0-9]+$/;
						if(self.roomname!=''&&!re.test(self.roomname)) {
							layer.msg('房间名称不能包含特殊字符');
							return
						}
						if(self.roomdesc!=''&&!re.test(self.roomdesc)){
							layer.msg('房间描述不能包含特殊字符')
							return
						}
						if(self.roomname == ''||self.id=='' || self.roomType == ''||self.roomdesc=='') {
							layer.msg('带*号的为必填项')
							return
						} 
						if (self.roomType==2|| self.roomType==3) {
							self.areaid=self.areaid;
						} else{
							self.areaid=''
						}
                        var data = {
								command: 'osceroomexisting/insertosceroomexisting',
								sessionid: getCookie('sid'),
								loginid: getCookie('uid'),
								id: self.id,
								roomname: self.roomname,
								roomdesc: self.roomdesc,
								roomType: self.roomType,
								areaid: self.areaid,
							}

							function callback(res) {
								layer.msg('成功新建一个房间');
								setTimeout(function() {
									self.cancel()
									var num = window.location.href.split('=')[2];
									var page = window.location.href.split('=')[1].split('&')[0];
									window.parent.vm.pageconf.onchange(page, num)
								}, 1000)
							}
							post('/osceroomexisting/insertosceroomexisting', data, callback, errcodefn, errfn)
					},
				}
			})
		</script>
	</body>

</html>