<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生成绩</title>
    <link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../font-awesome-4.6.3/css/font-awesome.min.css">
    <style>
        #title{
            background-color: #f2f2f2;
            height:40px;
            line-height: 40px;
            padding-left:20px;
        }
        #scorelist{
            padding: 0 5px 0;
        }
        #scorelist table{
            margin-bottom: 30px;
        }
        #scorelist th,#scorelist td{
            text-align: center !important;
        }
        section{
            margin: 30px 0;
        }
        section div,section button{
            margin: 0 10px;
        }
        .pointer{
            cursor: pointer;
        }
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
    <div id="container" v-cloak>
        <div id = "title"><a href = "osce_list.html">OSCE列表</a>&gt;&gt;学生成绩</div>
        <section>
            <div class="form-inline sel-detail">
                <div class="form-group">
                    <label>姓名：</label>
                    <input type="text" class="form-control" v-model="serchstuname">
                </div>
                <div class="form-group">
                    <label>学号：</label>
                    <input type="text" class="form-control" v-model= "serchstunum" >
                </div>
                <button @click = "search()" class="selDetail btn btn-primary" style = " width: 100px">
                    查询
                </button>
                <!--<button @click = "exportExcel()" class="selDetail btn btn-primary" style = " width: 100px">-->
                    <!--导出-->
                <!--</button>-->
            </div>
        </section>
        <div id = "scorelist">
            <table class="table table-bordered table-hover">
                <tr class="active">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>成绩</th>
                    <th>操作</th>
                </tr>
                <tbody>
                <tr v-for="(value,index) in stdlist" v-if="stdlist">
                    <td>{{index+1}}</td>
                    <td>{{value.stdname}}</td>
                    <td>{{value.stdno}}</td>
                    <td>{{value.stdscore}}</td>
                    <td>
                        <a class="pointer" target=＂_blank＂ :href="value.stdreporturl">
                            查看
                        </a>
                    </td>
                </tr>
                    <tr v-else><td colspan="6">暂无数据</td></tr>
                </tbody>
            </table>
        </div>
        <!--分页-->
        <page_component :pageconf="pageconf" :pages="pages"></page_component>
    </div>
</body>
<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/scmp/common.js"></script>
<script src="../../layer/xie/layer1.js"></script>
<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/scmp/pageComponent.js"></script>
<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
<script>
    var vm = new Vue({
      el:"#container",
      data:{
        serchstuname:'',
        serchstunum:'',
        stdreporturl:[],
        examnum:GetQueryString('examid'),
        showShadow: false,
        showDetail:true,
        stdlist:[],
        pageconf: {
          itemsPerPage:10,
          current: 1, //默认显示第一页
          showItem: 10, //最多显示多少页，自己定义
          allpage: '', //总共多少页，根据请求返回结果计算
          totalnum: '', //总共条数，请求返回
          onchange: function(index, itemsperpage) { //ajax,index表示查看第几页,itemsperpage表示每页多少条
            changepage('page=' + index + '&number=' + itemsperpage);
            var data = {
              command: "report/listosceexamstd",
              sessionid: getCookie('sid'),
              loginid: getCookie('uid'),
              examid:GetQueryString("examid"),
              page: index, //查询第几页
              reqnum: itemsperpage //每页展示多少条,

            };
            function callback(res) {
              vm.pageconf.totalnum = res.allcount;
              vm.pageconf.allpage = Math.ceil(res.allcount / itemsperpage);
              vm.stdlist =[];
              vm.stdlist=res.stdlist;

            };
            post("/report/listosceexamstd", data, callback, errcodefn, errfn)
          }
        },
      },
      mounted:function () {
        this.pageconf.onchange(1,10);
      },
      computed:{
        pages: function() {
          var pag = [];
          if(this.pageconf.current < this.pageconf.showItem) { //如果当前的激活的项 小于要显示的条数
            //总页数和要显示的条数那个大就显示多少条
            var i = Math.min(this.pageconf.showItem, this.pageconf.allpage);
            while(i) {
              pag.unshift(i--);
            }
          } else { //当前页数大于显示页数了
            var middle = this.pageconf.current - Math.floor(this.pageconf.showItem / 2), //从哪里开始
              i = this.pageconf.showItem;
            if(middle > (this.pageconf.allpage - this.pageconf.showItem)) {
              middle = (this.pageconf.allpage - this.pageconf.showItem) + 1
            }
            while(i--) {
              pag.push(middle++);
            }
          }
          return pag
        }
      },
      methods:{
        search:function (val) {
          var  _self = this;
               _self.stdlist = [];
          var combox = $.extend({
            command:"report/listosceexamstd",
            loginid:getCookie('uid'),
            sessionid:getCookie('sid'),
            examid:_self.examnum,
            stdname : this.serchstuname,
            stdno : this.serchstunum,
          }, val);

          function callback (res) {
            _self.stdlist = [];
            _self.stdlist = res.stdlist;
          };
          post("/report/listosceexamstd",combox,callback,errcodefn,errfn);
        },
//        导出功能
//        exportExcel:function () {
//            var data = {
//              command: "report/listosceexamstd",
//              sessionid: $.cookie('sid'),
//              loginid: $.cookie('uid'),
//              page: 1,
//              reqnum: 500
//            };
//            var name = "download_name" + new Date().getTime();
//            var $iframe = $('<iframe name="' + name + '"></iframe>').appendTo('body');
//            var $form = $('<form target="' + name + '" action="/report/listosceexamstd" method="POST" enctype="application/x-www-form-urlencoded"></form>').appendTo('body');
//            var $content = $('<input type="hidden" name="_form_body" />').appendTo($form);
//            var $inp;
//
//            $iframe.css("display", "none");
//            $form.css("display", "none");
//
//            $content.val(JSON.stringify({
//              "1": data
//            }));
//            $form.submit();
//          }
        }
    });
</script>
</html>