<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考官报告</title>
    <link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../font-awesome-4.6.3/css/font-awesome.min.css">
    <style>
        #title{
            background-color: #f2f2f2;
            height:40px;
            line-height: 40px;
            padding-left:20px;
        }
        #examinerlist{
            padding: 30px 5px 0 5px;
        }
        #examinerlist table{
            margin-bottom: 30px;
        }
        #examinerlist th,#examinerlist td{
            text-align: center !important;
        }
        section{
            margin: 30px 0;
        }
        section div,section button{
            margin: 0 10px;
        }
        .pointer{
            cursor: pointer;
        }
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
<div id="container" v-cloak>
    <div id = "title"><a href = "osce_list.html">OSCE列表</a>&gt;&gt;考官报告</div>
    <!--<section>-->
        <!--<div class="form-inline sel-detail">-->
            <!--<div class="form-group">-->
                <!--<label>姓名：</label>-->
                <!--<input type="text" class="form-control" v-model="serchexaminername">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label>工号：</label>-->
                <!--<input type="text" class="form-control" v-model= "serchexaminernum" >-->
            <!--</div>-->
            <!--<button @click = "search()" class="selDetail btn btn-primary" style = " width: 100px">-->
                <!--查询-->
            <!--</button>-->
            <!--&lt;!&ndash;<button @click = "exportExcel()" class="selDetail btn btn-primary" style = " width: 100px">&ndash;&gt;-->
            <!--&lt;!&ndash;导出&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--</div>-->
    <!--</section>-->
    <div id = "examinerlist">
        <table class="table table-bordered table-hover">
            <tr class="active">
                <th>序号</th>
                <th>姓名</th>
                <th>工号</th>
                <th>查看</th>
            </tr>
            <tbody>
            <tr v-for="(value,index) in examinerlist">
                <td>{{index+1}}</td>
                <td>{{value.examinername}}</td>
                <td>{{value.examinerno}}</td>
                <td>
                    <a class="pointer" target=＂_blank＂ :href="value.examinerreporturl">
                        查看
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <page_component :pageconf="pageconf" :pages="pages"></page_component>
</div>
</body>
<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/scmp/common.js"></script>
<script src="../../layer/xie/layer1.js"></script>
<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/scmp/pageComponent.js"></script>
<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
<script>
  var vm = new Vue({
    el:"#container",
    data:{
      serchexaminername:'',
      serchexaminernum:'',
      examinerreporturl:[],
      examnum:GetQueryString('examid'),
      showShadow: false,
      showDetail:true,
      examinerlist:[],
      pageconf: {
        itemsPerPage:10,
        current: 1, //默认显示第一页
        showItem: 10, //最多显示多少页，自己定义
        allpage: '', //总共多少页，根据请求返回结果计算
        totalnum: '', //总共条数，请求返回
        onchange: function(index, itemsperpage) { //ajax,index表示查看第几页,itemsperpage表示每页多少条
          changepage('page=' + index + '&number=' + itemsperpage);
          var data = {
            command: "report/listosceexaminerinfo",
            sessionid: getCookie('sid'),
            loginid: getCookie('uid'),
            examid:GetQueryString("examid"),
            page: index, //查询第几页
            reqnum: itemsperpage //每页展示多少条,

          };
          function callback(res) {
            vm.pageconf.totalnum = res.allcount;
            vm.pageconf.allpage = Math.ceil(res.allcount / itemsperpage);
            vm.examinerlist =[];
            vm.examinerlist=res.osceexaminerlist;

          };
          post("/report/listosceexaminerinfo", data, callback, errcodefn, errfn)
        }
      },
    },
    mounted:function () {
      this.pageconf.onchange(1,10);
    },
    computed:{
      pages: function() {
        var pag = [];
        if(this.pageconf.current < this.pageconf.showItem) { //如果当前的激活的项 小于要显示的条数
          //总页数和要显示的条数那个大就显示多少条
          var i = Math.min(this.pageconf.showItem, this.pageconf.allpage);
          while(i) {
            pag.unshift(i--);
          }
        } else { //当前页数大于显示页数了
          var middle = this.pageconf.current - Math.floor(this.pageconf.showItem / 2), //从哪里开始
            i = this.pageconf.showItem;
          if(middle > (this.pageconf.allpage - this.pageconf.showItem)) {
            middle = (this.pageconf.allpage - this.pageconf.showItem) + 1
          }
          while(i--) {
            pag.push(middle++);
          }
        }
        return pag
      }
    },
    methods:{
//      search:function (val) {
//        var  _self = this;
//        _self.examinerlist = [];
//        var combox = $.extend({
//          command:"report/listosceexaminerinfo",
//          loginid:getCookie('uid'),
//          sessionid:getCookie('sid'),
//          examid:_self.examnum,
//          examinername : this.serchexaminername,
//          examinerno : this.serchexaminernum,
//        }, val);
//
//        function callback (res) {
//          _self.examinerlist = [];
//          _self.examinerlist = res.osceexaminerlist;
//        };
//        post("/report/listosceexaminerinfo",combox,callback,errcodefn,errfn);
//      },
    }
  });
</script>
</html>