<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<script src="../../js/scmp/jquery-ui.js"></script>
		<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="../../css/assistant/style.css">
		<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
		<style>
			.container-fluid {
				height: 100%;
				min-height: 100%;
			}
			
			 ::-webkit-scrollbar {
				width: 0px
			}
			
			#header>button {
				float: right;
			}
			
			#header {
				height: 44px;
			}
			
			.activeStep {
				border-bottom: 2px solid #FFD629;
				color: #2088c2;
				font-weight: bold;
			}
			
			.normalStep {
				border-bottom: 2px solid #ACAC7C;
				color: #aaa;
			}
			
			#nav {
				clear: both;
				margin-bottom: 20px;
				padding-top: 20px;
			}
			
			#title {
				background-color: #E5E6E8;
				height: 40px;
				line-height: 40px;
				padding-left: 20px;
				margin-bottom: 20px;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid" v-cloak>
			<div id="title">
				<a href="addvance.html">开放日历设置&gt;&gt;设置训练项</a>
			</div>
			<div id="header">
				<p>场地 ：{{getPlace}}</p>
			</div>

			<div id="content">
				<div id="setExercise">
					<div class="shadowContent">
						<table class="table table-bordered table-striped table-hover f12">

							<tr>
								<th>训练位编号</th>
								<th>训练位类型</th>
								<th>训练项</th>
								<th>操作</th>
							</tr>
							<tr v-for="(learnValue,index) in choosedTotal">
								<td style="vertical-align: middle;">{{ learnValue.code }}</td>
								<td style="vertical-align: middle;">
									<select class="form-control" @change="getExeList(index)" v-model="learnValue.workstationtypeid">

										<option :value="value.id" v-for="(value,index) in exeType">{{ value.traintypename }}</option>
									</select>
								</td>
								<td style="vertical-align: middle;">
									<span v-for="valueChoose in learnValue.learnids">{{ valueChoose.name}}-{{valueChoose.type | learntype}}&nbsp;&nbsp;&nbsp;</span>
								</td>
								<td style="vertical-align: middle;">
									<button class="btn btn-primary btn-xs" @click="stopBtn(index)" v-show="learnValue.status==0">
                                停用
                                    </button>
									<button class="btn btn-primary btn-xs" @click="startBtn(index)" v-show="learnValue.status==1">
                                启用
                                    </button>
									<button class="btn btn-danger btn-xs" @click="deleteOneExe(learnValue.id,index)">
                                        删除
                                    </button>
								</td>
							</tr>
							<tr v-for="(learnValueAdd,index) in addChoosedTotal">
								<td style="vertical-align: middle;">{{ learnValueAdd.code }}</td>
								<td style="vertical-align: middle;">
									<select class="form-control" @change="getExeListAdd" v-model="learnValueAdd.workstationtypeid">

										<option :value="value1.id" v-for="(value1,index) in exeType">{{ value1.traintypename }}</option>
									</select>
								</td>
								<td style="vertical-align: middle;">
									<span v-for="valueChoose1 in learnValueAdd.learnids">{{ valueChoose1.name}}-{{valueChoose1.type | learntype}}&nbsp;&nbsp;&nbsp;</span>
								</td>
								<td style="vertical-align: middle;">
									<button class="btn btn-primary btn-xs" @click="stopBtn(index)" v-show="learnValueAdd.status==0">
                                停用
                                    </button>
									<button class="btn btn-primary btn-xs" @click="startBtn(index)" v-show="learnValueAdd.status==1">
                                启用
                                    </button>
									<button class="btn btn-danger btn-xs" @click="deleteOneExe(learnValueAdd.id,index)">
                                        删除
                                    </button>
								</td>
							</tr>
							<tr v-show="addShow">
								<td>
									<input type="text" id="code" class="form-control" v-model="trainingNum">
								</td>
								<td>
									<select id="exeType" class="form-control" @change="getExeListShow" v-model="trainingType">

										<option :value="value.id" v-for="(value,index) in exeType">{{ value.traintypename }}</option>
									</select>
								</td>
								<td id="addTrainName">
									<span v-for="value in exeListById" v-show="typelist">{{ value.name }}--{{ value.type | learntype }}&nbsp;&nbsp;&nbsp;</span>
								</td>
								<td class="text-info poi">
									<button class="btn btn-danger btn-xs" @click="deleteBtn(index)">
                                删除
                                    </button>
								</td>
							</tr>
						</table>
						<div>
							<button class="btn btn-primary btn-xs" @click="addBtn">增加</button>
						</div>
						<div class="bottomHandlers" style="display: flex;justify-content: center;">
							<button class="btn btn-primary" @click="saveBtn()">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn btn-default" @click="removeBtn()">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			Vue.filter('week', function(value) { //过滤训练项类型
				value = value.split(",");
				var newArr = [];

				return newArr.join(',')
			});
			Vue.filter('learntype', function(value) { //过滤训练项类型
				if(value == "0") {
					return "在线训练"
				} else if(value == "1") {
					return "模型"
				} else if(value == "2") {
					return "智能设备"
				}
			});
			var vm = new Vue({
				el: '.container-fluid',
				data: {
					exeType: [],
					exeListById: [],
					choosedTotal: [], //用户在第一步：设置训练项页面上选择的记录
					addShow: false,
					trainingNum: '',
					trainingType: '',
					placeId: GetQueryString('placeid'),
					typeList: '',
					typeId: '',
					sendlearnWorkStation: [],
					deletelearnWorkStation: [],
					getPlace: '',
					addChoosedTotal: [],
					addlist: 1,
					typelist: false,
					num:0
				},
				mounted: function() {
					this.getList();
					this.findPlace();
				},
				watch:{
					'trainingNum':function(curVal,oldVal){
						for(var i=0;i<this.choosedTotal.length;i++){
							if(curVal!=''&&curVal==this.choosedTotal[i].code){
								this.num=1;
							}
						}
						for(var i=0;i<this.addChoosedTotal.length;i++){
							if(curVal!=''&&curVal==this.addChoosedTotal[i].code){
								this.num=1;
							}
						}
					}
				},
				methods: {
					findPlace: function() {
						var self = this;
						var data = {
							command: "site/findplace",
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							id: self.placeId

						}

						function callback(res) {
							self.getPlace = res.place.roomnum;
						}
						post('/site/findplace', data, callback, errcodefn, errfn)
					},
					removeBtn: function() {
						var iframe1 = window.parent.document.getElementById('test1')
						var testTitle = window.parent.document.getElementById('title')

						var boxlist = window.parent.document.getElementById('addvanceShowList')
						$(boxlist).removeClass('hide')
						$(iframe1).remove()
						$(testTitle).removeClass('hide')

					},
					getList: function() {
						var self = this;
						self.choosedTotal = [];

						var data1 = {
							command: "learn/listlearnworkstation",
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							placeid: self.placeId
						};

						function callback(res) {

							self.choosedTotal = res.learnworkstations;

						}
						post('/learn/listlearnworkstation', data1, callback, errcodefn, errfn)
					},
					saveBtn: function() {
						let self = this;
						if(self.addShow == false) {
							var newList1 = [];
							for(var i = 0; i < self.choosedTotal.length; i++) {
								newList1.push(self.choosedTotal[i].code)
							}
                           newList1= newList1.unique1();
							if(newList1.length != self.choosedTotal.length) {
								layer.msg('训练位编号不能重复', { icon: 5 })
								return
							}
							for(var i = 0; i < self.choosedTotal.length; i++) {
								self.sendlearnWorkStation.push({
									workstationtypeid: self.choosedTotal[i].workstationtypeid,
									placeid: self.choosedTotal[i].placeid,
									code: self.choosedTotal[i].code,
									status: self.choosedTotal[i].status,
									id: self.choosedTotal[i].id
								})
							}
							var data = {
								command: "learn/updatelearnplace",
								sessionid: getCookie('sid'),
								loginid: getCookie('uid'),
								learnWorkStation: self.sendlearnWorkStation
							}

							function callback(res) {
								layer.msg('设置成功！', { icon: 6 }, function() {
									self.removeBtn();
								})

								self.addShow = false;
								self.trainingNum = '';
								self.trainingType = '';

							}
							post('/learn/updatelearnplace', data, callback, errcodefn, errfn)
						} else {
							if(self.trainingNum == '' || self.trainingType == '') {
								layer.msg('请完成选择或输入');
								return
							};
							if($("#code").val().length != 0 && $("#exeType").val() != "请选择训练位类型") {
								self.add = "1";
							}
							 if (self.num==1) {
                            	layer.msg('训练位编号不能重复',{icon:5});
                            	self.trainingNum = '';
								self.trainingType = '';
								self.addShow = false;
								self.addlist = 1;
								self.num=0;
                            	return
                            }
							for(index in self.exeType) {
								if($("#exeType").val() == self.exeType[index].id) {
									var typename = self.exeType[index].traintypename
								}
							};
							self.addChoosedTotal.push({
								code: $("#code").val(),
								workstationtypeid: $("#exeType").val(),
								workstationtypename: typename,
								learnids: self.exeListById
							})
							
							self.sendlearnWorkStation.push({
								workstationtypeid: $("#exeType").val(),
								placeid: self.placeId,
								code: $("#code").val(),
								status: 0
							})
//							var newList2=[];
//							for (var i=0;i<self.choosedTotal.length;i++) {
//								newList2.push(self.choosedTotal[i].code);
//							}
//							for (var i=0;i<self.addChoosedTotal.length;i++) {
//								newList2.push(self.addChoosedTotal[i].code);
//							}
//							
//							console.log(self.addChoosedTotal)
//							console.log(self.choosedTotal)
//							newList2= newList2.unique1();
//							if(newList2.length != self.addChoosedTotal.length) {
//								layer.msg('训练位编号不能重复', { icon: 5 })
//								self.addShow=false;
//								return
//							}
                           
							var data = {
								command: "learn/updatelearnplace",
								sessionid: getCookie('sid'),
								loginid: getCookie('uid'),
								learnWorkStation: self.sendlearnWorkStation
							}

							function callback(res) {
								layer.msg('设置成功！', { icon: 6 }, function() {
									self.removeBtn();
								})
								self.trainingNum = '';
								self.trainingType = '';
								self.addShow = false;
								self.addlist = 1;
								self.num=0;
							}
							post('/learn/updatelearnplace', data, callback, errcodefn, errfn)
						}
					},
					addBtn: function() {
						var self = this;
						if (self.num==1) {
							layer.msg('训练位编号不能重复')
							self.num=0;
							return
						}
						self.typelist = false;
						var typenameadd;
						self.addShow = true;
						if(self.addlist == 1) {
							self.addShow = true;
							self.addlist++;
						} else {
							self.addlist++;
							if(self.num==1){
									layer.msg('训练位编号不能重复',{icon:5})
									self.num=0;
									return
								}
							if(self.trainingNum != '' && self.trainingType != '') {
								for(index in self.exeType) {
									if($("#exeType").val() == self.exeType[index].id) {
										typenameadd = self.exeType[index].traintypename
									}
								};
								self.addChoosedTotal.push({
										code: $("#code").val(),
										workstationtypeid: $("#exeType").val(),
										workstationtypename: typenameadd,
										learnids: self.exeListById
								})

								self.sendlearnWorkStation.push({
									workstationtypeid: $("#exeType").val(),
									placeid: self.placeId,
									code: $("#code").val(),
									status: 0
								})
								self.trainingNum = "";
								self.trainingType = "";

							} else {
								layer.msg('请选择训练位类型或者输入训练位编号', { icon: 5 })
							}
						}

					},
					deleteBtn: function() {
						this.addShow = false;
						this.trainingNum = "";
						this.trainingType = "";
					},
					deleteOneExe: function(val, index) {
						layer.open({
							type: 2,
							title: '删除',
							shadeClose: true,
							shade: 0.8,
							area: ['50%', '40%'],
							content: 'deleteItem.html?index=' + index + '&value=' + val
						});

						//          		self.choosedTotal.splice(index,1);

					},
					deleteItem: function(val) {
						var data = {
							command: "learn/deletelearnworkstation",
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							id: val
						}

						function callback(res) {

						}
						post('/learn/deletelearnworkstation', data, callback, errcodefn, errfn)
					},
					stopBtn: function(index) {
						layer.open({
							type: 2,
							title: '禁用',
							shadeClose: true,
							shade: 0.8,
							area: ['50%', '40%'],
							content: 'stopUse.html?index=' + index
						});
					},
					startBtn: function(index) {
						//              	this.choosedTotal[index].status=0;
						//              	this.saveBtn();
						layer.open({
							type: 2,
							title: '启用',
							shadeClose: true,
							shade: 0.8,
							area: ['50%', '40%'],
							content: 'startUse.html?index=' + index
						});
					},
					getExeList: function(index) {
						var self = this;
						var data = {
							command: 'learn/querylearninfobyid',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							workstationtypeid: self.choosedTotal[index].workstationtypeid
						};

						function callback(res) {
							self.choosedTotal[index].learnids = res.learnids;
						};
						post('/learn/querylearninfobyid', data, callback, errcodefn, errfn)
					},
					getExeListAdd: function(index) {
						var self = this;
						var data = {
							command: 'learn/querylearninfobyid',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							workstationtypeid: self.addChoosedTotal[index].workstationtypeid
						};

						function callback(res) {
							self.addChoosedTotal[index].learnids = res.learnids;
						};
						post('/learn/querylearninfobyid', data, callback, errcodefn, errfn)
					},
					getExeListShow: function() {
						var self = this;

						var data = {
							command: 'learn/querylearninfobyid',
							sessionid: getCookie('sid'),
							loginid: getCookie('uid'),
							workstationtypeid: self.trainingType
						};

						function callback(res) {
							self.exeListById = res.learnids;

							self.typelist = true;
						};
						post('/learn/querylearninfobyid', data, callback, errcodefn, errfn)
					}
				}
			});
			getExeType();

			function getExeType() { //获取训练位类型
				var data = {
					command: "learn/querylearnworkstation",
					sessionid: getCookie('sid'),
					loginid: getCookie('uid')
				};

				function callback(res) {
					vm.exeType = res.traintypenames
				};
				post("/learn/querylearnworkstation", data, callback, errcodefn, errfn)
			};

			setCalendarInput('#startDate');
			setCalendarInput('#endDate');

			function goPrevStep() {
				$("#setExercise").removeClass('hide');
				$("#setOpenTime").addClass('hide');
				$("#nav li:eq(0)").attr('class', 'activeStep');
				$("#nav li:eq(1)").attr('class', 'normalStep');
			};
			Array.prototype.unique1 = function() {
				var res = [this[0]];
				for(var i = 1; i < this.length; i++) {
					var repeat = false;
					for(var j = 0; j < res.length; j++) {
						if(this[i] == res[j]) {
							repeat = true;
							break;
						}
					}
					if(!repeat) {
						res.push(this[i]);
					}
				}
				return res;
			}
		</script>
	</body>

</html>