<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>课程训练项设置</title>
		<script src="../../js/vue.js"></script>
		<script src="../../js/element.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<style>
			html,body{
				background-color: white;
			}
			.setUpObject {
				margin: 0 20px;
			}
			
			.setUpObject .formInput {
				width: 60%;
				margin: 20px 20px 20px 0;
			}
			
			.setUpObject .op {
				background-color: #E5E6E8;
				height: 40px;
				line-height: 40px;
				padding-left: 20px;
				margin-bottom: 20px;
			}
			
			.setUpObject .list {
				display: flex;
				justify-content: space-around;
			}
			
			.setUpObject .list li {
				line-height: 76px;
			}
			
			.addObj {
				margin: 20px 0;
			}
		</style>
	</head>

	<body>
		<div class="setUpObject">
			<p class="op">课程训练项设置</p>
			<ul class="list">
				<li>
					<span>课程名称</span>
					<el-input v-model="objName" class="formInput"></el-input>
				</li>
				<li>
					<span>状态</span>
					<el-select v-model="status" filterable class="formInput">
						<el-option :key="0" label="全部" :value="-1">
						</el-option>
						<el-option :key="0" label="启用" :value="0">
						</el-option>
						<el-option :key="1" label="禁用" :value="1">
						</el-option>
					</el-select>
				</li>
				<li>
					<span>操作人</span>
					<el-input v-model="handlers" class="formInput"></el-input>
				</li>
				<li>
					<template>
						<div class="block times">
							操作时间
							<el-date-picker v-model="startTime" type="date" placeholder="选择日期" :picker-options="pickerOptions0" style="width: 30%;">
							</el-date-picker>
							至
							<el-date-picker v-model="endTime" type="date" placeholder="选择日期" :picker-options="pickerOptions0" style="width: 30%;">
							</el-date-picker>
						</div>
					</template>
				</li>
				<li>
					<el-button type="primary" @click="search">查询</el-button>
				</li>
			</ul>
			<div class="addObj">
				<el-button type="primary" @click="addObj">新增课程</el-button>
			</div>
			<div>
				<template>
					<el-table :data="openList" border>
						<el-table-column type="index" label="序号" width="80">
						</el-table-column>
						<el-table-column prop="coursename" label="课程名称" width="100">
						</el-table-column>
						<el-table-column label="关联训练项">
							<template scope="scope">
								<span v-for="value1 in openList[scope.$index].learnlist">{{ value1.name}}&nbsp;&nbsp;&nbsp;</span>
							</template>
						</el-table-column>
						<el-table-column prop="status" label="状态" width="100">
						</el-table-column>
						<el-table-column prop="creator" label="操作人" width="100">
						</el-table-column>
						<el-table-column prop="operatetime" label="操作时间">
						</el-table-column>
						<el-table-column label="操作">
							<template scope="scope">
								<el-button size="small" type="primary" @click="handleLook(scope.$index, scope.row)">查看</el-button>
								<el-button size="small" type="success" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
								<el-button size="small" type="warning" v-if="openList[scope.$index].status=='禁用'"  @click="use(scope.$index, scope.row)">启用</el-button>
								<el-button size="small" type="warning" v-else @click="noUse(scope.$index, scope.row)">禁用</el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>
			</div>
			<template>
				<div class="block" style="margin-top: 20px;text-align: center;">
					<el-pagination
						 
					      @size-change="handleSizeChange"
					      @current-change="handleCurrentChange"
					      :current-page="pageno"
					      :page-sizes="[10, 20, 30, 50]"
					      :page-size="pagesize"
					      layout="total, sizes, prev, pager, next, jumper"
					      :total="totalCount">
					    </el-pagination>
				</div>
			</template>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: '.setUpObject',
			data: {
				objName: '', //学科名称
				handlers: '', //操作者
				status: '', //状态
				startTime: '', //开始时间
				endTime: '', //结束时间
//				pickerOptions0: {
//					disabledDate(time) {
//						return time.getTime() < Date.now() - 8.64e7;
//					}
//				},
				pageno:1,
				pagesize:10,
				totalCount:0,
				openList:[],//查询列表
				row:'',//编辑时传参数
			},
			mounted: function() {
                
			},
			created(){
				this.getObjList('','','','','');
			},
			methods: {
				handleSizeChange(size){
					this.pagesize = size;
					this.getObjList('','','','','');
				},
				handleCurrentChange(currentPage){
					this.pageno = currentPage;
					this.getObjList('','','','','');
				},
				getObjList(nameVal,statusVal,creatorVal,st,et){
					let self=this;
					let data={
						command:'system/querycourselist',
						sessionid:getCookie('sid'),
						loginid:getCookie('uid'),
						page:self.pageno,
						reqnum:self.pagesize,
						coursename:nameVal,
						status:statusVal,
						creator:creatorVal,
						starttime:st,
						endtime:et
					}
					function callback(res){
						if(res && res.errcode==0){
							self.openList=res.courselist;
						    for(var i=0;i<self.openList.length;i++){
//						    	self.openList[i].operatetime=self.openList[i].operatetime.substring(0,16)
						    	if(self.openList[i].status=='0'){
						    		self.openList[i].status='启用';
						    	}else{
						    		self.openList[i].status='禁用';
						    	}
						    }
							self.totalCount=res.allcount;
						}else{
							layer.msg(res.errdesc)
						}
					}
					post('/system/querycourselist',data,callback,errcodefn,errfn)
				},
				search(){
					if(this.status==-1){
						this.status='';
					}
					this.getObjList(this.objName,this.status,this.handlers,this.startTime,this.endTime);
				},
				addObj(){//新增学科
					layer.open({
						type:2,
						title:'新增学科',
						area: ['50%', '70%'],
						content:'addObj.html?pram=0'
					})
					
				},
				handleEdit(index,row){//编辑学科
					this.id=row.id;
					layer.open({
						type:2,
						title:'编辑学科',
						area: ['50%', '70%'],
						content:'addObj.html?pram=1'
					})
					
				},
				handleLook(index,row){//查看学科
					layer.open({
						type:2,
						title:'查看学科',
						area: ['40%', '40%'],
						content:'lookObj.html?id='+row.id
					})
				},
				use(index,row){
					let self=this;
					var id=row.id
					layer.confirm('确定要启用该学科吗？',{
						btn:['是','否']
					},function(){
						var data={
							command:'system/modifycoursestatus',
							sessionid:getCookie('sid'),
							loginid:getCookie('uid'),
							id:id
						}
						function callback(res){
							if(res && res.errcode==0){
								layer.msg('启用成功')
								self.getObjList('','','','','');
							}else{
								layer.msg(res.errdesc)
							}
						}
						post('/system/modifycoursestatus',data,callback,errcodefn,errfn)
					})
				},
				noUse(index,row){
					let self=this;
					var id=row.id
					layer.confirm('确定要禁用该学科吗？',{
						btn:['是','否']
					},function(){
						var data={
							command:'system/modifycoursestatus',
							sessionid:getCookie('sid'),
							loginid:getCookie('uid'),
							id:id
						}
						function callback(res){
							if(res && res.errcode==0){
								layer.msg('禁用成功');
								self.getObjList('','','','','');
							}else{
								layer.msg(res.errdesc)
							}
						}
						post('/system/modifycoursestatus',data,callback,errcodefn,errfn)
					})
				},
			}
		})
	</script>

</html>