<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>学生</title>
	<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css" />   
	<link rel="stylesheet" href="../../css/element.css">
	<!-- <link rel="stylesheet" href="../../css/scmp/student.css" /> -->
	<!--<script src="../../js/jquery-3.1.1.min.js"></script>-->
	<script src="../../js/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/jqPaginator.js"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/scmp/common.js"></script>
	<script src="../../js/ajaxfileupload.js"></script>
	<script src="../../layer/xie/layer1.js"></script>
	<script src="../../js/scmp/pageComponent.js"></script>
	<script src="../../js/base.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/element.js"></script>
	<style>
		.mt20 {
			margin-top: 20px;
		}

		[v-cloak] {
			display: none;
		}
		body{
			background:white;
		}
		* {
			margin: 0;
			padding: 0;
		}

		ul {
			list-style: none;
		}

		a {
			text-decoration: none;
		}

		.s_studentMessage ul {
			list-style: none;
		}

		.s_studentMessage ul>li {
			height: 50px;
		}

		.s_studentMessage ul>li:nth-child(1) {
			margin-top: 30px;
		}
		.input{
			width:200px;
		}
		.select{
			width:180px;
		}
		.flex-between{
			display:flex;
			justify-content: space-between;
			align-items: center;
		}
		.edit{
			margin-bottom:10px;
		}
		.edit>p{
			width:50%;
		}
		.edit>p>span{
			display:inline-block;
			width:85px;
			text-align:right;
		}
		.reset>div{
			margin-bottom: 10px;
		}
		#message-student {
			position: relative;
			width: 100%;
			padding:0 20px;
			box-sizing: border-box;
		}

		#message-student>p {
			width: 100%;
			background-color: #E5E6E8;
			padding-left: 20px;
			clear: right;
			height: 40px;
			line-height: 40px;
			margin-bottom: 20px;
		}
		/****************************************************中间按钮部分******************************************/

		#message-student>.center {
			/* margin: 0 20px 20px 20px; */
			/* padding-bottom: 40px; */
		}

		#message-student>.center>#myButton {
			float: left;
		}

		#message-student>.center .load-in,
		.handle {
			float: left;
		}

		#message-student>.center .load-in {
			margin-left: 20px;
			margin-right: 20px;
		}

		#message-student>.center>.row>input {
			height: 30px;
		}

		#message-student>.center>.form-inline {
			float: right;
		}

		#message-student #input-search {
			margin-right: 20px;
		}
		/*******************************************表格信息*********************************************/

		#message-student .table-responsive {
			clear: both;
			margin: 20px;
		}

		#message-student .table-responsive th {
			font-size: 14px;
		}

		#message-student .table-responsive td {
			font-size: 12px;
		}
		/**************************************************新增学生信息***********************************************/

		#message-student .s_addStudent {
			width: 800px;
			height: 400px;
			border: 1px solid;
			position: fixed;
			left: 100px;
			top: 160px;
			background-color: white;
		}

		.s_studentTop {
			height: 40px;
			border-bottom: 1px solid;
			background-color: silver;
		}

		.s_studentTop>p:nth-child(1) {
			position: absolute;
			left: 10px;
			top: 10px;
		}

		.s_studentTop>p:nth-child(2) {
			height: 50px;
			line-height: 50px;
			position: absolute;
			right: 10px;
			font-size: 20px;
			cursor: pointer;
		}

		.s_addStudent button {
			position: absolute;
			bottom: 20px;
		}

		.s_addStudent .btn-primary {
			right: 100px;
		}

		.s_addStudent .btn-default {
			right: 20px;
		}
		/***********************************删除确认页面*************************************/

		.delete_sure {
			width: 400px;
			height: 300px;
			border: 1px solid;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			background-color: white;
		}

		.student-message,
		.delete_sure .btn-primary {
			width: 100px;
			height: 30px;
			position: absolute;
			right: 180px;
			bottom: 30px;
		}

		.student-message,
		.delete_sure .btn-default {
			width: 100px;
			height: 30px;
			position: absolute;
			right: 55px;
			bottom: 30px;
		}

		.delete {
			height: 40px;
			border-bottom: 1px solid;
		}

		.isSure img {
			position: absolute;
			left: 100px;
			top: 105px;
		}

		.isSure p {
			left: 150px;
			top: 113px;
			position: absolute;
		}
		/*************************************分页************************************/
		.pagination{
			margin-top:30px;
			width:100%;
			text-align:right;
		}
		.left {
			float: left;
		}

		.right {
			float: right;
		}
		/* .dropdown{
			position:relative;
		}
		.dropdown-menu{
			position:absolute;
			width:146px;
			height:70px;
			 border:solid 1px lightgray; 
			background:#ffffff;
			z-index:10;
			border-radius: 5px;
			top:40px;
		}
		.download{
			width:100%;
			height:35px;
			line-height: 35px;
			padding-left: 10px;
		}
		.download a{
			color:black;
		}
		.uploadfile{
			width:100%;
			height: 100%;
			position:absolute;
			z-index:100;
			opacity: 0;
		} */
		.uploadfile{
			width:100%;
			/* height: 100%; */
			position:absolute;
			z-index:100;
			opacity: 0;
			cursor: pointer;
		}
	</style>
</head>

<body>
	<!-- <el-input></el-input>  -->
	<div id="message-student" v-cloak>
		<p>学生</p>
		<!--*********************************按钮  搜索部分************************************-->
		<div class="center flex-between">
			  <!-- <div class="dropdown">
				 <el-button @click="add" type="primary">新增</el-button>  -->
				<!-- <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="true" @click="dropdown">
    			导入
   				 <span class="caret"></span>
 				 </button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" v-show="upload">
					<li class="fileUpload">
						<div style="width: 100px;height: 34px;position: relative;margin:3px 20px;">
							<input type="file" name="file" class="uploadfile" style="width: 100px;height: 34px;position: absolute;left: 0;top: 0;opacity: 0;">导入
						</div>
					</li>
					<li>
						<a href="#" @click="download">下载模块</a>
					</li>
				</ul>
			</div>   -->
			
				<!-- <el-button type="primary" @click="upload = !upload">导入<i class="el-icon-caret-bottom"></i></el-button>
				<ul v-show="upload" class="dropdown-menu">
					<li class="fileUpload download" @mouseover="mouseover(1)">
						<input type="file" name="file" class="uploadfile">导入
					</li>
					<li class="download" @mouseover="mouseover(2)">
						<a href="#" @click="download">下载模板</a>
					</li>
				</ul>
			</div> -->

			<div class="dropdown load-in" style="cursor: pointer;">
				<el-button type="primary" @click="add">新增</el-button>
				<button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
				 	aria-expanded="true">导入
    				<span class="caret"></span>
 				 </button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li style="margin-bottom: 10px;" class="fileUpload">
						<div style="cursor: pointer;" id="cur">
							<div data-loading-text="Loading..." class="manage-addstudent" autocomplete="off" style="margin-left: 20px;">
								 <input type="file" name="file" class="uploadfile" data-role='uploadStuBtn'> 
								 导入学生
							</div>
						</div>
					</li>
					<li>
						<a href="#" @click="download">下载模板</a>
					</li>
				</ul>
			</div> 


			<!--  <div> 
				<el-button @click="add" type="primary">新增</el-button>
				<el-dropdown @command="handleCommand">
					<el-button type="primary">
						导入<i class="el-icon-caret-bottom el-icon--right"></i>
					</el-button>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item command="a">
							 <input type="file" name="file" class="uploadfile" data-role='uploadStuBtn'>导入
						</el-dropdown-item>
						<el-dropdown-item command="b">下载模板</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
			</div>   -->
			<div>
				<el-input v-model="searchStudent" placeholder="请输入姓名或手机号" style="width:280px;">
					<el-button slot="append" icon="search" @click="search"></el-button>
				</el-input>
			</div>
			<!-- <form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
					<div class="input-group" id="input-search">

						<input type="text" class="form-control" id="exampleInputAmount" placeholder="姓名或者手机号" v-model="searchStudent" id="searchMessage"
						 @blur="blurName">
						<div class="input-group-addon" @click="search" style="cursor: pointer;">搜索</div>
					</div>
				</div>

			</form> -->

		</div>
		<!--************************************************表格   学生信息**************************************-->
		 <div class="table-responsive"> 
			<el-table
			ref="singleTable"
			:data="showList"
			border
			highlight-current-row
			style="width: 100%">
			<el-table-column
			type="index"
			width="60">
			</el-table-column>
			<el-table-column
			prop="studentname"
			label="姓名"
			width="100">
			</el-table-column>
			<el-table-column
			prop="studentcode"
			label="学号"
			width="150">
			</el-table-column>
			<el-table-column
			prop="mobile"
			width="150"
			label="手机号">
			</el-table-column>
			<el-table-column
			prop="grade"
			width="80"
			label="年级">
			</el-table-column>
			<el-table-column
			prop="classname"
			width="180"
			label="班级">
			</el-table-column>
			<el-table-column
			prop="major"
			width="150"
			label="专业">
			</el-table-column>
			<el-table-column
			label="操作">
			<template scope="scope">
				<el-button
				@click.native.prevent="edit(scope.$index,scope.row)"
				type="info"
				size="mini">
				编辑
				</el-button>
				<el-button
				@click.native.prevent="reset(scope.$index,scope.row)"
				type="info"
				size="mini">
				重置密码
				</el-button>
				<el-button
				@click.native.prevent="delete_message(scope.$index,scope.row)"
				type="danger"
				size="mini">
				删除
				</el-button>
			</template>
		</el-table-column>
		
		  </el-table>
	  <div class="pagination">
		 <el-pagination
		@size-change="handleSizeChange"
		@current-change="handleCurrentChange"
		:current-page="currentPage"
		:page-sizes="[10, 20, 50, 100]"
		:page-size="pageSize"
		layout="total, sizes, prev, pager, next, jumper"
		:total='totalnum'>
		</el-pagination> 
	</div>
	</div>
		<el-dialog
			title="修改密码"
			:visible.sync="dialogVisibleReset"
			size="tiny"
			:before-close="handleCloseReset">
			 <div class="reset">
				<div>
					<span>用户名：</span>
					<span>{{username}}</span>
				</div>
				<div>
					<el-input placeholder="请输入新密码" v-model="pwd" type="password">
						<template slot="prepend"><i class="el-icon-information"></i></template>
					</el-input>
				</div>
				<div>
					<el-input placeholder="请确认新密码" v-model="surepwd" type="password">
						<template slot="prepend"><i class="el-icon-warning"></i></template>
					</el-input>
				</div>
				<div class="d-btn" style="text-align:right;">
					<el-button type="warning" size="small" @click="defaultpwd">默认密码</el-button>
				</div>
				<div style="text-align:right;">
					<el-button @click="dialogVisibleReset = false">取 消</el-button>
					<el-button type="primary" @click="resetSure">确 定</el-button>
				</div>
			</div>
			
		</el-dialog>
		<el-dialog
			:title="is_edit?'编辑学生信息':'新增学生信息'"
			:visible.sync="dialogVisibleEdit"
			size="small"
			:before-close="handleCloseEdit">
			<el-form :model = "editList" :rules="rules" ref="editList" label-width ="100px">
				<el-form-item label="姓名：" prop = "name">
					<el-input style = "width:200px" v-model="editList.name" placeholder="请输入学生姓名"></el-input>
				</el-form-item>
				<el-form-item label="学号：" prop = "studentcode">
					<el-input style = "width:200px" v-model="editList.studentcode" placeholder="请输入学号"></el-input>
				</el-form-item>
				<el-form-item label="班级：" prop = "classId">
					<el-select class="select" v-model="editList.classId" placeholder="请选择班级">
						<el-option 
						v-for="item in classlist"
						:key="item.classId"
						:label="item.className"
						:value="item.classId"
						></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="性别：" prop="sex">
					<el-radio class="radio" v-model="editList.sex" label="0">男</el-radio>
					<el-radio class="radio" v-model="editList.sex" label="1">女</el-radio>
				</el-form-item>
				<el-form-item label="手机号：" prop="mobile">
					<el-input class="input" v-model="editList.mobile" placeholder="请输入11位手机号码"></el-input>
				</el-form-item>
				<el-form-item label="邮箱：" prop="email">
					<el-input class="input" v-model="editList.email" placeholder="请输入邮箱"></el-input>
				</el-form-item>
				<el-form-item label="证件号码：" prop="certificate">
					<el-select class="select" v-model="editList.cardType" placeholder="请选择证件类型">
						 <!-- <el-option v-for="item in cardList" :label="item.name" :key="item.id" :value="item.id"></el-option> -->
						  <el-option label="身份证" value="0" key="0"></el-option>
						  <el-option label="其他" value="1" key="1"></el-option>
					</el-select>
					<el-input class="input" v-model="editList.certificate" placeholder="请输入正确的证件号码"></el-input>
				</el-form-item>
				<el-form-item label="地址：">
					<el-input class="input" v-model="editList.address" placeholder="请输入正确的地址"></el-input>
				</el-form-item>
				<el-form-item label="一卡通信息：">
					<el-input class="input" v-model="editList.message" placeholder="请输入正确的一卡通信息"></el-input>
				</el-form-item>
				 <el-form-item style="text-align:right;">
					<el-button type="primary" @click="saveDataStudent('editList')">保存</el-button>
					<el-button @click="dialogVisibleEdit = false">取 消</el-button>
				</el-form-item> 
			</el-form>
		</el-dialog>
	<!--分页-->
	<!-- <page_component :pageconf="pageconf" :pages="pages"></page_component> -->
	</div>
	<script>
		var vm = new Vue({
			el: "#message-student",
			data: {
				username:'',
				sex: 0,
				// willShow: false,
				checkAllFlag: false,
				checkedOne: false,
				messageShow: false,
				deleteShow: false,
				stulist: '',
				classlist: [],
				classid: [],
				totalNum: "",
				pageList: [],
				uname: '',
				pwd: '',
				classNum: '',
				phoneNum: '',
				cardType: '',
				cardList:[],
				cardId:'',
				cardNum: '',
				emailNum: '',
				addressStu: '',
				cardMessage: '',
				totalPage: null,
				totalPageList: [],
				// editList: '',
				deleteId: '',
				saveid: '',
				allCount: '',
				studenteditor: '',
				searchStudent: '',
				editSex: '',
				upload: false,
				dialogVisibleReset:false,
				editId:'',
				totalnum:0,
				pageSize:10,
				currentPage:1,
				showList: [],//后台请求过来需要展示到页面的数组
				dialogVisibleEdit:false,
				is_edit:true,
				surepwd:'',
				pwd:'',
				uid:'',
				editList:{
					name:'',
					studentcode:'',//学号
					classId:'',
					sex:'0',
					mobile:'',
					email:'',
					cardType:'',//证件类型
					certificate:'',//证件号码
					address:'',
					message:'',
				},
				rules:{
					name: [
			            // { required: true, message: '请输入计划名称', trigger: 'blur' },
						{ required: true,message:'请输入学生姓名', trigger: 'blur' },
						// {
						// 	validator:(rule, value, callback) => {
						// 		if (value !== '' &&　/^[\\u4e00-\\u9fa5]+[·•][\\u4e00-\\u9fa5]+$/.test(value) == false ) {
						// 			callback(new Error('学生姓名只能是2-8位的汉字或英文！'));
						// 		}else{
						// 			callback()
						// 		}
						// 	},trigger:'blur'
						// }
					],
					studentcode:[
						{required:true,message:'请输入学号'},
					],
					classId:[
						{required:true,message:'请选择班级'}
					],
					sex:[
						{required:true,message:'请选择性别',trigger:'change'}
					],
					mobile:[
						{required:true,message:'请输入手机号码'},
						{
							validator:(rule, value, callback) => {
								if (value !== '' &&　/^1[34578]\d{9}$/.test(value.trim()) == false) {
									callback(new Error('请输入正确的手机号码！'));
								}else{
									callback()
								}
							}
						}
					],
					email:[
						{
							validator:(rule, value, callback) => {
								if (value !== "" && /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/.test(value.trim()) == false) {
									callback(new Error('请输入正确的邮箱！'));
								}else{
									callback()
								}
							}
						}
					],
					// certificate:[
					// 	{
                    //         validator: (rule, value, callback) => {
                    //             if(vm.cardId == 0){//身份证
                    //                 if (value !== "" && /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/.test(value) == false) {
                    //                     callback(new Error('请输入正确的身份证号！'));
                    //                 } else {
                    //                     callback()
                    //                 }
					// 			}else{//其他
                    //                 callback()
					// 			}   
					// 			// else if(vm.cardId == 72){//护照
                    //             //      if (value !== "" && (/^[a-zA-Z]{5,17}$/.test(value) || /^[a-zA-Z0-9]{5,17}$/.test(value)) == false) {
                    //             //         callback(new Error('请输入正确的护照！'));
                    //             //     } else {
                    //             //         callback()
                    //             //     }
                    //             // }else if(vm.cardId == 73){//港澳通行证
                    //             //      if (value !== "" && /^[HMhm]{1}([0-9]{10}|[0-9]{8})$/.test(value) == false) {
                    //             //         callback(new Error('请输入正确的港澳通行证号！'));
                    //             //     } else {
                    //             //         callback()
                    //             //     }
                    //             // }else if(vm.cardId == 74){//军官证
                    //             //      if (value !== "" && (/^[a-zA-Z]{5,17}$/.test(value) || /^[a-zA-Z0-9]{5,17}$/.test(value)) == false) {
                    //             //         callback(new Error('请输入正确的军官证号！'));
                    //             //     } else {
                    //             //         callback()
                    //             //     }
					// 			// }
					// 		}
                    //     }
					// ]
				},
				
			},
			watch:{
				'editList.cardType':function(val){
					this.cardId = val
					// alert(this.cardId)
				}
			},
			mounted: function () {
				// this.pageconf.onchange(1, 10);
				let self = this;
				this.queryClsList()
				this.queryCard()
				this.queryStudentlist(this.currentPage,this.pageSize)
				// alert(this.cardId)
				$('.fileUpload').on('change', '.uploadfile', function () {
					var val = $('.uploadfile').val();
					if (!val) return;
					var data = {
						command: 'studentstaff/importstudentstaff',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
					}
					function callback(res) {
						$('.uploadfile').val('');
						console.log(res)
						if (res && res.errcode == 000000) {
							layer.msg('导入成功')
							// self.pageconf.onchange(1, 10);
							self.queryStudentlist(self.currentPage,self.pageSize)
							self.upload = false;
						} else {
							// layer.msg(res.errdesc)
							layer.open({
								content:res.errorlist.join(','),
								btn:'关闭'
							})
							self.upload = false;
						}
					}
					importExcel($('.uploadfile'), data, callback, function () {
						$('.uploadfile').val('');
					})
				});
				//					$('.uploadfile').on('change',function () {
				//		            var data={
				//		            	command:'studentstaff/addstudentstaff',
				//		            	sessionid:getCookie('sid'),
				//		            	loginid:getCookie('uid'),
				//		            }
				//		            function callback(res){
				//		            	layer.msg('导入成功！')
				//		            	this.pageconf.onchange(1, 10);
				//	           		}
				//					importExcel($('.uploadfile'),data,callback)
				//	        	});
			},
			computed: {
				// pages: function () {
				// 	var pag = [];
				// 	if (this.pageconf.current < this.pageconf.showItem) { //如果当前的激活的项 小于要显示的条数
				// 		//总页数和要显示的条数那个大就显示多少条
				// 		var i = Math.min(this.pageconf.showItem, this.pageconf.allpage);
				// 		while (i) {
				// 			pag.unshift(i--);
				// 		}
				// 	} else { //当前页数大于显示页数了
				// 		var middle = this.pageconf.current - Math.floor(this.pageconf.showItem / 2), //从哪里开始
				// 			i = this.pageconf.showItem;
				// 		if (middle > (this.pageconf.allpage - this.pageconf.showItem)) {
				// 			middle = (this.pageconf.allpage - this.pageconf.showItem) + 1
				// 		}
				// 		while (i--) {
				// 			pag.push(middle++);
				// 		}
				// 	}
				// 	return pag
				// }
			},
			methods: {
				queryCard:function(){
					let self = this
					let data = {
						command: 'hr/querylevellist',//接口地址
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						code:'card'
					};
					function callback(res) {
						if(res && res.errcode == 0){
							self.cardList = res.levellist
						}
					};
					post('/hr/querylevellist', data, callback, errcodefn, errfn)
				},
				mouseover(index){
					// console.log(event)
					// if(index == 1){
					// 	$($('.dropdown-menu').find('li')[0]).css('background','rgb(245,245,245)');
					// 	$($('.dropdown-menu').find('li')[1]).css('background','rgb(255,255,255)');
					// }else{
					// 	$($('.dropdown-menu').find('li')[1]).css('background','rgb(245,245,245)');
					// 	$($('.dropdown-menu').find('li')[0]).css('background','rgb(255,255,255)');
					// }
				},
				handleCloseReset(){
					this.dialogVisibleReset = false
				},
				handleCloseEdit(){
					this.dialogVisibleEdit = false
				},
				handleSizeChange(val){
					this.pageSize = val
					this.queryStudentlist(this.currentPage,this.pageSize)
				},
				handleCurrentChange(val){
					this.currentPage = val
					this.queryStudentlist(this.currentPage,this.pageSize)
				},
				queryStudentlist(currentPage,pageSize){
					let self = this
					var data = {
						command: "cls/studentlist",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						content: self.searchStudent,
						page: currentPage, //查询第几页
						reqnum: pageSize //每页展示多少条,
					};
					function callback(res) {
							// this.showList = [];
							console.log(res)
							self.totalnum = res.allcount;
							// vm.pageconf.allpage = Math.ceil(res.allcount / itemsperpage);
							self.showList = res.studentlist;
							console.log(self.showList)
							// alert(this.totalnum)
					};
					post("/cls/studentlist", data, callback, errcodefn, errfn)
				},
				queryClsList(){
					let self = this;
					$.ajax({
						type: "post",
						url: "/cls/clslist",
						async: true,
						data: JSON.stringify({
							'1': {
								command: "cls/clslist",
								sessionid: getCookie('sid'),
								loginid: getCookie('uid')
							}
						}),
						success: function (data) {

							for (var i = 0; i < data['1'].gradelist.length; i++) {
								for (var j = 0; j < data['1'].gradelist[i].clslist.length; j++) {
									self.classlist.push({ className: data['1'].gradelist[i].clslist[j].clsname, classId: data['1'].gradelist[i].clslist[j].clsid });
								}
							}
							// console.log(self.classlist)
						}
					});
				},
				// dropdown() {
				// 	this.upload = true;
				// },
				download() { //下载模板
					let data = {
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						command: "studentstaff/studentmould",
					};
					exportMouldExcel(data);
					this.upload = false
				},
				blurName: function () {
					if (this.searchStudent == '') {
						// this.pageconf.onchange(1, 10);
					}
				},
				add: function () { //新增按钮
					// this.willShow = true;
					this.dialogVisibleEdit = true
					this.is_edit = false
					this.editList.name = ''
					this.editList.studentcode = ''
					this.editList.classId = ''
					this.editList.sex = '0'
					this.editList.mobile = ''
					this.editList.email = ''
					this.editList.cardType = ''
					this.editList.certificate = ''
					this.editList.address = ''
					this.editList.message = ''
				},
				remove: function () { //x号按钮
					this.willShow = false;
					this.messageShow = false;
					this.deleteShow = false;
				},
				checkedAll: function () { //全选
					this.checkAllFlag = !this.checkAllFlag;
					var self = this;
					if (this.checkAllFlag) {
						self.checkedOne = true;
					} else {
						self.checkedOne = false;
					}
				},
				cancel: function () { //取消按钮
					this.willShow = false;
					this.messageShow = false;
					this.deleteShow = false;
				},
				querystudentinfo(){
					let self = this
					var data = {
						command: "studentstaff/querystudentinfo",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						uid: self.editId
					};
					function callback(res) {
						if(res.errcode == 0){
								self.editList.name = res.studentlist[0].studentname
								self.editList.studentcode = res.studentlist[0].studentcode;
								self.editList.classId = res.studentlist[0].stdclassid
								self.editList.sex = res.studentlist[0].sex + ''
								self.editList.mobile = res.studentlist[0].mobile
								self.editList.email = res.studentlist[0].email || ''
								// self.editList.cardType = res.studentlist[0].cardtype || ''
								self.editList.certificate = res.studentlist[0].cardnum || ''
								self.editList.address = res.studentlist[0].address || ''
								self.editList.message = res.studentlist[0].cardno || ''
								if(res.studentlist[0].cardtype == null){
									self.editList.cardType = ''
								}else{
									self.editList.cardType = res.studentlist[0].cardtype + ''
								}
								// alert(self.editList.cardType)
							}
					};
					post("/studentstaff/querystudentinfo", data, callback, errcodefn, errfn)
				},
				edit: function (index,row) { //编辑按钮
					this.dialogVisibleEdit = true;
					this.is_edit = true
					this.editId = row.studentid
					this.querystudentinfo()
				},
				search: function () { //搜索按钮
					// if (this.searchStudent == '') {
					// 	// this.pageconf.onchange(1, 10);
					// 	this.queryStudentlist(,this.pageSize)
					// } else {
						this.queryStudentlist(this.currentPage,this.pageSize)
					// }

				},
				reset(index,row){
					this.dialogVisibleReset = true
					this.username = row.studentname
					// console.log(row)
					this.uid = row.studentid
				},
				defaultpwd(){
					this.pwd='123456';
                	this.surepwd='123456';
				},
				resetSure(){
					 let self = this;
					if (self.pwd.length===0||self.surepwd.length===0){
						// layer.msg('请填写密码');
						self.$message({
							type:'warning',
							message:'请填写密码！'
						})
						return
					}
					if(self.pwd!==self.surepwd){
						// layer.msg('两次输入密码不一致，请重新输入');
						self.$message({
							type:'error',
							message:'两次输入密码不一致，请重新输入!'
						})
						return
					}
					var _json = {
						"1": {
							command: "admin/resetpassword",
							adminuid:getCookie('uid'),
							sessionid:getCookie('sid'),
							uid:self.uid,//要修改的用户的id
							loginid:getCookie('uid'),
							newpassword:self.pwd
						}
					};
					var json = JSON.stringify(_json);
					$.ajax({
						url: "/admin/resetpassword",
						type: "POST",
						contentType: 'application/json',
						data: json,
						success: function (data) {
							data = data["1"];
							if (data.errcode == 0) {
								// layer.msg('已成功重置密码');
								self.$message({
									type:'success',
									message:'已成功重置密码!'
								})
								self.dialogVisibleReset = false
								// self.resetbox=false;
							} else if (data.errcode == 9904) {
								// layer.msg("登录信息已失效，请重新登录");
								self.$message.error('登录信息已失效，请重新登录')
							} else if(data.errcode == 19){
								// layer.msg("您没有权限修改密码");
								self.$message({
									type:'warning',
									message:'您没有权限修改密码!'
								})
							}else{
								self.$message({
									type:'error',
									message:data.errdesc
								})
							}
						},
						error: function () {
							errfn();
						}
					})
					},
					delete_message (index,row) { //删除按钮
						// this.deleteShow = true;
						this.deleteId = row.studentid
						this.$confirm('此操作将永久删除该学生的信息, 是否继续?', '提示', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning'
							}).then(() => {
								this.deleteStudent()
							}).catch(() => {
							this.$message({
								type: 'info',
								message: '已取消删除'
							});          
						});
				},
				deleteStudent: function (event) { //确认删除按钮
					var self = this;
					$.ajax({
						type: "post",
						url: "/studentstaff/deletestudentstaff",
						async: true,
						data: JSON.stringify({
							'1': {
								command: "studentstaff/deletestudentstaff",
								sessionid: getCookie('sid'),
								loginid: getCookie('uid'),
								uid: self.deleteId
							}
						}),
						success: function (data) {
							// layer.msg('删除成功!', { time: 500 }, function () {
							// 	vm.pageconf.onchange(findurltype('page'), findurltype('number'));
							// });
							self.queryStudentlist(self.currentPage,self.pageSize)
							self.$message({
								type:'success',
								message:'删除成功了！'
							})
						}
					});
					self.deleteShow = false;
				},
				// testName: function () {
				// 	var regName = /^[\u4e00-\u9fa5]{2,4}$/;
				// 	if (!regName.test(this.uname)) {
				// 		layer.msg('请输入正确的姓名!');
				// 	}
				// },
				// testPwd: function () {
				// 	var regNum = /^\d+$/;
				// 	if (!regNum.test(this.pwd)) {
				// 		layer.msg('请输入正确的学号!');
				// 	}
				// },
				// testPhone: function () {
				// 	var regPhone = /^1[3|4|5|7|8][0-9]{9}$/;
				// 	if (!regPhone.test(this.phoneNum)) {
				// 		layer.msg('请输入正确的手机号!');
				// 	}
				// },
				// testEmail: function () {
				// 	var regEmail = /^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/;
				// 	if (this.emailNum != '' && !regEmail.test(this.emailNum)) {
				// 		layer.msg('请输入正确的邮箱!');

				// 	}
				// },
				// testCard: function () {
				// 	var regCard = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/;
				// 	if (this.cardNum != '' && !regCard.test(this.cardNum)) {
				// 		layer.msg('请输入正确的证件号码!');

				// 	}
				// },
				// testAddress: function () {
				// 	var regAddress = /^[\u4e00-\u9fa5]{2,}$/;
				// 	if (this.addressStu != '' && !regAddress.test(this.addressStu)) {
				// 		layer.msg('请输入正确的住址!');

				// 	}
				// },
				saveDataStudent: function (editList) { //编辑保存按钮
					let self = this
					let reg = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/
							if(this.editList.certificate !== ''){
								if(this.editList.cardType == ''){
									this.$message({
										type:'warning',
										message:'请选择证件类型!'
									})
								}else{
									if(this.cardId == 0){
										if(!reg.test(this.editList.certificate)){
											this.$message.error('请输入正确的身份证号！')
											return
										}
									}
									this.$refs[editList].validate((valid) => {
										if(valid){
											if(this.is_edit){
												self.modifystudentinfo()
											}else{
												self.addstudentstaff()
											}
										}
									})
									
								}
							}else{
								this.$refs[editList].validate((valid) => {
										if(valid){
											if(this.is_edit){
												self.modifystudentinfo()
											}else{
												self.addstudentstaff()
											}
										}
									})
							}
					},
					addstudentstaff(){
						// alert(this.editList.email)
						let self = this;
						$.ajax({
							type: "post",
							url: "/studentstaff/addstudentstaff",
							async: true,
							data: JSON.stringify({
								'1': {
									command: "studentstaff/addstudentstaff",
									sessionid: getCookie('sid'),
									loginid: getCookie('uid'),
									studentlist: [{
										name: self.editList.name.trim(),
										code: String(self.editList.studentcode).trim(),
										stdclassid: self.editList.classId,
										mobile: self.editList.mobile.trim(),
										cardnum: self.editList.certificate.trim(),
										email: self.editList.email.trim(),
										cardno: self.editList.message.trim(),
										address: self.editList.address.trim(),
										cardtype: self.editList.cardType,
										sex: self.editList.sex
									}]
								}
							}),
							success: function (data) {
								if(data['1'].errcode == 0){
									self.dialogVisibleEdit = false
									self.queryStudentlist(self.currentPage,self.pageSize)
									self.$message({
										type:'success',
										message:'新增成功了'
									})
								}else if(data['1'].errcode == '2701'){
									self.$message.error('新增手机号或学号或证件号或一卡通已存在，请核查!')
								}else{
									self.$message({
										type:'error',
										message:data['1'].errdesc
									})
								}
								
							}
						})
					},
				modifystudentinfo(){
					let self = this;
						$.ajax({
							type: "post",
							url: "/studentstaff/modifystudentinfo",
							async: true,
							data: JSON.stringify({
								'1': {
									command: "studentstaff/modifystudentinfo",
									sessionid: getCookie('sid'),
									loginid: getCookie('uid'),
									id:self.editId,
									name: self.editList.name.trim(),
									code: String(self.editList.studentcode).trim(),
									stdclassid: self.editList.classId,
									mobile: self.editList.mobile.trim(),
									cardnum: self.editList.certificate.trim(),
									email: self.editList.email.trim(),
									cardno: self.editList.message.trim(),
									address: self.editList.address.trim(),
									cardtype: self.editList.cardType,
									sex: self.editList.sex
								}
							}),
							success: function (data) {
								if(data['1'].errcode == 0){
									self.dialogVisibleEdit = false
									self.queryStudentlist(self.currentPage,self.pageSize)
									self.$message({
										type:'success',
										message:'编辑成功了'
									})
								}else if(data['1'].errcode == '2701'){
									self.$message.error('编辑手机号或学号或证件号或一卡通已存在，请核查!')
								}else{
									self.$message({
										type:'error',
										message:data['1'].errdesc
									})
								}
								
							}
						})
				}
			}
		})
	</script>
</body>

</html>