<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>调查记录</title>
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/scmp/survey_question.css">
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../js/echarts.min.js"></script>
    <script src="../../js/moment.js"></script>
    <script src="https://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
</head>

<body>
    <div class="container" v-cloak style="margin:0;width:100%;">
        <p class="title">调查记录</p>
        <div class="marginBottom">
            <label>问卷名称</label>
            <el-input v-model='questionName' class="input"></el-input>
            <label>调查日期</label>
            <el-date-picker v-model="searchTimeRange" type="daterange" format="yy-MM-dd" placeholder="选择日期范围">
            </el-date-picker>
            <label>状态</label>
            <el-select v-model="seachStatus" placeholder="请选择" class="select">
                <el-option key="全部" value="" label="全部">全部</el-option>
                <el-option key="待发布" value="1" label="待发布">待发布</el-option>
                <el-option key="进行中" value="2" label="进行中">进行中</el-option>
                <el-option key="已结束" value="3" label="已结束">已结束</el-option>
            </el-select>
            <label>类型</label>
            <el-select v-model="typeModel" placeholder="请选择" class="select">
                <el-option key="" value="" label="全部">全部</el-option>
                <el-option key="0" value="0" label="手工发布">手动发布</el-option>
                <el-option key="1" value="1" label="自动发布">自动发布</el-option>
            </el-select>
            <el-button type="primary" icon="search" @click="search">搜索</el-button>
            <el-button type="primary" @click="addQuestion">新增问卷调查</el-button>
        </div>
        <div>
            <el-table ref="singleTable" :data="tableData" highlight-current-row border style="width: 100%">
                <el-table-column type="index" label="序号" width="65">
                </el-table-column>
                <el-table-column property="title" label="问卷名称" width="200">
                </el-table-column>
                <el-table-column property="push_type" label="推送类型" width="100">
                </el-table-column>
                <el-table-column property="status" label="状态" width='80'>
                </el-table-column>
                <el-table-column property="begin_time" width="200" label="调查时间">
                </el-table-column>
                <el-table-column property="end_time" width="200" label="调查截止时间">
                </el-table-column>
                <el-table-column property="creator" label="发布人" width="100">
                </el-table-column>
                <el-table-column property="status" label="操作">
                    <template scope="scope">
                        <el-button type="text" size="small" @click.native.prevent="detail(scope.$index,scope.row)">查看</el-button>
                        <el-button v-if="scope.row.status == '待发布'" type="text" size="small" @click.native.prevent="edit(scope.$index,scope.row)">编辑</el-button>
                        <el-button v-if="scope.row.status == '待发布'" type="text" size="small" @click.native.prevent="deleteRecord(scope.$index,scope.row)">删除</el-button>
                        <el-button v-if="scope.row.status == '待发布'" type="text" size="small" @click.native.prevent="release(scope.$index,scope.row)">发布</el-button>
                        <el-button v-if="scope.row.status != '待发布'" type="text" size="small" @click.native.prevent="survey(scope.$index,scope.row)">调查结果</el-button>
                        <el-button v-if="scope.row.status == '进行中'" type="text" size="small" @click.native.prevent="over(scope.$index,scope.row)">终止</el-button>
                    </template>
            </el-table>
            <div class="flex-end marginTop">
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]"
                    :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalNum">
                </el-pagination>
            </div>
        </div>
        <!--查看问卷详情  -->
        <el-dialog title="查看问卷" :visible.sync="dialogVisibleQuestionDetail" size="full"                                 :before-close="handleCloseQuestionDetail">
			<div class="detail">
				<div id="code"></div>
				<h1>{{naire.name}}</h1>
				<p class="instruction">{{naire.comment}}</p>
				<div class="question" v-for="(item,index) in evaluationList">
					<h2><span v-if="item.required == 0" style="color:red;">*</span>{{index+1}}、{{item.content}}
						<span v-if="item.type == 1">(单选题)</span><span v-if="item.type == 2">(多选题)</span></h2>
					<div class="flex">
						<p v-if="item.type == 1" v-for="(v,key) in item.items" class="selectCont">
							<el-radio class="radio" disabled><span v-if="v.code">{{v.code}}、</span>{{v.content}}</el-radio>
						</p>
						<p v-if="item.type == 2" v-for="(v,key) in item.items" class="selectCont">
							<el-checkbox disabled>{{key+1}}、{{v.content}}</el-checkbox>
						</p>
						<p v-if="item.type == 3" v-for="(v,key) in item.items" class="selectCont textarea">
							<el-input type="textarea" :rows="4" placeholder="200字以内" disabled>
							</el-input>
						</p>
					</div>
				</div>
			</div>
        </el-dialog>
        <!-- 调查结果弹出框 -->
					<el-dialog title="调查结果" :visible.sync="dialogVisible" size="full" :before-close="handleClose">
						<!-- <div class="flex-end" style="width: 80%;margin: 0 auto 10px;">
							 <el-button type="primary">反馈情况统计</el-button> 
							 <el-button type="primary">报告下载</el-button> 
						</div> -->
						<div class="list" v-for="(item,index) in resultList">
							<h2><span>{{index+1}}、</span></span>{{item.title}}</h2>
							<table class="tableProgress" v-if="showCharts.length > 0" v-show="showCharts[index].table">
								<thead>
									<th>选项</th>
									<th>统计</th>
									<th>百分比</th>
								</thead>
								<tbody>
									<tr v-for='v in item.select_list'>
										<td>{{v.content}}</td>
										<td>{{v.number}}</td>
										<td>
											<el-progress :text-inside="true" :stroke-width="18" :percentage="v.percent"></el-progress>
										</td>
									</tr>
								</tbody>
							</table>
							<div v-if="showCharts.length > 0" v-show="showCharts[index].pie" class="pieChart">

							</div>
							<div v-if="showCharts.length > 0" v-show="showCharts[index].bar" class="singleBar">

							</div>
							<div class="flex-between paddingLeft marginTop paddingRight">
								<div class="flex flex-start">
									<el-button @click="form(index,item)">表格</el-button>
									<el-button @click="pieChart(index,item)">饼图</el-button>
									<el-button @click="barGraph(index,item)">柱状图</el-button>
								</div>
								<!-- <el-button>调查反馈详情</el-button> -->
							</div>
						</div>
                    </el-dialog>
                    <!-- 选择创建方式 -->
        <el-dialog title="选择创建方式" :visible.sync="dialogVisibleAddModel" size="small" :before-close="handleCloseAddModel">
			<el-button type='text' @click="selectQuestionModel">选择问卷模板</el-button>
			<!-- <el-button type='text'>导入问卷文本</el-button> -->
			<el-button type='text' @click="addQuestionServise">录入问卷服务</el-button>
			<!-- <span slot="footer" class="dialog-footer">
				<el-button @click="dialogVisibleAddModel = false">取 消</el-button>
				<el-button type="primary" @click="dialogVisibleAddModel = false">确 定</el-button>
			</span> -->
        </el-dialog>
        	<!--选择模板  -->
		<el-dialog
			title="选择模板"
			:visible.sync="dialogVisibleSelectModel"
			size="small"
			:before-close="handleCloseSelectModel">
			<div>
				<el-input v-model="searchTempName" placeholder="请输入问卷名称" class="marginBottom">
					<el-button slot="append" icon="search" @click="searchTemp"></el-button>
				</el-input>
				 <el-table
					ref="multipleTable"
					:data="selectModelList"
					border
					tooltip-effect="dark"
					style="width: 100%"
					highlight-current-row
					@current-change="handleSelectionChange">
				 	<el-table-column
					type="index"
					width="65"
					label="序号">
					</el-table-column>
					<el-table-column
					prop="name"
					label="问卷名称"
					>
					</el-table-column>
					<el-table-column
					prop="creator"
					label="操作人"
					width="120">
					</el-table-column>
				</el-table>
				<div class="flex-end marginTop">
						<el-pagination
							@size-change="handleSizeChangeModel"
							@current-change="handleCurrentChangeModel"
							:current-page="currentPageModel"
							:page-sizes="[10, 20, 50, 100]"
							:page-size="pageSizeModel"
							layout="total, sizes, prev, pager, next, jumper"
							:total="selectModelNum">
						</el-pagination>
				</div>

			</div>
			 <span slot="footer" class="dialog-footer">
				<el-button @click="dialogVisibleSelectModel = false">取 消</el-button>
				<el-button type="primary" @click="selectModelSure">确 定</el-button>
			</span> 
		</el-dialog>
        	<!--新增编辑问卷-->
		<el-dialog :title="is_edit?'编辑问卷':'新增问卷'" :visible.sync="dialogVisibleAddQuestion" size="full" :before-close="handleCloseAddQuestion">
				<div class="editQuestionDialog">
					<div class="flex-between">
						<h2 class="middleFontSize" style="width:100px;"><span style="color:red;">*</span>问卷标题：</h2>
						<el-input placeholder="请输入问卷名称" v-model="naire.name" class="marginBottom"></el-input>
					</div>
					<div class="flex-between">
						<h2 class="middleFontSize" style="width:100px;"><span style="color:red;">*</span>问卷说明：</h2>
						<el-input placeholder="请输入问卷说明" v-model="naire.comment" type="textarea" :rows="3"></el-input>
					</div>
					<!--增加题目-->
					<div v-for="(item,index) in evaluationList" class="marginTop border padding">
						<div class="flex-between marginBottom">
							<span>{{index+1}}、</span>
							<el-input placeholder="在此输入题目标题" v-model="item.content"></el-input>
							<span v-if="item.type == 1" class="naireType">（单选题）</span>
							<span v-else-if="item.type == 2" class="naireType">（多选题）</span>
							<span v-else-if="item.type == 3" class="naireType">（简答题）</span>
							 <span v-else class="naireType">（段落说明）</span> 
							<p class="flex-between" style="margin-bottom:0;margin-left:20px;width:20%;height:40px;">
								<span>是否必填</span>
								<el-radio class="radio" v-model="item.required" label="0">是</el-radio>
								<el-radio class="radio" v-model="item.required" label="1">否</el-radio>
							</p>
						</div>
						<div>
							<p v-for="(v,key) in item.items" v-if="item.type == 1 || item.type == 2" class="flex-between paddingLeft">
								<span class="marginRight">{{String.fromCharCode(key+65)}}</span>
								<el-input placeholder="输入选项内容，100字以内" v-model="v.content"></el-input>
								<el-button class="marginLeft" type="primary" v-if="key == 0" @click="addNaireNum(index)"><i class="el-icon-plus"></i></el-button>
								<el-button class="marginLeft" type="primary" v-else @click="deleteNaireNum(index,key)" icon="delete"></el-button>
							</p>
							<p v-if="item.type == 3 || item.type == 4" class="paddingLeft">
								<el-input type="textarea" :rows="4" v-model="item.content" disabled></el-input>
							</p>
							<p class="flex-end">
								<el-button type="primary" disabled v-if="index == 0">上移</el-button>
								<el-button type="primary" @click="moveTop(index)" v-else>上移</el-button>
								<el-button type="primary" disabled v-if="index == evaluationList.length - 1">下移</el-button>
								<el-button type="primary" @click="moveBottom(index)" v-else>下移</el-button>
								<el-button type="primary" @click="deleteAddNaire(index)">删除</el-button>
							</p>
						</div>
					</div>
					<span class="footerCenter">
						<el-button type="primary" @click="dialogVisibleAddSubject = true">增加题目</el-button>
						<el-button @click="saveAddNaireModel">保存</el-button>
					</span>
				</div>
        </el-dialog>
        <!--选择题型：单选，多选，简答，段落说明-->
		<el-dialog title="选择类型" :visible.sync="dialogVisibleAddSubject" size="tiny" :before-close="handleCloseAddSubject">
			<el-select v-model="subjectType" placeholder="请选择" style="margin-left:50px;">
				<el-option label="单选题" value="1" key="1"></el-option>
				<el-option label="多选题" value="2" key="2"></el-option>
				<el-option label="简答题" value="3" key="3"></el-option>
				<!-- <el-option label="段落说明" value="4" key="4"></el-option> -->
			</el-select>
			<span slot="footer" class="dialog-footer">
				<el-button type="primary" @click="dialogVisibleAddSubjectClick">确 定</el-button>
				<el-button @click="dialogVisibleAddSubject = false">取 消</el-button>			
			</span>
        </el-dialog>
        <!--调查记录中的发布-->
		<el-dialog
			title="选择调查对象"
			:visible.sync="dialogVisibleRelease"
            size="small"
            class="release"
			:before-close="handleCloseRelease">
					<div class="marginTop marginBottom">
						<label>年级：</label>
						<el-select v-model="grade" placeholder="请选择" class="select">
							<el-option
								v-for="item in gradeList"
								:key="item"
								:label="item"
								:value="item">
							</el-option>
						</el-select>
					</div>
					<el-transfer v-model="releaseRecord" :data="releaseData" class="transfer"></el-transfer>
					<div class="marginTop">
						<el-radio class="radio" v-model="selectStudent" label="1">已选班级全部学生</el-radio><br><br>
						<el-radio class="radio" v-model="selectStudent" label="2">
							已选班级<el-input v-model="percentage" size='mini' style="width:50px;"></el-input>%学生
						</el-radio>
					</div>
					<span slot="footer" class="dialog-footer">
						<el-button type="primary" @click="releaseSure">确 定</el-button>
						<el-button @click="dialogVisibleRelease = false">取 消</el-button>
					</span>
		</el-dialog>
    </div>
    <script>
        var vm = new Vue({
            el: '.container',
            data: {
                questionName: '',//问卷名称
                searchTimeRange: '',//时间范围
                seachStatus: '',//状态
                typeModel: '',//类型
                tableData: [],//调查记录数据
                currentPage: 1,
                pageSize: 10,
                totalNum:0,
                dialogVisibleQuestionDetail:false,//查看问卷详情弹出框
                // name:'',
                // instruction:'',
                evaluationList:[],
                deleteEvaluationList:[],
                dialogVisible:false,//调查结果弹出框
                resultList:[],
                showCharts:[],
                dialogVisibleAddModel:false,//点击新增
                evaluationList:[],
                naire:{//新增或编辑试卷
                    name:'',
                    comment:''
                },
                dialogVisibleAddQuestion:false,//新增问卷页面弹出框
                dialogVisibleAddSubject:false,//新增题目弹出框
                subjectType:'1',//题目类型
                deleteArr:[],//用于存储被删除的选项
                naire_id:'',//编辑试卷的id
                is_edit:false,//是否点击编辑按钮
                deleteItemsId:[],
                deleteItemsList:[],
                dialogVisibleRelease:false,//发布
                activity_id:'',//活动id
                classList:[],
                selectStudent:'1',
                percentage:100,
                grade:'',
                releaseRecord:[],
                releaseData:[],//用于发布的班级
                gradeList:[],
                dialogVisibleSelectModel:false,//选择问卷模板
                selectModelList:[],
                selectModelNum:0,
                searchTempName:'',//搜索模板
                pageSizeModel:10,
                currentPageModel:1,
                selectModelId:'',//选择模板的id

            },
            watch:{
                // 'grade':function(val,oldval){
				// 	let self = this
				// 	this.releaseData = []
				// 	this.gradeList.map(function(item,index,arr){
				// 		if(val == item.gradename){
				// 			item.clslist.map(function(item1,index1,arr1){
				// 				self.releaseData.push({
				// 					key:item1.clsid,
				// 					label:item1.clsname
				// 				})
				// 			})
				// 		}
				// 	})
				// },
                 'grade':function(val,oldval){
					let self = this
					this.releaseData = []
                            self.classList.map((item,index,arr)=>{
                                if(val == item.grade){
                                    self.releaseData.push({
                                        key:item.classid,
                                        label:item.classname
                                    })
                                }
                            })
                            // console.log(this.releaseData)
                            // console.log(this.releaseRecord)
				},
            },
            mounted() {
                this.queryNaireList(this.currentPage, this.pageSize)
            },
            methods: {
                handleCloseQuestionDetail(){
                    this.dialogVisibleQuestionDetail = false
                },
                handleClose(){
                    this.dialogVisible = false
                },
                handleCloseAddModel(){
                    this.dialogVisibleAddModel = false
                },
                handleCloseAddQuestion(){
                    this.dialogVisibleAddQuestion = false
                },
                handleCloseAddSubject(){
                    this.dialogVisibleAddSubject = false
                },
                handleCloseRelease(){
                    this.dialogVisibleRelease = false
                },
                handleCloseSelectModel(){
                    this.dialogVisibleSelectModel = false
                },
                handleSizeChange(val) {
                    this.pageSize = val
                    this.queryNaireList(this.currentPage, this.pageSize)
                },
                handleCurrentChange(val) {
                    this.currentPage = val
                    this.queryNaireList(this.currentPage, this.pageSize)
                },
               
                queryNaireList(page, size) {
                    let self = this
                    let begin_time = '';
                    let end_time = '';
                    if (this.searchTimeRange.length == 2 && this.searchTimeRange.indexOf(null) == -1) {
                        begin_time = moment(this.searchTimeRange[0]).format('YYYY-MM-DD')
                        end_time = moment(this.searchTimeRange[1]).format('YYYY-MM-DD')
                    }
                    let data = {
                        command: 'commonNaire/queryActivityList',//接口地址
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        name: self.questionName,
                        begin_time: begin_time,
                        end_time: end_time,
                        status: self.seachStatus,
                        push_type: self.typeModel,
                        page: page,
                        reqnum: size
                    };
                    function callback(res) {
                        if (res.naire_list) {
                            self.tableData = res.naire_list
                            self.totalNum = res.count
                            self.tableData.map(function (item, index, arr) {
                                if (item.status == 1) {
                                    item.status = '待发布'
                                } else if (item.status == 2) {
                                    item.status = '进行中'
                                } else if (item.status == 3) {
                                    item.status = '已结束'
                                }
                            })
                        }
                    };
                    post('/commonNaire/queryActivityList', data, callback, errcodefn, errfn)
                },
                // 调查记录中搜索
                search() {
                    // console.log(this.seachStatus)
                    this.queryNaireList(this.currentPage, this.pageSize)
                },
                // 调查记录中新增问卷调查
                addQuestion() {
                    this.dialogVisibleAddModel = true
                },
                // 点击录入问卷服务
                addQuestionServise(){
					this.evaluationList = []
					this.naire.name = ''
					this.naire.comment = ''
                    this.naire_id = ''
                    this.dialogVisibleAddModel = false
                    this.is_edit = false
					this.dialogVisibleAddQuestion = true
				},
                // 新增或编辑问卷添加题型的事件
				dialogVisibleAddSubjectClick() {
					let self = this
					this.dialogVisibleAddSubject = false
					if(self.subjectType == 1 || self.subjectType == 2){
							// 调查记录
							this.evaluationList.push({
								order:self.evaluationList.length + 1,
								code:'',
								required:'0',
								type:self.subjectType,
								content:'',
								status:0,
								items:[
									{order:1,code:'',content:'',status:0},
									{order:2,code:'',content:'',status:0},
									{order:3,code:'',content:'',status:0},
									{order:4,code:'',content:'',status:0}
								]
							})
					}else if(self.subjectType == 3 || self.subjectType == 4){
							// this.order = this.evaluationList.length + 1
							this.evaluationList.push({
								order:self.evaluationList.length + 1,
								code:'',
								required:'0',
								type:self.subjectType,
								content:'',
								status:0,
							})
					}
				},
                // 新增或编辑问卷新增题目选项
				addNaireNum(index){
					let length = this.evaluationList[index].items.length
					this.evaluationList[index].items.push({order:length+1,code:'',content:'',status:0})
				},
				// 新增或编辑问卷删除选项
				deleteNaireNum(index,key){
						if(this.evaluationList[index].items[key].id){
							this.evaluationList[index].items[key].status = 1
							this.deleteItemsId.push(this.evaluationList[index].items[key].id)
							var deleteItems = this.evaluationList[index].items.splice(key,1)
							deleteItems[0].status = 1
							this.deleteItemsList.push({
								index:index,
								item:deleteItems
							})
						}else{
							this.evaluationList[index].items.splice(key,1)
							this.evaluationList[index].items.map(function(item,index1,arr){
								if(index1>=key){
									item.order -= 1
								}
							})
						}
				},
				// 新增或编辑问卷中上移题目
				moveTop(index){
					// let self = this
					let prevOrder,currentOrder;
						prevOrder = this.evaluationList[index-1].order
						currentOrder = this.evaluationList[index].order
						this.evaluationList[index].order = prevOrder
						this.evaluationList[index-1].order = currentOrder
						this.evaluationList.sort(this.sort)
                        // console.log(this.evaluationList)
				},
				// 新增或编辑问卷中下移题目
				moveBottom(index){
					// let self = this
					let nextOrder,currentOrder;
						currentOrder = this.evaluationList[index].order
						nextOrder = this.evaluationList[index+1].order
						this.evaluationList[index].order = nextOrder
						this.evaluationList[index+1].order = currentOrder
						this.evaluationList.sort(this.sort)
                        // console.log(this.evaluationList)
				},
				// sort方法正序
				sort(a,b){
					return a.order - b.order
				},
				// 删除题目
				deleteAddNaire(index){
					this.$confirm('此操作将永久删除该题目, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
                        if(this.evaluationList[index].id){
                            this.evaluationList[index].status = 1
                            this.deleteArr.push(this.evaluationList[index])
                            this.evaluationList.splice(index,1)
                        }else{
                            this.evaluationList.splice(index,1)
                        }
						this.$message({
							type: 'success',
							message: '删除成功!'
						});
                        // console.log(this.evaluationList)
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
                // 将时间戳转换成相应的日期
				getLocalTime(nS) {
					return new Date(parseInt(nS) * 1000).toLocaleString().substr(0, 17)
				},
                getCommand(url){
					return url.substr(1)
				},
                // 新增或编辑问卷点击保存按钮
				saveAddNaireModel(){
					let self = this
					let question_list = []
					let required = []
                    let url = ''
                    // 编辑
                    if(this.is_edit){
                        url = '/commonNaire/modifyNaireInfo'
                        // 新增
                    }else{
                        url = '/commonNaire/addNaireRecord'
                    }
                    this.dialogVisibleAddModel = false
					this.evaluationList.map(function(item,index,arr){
								if(item.title == ""){
									required.push(index+1)
								}
								if(item.type == 1 || item.type == 2){
									item.items.map(function(item1,index1,arr1){
										if(!item1.content){
											required.push(index+1)
										}
									})
								}
								question_list.push(item)
					})
                    this.deleteArr.map(function(item,index,arr){
								question_list.push(item)
						})
					this.deleteItemsList.map((item,index,arr)=>{
							question_list[item.index].items.push(item.item[0])
					    })
					// console.log(question_list)
					// console.log(required)
					// 判断是不是有空的题目存在
					if(required.length){
						this.$message({
							type: 'warning',
							message: '还有第'+self.unique(required).join(',')+'道题目没有填完'
						});
					}else{
							if(self.naire.name == ""){
								this.$message({
									type:'warning',
									message:'请填写问卷标题！'
								})
							}else if(self.naire.comment == ""){
								this.$message({
									type:'warning',
									message:'请填写问卷说明！'
								})
							}else if(question_list.length == 0){
                                this.$message({
                                    type:'warning',
                                    message:'请至少创建一个题目！'
                                })
                            }else{
								let data = {
										command: self.getCommand(url),
										sessionid: getCookie('sid'),
										loginid: getCookie('uid'),
										name: self.naire.name,
										title:self.naire.name,
										comment:self.naire.comment,
										type:1,
										question_list:question_list,
										category:'Naire',
										begin_time:'',
										end_time:'',
                                        naire_id:self.naire_id,
									};
								function callback(res) {
									if(res.errcode == 0){
										self.queryNaireList(self.currentPageRecord,self.pageSizeRecord)
										self.dialogVisibleAddQuestion = false
                                        if(self.is_edit){
                                            self.$message({
                                                type:'success',
                                                message:'修改成功了！'
                                            })
                                        }else{
                                            self.$message({
                                                type:'success',
                                                message:'新增成功！'
                                            })
                                        }
									}else{
										self.$message({
											type:'error',
											message:res.errdesc
										})
									}
								};
								post(url, data, callback, errcodefn, errfn)
								}
						}	
				},
				// 数组去重
				unique(arr) {
					var res = [];
					var json = {};
					for (var i = 0; i < arr.length; i++) {
						if (!json[arr[i]]) {
							res.push(arr[i]);
							json[arr[i]] = 1;
						}
					}
					return res;
				},
                // 调查记录中查看生成二维码
                detail(index, row) {
                    this.queryNaireInfo(row.naire_id)
                    this.dialogVisibleQuestionDetail = true
                    setTimeout(function () {
                        $('#code').qrcode('http://' + location.host + '/pages/futuredoctorapp/index.html#/survey_question?naireId=' + row.naire_id+'&activityId='+row.activity_id)
                    }, 100)
                },
                // 调查记录中查看问卷列表详情
                queryNaireInfo(id) {
                    let self = this
                    this.evaluationList = []
                    this.naire.name = ''
                    this.naire.comment = ''
                    let data = {
                        command: 'commonNaire/queryNaireInfo',//接口地址
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        naire_id: id
                    };
                    function callback(res) {
                        if (res.naire_info) {
                            // self.name = res.naire_info.title
                            // self.instruction = res.naire_info.comment
                            self.naire.name = res.naire_info.title
                            self.naire.comment = res.naire_info.comment
                            self.evaluationList = res.naire_info.items
                            self.evaluationList.map(function (item, index, arr) {
                                self.deleteEvaluationList.push(item)
                            })
                            self.evaluationList.map(function (item, index, arr) {
                                item.required = item.required + ''
                            })
                        }
                    };
                    post('/commonNaire/queryNaireInfo', data, callback, errcodefn, errfn)
                },
                // 调查记录中编辑
                edit(index, row) {
                    this.naire_id = row.naire_id
                    this.deleteArr = []
                    this.deleteItemsId = []
                    this.deleteItemsList = []
                    this.queryNaireInfo(row.naire_id)
                    this.is_edit = true
                    this.dialogVisibleAddQuestion = true
                    // console.log('edit')
                },
                //搜索模板
                searchTemp(){
                    this.queryTempList(this.currentPageModel,this.pageSizeModel)
                },
                // 点击选择模板
                selectQuestionModel(){
                    this.dialogVisibleSelectModel = true
                    this.dialogVisibleAddModel = false
                    this.queryTempList(this.currentPageModel,this.pageSizeModel)
                },
                // 调查记录中的选择模板
				handleSelectionChange(val){
					// console.log(val)
					if(val){
						this.selectModelId = val.naire_id
					}	
				},
                // 调查记录中选择模板点击确定
				selectModelSure(){
                    // this.dialogVisibleAddModel = false
                    this.is_edit = false
					this.dialogVisibleSelectModel = false
					this.deleteArr = []
					this.deleteItemsId = []
					this.deleteItemsList = []
					this.queryNaireInfo(this.selectModelId)
					this.dialogVisibleAddQuestion = true
				},
                handleSizeChangeModel(val){
                    this.pageSizeModel = val
                    this.queryTempList(this.currentPageModel,this.pageSizeModel)
                },
                handleCurrentChangeModel(val){
                    this.currentPageModel = val
                    this.queryTempList(this.currentPageModel,this.pageSizeModel)
                },
                // 调查模板列表
				queryTempList(page,size){
					let self =this
					let data = {
						command: 'commonNaire/queryTempList',//接口地址
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						name: self.searchTempName,
						status:'0',
						category:'Naire',
						page:page,
						reqnum:size
					};
					function callback(res) {
						// console.log(res)
						if(res &&　res.errcode == 0){
                            self.selectModelList = res.temp_list
                            self.selectModelNum = res.count
                        }
						
					};
					post('/commonNaire/queryTempList', data, callback, errcodefn, errfn)
				},
                // 调查记录中发布
                release(index, row) {
                    // alert('aaaaaa')
                    // console.log('release')
                    this.activity_id = row.activity_id
                    this.naire_id = row.naire_id
                    // this.queryClsList()
                    this.queryClassList()
                    this.dialogVisibleRelease = true
                },
                // 上课班级接口
                queryClassList(){
                    let self = this
                    let gradeList = []
                    let data = {
                        command: 'cls/listsclass',//接口地址
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        idorname:'',
                        pagenum:1,
                        perpagenum:10000,
                    }
                    function callback(res) {
                        if (res && res.errcode == 0) {
                            self.classList = res.sclassList
                            self.classList.map((item)=>{
                                if(item.grade == 'null'){
                                    item.grade = '外训班'
                                }
                                gradeList.push(item.grade)
                            })
                            self.gradeList = self.unique(gradeList)
                        }
                    };
                    post('/cls/listsclass', data, callback, errcodefn, errfn)
                },
                // 查询发布对象中学生年级及班级（行政班级）
                queryClsList() {
                    let self = this
                    let data = {
                        command: 'cls/clslist',//接口地址
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                    };
                    function callback(res) {
                        // console.log(res)
                        if (res && res.errcode == 0) {
                            self.gradeList = res.gradelist
                        }
                    };
                    post('/cls/clslist', data, callback, errcodefn, errfn)
                },
                // 点击确定按钮
                releaseSure() {
                    let self = this
                    // console.log(this.releaseRecord)
                    if (!this.releaseRecord.length) {
                        this.$message({
                            type: 'warning',
                            message: '请选择班级'
                        })
                    } else {
                        this.releaseNaire()
                    }
                },
                // 发布问卷调查
                releaseNaire() {
                    let self = this
                    let data = {
                        command: 'commonNaire/releaseActivity',
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        activity_id: self.activity_id,
                        naire_id: self.naire_id,
                        type: 1,
                        percent: self.percentage,
                        objlist: self.releaseRecord.join(',')
                    }
                    function callback(res) {
                        if (res.errcode == 0) {
                            self.dialogVisibleRelease = false
                            self.queryNaireList(self.currentPage, self.pageSize)
                            self.$message({
                                type: 'success',
                                message: '发布成功！'
                            })
                        } else {
                            self.$message({
                                type: 'error',
                                message: res.errdesc
                            })
                        }
                    }
                    post('/commonNaire/releaseActivity', data, callback, errcodefn, errfn)
                },
                // 删除
                deleteRecord(index,row){
                    this.$confirm('此操作将永久删除该问卷, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
							this.deleteActivity(row.activity_id,row.naire_id)
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
                },
                deleteActivity(activity_id,naire_id){
                    let self = this
                    let data = {
						command:'commonNaire/deleteActivity',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						activity_id:activity_id,
						naire_id:naire_id,
					};
					function callback(res) {
                        if(res && res.errcode == 0){
                            self.queryNaireList(self.currentPage,self.pageSize)
                            self.$message({
                                type:'success',
                                message:'删除成功了！'
                            })
                        }else{
                            self.$message.error(res.errdesc)
                        }
					};
					post('/commonNaire/deleteActivity', data, callback, errcodefn, errfn)
                },
                // 调查记录中终止
                over(index, row) {
                    // console.log('over')
                    // this.is_over_record = true
                    let self = this
                    this.$confirm('此操作将终止该问卷, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.stopActivity(row.activity_id)
                        self.queryNaireList(self.currentPage, self.pageSize)
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消终止'
                        });
                    });
                },
                stopActivity(activity_id){
                    let self = this
                    let data = {
						command:'commonNaire/stopActivity',
						sessionid: getCookie('sid'),
						loginid: getCookie('uid'),
						activity_id:activity_id,
					};
					function callback(res) {
                        if(res && res.errcode == 0){
                            self.queryNaireList(self.currentPage,self.pageSize)
                            self.$message({
                                type:'success',
                                message:'终止成功了！'
                            })
                        }else{
                            self.$message.error(res.errdesc)
                        }
					};
					post('/commonNaire/deleteActivity', data, callback, errcodefn, errfn)
                },
                // 调查记录中调查结果
                survey(index, row) {
                    // console.log(row)
                    let self = this
                    this.resultList = []
                    this.showCharts = []
                    this.dialogVisible = true
                    let data = {
                        command: 'commonNaire/queryNaireResult',//接口地址
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        activity_id: row.activity_id,
                        model_type:'M002'
                    };
                    function callback(res) {
                        if (res && res.errcode == 0) {
                            // self.showQueryResult = true
                            self.resultList = res.naire_result
                            for (let i = 0; i < self.resultList.length; i++) {
                                self.showCharts.push({
                                    table: true,
                                    pie: false,
                                    bar: false
                                })
                            }
                        }
                    };
                    post('/commonNaire/queryNaireResult', data, callback, errcodefn, errfn)
                },
                // 表格图（默认）
                form(index, item) {
                    this.showCharts[index].pie = false
                    this.showCharts[index].bar = false
                    this.showCharts[index].table = true
                },
                // 餠状图
                pieChart(index, item) {
                    this.showCharts[index].table = false
                    this.showCharts[index].bar = false
                    this.showCharts[index].pie = true
                    // 餠状图
                    let data = []
                    let legend_data = []
                    this.resultList[index].select_list.map(function (item, index, arr) {
                        data.push({
                            value: item.percent,
                            name: item.content
                        })
                        legend_data.push(item.content)
                    })
                    this.draw_pie({
                        element: $('.pieChart')[index],
                        legend_data: legend_data,
                        data: data
                    });
                },
                // 柱状图
                barGraph(index, item) {
                    this.showCharts[index].pie = false
                    this.showCharts[index].table = false
                    this.showCharts[index].bar = true
                    let data = []
                    let xData = []
                    let percentage;
                    this.resultList[index].select_list.map(function (item, index, arr) {
                        xData.push(item.content)
                        percent = item.percent
                        data.push(percent)
                    })
                    this.single_bar({
                        element: $('.singleBar')[index],
                        xAxis_data: xData,
                        data: data
                    });
                },
                //绘制饼图
                draw_pie(opt) {
                    var my_chart = echarts.init(opt.element);
                    var option = {
                        textStyle: {
                            color: 'rgb(0,0,0)',
                            fontWeight: 'normal',
                            fontSize: '16px'
                        },
                        title: {
                            show: false
                        },
                        tooltip: { show: false },
                        color: ['#82DF1E', '#20DB9A', '#00B4F4', 'rgb(255,181,77)', 'rgb(84,199,252)'],//扇形的颜色
                        legend: {
                            data: opt.legend_data,
                            textStyle: {
                                color: 'rgb(0,0,0)'
                            },
                            left: 'left',
                            // bottom:10,
                            orient: 'vertical',
                            // itemWidth:10,
                            // itemHeight:10,
                            show: true
                        },
                        itemStyle: { normal: { borderWidth: 2, borderColor: '#fff' } },
                        series: [
                            {
                                type: 'pie',
                                // legendHoverLink: false,
                                hoverAnimation: false,
                                // selectedMode: false,
                                // avoidLabelOverlap: false,
                                label: {
                                    normal: {
                                        position: 'outer',
                                        formatter: function (a) {
                                            return a.data.name + '：' + (a.data.value) + '%';
                                        },
                                        textStyle: { fontSize: '16px' }
                                    }
                                },
                                radius: '80%',
                                center: ['50%', '52%'],
                                data: opt.data
                            }
                        ]
                    }
                    my_chart.setOption(option);
                    $(window).resize(function () {
                        my_chart.resize();
                    });
                    return my_chart;
                },
                //绘制单个的柱状图
                single_bar(opt) {
                    var my_chart = echarts.init(opt.element);
                    var option = {
                        textStyle: {
                            color: 'rgb(0,0,0)',
                            fontWeight: 'normal',
                            fontSize: '20px'
                        },
                        title: {
                            show: false
                        },
                        color: ['rgb(51,163,260)'],//柱子的颜色
                        tooltip: {//提示框
                            show: false,
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        grid: {//控制图表的边距
                            left: '3%',
                            right: '13%',
                            bottom: '0%',
                            containLabel: true,
                            show: true,
                            backgroundColor: '#ffffff',
                            borderColor: 'transparent'

                        },
                        xAxis: {
                            name: '',
                            nameTextStyle: { color: '#56B2BA' },
                            type: 'category',
                            data: opt.xAxis_data,
                            axisTick: {//x轴的刻度
                                show: false
                            },
                            axisLabel: {
                                textStyle: { fontSize: '16px' }
                            }
                        },
                        yAxis:
                        {
                            name: '',
                            nameTextStyle: { color: '#EA4C8F' },
                            type: 'value',
                            max: 100,
                            axisTick: {//y轴的刻度
                                show: false
                            },
                            axisLabel: {
                                textStyle: { fontSize: '16px' }
                            }
                        },
                        series: [
                            {
                                name: '',
                                type: 'bar',
                                barWidth: '50%',
                                itemStyle: {
                                    normal: {
                                        label: {
                                            textStyle: {
                                                color: 'black'
                                            },
                                            formatter: function (a) {
                                                return a.data + '%';
                                            },
                                            show: true,
                                            position: 'top',
                                        }
                                    }
                                },
                                data: opt.data
                            }
                        ]
                    };
                    my_chart.setOption(option);
                    $(window).resize(function () {
                        my_chart.resize();
                    });
                    return my_chart;
                },
            }
        })
    </script>
</body>

</html>