<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>教职工</title>
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <script src="../../js/jquery-1.11.3.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/futuredoctorapp/common.js"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../js/ajaxfileupload.js"></script>
    <script src="../../js/scmp/pageComponent.js"></script>
    <script src="../../js/base.js"></script>
    <script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/element.css">
    <link rel="stylesheet" href="../../css/scmp/cert.css">
    <link rel="stylesheet" href="../../css/scmp/scmpcommon.css">
    <style>
        [v-cloak] {
            display: none;
        }

        #new-user {
            padding: 20px;
        }

        body {
            background: #fff;
        }

        .title {
            background-color: #E5E6E8;
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
        }
        /* .shade {
            position: absolute;
            z-index: 999;
            width:100%;
            height:100%;
            background: #fff;
            opacity: 0;
            top:0;
            left:0;
            display: block
        } */

        .new-box {
            width: 100%;
            position: absolute;
            /* top:100px; */
            margin: 0 auto;
            left: 0;
            right: 0;
            z-index: 1000;
            background: #fff;
            border: 1px solid #ddd;
            padding: 10px 30px;
        }

        .new-box header {
            padding: 0 10px;
            line-height: 20px;
            margin: 10px 0;
        }

        .new-box header i {
            float: right;
            cursor: pointer;
        }

        .reset {
            width: 400px;
            position: fixed;
            top: 100px;
            margin: 0 auto;
            left: 0;
            right: 0;
            z-index: 1000;
            background: #fff;
            border: 1px solid #ddd;
            padding: 10px 30px;
        }

        .reset section div {
            margin: 5px 0;
        }

        .reset header p i {
            float: right;
        }

        .d-btn {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
        }

        .flex-between {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pagination {
            width: 100%;
            margin-top: 30px;
            text-align: right;
        }

        .resetPsw>div {
            margin-bottom: 10px;
        }

        .uploadfile {
            width: 100%;
            /* height: 100%; */
            position: absolute;
            z-index: 100;
            opacity: 0;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="new-user" v-cloak>
        <p class="title">人员管理</p>
        <header class="flex-between">
            <div class="dropdown load-in" style="cursor: pointer;">
                <el-button type="primary" @click="newUser">新增教职工</el-button>
                <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">导入
    				<span class="caret"></span>
 				 </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li style="margin-bottom: 10px;" class="fileUpload">
                        <div style="cursor: pointer;" id="cur">
                            <div data-loading-text="Loading..." class="manage-addstudent" autocomplete="off" style="margin-left: 20px;">
                                <input type="file" name="file" class="uploadfile" data-role='uploadStuBtn'> 导入教职工
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" @click="download">下载模板</a>
                    </li>
                </ul>
                <!-- <el-dropdown>
                <el-button type="primary">
                    导入<i class="el-icon-caret-bottom el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>导入</el-dropdown-item>
                    <el-dropdown-item>下载模板</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown> -->

            </div>
            <div>
                <el-input placeholder="请输入姓名，工号或手机号" v-model="searchName" style="width:280px;">
                    <el-button slot="append" icon="search" @click="search"></el-button>
                </el-input>
            </div>

        </header>
        <section>
            <template>
                <el-tabs v-model="active">
                    <el-tab-pane label="全部" name="all"></el-tab-pane>
                    <el-tab-pane label="运维人员" name="operation"></el-tab-pane>
                    <el-tab-pane label="运营人员" name="business"></el-tab-pane>
                    <el-tab-pane label="授课老师" name="lessons"></el-tab-pane>
                    <el-tab-pane label="辅教老师" name="assist"></el-tab-pane>
                    <el-table v-loading.body="loading" :data="userList" style="width: 100%" stripe>
                        <el-table-column prop="teacherame" label="姓名" width="180"></el-table-column>
                        <el-table-column prop="teachercode" label="工号" width="180"></el-table-column>
                        <el-table-column prop="mobile" label="手机号"></el-table-column>
                        <el-table-column prop="teacherdept" label="部门"></el-table-column>
                        <el-table-column prop="teacherlevel" label="职称"></el-table-column>
                        <el-table-column prop="teacherrole" label="操作" width="250">
                            <template scope="scope">
                                <el-button size="mini" type="info" @click="showReset(scope.row.teacherid,scope.row.teacherame)">修改密码</el-button>
                                <el-button size="mini" type="info" @click="showUpdate(scope.row.teacherid,'form')">编辑详情</el-button>
                                <el-button size="mini" type="danger" @click="deleteUser(scope.row.teacherid)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]"
                        :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalNum" class="pagination">
                    </el-pagination>
                </el-tabs>
            </template>
            <!-- <page_component :pageconf="pageconf" :pages="pages"></page_component> -->

        </section>
        <!--TODO newUser-->
        <!-- <div class="shade" v-show="newUserBox"></div> -->

        <el-dialog :title="addView?'新增教职员工':'修改教职员工'" :visible.sync="dialogVisibleAdd" size="small" :before-close="handleCloseAdd">
            <div class="new-box">
                <!-- <header>
                <p>
                    <span><template v-if="addView">新增教职员工</template><template v-else>修改教职员工</template></span>
                     <i class="el-icon-close" @click="closeBox('form')"></i> 
                </p>
            </header> -->
                <el-form :model="form" :rules="rules" ref="form" label-width="80px">
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="姓名" prop="teacherame">
                                <el-input v-model="form.teacherame"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="手机号" label-width="80px" prop="mobile">
                                <el-input v-model.number="form.mobile"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="角色" prop="role">
                                <el-select v-model="form.role" multiple placeholder="请选择">
                                    <el-option v-for="item in primary" :key="item.role_id" :label="item.role_name" :value="item.role_id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="工号" label-width="80px" prop="staffid">
                                <el-input v-model="form.staffid"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="部门">
                                <el-select v-model="form.department" placeholder="请选择部门">
                                    <el-option label="无" :value="0"></el-option>
                                    <el-option v-for="item in depart" :key="item.dept_id" :label="item.dept_name" :value="item.dept_id"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="职称" label-width="80px">
                                <el-select v-model="form.levelname" placeholder="请选择职称">
                                    <el-option label="无" :value="0"></el-option>
                                    <el-option v-for="item in profession" :key="item.title_id" :label="item.title_name" :value="item.title_id"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="性别" prop="sex">
                                <el-radio-group v-model="form.sex">
                                    <el-radio :label="0">男</el-radio>
                                    <el-radio :label="1">女</el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="邮箱" label-width="80px" prop="email">
                                <el-input v-model="form.email"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="一卡通信息" label-width="85px">
                                <el-input v-model="form.cardno" placeholder="请刷卡"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24">
                            <el-form-item label="证件号码" label-width="85px" prop="cardnum">
                                <el-col :span="11">
                                    <el-select placeholder="选择证件类型" v-model="paper">
                                        <!-- <el-option v-for="item in cardType" :label="item.name" :key="item.id" :value="item.id"></el-option> -->
                                        <el-option label="身份证" value="0" key="0"></el-option>
						                <el-option label="其他" value="1" key="1"></el-option>
                                    </el-select>
                                </el-col>
                                <el-col class="line" :span="2" style="text-align: center">-</el-col>
                                <el-col :span="11">
                                    <el-input v-model="form.cardnum" placeholder="请输入证件号码"></el-input>
                                </el-col>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24">
                            <el-form-item label="住址" label-width="85px">
                                <el-input v-model="form.address"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12" :offset="15">
                            <el-form-item>
                                <el-button v-if="addView" type="primary" @click="onSubmit('form')">创建</el-button>
                                <el-button v-else type="primary" @click="update('form')">修改</el-button>
                                <el-button @click="dialogVisibleAdd = false">取消</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </div>
        </el-dialog>
        <!--TODO NEWUSER END-->
        <!-- <div class="shade"></div> -->
        <!--修改密码  -->
        <el-dialog title="修改密码" :visible.sync="dialogVisibleReset" size="tiny" :before-close="handleCloseReset">
            <div class="resetPsw">
                <div>
                    <span>用户名：</span>
                    <span>{{username}}</span>
                </div>
                <div>
                    <el-input placeholder="请输入新密码" v-model="pwd" type="password">
                        <template slot="prepend"><i class="el-icon-information"></i></template>
                    </el-input>
                </div>
                <div>
                    <el-input placeholder="请确认新密码" v-model="surepwd" type="password">
                        <template slot="prepend"><i class="el-icon-warning"></i></template>
                    </el-input>
                </div>
                <div class="d-btn" style="text-align:right;">
                    <el-button type="warning" size="small" @click="defaultpwd">默认密码</el-button>
                </div>
                <div style="text-align:right;">
                    <el-button @click="dialogVisibleReset = false">取 消</el-button>
                    <el-button type="primary" @click="resetPassword">确 定</el-button>
                </div>
            </div>

        </el-dialog>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#new-user',
        data: {
            searchName: '',
            currentPage: 1,
            pageSize: 10,
            totalNum: 0,
            loading: true,
            username: '',
            paper: '',//证件类型，未使用
            resetbox: false,//修改密码
            dialogVisibleReset: false,
            dialogVisibleAdd: false,
            pwd: '',//密码
            surepwd: '',//确认密码
            uid: '',//点击 修改/修改密码 需存uid 提交的时候要用
            active: "all",//tabs 默认选择的
            labelPosition: 'left',//element-ui label的位置
            userList: [],//初始列表
            newUserBox: false,//新建模态框
            addView: true,//是否是新建 （和修改用的同一个模态框）
            primary: [],//角色选项
            depart: [],//部门选项
            profession: [],//职称选项
            cardType: [],//证件类型选项
            cardId: '',//证件id，用于验证所填写的证件号是否正确
            onType: 0,
            form: {
                teacherid: '',
                teacherame: '',//姓名
                mobile: '',//手机号
                role: [],//角色id
                department: '',//部门id
                staffid: '',//工号
                levelname: '',//职称id
                sex:0,//性别
                cardno: '',//一卡通信息
                email: '',//邮箱
                cardnum: '',//证件号码
                address: ''//住址
            },
            rules: {//定义验证规则
                teacherame: [
                    { required: true, message: '请输入姓名', trigger:'blur' }
                ],
                mobile: [
                    {required:true,message:'请输入手机号'},
                    {
                        validator: (rule, value, callback) => {
                            if (value !== "" && /^1[3|4|5|7|8][0-9]{9}$/.test(value) == false) {
                                callback(new Error('请输入正确的手机号！'));
                            } else {
                                callback()
                            }
                        }
                    }
                ],
                role: [
                    { required: true, message: '请选择角色'}
                ],
                staffid: [
                    { required: true, message: '请输入工号', trigger:'blur'},
                ],
                sex:[
                    {required:true}
                ],
                email: [
                    {
                        validator: (rule, value, callback) => {
                            if (value !== "" && value !== null && /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/.test(value) == false) {
                                callback(new Error('请输入正确的邮箱！'));
                            } else {
                                callback()
                            }
                        }
                    }
                ],
                // cardnum: [
                //    {
                //             validator: (rule, value, callback) => {
                //                 if(vm.cardId == 0){//身份证
                //                     if (value !== "" && /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/.test(value) == false) {
                //                         callback(new Error('请输入正确的身份证号！'));
                //                     } else {
                //                         callback()
                //                     }
				// 				}else{//其他
                //                     callback()
				// 				}   
				// 				// else if(vm.cardId == 72){//护照
                //                 //      if (value !== "" && (/^[a-zA-Z]{5,17}$/.test(value) || /^[a-zA-Z0-9]{5,17}$/.test(value)) == false) {
                //                 //         callback(new Error('请输入正确的护照！'));
                //                 //     } else {
                //                 //         callback()
                //                 //     }
                //                 // }else if(vm.cardId == 73){//港澳通行证
                //                 //      if (value !== "" && /^[HMhm]{1}([0-9]{10}|[0-9]{8})$/.test(value) == false) {
                //                 //         callback(new Error('请输入正确的港澳通行证号！'));
                //                 //     } else {
                //                 //         callback()
                //                 //     }
                //                 // }else if(vm.cardId == 74){//军官证
                //                 //      if (value !== "" && (/^[a-zA-Z]{5,17}$/.test(value) || /^[a-zA-Z0-9]{5,17}$/.test(value)) == false) {
                //                 //         callback(new Error('请输入正确的军官证号！'));
                //                 //     } else {
                //                 //         callback()
                //                 //     }
				// 				// }
				// 			}
                //         }
                // ]
            },

        },
        watch: {
            'active': function (val, oldVal) {//tabs切换的时候请求新的数据
                if (val == 'all') {
                    this.onType = 0;
                    this.init(this.onType, this.currentPage, this.pageSize)
                } else if (val == 'operation') {
                    this.onType = 1;
                    this.init(this.onType, this.currentPage, this.pageSize)
                } else if (val == 'business') {
                    this.onType = 2;
                    this.init(this.onType, this.currentPage, this.pageSize)
                } else if (val == 'lessons') {
                    this.onType = 3;
                    this.init(this.onType, this.currentPage, this.pageSize)
                } else if (val == 'assist') {
                    this.onType = 4;
                    this.init(this.onType, this.currentPage, this.pageSize)
                }
            },
            'paper': function (val) {
                // alert(val)
                this.cardId = val
                // alert(this.cardId)
            }
        },
        created: function () {

        },
        mounted: function () {
            this.getDropList('role', '');//角色列表
            this.getDropList('partment', '');
            this.getDropList('profession', '');
            this.getDropList('card', 'card');
            this.init(0, 1, 10);
            $('.fileUpload').on('change', '.uploadfile', function () {
                var val = $('.uploadfile').val();
                if (!val) return;
                var data = {
                    command: 'teachingstaff/importteachingstaff',
                    sessionid: getCookie('sid'),
                    loginid: getCookie('uid'),
                }
                function callback(res) {
                    $('.uploadfile').val('');
                    console.log(res)
                    if (res && res.errcode == 000000) {
                        layer.msg('导入成功')
                        // self.pageconf.onchange(1, 10);
                        self.init(self.onType, self.currentPage, self.pageSize)
                        self.upload = false;
                    } else {
                        // layer.open(res.errorlist.join(','))
                        layer.open({
                            content:res.errorlist.join(','),
                            btn:'关闭'
                        })
                        self.upload = false;
                    }
                }
                importExcel($('.uploadfile'), data, callback, function () {
                    $('.uploadfile').val('');
                })
            })
        },
        computed: {
            pages: function () {
                var pag = [];
                if (this.pageconf.current < this.pageconf.showItem) { //如果当前的激活的项 小于要显示的条数
                    //总页数和要显示的条数那个大就显示多少条
                    var i = Math.min(this.pageconf.showItem, this.pageconf.allpage);
                    while (i) {
                        pag.unshift(i--);
                    }
                } else { //当前页数大于显示页数了
                    var middle = this.pageconf.current - Math.floor(this.pageconf.showItem / 2),//从哪里开始
                        i = this.pageconf.showItem;
                    if (middle > (this.pageconf.allpage - this.pageconf.showItem)) {
                        middle = (this.pageconf.allpage - this.pageconf.showItem) + 1
                    }
                    while (i--) {
                        pag.push(middle++);
                    }
                }
                return pag
            }
        },
        methods: {
            handleCloseAdd() {
                this.dialogVisibleAdd = false
            },
            handleCloseReset() {
                this.dialogVisibleReset = false
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.init(this.onType, this.currentPage, this.pageSize)
            },
            handleCurrentChange(val) {
                this.currentPage = val
                this.init(this.onType, this.currentPage, this.pageSize)
            },
            download() { //下载模板
                let data = {
                    sessionid: getCookie('sid'),
                    loginid: getCookie('uid'),
                    command: "teachingstaff/teachingstaffmould",
                };
                exportMouldExcel(data);
                this.upload = false
            },
            init: function (prama, pageindex, pagenum) {
                let self = this
                var data = {
                    command: "cls/teacherlist",
                    sessionid: getCookie('sid'),
                    loginid: getCookie('uid'),
                    roleid: prama,
                    searchinfo: self.searchName,
                    pageno: pageindex,
                    pagesize: pagenum
                };
                function callback(res) {
                    if (res.errcode == 0) {
                        self.userList = [];
                        self.userList = res.teacherlist;
                        self.totalNum = res.totalnum;
                        self.loading = false;
                    }
                };
                post("/cls/teacherlist", data, callback, errcodefn, errfn)
            },
            search() {
                this.init(0, 1, 10)
            },
            newUser: function () {
                let self = this
                this.dialogVisibleAdd = true
                this.addView = true;
                self.form.teacherame = ''
                self.form.mobile = ''
                self.form.role = []
                self.form.staffid = ''
                self.form.department = ''
                self.form.levelname = ''
                self.form.sex = 0
                self.form.email = ''
                self.form.cardno=''
                self.paper = ''
                self.form.cardnum = ''
                self.form.address = ''
            },
            addteachingstaff(){
                let self = this
                var _json = {
                    "1": {
                        command: "teachingstaff/addteachingstaff",
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        uid: self.form.cateid,
                        name: self.form.teacherame,
                        staffid: self.form.staffid,
                        role: self.form.role.join(','),
                        sex: self.form.sex,
                        department: self.form.department,
                        levelname: self.form.levelname,
                        mobile: self.form.mobile,
                        cardtype: self.paper,
                        cardnum: self.form.cardnum,
                        email: self.form.email,
                        address: self.form.address,
                        cardno: self.form.cardno
                    }
                };
                var json = JSON.stringify(_json);
                 $.ajax({
                            url: "/teachingstaff/addteachingstaff",
                            type: "POST",
                            contentType: 'application/json',
                            data: json,
                            success: function (data) {
                                data = data["1"];
                                if (data.errcode == 0) {
                                    // layer.msg('已成功创建新用户');
                                    self.dialogVisibleAdd = false
                                    self.$message({
                                        type: 'success',
                                        message: '已成功创建新用户！'
                                    })
                                    self.$refs[formName].resetFields();
                                    // setTimeout(self.closeBox(formName),1000);
                                    self.init(self.onType, self.currentPage, self.pageSize);
                                    self.$refs[formName].resetFields();//清除form表单内容及验证--element-ui
                                } else if (data.errcode == 9904) {
                                    // layer.msg("登录信息已失效，请重新登录");
                                    self.$message.error('登录信息已失效，请重新登录！')
                                } else if (data.errcode == 2701) {
                                    // layer.msg("当前用户已存在。");
                                    self.$message.error('新增手机号或学号或证件号或一卡通已存在，请核查！')
                                } else {
                                    // layer.msg(data.errdesc)
                                    self.$message.error(data.errdesc)
                                }
                            },
                            error: function () {
                                errfn();
                            }
                        })
            },
            onSubmit: function (formName) {
                let self = this;
                let reg = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/
                       if(self.form.cardnum !== ''){
                           if(self.paper == ''){
                               self.$message({
										type:'warning',
										message:'请选择证件类型!'
									})
                           }else{
                               if(this.cardId == 0){
                                   if(!reg.test(this.form.cardnum)){
											this.$message.error('请输入正确的身份证号!')
											return
									}
                               }
                               this.$refs[formName].validate(function (valid) {
                                   if(valid){
                                        self.addteachingstaff()
                                   }
                               })
                           }
                       }else{
                          this.$refs[formName].validate(function (valid) {
                                   if(valid){
                                        self.addteachingstaff()
                                   }
                            })
                       }
            },
            getDropList(prama, card) {
                var self = this;
                var commandName = "";
                (prama == 'partment') && (commandName = 'hr/deptlist');
                (prama == 'role') && (commandName = 'hr/rolelist');
                (prama == 'profession') && (commandName = 'hr/titlelist');
                (prama == 'card') && (commandName = 'hr/querylevellist')
                var _json = {
                    "1": {
                        command: commandName,
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        code: card,
                    }
                };
                var json = JSON.stringify(_json);
                var url = '\/' + commandName;
                // alert(url)
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: 'application/json',
                    data: json,
                    success: function (data) {
                        data = data["1"];
                        if (data.errcode == 0) {
                            (prama == 'partment') && (self.depart = data.deptlist);
                            (prama == 'role') && (self.primary = data.deptlist);
                            (prama == 'profession') && (self.profession = data.levellist);
                            (prama == 'card') && (self.cardType = data.levellist)
                        } else if (data.errcode == 9904) {
                            layer.msg("登录信息已失效，请重新登录");
                        }
                    },
                    error: function () {
                        errfn();
                    }
                })
            },
            showReset: function (prama, prama2) {
                this.pwd = '';
                this.surepwd = '';
                this.uid = "";
                this.uid = prama;
                this.username = '';
                this.username = prama2;
                this.dialogVisibleReset = true;
            },
            resetPassword: function () {
                var self = this;
                if (self.pwd.length === 0 || self.surepwd.length === 0) {
                    layer.msg('请填写密码');
                    return
                }
                if (self.pwd !== self.surepwd) {
                    layer.msg('两次输入密码不一致，请重新输入');
                    return
                }
                var _json = {
                    "1": {
                        command: "admin/resetpassword",
                        adminuid: getCookie('uid'),
                        sessionid: getCookie('sid'),
                        uid: self.uid,//要修改的用户的id
                        loginid: getCookie('uid'),
                        newpassword: self.pwd
                    }
                };
                var json = JSON.stringify(_json);
                $.ajax({
                    url: "/admin/resetpassword",
                    type: "POST",
                    contentType: 'application/json',
                    data: json,
                    success: function (data) {
                        data = data["1"];
                        if (data.errcode == 0) {
                            layer.msg('已成功重置密码');
                            self.dialogVisibleReset = false;
                        } else if (data.errcode == 9904) {
                            layer.msg("登录信息已失效，请重新登录");
                        } else if (data.errcode == 19) {
                            layer.msg("您没有权限修改密码");
                        }
                    },
                    error: function () {
                        errfn();
                    }
                })
            },
            defaultpwd: function () {
                this.pwd = '123456';
                this.surepwd = '123456';
            },
            showUpdate: function (prama, formName) {
                var self = this;
                this.dialogVisibleAdd = true
                this.addView = false;
                // if(formName){
                //      this.$refs[formName].resetFields();
                // }
                for (var k in this.form) {
                    this.form[k] = ""
                }
                var _json = {
                    "1": {
                        command: "teachingstaff/queryteacherinfo",
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        uid: prama
                    }
                };
                var json = JSON.stringify(_json);
                $.ajax({
                    url: "/teachingstaff/queryteacherinfo",
                    type: "POST",
                    contentType: 'application/json',
                    data: json,
                    success: function (data) {
                        data = data["1"];
                        if (data.errcode == 0) {
                            self.form.teacherame = data.name;
                            if (data.roleid) {
                                self.form.role = data.roleid.split(",");
                                self.form.role = self.form.role.map(function (e) { return +e });
                            } else {
                                self.form.role = []
                            }
                            self.form.department = data.departid;
                            self.form.mobile = data.mobile;
                            self.form.staffid = data.staffid;
                            self.form.levelname = data.levelid;
                            self.form.sex = data.sex;
                            self.form.cardno = data.cardno;
                            self.form.email = data.email;
                            self.form.cardnum = data.cardnum;
                            self.form.address = data.address;
                            self.newUserBox = true;
                            self.uid = "";
                            self.uid = prama;
                            // self.paper = data.cardtype
                            if(data.cardtype == null){
                                self.paper = ''
                            }else{
                                self.paper = data.cardtype+''
                            }
                            // alert(self.form.sex)
                        } else if (data.errcode == 9904) {
                            // layer.msg("登录信息已失效，请重新登录");
                            self.$message.error('登录信息已失效，请重新登录！')
                        }
                    },
                    error: function () {
                        errfn();
                    }
                })
            },
            modifyteacherinfo(formName){
                let self = this
                let _json = {
                    "1": {
                        command: "teachingstaff/modifyteacherinfo",
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        uid: self.uid,
                        name: self.form.teacherame,
                        staffid: self.form.staffid,
                        roleid: self.form.role.join(','),
                        sex: self.form.sex,
                        departid: self.form.department,
                        levelid: self.form.levelname,
                        mobile: self.form.mobile,
                        cardtype: self.paper,
                        cardnum: self.form.cardnum,
                        email: self.form.email,
                        address: self.form.address,
                        cardno: self.form.cardno
                    }
                }
                let json = JSON.stringify(_json)
                 $.ajax({
                                url: "/teachingstaff/modifyteacherinfo",
                                type: "POST",
                                contentType: 'application/json',
                                data: json,
                                success: function (data) {
                                    data = data["1"];
                                    if (data.errcode == 0) {
                                        self.form.department = ''
                                        self.form.levelname = ''
                                        self.form.email = ''
                                        self.form.cardno=''
                                        self.paper = ''
                                        self.form.cardnum = ''
                                        self.form.address = ''
                                        self.$refs[formName].resetFields();
                                        self.$message({
                                            type: 'success',
                                            message: '已成功修改该用户!'
                                        })
                                        self.init(self.onType, self.currentPage, self.pageSize)
                                        self.dialogVisibleAdd = false
                                    } else if (data.errcode == 9904) {
                                        self.$message.error('登录信息已失效，请重新登录')
                                    }else if (data.errcode == 2701) {
                                        self.$message.error('编辑手机号或学号或证件号或一卡通已存在，请核查')
                                    } else {
                                        self.$message.error(data.errdesc)
                                    }
                                },
                                error: function () {
                                    errfn();
                                }
                            })
            },
            update: function (formName) {
                let self = this;
                let reg = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/
                       if(self.form.cardnum !== ''){
                           if(self.paper == ''){
                               self.$message({
										type:'warning',
										message:'请选择证件类型!'
									})
                           }else{
                               if(this.cardId == 0){
                                   if(!reg.test(this.form.cardnum)){
											this.$message.error('请输入正确的身份证号!')
											return
									}
                               }
                               this.$refs[formName].validate(function (valid) {
                                   if(valid){
                                        self.modifyteacherinfo(formName)
                                   }
                               })
                           }
                       }else{
                          this.$refs[formName].validate(function (valid) {
                                   if(valid){
                                        self.modifyteacherinfo(formName)
                                   }
                            })
                       }
            },
            deleteUser: function (prama) {
                var self = this;
                var _json = {
                    "1": {
                        command: "teachingstaff/deleteteachingstaff",
                        sessionid: getCookie('sid'),
                        loginid: getCookie('uid'),
                        uid: prama
                    }                
};
                var json = JSON.stringify(_json);
                this.$confirm('此操作将永久删除此用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.ajax({
                        url: "/teachingstaff/deleteteachingstaff",
                        type: "POST",
                        contentType: 'application/json',
                        data: json,
                        success: function (data) {
                            data = data["1"];
                            if (data.errcode == 0) {
                                self.init(self.onType, self.currentPage, self.pageSize);
                                self.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                            } else if (data.errcode == 9904) {
                                // layer.msg("登录信息已失效，请重新登录");
                                self.$message.error('登录信息已失效，请重新登录!')
                            } else {
                                self.$message.error(data.errdesc)
                            }
                        },
                        error: function () {
                            errfn();
                        }
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                })
            }
        }
    })

</script>

</html>