<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>新增试卷-理论考试</title>
		<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" href="../../css/scmp/testpaper_addnew.css">
		<style>
			.edit:hover{
				border: 1px solid #20a0ff;
			}
			.edit:hover .edittitlebtn,.edit:hover .editbtnbox{
				display:block;
			}
			.delete_sure .btn-primary{left: 200px;}
		</style>
	</head>

	<body>
		<div id="addnew" v-cloak>
			<p id="addnewtestpaper">新增试卷-理论考试  <button class="btn btn-primary gobackbtn" @click="goback">返回</button> </p>
			<div class="boxNav">
				<div class="boxt boxSelected">选择题目</div>
				<div class="boxb">编辑试卷</div>
			</div>
			
			<div id="selectQ" v-show="showpageQ">
				<div class="queNav">
					<div class="question clickque" @click="allquestion">全部题目</div>
					<div class="question" @click="selectedquestion">已选({{selectedtotalnum}})</div>
				</div>
				<!--*********************************按钮 搜索部分************************************-->
				<div class="center search-wrap">
					<form class="form-inline" style="float:none;">
						<div class="form-group">
							<label>题目名称：</label>
							<input type="text" class="form-control" placeholder="题目名称" v-model="pageconf.name">
						</div>
						<div class="form-group">
							<label>题目类型	：</label>
							<select class="form-control" v-model="pageconf.type">
								<option value="0"> 全部</option>
								<option value="1"> 单选题</option>
								<option value="2"> 多选题 </option>
								<option value="4"> 判断题 </option>
								<option value="5"> 问答题 </option>
								<option value="6"> 组合题 </option>
							</select>
						</div>
						<div class="form-group">
							<label>所属学科：</label>
							<select class="form-control" v-model="pageconf.subject">
								<option value=""> 全部</option>
								<option v-for="(item,index) in courselist" :value="item.id"> {{item.name}} </option>
							</select>
						</div>
						<!--<div class="form-group">
							<label>标签：</label>
							<input type="text" class="form-control" v-model="sno" placeholder="标签">
						</div>
						<div class="form-group">
							<label>难度：</label>
							<select class="form-control">
								<option> 全部</option>
								<option> 一星</option>
								<option> 二星 </option>
								<option> 三星</option>
								<option> 四星 </option>
								<option> 五星</option>
							</select>
						</div>-->
						<div class="form-group">
							<label>创建人：</label>
							<input type="text" class="form-control" v-model="pageconf.person" placeholder="创建人">
						</div>
						<div class="form-group">
							<button type="button"data-loading-text="Loading..." class="btn btn-primary" @click="search()">查询</button>
						</div>
						
					</form>
				</div>
				<!--*********************************选择题目表格部分************************************-->
				<div style="clear: both;">
					<!--全部题目-->
					<table class="table table-bordered table-hover">
						<tr class="active">
							<th  class="middle">序号</th>
							<th  class="middle">题目名称</th>
							<th  class="middle">题目类型</th>
							<th  class="middle">所属学科</th>
							<!--<th  class="middle">标签</th>
							<th  class="middle">难度</th>-->
							<th  class="middle">创建人</th>
							<th  class="middle">操作</th>
						</tr>
						<tr v-for="(item,index) in questionlist">
							<td class="middle">{{index+1}}</td>
							<td class="middle">{{item.questionname}}</td>
							<td class="middle">{{item.questiontypeid | typetransform}}</td>
							<td class="middle">{{item.coursename}}</td>
							<!--<td class="middle">{{item.tag}}</td>
							<td class="middle">{{item.difficult}}</td>-->
							<td class="middle">{{item.creator}}</td>
							<td class="middle">
								<button type="button" class="btn btn-primary btn-xs" @click="checkquestion(item.questiontypeid,item.questionbaseid)">查看</button>
								<button type="button" class="btn btn-primary btn-xs" @click="add_canceltopaper(item.questiontypeid,item.questionbaseid,item.ischoose)">{{item.ischoose | ischoosetransform}}</button>
							</td>
						</tr>
					</table>
				</div>
				<!--************************************************分页**************************************-->
				<page_component :pageconf="pageconf" :pages="pages"></page_component>
				
				<div class="next"> <button type="button" class="btn btn-primary" @click="nextEdit">下一步</button></div>
			</div>		
				<!--************************************************编辑试卷**************************************-->	
			<div id="testpaper" v-show="showpageT">
				<div class="title edit">
					{{papername}}
					<button type="button" class="btn btn-primary edittitlebtn" @click="changepapername">更名</button>
				</div>
				<!--************************************************更名**************************************-->
				<div class="delete_sure" style="display: block;" v-show="changepapernameshow">
					<div class="c_studentTop">
						<p>修改名称</p>
						<p @click="closePop">
							<span class="glyphicon glyphicon-remove"></span>
						</p>
					</div>
					<div class="c_classMessage">
						<div class="message-left">
							<form role="form">
								<div class="form-group">
									<label for="uname" class="col-sm-4 control-label">名称:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" v-model="papername">
									</div>
								</div>
							</form>
						</div>
					</div>
					<button class="btn btn-primary " type="submit" @click="surechangepapername">确定</button>
				</div>
				<div class="score edit">
					满分:{{score}}
					<button type="button" class="btn btn-primary edittitlebtn" @click="settotalscore">设置总分</button>
				</div>
				
				
				<!--************************************************设置总分**************************************-->
				<div class="delete_sure" style="display: block;" v-show="setscoreshow">
					<div class="c_studentTop">
						<p>设置分值</p>
						<p @click="closePop">
							<span class="glyphicon glyphicon-remove"></span>
						</p>
					</div>
					<div class="c_classMessage">
						<div class="message-left">
							<form role="form">
								<div class="form-group">
									<label for="uname" class="col-sm-4 control-label">总分设置:</label>
									<div class="col-sm-8">
										<input type="radio" class="radiochoice" v-model="scorelimit" value="0">满分限制
										<input type="radio" class="radiochoice" v-model="scorelimit" value="1">无满分限制
									</div>
								</div>
							</form>
						</div>
						<div class="message-left" v-if="scorelimit==0">
							<form role="form">
								<div class="form-group">
									<label for="uname" class="col-sm-4 control-label">总分:</label>
									<div class="col-sm-8">
										<input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="form-control" v-model="score">
									</div>
								</div>
							</form>
						</div>
					</div>
					<!--<button class="btn btn-primary " type="submit" @click="suresettotalscore">确定</button>-->
					<button class="btn btn-primary" type="submit" @click="suresettotalscore">确定</button>
				</div>
				
				<div class="info">班级:________ 姓名:________ 学号:________</div>
				<div class="questionlist" v-for="(item,index) in testpaper">
					<div class="mainquestiontitle edit">
						{{index+1 | maintitlenum}}、{{item.nickname}}
						<span>(共{{item.totalnum}}小题,总分: {{item.totalscore}}分)</span>
						<div class="editbtnbox">
							<button type="button" class="btn btn-primary editbtn" onclick="changequestionname(this)">更名</button>
							<button type="button" class="btn btn-primary editbtn" onclick="setquestionscore(this)" v-if="item.cateid==1||item.cateid==2||item.cateid==4">设置分值</button>
							<button type="button" class="btn btn-primary editbtn" @click="upquestion(index)" v-if="index+1!=1">上移</button>
							<button type="button" class="btn btn-primary editbtn" @click="downquestion(index)" v-if="index+1!=categorylist.length">下移</button>
						</div>
						<!--************************************************更名**************************************-->
						<div class="delete_sure changequestionname">
							<div class="c_studentTop">
								<p>修改名称</p>
								<p onclick="questionscoreclosePop(this)">
									<span class="glyphicon glyphicon-remove"></span>
								</p>
							</div>
							<div class="c_classMessage">
								<div class="message-left">
									<form role="form">
										<div class="form-group">
											<label for="uname" class="col-sm-4 control-label">名称:</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" v-model="item.nickname">
											</div>
										</div>
									</form>
								</div>
							</div>
							<button class="btn btn-primary " type="submit" onclick="questionscoresurePop(this)">确定</button>
						</div>
						<!--************************************************设置大题分值**************************************-->
						<div class="delete_sure setquestionscore">
							<div class="c_studentTop">
								<p>设置分值</p>
								<p onclick="questionscoreclosePop(this)">
									<span class="glyphicon glyphicon-remove"></span>
								</p>
							</div>
							<div class="c_classMessage">
								<div class="message-left">
									<form role="form">
										<div class="form-group">
											<label for="uname" class="col-sm-4 control-label">分值设置:</label>
											<div class="col-sm-8">
												<input type="radio" class="radiochoice" v-model="item.scoresettype" value="0">分别设置
												<input type="radio" class="radiochoice" v-model="item.scoresettype" value="1">统一设置
											</div>
										</div>
									</form>
								</div>
								<div class="message-left" v-if="item.scoresettype==1">
									<form role="form">
										<div class="form-group">
											<label for="uname" class="col-sm-4 control-label">分值设置:</label>
											<div class="col-sm-8">
												<input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="form-control" v-model="item.score">
											</div>
										</div>
									</form>
								</div>
							</div>
							<button v-if="item.scoresettype==0" class="btn btn-primary " type="submit" onclick="questionscoresurePop(this)">确定</button>
							<div v-if="item.scoresettype==1" onclick="questionscoresurePop(this)"><button class="btn btn-primary" type="submit" @click="setquestionscore(index)">确定</button></div>
						</div>
						
					</div>
					<!--选择题-->
					<div class="mainquestion edit choicebottom" v-for="(mainitem,mainindex) in item.content" v-if="item.cateid==1||item.cateid==2">
						<div class="littletitle">
							{{mainindex+1}}、{{mainitem.questionbasename}}
							<span>({{mainitem.score}}分)</span>
						</div>
						<div class="choiceanswer">
							<div class="choiceanswercell" v-for="(choiceitem,choiceindex) in mainitem.questionitem">
								<span>{{choiceitem.itemname}}</span>{{choiceitem.content}} 
							</div>
						</div>
						<div class="editbtnbox">
							<button type="button" class="btn btn-primary editbtn" v-if="item.scoresettype==0" onclick="setlittlequestionscore(this)">设置分值</button>
							<button type="button" class="btn btn-primary editbtn choicebtn " onclick="choicebtn(this)">答案</button>
							<button type="button" class="btn btn-primary editbtn" @click="deletebtn(index,mainindex)">删除</button>
							<button type="button" class="btn btn-primary editbtn" @click="uplittlequestion(index,mainindex)" v-if="mainindex+1!=1">上移</button>
							<button type="button" class="btn btn-primary editbtn" @click="downlittlequestion(index,mainindex)" v-if="mainindex+1!=item.content.length">下移</button>
						</div>
						<p class="correctchoice">正确答案：{{mainitem.answer}}</p>
						
						<!--************************************************设置小题分值**************************************-->
						<div class="delete_sure">
							<div class="c_studentTop">
								<p>设置分值</p>
								<p onclick="questionscoreclosePop(this)">
									<span class="glyphicon glyphicon-remove"></span>
								</p>
							</div>
							<div class="c_classMessage">
								<div class="message-left">
									<form role="form">
										<div class="form-group">
											<label for="uname" class="col-sm-4 control-label">分值设置:</label>
											<div class="col-sm-8">
												<input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="form-control" v-model="mainitem.score">
											</div>
										</div>
									</form>
								</div>
							</div>
							<div  onclick="questionscoresurePop(this)"><button class="btn btn-primary" type="submit" @click="setlittlescore(index,mainindex)">确定</button></div>
						</div>
						
					</div>
					<!--判断题-->
					<div class="mainquestion edit choicebottom" v-for="(mainitem,mainindex) in item.content" v-if="item.cateid==4">
						<div class="littletitle">
							{{mainindex+1}}、{{mainitem.questionbasename}}
							<span>({{mainitem.score}}分)</span>
						</div>
						<div class="editbtnbox">
							<button type="button" class="btn btn-primary editbtn" v-if="item.scoresettype==0" onclick="setlittlequestionscore(this)">设置分值</button>
							<button type="button" class="btn btn-primary editbtn choicebtn " onclick="choicebtn(this)">答案</button>
							<button type="button" class="btn btn-primary editbtn" @click="deletebtn(index,mainindex)">删除</button>
							<button type="button" class="btn btn-primary editbtn" @click="uplittlequestion(index,mainindex)" v-if="mainindex+1!=1">上移</button>
							<button type="button" class="btn btn-primary editbtn" @click="downlittlequestion(index,mainindex)" v-if="mainindex+1!=item.content.length">下移</button>
						</div>
						<p class="correctchoice">正确答案：{{mainitem.answer | answertransform}}</p>
						<!--************************************************设置小题分值**************************************-->
						<div class="delete_sure">
							<div class="c_studentTop">
								<p>设置分值</p>
								<p onclick="questionscoreclosePop(this)">
									<span class="glyphicon glyphicon-remove"></span>
								</p>
							</div>
							<div class="c_classMessage">
								<div class="message-left">
									<form role="form">
										<div class="form-group">
											<label for="uname" class="col-sm-4 control-label">分值设置:</label>
											<div class="col-sm-8">
												<input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="form-control" v-model="mainitem.score">
											</div>
										</div>
									</form>
								</div>
							</div>
							<div  onclick="questionscoresurePop(this)"><button class="btn btn-primary" type="submit" @click="setlittlescore(index,mainindex)">确定</button></div>
						</div>
					</div>
					<!--问答题-->
					<div class="mainquestion edit choicebottom" v-for="(mainitem,mainindex) in item.content" v-if="item.cateid==5">
						<div class="littletitle">
							{{mainindex+1}}、{{mainitem.questionbasename}}
							<span>({{mainitem.score}}分)</span>
						</div>
						<div class="editbtnbox">
							<button type="button" class="btn btn-primary editbtn" onclick="setlittlequestionscore(this)">设置分值</button>
							<button type="button" class="btn btn-primary editbtn choicebtn " onclick="choicebtn(this)">答案</button>
							<button type="button" class="btn btn-primary editbtn" @click="deletebtn(index,mainindex)">删除</button>
							<button type="button" class="btn btn-primary editbtn" @click="uplittlequestion(index,mainindex)" v-if="mainindex+1!=1">上移</button>
							<button type="button" class="btn btn-primary editbtn" @click="downlittlequestion(index,mainindex)" v-if="mainindex+1!=item.content.length">下移</button>
						</div>
						<p class="correctchoice">正确答案：{{mainitem.answer}}</p>
						<!--************************************************设置小题分值**************************************-->
						<div class="delete_sure">
							<div class="c_studentTop">
								<p>设置分值</p>
								<p onclick="questionscoreclosePop(this)">
									<span class="glyphicon glyphicon-remove"></span>
								</p>
							</div>
							<div class="c_classMessage">
								<div class="message-left">
									<form role="form">
										<div class="form-group">
											<label for="uname" class="col-sm-4 control-label">分值设置:</label>
											<div class="col-sm-8">
												<input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="form-control" v-model="mainitem.score">
											</div>
										</div>
									</form>
								</div>
							</div>
							<div  onclick="questionscoresurePop(this)"><button class="btn btn-primary" type="submit" @click="setlittlescore(index,mainindex)">确定</button></div>
						</div>
					</div>
					<!--组合题-->
					<div class="choicebottom" v-for="(mainitem,mainindex) in item.content" v-if="item.cateid==6">
						<!--组合题二级题目题干-->
						<div class="mainquestiontitle edit">
							{{mainindex+1 | groupsecondindextransform}}、{{mainitem.questionbasename}}(共{{mainitem.score}}分)
							<div class="editbtnbox">
								<button type="button" class="btn btn-primary editbtn" @click="deletebtn(index,mainindex)">删除</button>
							<button type="button" class="btn btn-primary editbtn" @click="uplittlequestion(index,mainindex)" v-if="mainindex+1!=1">上移</button>
							<button type="button" class="btn btn-primary editbtn" @click="downlittlequestion(index,mainindex)" v-if="mainindex+1!=item.content.length">下移</button>
							</div>
						</div>
						<!--组合题二级题目内容-->
						<div v-for="(groupitem,groupindex) in mainitem.grouplist">
							<!--选择-->
							<div class="mainquestion edit choicebottom">
								<!--组合题三级题干-->
								<div class="littletitle">
									{{groupindex+1}}、{{groupitem.questionbasename}}({{groupitem.score}}分)
								</div>
								<div class="choiceanswer" v-if="groupitem.questionitem.length!=0">
									<div class="choiceanswercell" v-for="(grochoitem,grochoindex) in groupitem.questionitem">
										<span>{{grochoitem.itemname}}</span>{{grochoitem.content}} 
									</div>
								</div>
								<div class="editbtnbox">
									<button type="button" class="btn btn-primary editbtn" onclick="setlittlequestionscore(this)">设置分值</button>
									<button type="button" class="btn btn-primary editbtn choicebtn " onclick="choicebtn(this)">答案</button>
									<button type="button" class="btn btn-primary editbtn" @click="upminiquestion(index,mainindex,groupindex)" v-if="groupindex+1!=1">上移</button>
									<button type="button" class="btn btn-primary editbtn" @click="downminiquestion(index,mainindex,groupindex)" v-if="groupindex+1!=mainitem.grouplist.length">下移</button>
								</div>
								<p class="correctchoice">正确答案：{{groupitem.answer}}</p>
								<!--************************************************设置小题分值**************************************-->
								<div class="delete_sure">
									<div class="c_studentTop">
										<p>设置分值</p>
										<p onclick="questionscoreclosePop(this)">
											<span class="glyphicon glyphicon-remove"></span>
										</p>
									</div>
									<div class="c_classMessage">
										<div class="message-left">
											<form role="form">
												<div class="form-group">
													<label for="uname" class="col-sm-4 control-label">分值设置:</label>
													<div class="col-sm-8">
														<input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="form-control" v-model="groupitem.score">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div  onclick="questionscoresurePop(this)"><button class="btn btn-primary" type="submit" @click="setgrouplittlescore(index,mainindex,groupindex)">确定</button></div>
								</div>
								
							</div>
							<!--判断-->
							<div class="mainquestion edit choicebottom" v-if="groupitem.cateid==4">
								<div class="littletitle">
									{{groupindex+1}}、{{groupitem.itemquestion}}({{groupitem.score}}分)
								</div>
								<div class="editbtnbox">
									<button type="button" class="btn btn-primary editbtn" onclick="setlittlequestionscore(this)">设定分值</button>
									<button type="button" class="btn btn-primary editbtn choicebtn " onclick="choicebtn(this)">答案</button>
									<button type="button" class="btn btn-primary editbtn" @click="upminiquestion(index,mainindex,groupindex)" v-if="groupindex+1!=1">上移</button>
									<button type="button" class="btn btn-primary editbtn" @click="downminiquestion(index,mainindex,groupindex)" v-if="groupindex+1!=mainitem.subitem.length">下移</button>
								</div>
								<p class="correctchoice">正确答案：{{groupitem.answer}}</p>
								<!--************************************************设置小题分值**************************************-->
								<div class="delete_sure">
									<div class="c_studentTop">
										<p>设置分值</p>
										<p onclick="questionscoreclosePop(this)">
											<span class="glyphicon glyphicon-remove"></span>
										</p>
									</div>
									<div class="c_classMessage">
										<div class="message-left">
											<form role="form">
												<div class="form-group">
													<label for="uname" class="col-sm-4 control-label">每道题分值:</label>
													<div class="col-sm-8">
														<input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="form-control" v-model="groupitem.score">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div  onclick="questionscoresurePop(this)"><button class="btn btn-primary" type="submit" @click="setgrouplittlescore(index,mainindex,groupindex)">确定</button></div>
								</div>
								
							</div>
							<!--问答-->
							<div class="mainquestion edit choicebottom" v-if="groupitem.cateid==5">
								<div class="littletitle">
									{{groupindex+1}}、{{groupitem.itemquestion}}({{groupitem.score}}分)
								</div>
								<div class="editbtnbox">
									<button type="button" class="btn btn-primary editbtn" onclick="setlittlequestionscore(this)">设定分值</button>
									<button type="button" class="btn btn-primary editbtn choicebtn " onclick="choicebtn(this)">答案</button>
									<button type="button" class="btn btn-primary editbtn" @click="upminiquestion(index,mainindex,groupindex)" v-if="groupindex+1!=1">上移</button>
									<button type="button" class="btn btn-primary editbtn" @click="downminiquestion(index,mainindex,groupindex)" v-if="groupindex+1!=mainitem.subitem.length">下移</button>
								</div>
								<p class="correctchoice">正确答案：{{groupitem.answer}}</p>
								<!--************************************************设置小题分值**************************************-->
								<div class="delete_sure">
									<div class="c_studentTop">
										<p>设置分值</p>
										<p onclick="questionscoreclosePop(this)">
											<span class="glyphicon glyphicon-remove"></span>
										</p>
									</div>
									<div class="c_classMessage">
										<div class="message-left">
											<form role="form">
												<div class="form-group">
													<label for="uname" class="col-sm-4 control-label">每道题分值:</label>
													<div class="col-sm-8">
														<input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="form-control" v-model="groupitem.score">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div  onclick="questionscoresurePop(this)"><button class="btn btn-primary" type="submit" @click="setgrouplittlescore(index,mainindex,groupindex)">确定</button></div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="next"> 
					<button type="button" class="btnBg btn btn-primary" @click="backSelect">上一步</button>
					<button type="button" class="btn btn-primary" @click="savetestpaper">保存</button>
					<button type="button" class="btnBg btn btn-primary" @click="goback">取消</button>
				</div>
				
			</div>

		</div>

	</body>
	<script src="../../js/jquery-3.1.1.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/element.js"></script>
	<script src="../../layer/xie/layer1.js"></script>
	<script src="../../js/scmp/common.js"></script>
	<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
	<script src="../../js/scmp/pageComponent1.js"></script>
	<script src="../../js/scmp/testpaper_theorypaper.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(".question").click(function(){
			$(this).addClass("clickque").siblings().removeClass("clickque")
		});
		function choicebtn(elem){
			$(elem).parent().siblings(".correctchoice").toggle()
		};
		function setquestionscore(elem){
			$(elem).parent().siblings(".setquestionscore").toggle()
		};
		function questionscoreclosePop(elem){
			$(elem).parent().parent().hide()
		};
		function questionscoresurePop(elem){
			$(elem).parent().hide()
		};
		function setlittlequestionscore(elem){
			$(elem).parent().siblings(".delete_sure").toggle()
		};
		function changequestionname(elem){
			$(elem).parent().siblings(".changequestionname").toggle()
		};
		function surechangequestionname(elem){
			$(elem).parent().hide()
		};
	</script>
</html>