<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>试卷管理</title>
		<link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/bootstrap/bootstrap-datepicker/css/bootstrap-datepicker.css" />
		<link rel="stylesheet" href="../../css/scmp/testpaperManage.css" />
		
		<style>
			[v-cloak] {
				display:none
			}
			.directToPage{
				padding-top: 0 !important;
			}
		</style>
	</head>

	<body>

		<section id="testpaperManage" v-cloak>
			<p>试卷管理</p>
			<!--*********************************按钮  搜索部分************************************-->
			<div class="center search-wrap">
				<form class="form-inline" style="float:none;">
					<div class="form-group">
						<label>试卷名称：</label>
						<input type="text" class="form-control" placeholder="试卷名称" v-model="pageconf.name">
					</div>
					<div class="form-group">
						<label>试卷类型	：</label>
						<select class="form-control" v-model="pageconf.type">
							<option value=""> 全部 </option>
							<option value="1">理论考试</option>
							<option value="2"> 操作考试 </option>
							<option value="3"> 理论题库 </option>
							<option value="4"> 操作题库 </option>
						</select>
					</div>
					<div class="form-group">
						<label>所属学科：</label>
						<select class="form-control" v-model="pageconf.subject">
							<option value="">全部</option>
							<option v-for="(item,index) in courselist" :value="item.id"> {{item.name}} </option>
						</select>
					</div>
					<div class="form-group">
						<label>操作人：</label>
						<input type="text" class="form-control" v-model="pageconf.person" placeholder="操作人">
					</div>
					<br/>
					<div class="form-group">
						<label>操作时间：</label>
						<div class="input-group input-medium date-picker input-daterange" v-datepicker data-date-format="yyyy-mm-dd">
							<input class="form-control" id="form-starttime" style="font-size: 13px;width:110px;" type="text">
							<span class="input-group-addon">到</span>
							<input class="form-control" id="form-endtime" style="font-size: 13px;width:110px;" type="text">
						</div>
					</div>
					<div class="form-group">
						<button type="button"data-loading-text="Loading..." class="btn btn-primary" @click="search()">查询</button>
					</div>
					
					<button type="button" class="btn btn-primary addBtn" @click="addNewTest()">新增试卷</button>
				</form>
			</div>
			<!--************************************************表格   试卷信息**************************************-->
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<tr>
						<th>序号</th>
						<th>试卷名称</th>
						<th>试卷类型</th>
						<th>操作人</th>
						<th>操作时间</th>
						<th>操作</th>
					</tr>
					<tr v-for="(item, index) in paperlist">
						<td>{{index + 1}}</td>
						<td>{{item.name}}</td>
						<td>{{item.type | typetransform}}</td>
						<td>{{item.operatorname}}</td>
						<td>{{item.operatortime}}</td>
						<td style="position: relative;">
							<button type="button" class="btn btn-primary btn-xs" @click="checkpaper(item.paperid,item.type)">查看</button>
							<button type="button" class="btn btn-primary btn-xs" @click="editpaper(item.paperid,item.type)">编辑</button>
							<button type="button" class="btn btn-primary btn-xs" @click="deletepaper(item.paperid)">删除</button>
						</td>
					</tr>

				</table>
			</div>
			
			<!--************************************************新增**************************************-->
			<div class="delete_sure" v-show="addnewshow">
				<div class="c_studentTop">
					<p>新增</p>
					<p @click="remove">
						<span class="glyphicon glyphicon-remove"></span>
					</p>
				</div>
				<div class="c_classMessage">
					<div class="message-left">
						<form role="form">
							<div class="form-group">
								<label for="uname" class="col-sm-4 control-label">试卷名称:</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" v-model="addtestname">
								</div>
							</div>
						</form>
					</div>
					<div class="message-left">
						<form role="form">
							<div class="form-group">
								<label for="uname" class="col-sm-4 control-label">试卷类型:</label>
								<div class="col-sm-8">
									<select class="form-control" v-model="addtesttype">
										<option value=""> 请选择 </option>
										<option value="1">理论考试</option>
										<option value="2"> 操作考试 </option>
										<option value="3"> 理论题库 </option>
										<option value="4"> 操作题库 </option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="message-left">
						<form role="form">
							<div class="form-group">
								<label for="uname" class="col-sm-4 control-label">所属课程:</label>
								<div class="col-sm-8">
									<select class="form-control" v-model="addmajorid">
										<option value="">请选择</option>
										<option v-for="(item,index) in courselist" :value="item.id"> {{item.name}} </option>
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
				<a href="#"><button class="btn btn-primary " type="submit" @click="sureadd">确定</button></a>
				<button class="btn btn-default" type="submit" @click="remove">取消</button>
			</div>
			
			<!--************************************************分页**************************************-->
			<page_component :pageconf="pageconf" :pages="pages"></page_component>
		</section>	
	</body>
	<script src="../../js/jquery-3.1.1.min.js"></script>
	<script src="../../js/vue-2.1.6.min.js"></script>
	<script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" class="bootstrap"></script>
	<script src="../../layer/xie/layer1.js"></script>
	<script src="../../js/ajaxfileupload.js"></script>
	<script src="../../js/scmp/common.js"></script>
	<script src="../../js/base.js"></script>
	<script src="../../js/scmp/pageComponent1.js"></script>
	<script src="../../assets/bootstrap/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="../../assets/bootstrap/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
	<script src="../../js/scmp/testpaperManage.js" type="text/javascript" charset="utf-8"></script>
</html>