<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增开放时段</title>
		<script src="../../js/vue.js"></script>
		<script src="../../js/element.js"></script>
		<script src="../../js/jquery-1.11.3.js"></script>
		<script src="../../layer/xie/layer1.js"></script>
		<script src="../../js/scmp/common.js"></script>
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" href="../../css/reset.css">
		<style type="text/css">
			.addTime{
				margin: 20px;
			}
			.addTime .block {
				float: left;
				margin-right: 30px;
			}
			
			.addTime .demonstration {
				margin-right: 30px;
			}
			
			.addTime .btnDiv {
				text-align: center;
			}
			
			.addTime .saveBtn {
				margin-right: 20px;
			}
			
			 .addTime>ul>li {
				height: 60px;
				clear: both;
			}
			
			.addTime ul li>p {
				width: 100px;
				text-align: right;
			}
			
			.addTime .times {
				height: 300px !important;
				overflow: auto;
				margin-bottom: 20px !important;
				margin-right: 20px;
				width: auto;
			}
			
			.addTime .op {
				height: 50px;
				line-height: 50px;
			}
			
			.addTime .right {
				margin-left: 150px;
				width: 80%;
			}
			
			.addTime .el-table::after,.el-table::before {
				z-index: -1;
			}
		</style>
	</head>

	<body>
		<div class="addTime">
			<ul>
				<li>
					<p class="op">开放训练项：</p>
					<template>
						<el-checkbox-group v-model="checkList" class="right">
							<el-checkbox v-for="item in newCheckBoxList" :label="item" :key="item.id">{{item.name}}</el-checkbox>
						</el-checkbox-group>
					</template>
				</li>
				<li style="height: 370px;">
					<p class="op">开放时段：</p>
					<template>
						<el-table ref="multipleTable" :data="timeList" border tooltip-effect="dark"  @selection-change="handleSelectionChange" class="right times">
							<el-table-column label="课节" prop="value">
							</el-table-column>
							<el-table-column prop="starttime" label="上课时间">
							</el-table-column>
							<el-table-column prop="endtime" label="下课时间">
							</el-table-column>
							<el-table-column type="selection" label="操作">
							</el-table-column>
						</el-table>
					</template>
				</li>
				<li>
					<p class="block">生效期：</p>
					<div class="right">
						<template>
							<div class="block">
								<el-date-picker v-model="startTime" type="date" placeholder="选择日期" :picker-options="pickerOptions0">
								</el-date-picker>
							</div>
							<div class="block">
								<span class="demonstration">至</span>
								<el-date-picker v-model="endTime" type="date" placeholder="选择日期" :picker-options="pickerOptions0">
								</el-date-picker>
							</div>
						</template>
					</div>
				</li>
				<li>
					<p class="block">开放日：</p>
					<div class="block right">
						<template>
							<el-checkbox-group v-model="weekList">
								<el-checkbox label="周一"></el-checkbox>
								<el-checkbox label="周二"></el-checkbox>
								<el-checkbox label="周三"></el-checkbox>
								<el-checkbox label="周四"></el-checkbox>
								<el-checkbox label="周五"></el-checkbox>
								<el-checkbox label="周六"></el-checkbox>
								<el-checkbox label="周日"></el-checkbox>
							</el-checkbox-group>
						</template>
					</div>
				</li>
				<li>
					<p class="block">节假日设置：</p>
					<div class="block right">
						<template>
							<el-checkbox-group v-model="dateList">
								<el-checkbox v-for="item in holiday" :label="item">{{item}}</el-checkbox>
							</el-checkbox-group>
						</template>
					</div>
				</li>
				<li class=" btnDiv">
					<el-button type="primary" class="saveBtn" @click="saveBtn">保存</el-button>
					<el-button @click="cancel">取消</el-button>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript">
		var vm = new Vue({
			el: '.addTime',
			data: {
				checkList: [], //存放选中的训练项数组
				multipleSelection: [], //开放时段选择的数组
				timeList: [], //开放时段数组
				pickerOptions0: {
					disabledDate(time) {
						return time.getTime() < Date.now() - 8.64e7;
					}
				},
				id: window.location.href.split('=')[1], //根据id判断是新增还是修改
				startTime: '',
				endTime: '',
				weekList: [], //选择的周几  数组
				repeatWeekDay: [], //存放父元素的已经存在的日期
				checkBoxList: window.parent.vm.typeList, //开放训练项复选框
				dateList: [], //节假日是否开放数组
				holiday: ['节假日不开放', '例外工作日开放'], //节假日显示数组
				newCheckBoxList:[window.parent.vm.typeList[0]],//开放训练项去重后的数组
				holidayopen:0,//节假日开放     选中1 不选0
				workingdaysoff:0,//例外工作日开放   选择1 不选择0
			},
			mounted() {
				let self=this;
				self.getTime();
				let flag=true;
				for(let j = 0; j < self.newCheckBoxList.length; j++) {
					for(let i = 1; i < self.checkBoxList.length; i++) {
						if(self.newCheckBoxList[j].id==self.checkBoxList[i].id) {
                             flag=false;
						}
						if(flag){
							self.newCheckBoxList.push(self.checkBoxList[i])
						}
					}
				}
				if(self.id==1){
					self.dateList=[];
					let newBrr = window.parent.vm.dataObj.open_day.split(',');
					for(let i = 0; i < newBrr.length; i++) {
						self.weekList.push(newBrr[i])
					}
					self.startTime = self.parserDate(window.parent.vm.dataObj.dates.substring(0, 10));
					self.endTime = self.parserDate(window.parent.vm.dataObj.dates.substring(11, 22));
					setTimeout(function() {
						let arr = [];
						for(let i = 0; i < window.parent.vm.dataObj.times.length; i++) {
							for(let j = 0; j < self.timeList.length; j++) {
								if(window.parent.vm.dataObj.times[i].open_start_dt == self.timeList[j].starttime) {
									arr.push(self.timeList[j])

								}
							}
						}
						vm.toggleSelection(arr)
					}, 500)
					self.dateList=window.parent.vm.dataObj.datelist;
					self.checkList=window.parent.vm.dataObj.code;
				}
			},
			methods: {
				toggleSelection(rows) {
					if(rows) {
						rows.forEach(row => {
							this.$refs.multipleTable.toggleRowSelection(row);
						});
					}
				},
				handleSelectionChange(val) {
					this.multipleSelection = val;
				},
				getTime: function() { //获取开放时间接口
					let self = this;
					let data = {
						command: "examapply/queryexamtimeslist",
						sessionid: getCookie('sid'),
						loginid: getCookie('uid')
					}

					function callback(res) {
						if(res && res.errcode == 0) {
							self.timeList = JSON.parse(res.timeslist);
							for(let i = 0; i < self.timeList.length; i++) {
								self.timeList[i].value = '第' + self.timeList[i].value + '节'
							}
						} else {
							layer.msg(res.errdesc)
						}
					}
					post('/examapply/queryexamtimeslist', data, callback, errcodefn, errfn)
				},
				saveBtn: function() { //新增时间段保存按钮
					let self = this;
					if(self.checkList.length == 0) {
						layer.msg('请选择训练项')
						return
					}
					if(self.multipleSelection.length == 0) {
						layer.msg('请选择开放时段')
						return
					}
					if(self.startTime == '' || self.endTime == '') {
						layer.msg('请选择生效期')
						return
					}
					if(self.setTime(self.startTime) > self.setTime(self.endTime)) {
						layer.msg('结束时间必须大于开始时间')
						return
					}
					if(self.weekList.length == 0) {
						layer.msg('请选择开放日')
						return
					}
					if(self.id == 1) {
						let parentWeek = [];
						for(let i = 0; i < window.parent.vm.timeDetail.length; i++) {
							if(i == window.parent.vm.indexs) {
								continue
							}
							let newArr = window.parent.vm.timeDetail[i].open_day.split(',');
							for(let j = 0; j < newArr.length; j++) {
								parentWeek.push(newArr[j])
							}
						}
						self.repeatWeekDay = [];
						for(let i = 0; i < self.weekList.length; i++) { //判断是否选过周几
							for(let j = 0; j < parentWeek.length; j++) {
								if(parentWeek[j] == self.weekList[i]) {
									self.repeatWeekDay.push(self.weekList[i])
								}
							}
						}
						if(self.repeatWeekDay.length != 0) {
							self.repeatWeekDay = self.repeatWeekDay.unique1();
						}

						for(let i = 0; i < window.parent.vm.timeDetail.length; i++) {
							let oldTimeSt = self.setTime(window.parent.vm.timeDetail[i].dates.substring(0, 10));
							let oldTimeEt = self.setTime(window.parent.vm.timeDetail[i].dates.substring(11, 22));
							let newTimeSt = self.setTime(self.formatDate(self.startTime));
							let newTimeEt = self.setTime(self.formatDate(self.endTime));
							if(newTimeSt <= oldTimeSt && newTimeEt >= oldTimeSt && self.repeatWeekDay.length != 0) {
								layer.msg('对不起！您已选择' + self.repeatWeekDay.join(',') + ',不能重复选择', { icon: 5 });
								self.repeatWeekDay = [];
								parentWeek = [];
								return
							}
							if(newTimeSt <= oldTimeEt && newTimeEt >= oldTimeEt && self.repeatWeekDay.length != 0) {
								layer.msg('对不起！您已选择' + self.repeatWeekDay.join(',') + ',不能重复选择', { icon: 5 });
								self.repeatWeekDay = [];
								parentWeek = [];
								return
							}

							if(newTimeSt >= oldTimeSt && newTimeEt <= oldTimeEt && self.repeatWeekDay.length != 0) {
								layer.msg('对不起！您已选择' + self.repeatWeekDay.join(',') + ',不能重复选择', { icon: 5 });
								self.repeatWeekDay = [];
								parentWeek = [];
								return
							}
						}

					} else {
						let parentWeek = [];
						for(let i = 0; i < window.parent.vm.timeDetail.length; i++) {
							let newArr = window.parent.vm.timeDetail[i].open_day.split(',');
							for(let j = 0; j < newArr.length; j++) {
								parentWeek.push(newArr[j])
							}
						}
						self.repeatWeekDay = [];
						for(let i = 0; i < self.weekList.length; i++) { //判断是否选过周几
							for(let j = 0; j < parentWeek.length; j++) {
								if(parentWeek[j] == self.weekList[i]) {
									self.repeatWeekDay.push(self.weekList[i])
								}
							}
						}
						if(self.repeatWeekDay.length != 0) {
							self.repeatWeekDay = self.repeatWeekDay.unique1();
						}

						for(let i = 0; i < window.parent.vm.timeDetail.length; i++) {
							let oldTimeSt = self.setTime(window.parent.vm.timeDetail[i].dates.substring(0, 10));
							let oldTimeEt = self.setTime(window.parent.vm.timeDetail[i].dates.substring(11, 22));
							let newTimeSt = self.setTime(self.formatDate(self.startTime));
							let newTimeEt = self.setTime(self.formatDate(self.endTime));
							if(newTimeSt <= oldTimeSt && newTimeEt >= oldTimeSt && self.repeatWeekDay.length != 0) {
								layer.msg('对不起！您已选择' + self.repeatWeekDay.join(',') + ',不能重复选择', { icon: 5 });
								self.repeatWeekDay = [];
								parentWeek = [];
								return
							}
							if(newTimeSt <= oldTimeEt && newTimeEt >= oldTimeEt && self.repeatWeekDay.length != 0) {
								layer.msg('对不起！您已选择' + self.repeatWeekDay.join(',') + ',不能重复选择', { icon: 5 });
								self.repeatWeekDay = [];
								parentWeek = [];
								return
							}

							if(newTimeSt >= oldTimeSt && newTimeEt <= oldTimeEt && self.repeatWeekDay.length != 0) {
								layer.msg('对不起！您已选择' + self.repeatWeekDay.join(',') + ',不能重复选择', { icon: 5 });
								self.repeatWeekDay = [];
								parentWeek = [];
								return
							}
						}
					}
					var timesArr = [];
					for(let i = 0; i < self.multipleSelection.length; i++) {
						timesArr.push({
							open_start_dt: self.multipleSelection[i].starttime,
							open_end_dt: self.multipleSelection[i].endtime
						})
					}
					if(self.id == 1) {
						window.parent.vm.timeDetail.splice(window.parent.vm.indexs, 1, {
							open_day: self.weekList.join(','),
							times: timesArr,
							dates: self.formatDate(self.startTime) + "-" + self.formatDate(self.endTime),
							code: self.checkList,
							holidayopen: self.holidayopen,
							workingdaysoff:self.workingdaysoff,
							datelist:self.dateList
						})
						layer.msg('设置成功', { icon: 1 })
					} else {
						for(let i=0;i<self.dateList.length;i++){
							if(self.dateList[i]=='节假日不开放'){
								self.holidayopen=1;
							}
							if (self.dateList[i]=='例外工作日开放') {
								self.workingdaysoff=1;
							}
						}
						window.parent.vm.timeDetail.push({
							open_day: self.weekList.join(','),
							times: timesArr,
							dates: self.formatDate(self.startTime) + "-" + self.formatDate(self.endTime),
							code: self.checkList,
							holidayopen: self.holidayopen,
							workingdaysoff:self.workingdaysoff,
							datelist:self.dateList
						})
						layer.msg('已保存一条开放时间段', { icon: 1 });
					}
					self.weekList = [];
					self.multipleSelection = [];
					self.repeatWeekDay = [];
					self.dateList=[];
					window.parent.layer.closeAll();
				},
				setTime: function(val) { //日期转换为时间戳函数
					return Date.parse(new Date(val));
				},
				formatTen: function(num) {
					return num > 9 ? (num + "") : ("0" + num);
				},
				formatDate: function(date) { //标准时间转为时间格式
					var year = date.getFullYear();
					var month = date.getMonth() + 1;
					var day = date.getDate();
					var hour = date.getHours();
					var minute = date.getMinutes();
					var second = date.getSeconds();
					return year + "-" + this.formatTen(month) + "-" + this.formatTen(day);
				},
				parserDate: function(date) { //普通日期转化为标准日期
					var t = Date.parse(date);
					if(!isNaN(t)) {
						return new Date(Date.parse(date.replace(/-/g, "/")));
					} else {
						return new Date();
					}
				},
				cancel: function() { //新增时间段的取消按钮
					let self = this;
					self.weekList = [];
					self.dateList = [];
					self.checkList = [];
					self.multipleSelection = [];
					self.repeatWeekDay = [];
					window.parent.layer.closeAll();
				},
			}
		})
		Array.prototype.unique1 = function() { //数组去重函数
			var res = [this[0]];
			for(var i = 1; i < this.length; i++) {
				var repeat = false;
				for(var j = 0; j < res.length; j++) {
					if(this[i] == res[j]) {
						repeat = true;
						break;
					}
				}
				if(!repeat) {
					res.push(this[i]);
				}
			}
			return res;
		}
	</script>

</html>