<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../../js/layout.js" ></script>
		<script type="text/javascript" src="../../js/jqPaginator.js"></script>
		<!-- 先引入 Vue -->
		  <script src="../../js/vue.js"></script>
		  <!-- 引入组件库 -->
		  <script src="../../js/element.js"></script>
		  <script src = '../../js/lodash.min.js'></script>
		<meta charset="UTF-8">
		<title>我的考试</title>
		<link rel="stylesheet" type="text/css" href="../../css/ostp/person-center.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/ostp/my-subscribe-layer.css" class="commonCss"/>
		<link rel="stylesheet" href="../../css/element.css">
		<style type="text/css">
			.rightOuter{
				position:relative; min-height:750px;
			}

			.loginOuter{
				width:400px; margin-top:40px; margin-left:45px;
			}
			.loginTitle{
				width:100%; height:30px; font-size:20px; line-height:30px;
				font-weight:bold; margin-bottom:70px;
			}

			.selectOuter{
				padding-bottom:19px;
				margin-top:45px; line-height:34px;
			}
			.selectTxt{
				font-size:16px; font-weight:bold;
			}
			.subscribe-train{
				width:130px; float:right; border-radius:3px; font-size:14px;
				background-color:#169BD5; color:white; text-align:center;
			}

			.module{
				width:100%; height:55px; line-height:55px; display:block;
				text-align:center;
			}
			.moduleOn{
				background-color:#ccc;
			}
			.subscribeOuter{
				width:100%; border-bottom:1px solid #CCCCCC;
			}
			.subscribeOuter .row{
				height:30px;
			}
			.subscribelistTit{
				font-size:14px; font-weight:bold;
			}
			.subscribelistTime{
				font-size:14px; color:#B9C4CA;
			}
			.blue{
				color:#6699FF; padding-right:40px;
			}
			.clear{
				width:88px; height:28px; color:white; cursor: pointer;
				border-radius:15px; background-color:#B7C4CD;
				float:right; line-height:28px; text-align:center;
			}
			.row1{
				margin-bottom:30px; margin-top:20px;
			}
			.row2{
				font-size:14px; color:rgb(102,102,102);
				margin-bottom:10px;
			}

			.fenyeCon{
				width:700px; margin:auto; position:absolute;
				left:120px; bottom:-10px;
			}
			.dishide{
				display: none;
			}
		</style>
		<script>
			//$('.bootstrap').remove();
		</script>
	</head>
	<body>
		<div id = "app">
		<div class="topOuter">
			<div class="topCon clearfix">
				<a href="index.html" class="top2Con-index">
					<img src="../../images/ostp/logo.png" class="logoPng" />
					<div class="top2Tit">
						在线自主技能训练平台
					</div>
				</a>
				<div class="top1Tit-right">
					<img src="../../images/ostp/bell.png" class="bell" />
					<img src="../../images/ostp/redCircle.png" class="redCircle" />
					<img src="../../images/ostp/feifei.png" class="headImg" />
					<div class="nameAndYear clearfix">
						<div class="nameAndYearInner clearfix">
							<div class="userName"></div>
							<div class="year"></div>
							<span class="arrow"></span>
						</div>
						<ul class="selectUl"></ul>
					</div>
				</div>
			</div>
		</div>

		<div class="main clearfix">
			<div class="leftOuter">


			</div>

			<div class="rightOuter clearfix">

				<div class="row selectOuter">
					<div class="selectTxt col-xs-4">
						我的考试
					</div>
					<div class="col-xs-6">
						<!-- 点击跳转到预约训练页面 -->
						<!-- <a href="subscribe-train.html">
							<button class="subscribe-train">预约新训练</button>
						</a> -->

					</div>
					<div class="col-xs-2">
						<select v-if="activeName=='2'" @change = "filterTest($event.target.value)" class="form-control ordertype">

							<option value='3'>全部</option>
							<option value='1'>待评分</option>
							<option value='2'>已评分</option>
						</select>
					</div>
				</div>
				<el-tabs v-model="activeName" @tab-click="handleClick">
				    <el-tab-pane label="待考" name="-1"></el-tab-pane>
				    <el-tab-pane label="已考" name="2"></el-tab-pane>

				</el-tabs>
				<div class="subscribeOuter-list">
					<div v-if="testList.length>0" class="subscribeOuter clearfix" v-for="item in testList">
						<div class="row row1">
							<div class="col-xs-6 subscribelistTit">{{item.model==1?item.testname:item.examname+'-'+item.questionname}}</div>

							<div class="col-xs-6 right subscribelistTime">{{item.starttime+'——'+item.endtime}}</div>
						</div>
						<div class="row row2">
							<div class="col-xs-3">考试形式：{{item.model==1?'理论机试':'操作考试'}}</div>
							<div class="col-xs-3">课程：{{item.coursename}}</div>
							<div class="col-xs-3">老师：{{item.teachername}}</div>
							<div v-if="item.status==-1" class="col-xs-3 blue right">{{item.outperiod}}</div>
							<div v-else class="col-xs-3 blue right" >{{item.status==1?'未评分':'已评分'}}</div>
						</div>
						<div class="row row2">
							<div class="col-xs-4">总分：{{item.score}}</div>
							<div class="col-xs-4">
								<div v-if="item.status==-1&&item.outperiod=='未过期'&&item.canstart=='已开始'" class='clear'  @click = "toExam(item)"  >点击进入</div>
								<div  class='clear' v-show="item.status==2" @click ="seeGrade(item)">查看评分</div>
							</div>
						</div>
					</div>
					<p v-else　class="no-data">暂无考试</p>
				</div>
				<!-- <div class="fenyeCon">
					<ul class="pagination" id="pagination1"></ul>
				</div> -->
			</div>

		</div>
	</div>
	</body>

	<script type="text/javascript">
		var vm = new Vue({
	      el: '#app',
	      data: function() {
	        return {
	        	activeName:'-1',
	        	testList:[],
	        	_testList:[],
	        }
	      },
	      watch:{
	      	activeName(cval,oval){
	      		if(cval==-1){
	      			this.gettestlist(1,'-1','-1');
	      		}else{
	      			this.gettestlist(1,'2','3');
	      		}

	      	}
	      },
	      methods:{
	      	handleClick:function(){

	      	},
	      	getquestionlist:function(status){
	      		var self = this;
	      		var json = {
					"1": {
						command: "unifyexam/querystuoperatorquestion",
						stuid: getCookie('gy_u'),
						sessionid: getCookie('gy_t'),
						loginid: getCookie('gy_u'),
						status:status,
						pagenum:1,
						pagesize:10000,
					}
				};

				Api.R({
					url: "/unifyexam/querystuoperatorquestion",
					isShade:1,
					json:json,
					fn:function (json) {
						if(json["1"].errcode != 0){
							uselayer(3, json["1"].errdesc);
							return;
						}
						var arr = json["1"].questionlist;
						self._testList.push(...arr);
						self.testList = _.sortBy(self._testList,function(i){
							return new Date(i.starttime).getTime();
						});
						console.log(self.testList)
						self.testList.map(function(item){
							if(new Date(item.endtime).getTime()<new Date().getTime()){
								item.outperiod = '已过期';
							}else{
								item.outperiod = '未过期';
							}
                            if(new Date(item.starttime).getTime()<new Date().getTime()){
                                item.canstart = '已开始';
                            }else{
                                item.canstart = '未开始';
                            }
							return item;
						})
					}
				});
	      	},
	      	gettestlist:function (page,status1,status2) {
	      		var self = this;
				var pagecount = 10000;
				var json = {
					"1": {
						command: "unifyexam/querytestlist",
						uid: getCookie('gy_u'),
						sessionid: getCookie('gy_t'),
						loginid: getCookie('gy_u'),
						status:status1,
						page:page,
						reqnum:pagecount,
						answermode:0
					}
				};

				Api.R({
					url: "/unifyexam/querytestlist",
					isShade:1,
					json:json,
					fn:function (json) {
						if(json["1"].errcode != 0){
							uselayer(3, json["1"].errdesc);
							return;
						}
						var arr = json["1"].testlist;

						self._testList=[];
						self._testList.push(...arr);
						self.getquestionlist(status2);
						}



							/*uselayer(2,'确定要取消预约吗？',function () {
								Api.applayCancel({
									json:{
										id:oId
									},
									fn:function (json) {
										console.log(json);
										uselayer(3,json.message);
										getapplaylist();
									}
								});
							})*/

						// 	subscribeLayer('确定要取消预约吗？',function () {
						// 		Api.R({
						// 			url: "/learn/deletebookedlist",
						// 			isShade: 1,
						// 			json:{
						// 				"1": {
						// 					command: "learn/deletebookedlist",
						// 					sessionid: getCookie('gy_t'),
						// 					uid: getCookie('gy_u'),
						// 					loginid: getCookie('gy_u'),
						// 					applystudentid: oId
						// 				}
						// 			},
						// 			fn:function (json) {
						// 				if(json["1"].errcode != 0){
						// 					uselayer(3,json["1"].errdesc);
						// 					return;
						// 				}
						// 				uselayer(3,'预约已被取消!');
						// 				getapplaylist();
						// 			}
						// 		});
						// 	});


						// });
						// var allcount = json["1"]['allcount'];
						// fenye(allcount,page);//生成分页
					});

			},
			toExam:function (data) {

				if(data.model==1){
					window.location.href = './test-computer.html?id='+data.id+'&&paperid='+data.paperid+'&&testname='+data.testname+'&&coursename='+data.coursename+'&&model='+data.model+'&&endtime='+data.endtime+'&&createtime='+data.createtime;
				}else{
					window.location.href = './test-video.html?examid='+data.examid+'&&id='+data.id+'&&paperid='+data.paperid+'&&examname='+data.examname+'&&questionname='+data.questionname+'&&questionid='+data.questionbaseid+'&&endtime='+data.endtime+'&&starttime='+data.starttime;
				}
			},
			seeGrade(data){
				if(data.model==1){
					window.location.href = './test-computer-detail.html?id='+data.id+'&&paperid='+data.paperid+'&&testname='+data.testname+'&&coursename='+data.coursename+'&&model='+data.model+'&&endtime='+data.endtime+'&&createtime='+data.createtime;
				}else{
					window.location.href = './show-video.html?examid='+data.examid+'&&id='+data.id+'&&paperid='+data.paperid+'&&examname='+data.examname+'&&questionname='+data.questionname+'&&questionid='+data.questionbaseid+'&&endtime='+data.endtime+'&&starttime='+data.starttime+'&&scoreid='+data.scoreid+'&&path='+data.path+'&&score='+data.score+'&&createtime='+data.uptime;
				}
			},
			filterTest:function(val){
				if(val==1){
					this.gettestlist(1,100,1);
				}else{
					this.gettestlist(1,2,val)
				}

			}
	      },
	      mounted(){
	      	this.gettestlist(1,-1,-1);
	      }
	 	});
		function fenye(allcount,page){//分页的方法
			var totalPages =  Math.ceil(allcount/4);
			var type2 = $('.ordertype').val();
			$.jqPaginator('#pagination1', {//分页
		        totalPages:totalPages,
	            visiblePages: 10,
	            currentPage: page,
	            first: '<li class="first"><a href="javascript:void(0);">首页</a></li>',
	            prev: '<li class="prev"><a href="javascript:void(0);"><i class="_arrow arrow2"></i>上一页</a></li>',
	            next: '<li class="next"><a href="javascript:void(0);">下一页<i class="_arrow arrow3"></i></a></li>',
	            last: '<li class="last"><a href="javascript:void(0);">末页</a></li>',
	            page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
		        onPageChange: function (num, type) {
		        	if(type == 'change'){
		        		getapplaylist(type2,num);//type2为下拉列表的类型
		        	}

		        }
		    });
		}



		window.onload = function () {
			'use strict';
			common();
			showpersoncenter('我的考试');

		};


	</script>

</html>
