<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../../js/salesmanage/layout.js" ></script>
		<link rel="stylesheet" href="../../css/salesmanage/tablepagecommon.css" type="text/css" />
		<meta charset="UTF-8">
		<title>激活管理</title>
		<style>
			.active_btn1{
				margin-bottom:10px;
			}
			.user-defined-checkbox{/*多选框*/
				display:inline-block;
			}

			/*适配手机端*/
			@media screen and (max-width: 800px) {
				.usertable tr th:nth-child(2),tr th:nth-child(4),tr th:nth-child(6),tr td:nth-child(2),tr td:nth-child(4),tr td:nth-child(6){
					display:none;
				}
				th input,td input{
					margin:0;
				}
				.usertable .edit span {
				    width: 100%;
				}
			}
			/*适配pc端*/
			@media screen and (min-width: 800px){
				.usertable tr th:nth-child(1),.usertable tr td:nth-child(1){
					padding-left:5px;
				}
				.user-defined-checkbox{
					width:24px; height:24px;
				}
			}
		</style>	
	</head>
	<body>
		<div class="_container" id="vue_control" v-cloak>
			<button
				:class="pc_active_btn_class"
				@click="toactive()" :disabled="checkedusers.length<2">
				批量激活
			</button>
			<div class="table_con">
				<div class="table_inner">
					<table class="usertable">
						<tr>
							<th>
								<div class="user-defined-checkbox">
									<input type="checkbox" v-model="checkAll" @change="handleCheckAllChange">
								</div>
							</th>
							<th>用户名</th>
							<th>姓名</th>
							<th>权限</th>
							<th>剩余天数</th>
							<th>到期时间</th>
							<th>编辑</th>
						</tr>
						<!-- <tr>
							<td>
								<div class="user-defined-checkbox">
									<input type="checkbox" v-model="checkedusers" value="纳豆">
								</div>
							</td>
							<td>yangyang@misrobot.com</td>
							<td>杨洋</td>
							<td>普通用户</td>
							<td>10天</td>
							<td>2017-05-01</td>
							<td class="edit"><span class="toactive" @click="toactive">激活</span></td>
						</tr> -->
						<tr v-for="(value,i) in allusers">
							<td>
								<div class="user-defined-checkbox">
									<input type="checkbox" v-model="checkedusers" :value="value.userid">
								</div>
							</td>
							<td>{{value.loginname}}</td>
							<td>{{value.username}}</td>
							<td>{{value.type}}</td>
							<td>{{value.activateDay}}天</td>
							<td>{{timetodate(value.expiretime,4)}}</td>
							<td class="edit"><span class="toactive" @click="toactive(value.userid)">激活</span></td>
						</tr>
						
					</table>
				</div>
				<!--分页-->
				<div id="paging">
					
				</div>
				<button
					:class="phone_active_btn_class"
					@click="toactive()" :disabled="checkedusers.length<2">
					批量激活
				</button>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		var vm;
		onload = function(){
			vm=new Vue({
				el:"#vue_control",
				data:{
					users:[],//存放所有用户id
					checkAll: false,
			        checkedusers:[],//存放选择的用户id
			        allusers:[]
				},
				methods:{
					timetodate:timetodate,
					handleCheckAllChange:function(event) {
				    	this.checkedusers = event.target.checked ? this.users : [];
				    },
				    toactive:function(userid){
						var self = this;
				    	open_dialog1({
							title:'激活',
							content:'激活后增加100天使用期权，确定要激活吗？',
							yesbtnname:'激活',
							yes:function(){
								var useridlist = [];
								if(!userid){//如果是批量激活
									$(self.checkedusers).each(function(index, el) {
										useridlist.push({userid:el});
									});
								}else{
									useridlist = [{userid:userid}];
								}
								my_require.R({
									isShade:1,
									url:'/mismarketing/updateactivite',
									data:{
										command:"mismarketing/updateactivite",
										loginuserid:getCookie('userid'),
										useridlist:useridlist
									},
									callback:function(base){
										layer.msg('激活成功！');
										self.get_all_user_depend_device();//刷新列表
										self.checkedusers = [];
										parent.vm.activenum();//刷新父页面激活管理标签显示的人数
									}
								});
							}
						});
				    },
					get_all_user:function(curr,length){//获取所有的用户(传入的是当前的页数,每页的条数)
						var self = this;
						my_require.R({
							isShade:1,
							url:'/mismarketing/queryactivdteuser',
							data:{
								command:"mismarketing/queryactivdteuser",
								activateDays:7,
								requestpage:curr,
								sizeperpage:length,
								userid:getCookie('userid')
							},
							callback:function(base){//登录成功
								self.allusers = base.usersList;
								self.users = [];
								$(base.usersList).each(function(index, el) {
									self.users.push(el.userid);
								});
								 
								layui.use(['laypage', 'layer'], function(){
									var laypage = layui.laypage;
									laypage({
										cont: 'paging',
										pages: Math.ceil(base.counts/length),
										first: false,
										last: false,
										skin: '#2088ca',
										curr: location.hash.replace('#!fenye=', ''),
										hash: 'fenye',//自定义hash值
										jump: function(obj,first){
											if(!first){
												self.get_all_user(obj.curr,length);
											}
										}
									});
								});
								
							}
						});
					},
					get_all_user_depend_device:function(){//根据设备判断一次显示多少用户
						changepage('!fenye=1');
						if( IsPC() ){
							this.get_all_user(1,15);
						}else{
							this.get_all_user(1,10000);
						}
					}
				},

				created:function(){
					
				},
				mounted:function(){
					my_checkbox_change();
					var self = this;
					layui.use('layer', function(){
						var layer = layui.layer;
						self.get_all_user_depend_device();
						
					});
				},
				updated:function(){
					my_checkbox_change();
				},
				watch:{
					checkedusers:function(val,oldval){
						if(val.length == this.users.length){
							this.checkAll = true;
						}else{
							this.checkAll = false;
						}
					}
				},
				computed:{
					phone_active_btn_class:function(){
						return {phone_blue_btn:true,grey_background:this.checkedusers.length<2};
					},
					pc_active_btn_class:function(){
						return {blue_btn:true,active_btn1:true,grey_background:this.checkedusers.length<2};
					}
				}
			})		
		}

	</script>
</html>