<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <script src="js/vue.js"></script>
    <script src="js/scoket.io.js"></script>
    <script src="js/jquery-1.11.3.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/cabinet.css">
    <title>药学</title>
</head>
<body>
<div class="cabinet flex flex-column">
    <header>
        {{name}}
    </header>
    <section class="flex flex-full">
        <i class="icon-box" v-if="selectlist.length > 0" @click=" seletdetails = true">
            <b>{{selectlist.length}}</b>
        </i>
        <nav class="flex">
            <ul>
                <li class="font-normal optionleft" v-for="(val,index) in levellist" :class="active(index)" @click="init(val.id,index)">{{val.name}}</li>
            </ul>
        </nav>
        <aside class="flex flex-column">
            <ul>
                <li class="flex flex-column flex-w-center" v-for='(item,index) in list'>
                    <div class=" box flex flex-h-center">
                        <span v-for='(val,index) in list[index]' class="flex flex-w-center flex-h-center" @click="showDetail($event,val.id)">
                            <b class="flex flex-w-center flex-h-center">{{val.name}}</b>
                        </span>
                    </div>
                </li>
            </ul>
        </aside>
    </section>
    <i class="shade" v-show="details"></i>
    <div class="detailbox" v-show="details">
        <header class="flex flex-w-center flex-h-center">
            <span>药品详情</span>
            <i @click="closedetail"></i>
        </header>
        <section>
            <ul>
                <li>
                    <b>药品名称：</b>
                    <span>{{detail.name}}</span>
                    <i v-if="detail.ephedrine">（麻黄碱）</i>
                </li>
                <li>
                    <b>药品类型：</b>
                    <span>{{detail.first}}</span>
                </li>
                <li>
                    <b>适应症：</b>
                    <span>{{detail.indication}}</span>
                </li>
                <li>
                    <b>禁忌症：</b>
                    <span>{{detail.contraindication}}</span>
                </li>
                <li>
                    <b>不良反应：</b>
                    <span>{{detail.untoward}}</span>
                </li>
                <li>
                    <b>用法用量：</b>
                    <span>{{detail.dosage}}</span>
                </li>
                <li>
                    <b>成分：</b>
                    <span>{{detail.component}}</span>
                </li>
            </ul>
        </section>
        <footer>
            <div class="flex flex-h-center flex-w-center">
                <a class="btn btn-sure disabled" @click="select(detail)">加入药品篮</a>
                <a class="btn btn-close" @click="closedetail">关&#x3000;闭</a>
            </div>
            <p>*取药数量默认为一个疗程。</p>
        </footer>
    </div>
    <div class="toast" v-if="toast">
        <span>请勿重复添加~</span>
    </div>
    <i class="shade" v-show="seletdetails && selectlist.length>0"></i>
    <div class="seletdetaillist" v-show="seletdetails && selectlist.length>0">
        <header class="flex flex-w-center flex-h-center">
            <span>药品篮</span>
            <i @click=" seletdetails = false"></i>
        </header>
        <section>
            <ul class="flex flex-h-center">
                <li v-for = '(val,index) in selectlist'>
                    <div class="flex flex-column">
                        <span class="flex flex-w-center flex-h-center">{{val.name}}</span>
                        <i @click="delet(val.id)"></i>
                    </div>
                    <p>一个疗程</p>
                </li>
            </ul>
        </section>
        <footer class="flex flex-w-center">
            <a class="btn btn-sure" @click="send">配送给用户</a>
            <a class="btn btn-close" @click=" seletdetails = false">关&#x3000;闭</a>
        </footer>
    </div>
</div>
<script>
    var  _setupWebViewJavascriptBridge = function(callback){
        if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
        if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
        window.WVJBCallbacks = [callback];
        var WVJBIframe = document.createElement('iframe');
        WVJBIframe.style.display = 'none';
        WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
        document.documentElement.appendChild(WVJBIframe);
        setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
    };
    var invokeNative = function(methodName, param, callback) {
        _setupWebViewJavascriptBridge(function(bridge) {
            bridge.callHandler(methodName, param, function responseCallback(responseData) {
                callback && callback(responseData);
            });
        });
    };
    window.onerror=function(a,b,c){
        alert(a+b+c)
    };
    var vm = new Vue({
        el: '.cabinet',
        data: {
            socket:{},
            k: null ,//当前选中
            levellist:[],
            subjectid:'',
            id:'',
            name:'',
            list:[],
            group:'',
            tvname:'',
            detail:'',//当前药品详情
            details:false,//显示药品详情
            selectid:'',//当前选中的药品id
            selectlist:[],//选中的药品
            toast:false,
            seletdetails:false
        },
        watch: {
            //监听一级分类改变，获取二级分类
            'subjectid': function (val) {
                var _this = this;
                var _json = {
                    "1": {
                        command: "hr/querylevellist",
                        sessionid: 111,
                        loginid: 111,
                        code: 'drug',
                        pid: val
                    }
                };
                var json = JSON.stringify(_json);
                $.ajax({
                    url: "/hr/querylevellist",
                    type: "POST",
                    data: json,
                    contentType: "application/json",
                    success: function (data) {
                        data = data["1"];
                        if (data.errcode == 0) {
                            _this.levellist = data.levellist;
                            if (_this.levellist){
                                _this.init(_this.levellist[0].id)
                            }
                        }
                    }
                })
            }
        },
        mounted:function(){
            invokeNative('getTvInfo',{},this.getinfo);
//            this.initscoket();
//            this.queryLevel();
        },
        methods:{
            getinfo:function(data){
                var _tvname = JSON.parse(data).TvName;
                this.tvname = _tvname.substr(_tvname.length-1,1);
                this.initscoket();
                this.queryLevel();
            },
            initscoket:function(){
                var self = this;
                self.socket = io.connect('/medicine/cabinet', {});

                this.socket.on('reset',function(msg){
                    self.selectlist = [];
                    $('.btn-sure').addClass('disabled');
                });
                self.socket.on('play',function(msg){
                    $('.btn-sure').removeClass('disabled');
                });
                self.socket.on('unite',function(msg){
                    self.selectlist.push(msg)
                });
                self.socket.on('delete',function(msg){
                    for (var i in self.selectlist){
                        if (self.selectlist[i].id == msg){
                            self.selectlist.splice(i,1);
                        }
                    }
                });
                this.socket.on('end',function(msg){
                    self.selectlist = [];
//                    $('.btn-sure').removeClass('disabled');
                });
            },
            active:function(index) {
                return {
                    'active': index == 0
                }
            },
            closedetail:function(){
                this.details = false;
                $('aside li span').removeClass('active');
            },
            queryLevel:function(param) {
                var _this = this;
                var _json = {
                    "1": {
                        command: "hr/querylevellist",
                        sessionid: 111,
                        loginid: 111,
                        code: 'drug'
                    }
                };
                var json = JSON.stringify(_json);
                $.ajax({
                    url: "/hr/querylevellist",
                    type: "POST",
                    data: json,
                    contentType: "application/json",
                    success: function (data) {
                        data = data["1"];
                        if (data.errcode == 0) {
                            _this.subjectid = _this.tvname == 1 ? data.levellist[0].id : _this.tvname == 2 ? data.levellist[1].id :'';
                            _this.name = _this.tvname == 1 ? data.levellist[0].name : _this.tvname == 2 ? data.levellist[1].name :'';
                        }
                    }
                })
            },
            init:function(param,index){
                var _this = this;
                $('nav li').removeClass('active');
                $($('nav li')[index]).addClass('active');
                var _json = {
                    "1": {
                        command: "drug/list",
                        sessionid: 111,
                        loginid: 111,
                        type:param
                    }
                };
                var json = JSON.stringify(_json);
                $.ajax({
                    url: "/drug/list",
                    type: "POST",
                    data: json,
                    contentType: "application/json",
                    success: function (data) {
                        data = data["1"];
                        var arr = [];
                        if (data.errcode == 0) {
                            for ( var j = 0 ; j < data.druglist.length; j++ ){
                                arr.push(data.druglist.splice(0,4));
                                if (data.druglist.length < 4 && data.druglist.length > 0){
                                    arr.push(data.druglist.splice(0,data.druglist.length));
                                }
                            }
                            _this.list = arr;
                        }
                    }
                })
            },
            //查看药品详情
            showDetail:function(event,param){
                var _this = this;
                _this.selectid = param;
                var target = event.target;
                $(target).parent().addClass('active');
                var _json = {
                    "1": {
                        command: "drug/detail",
                        sessionid: 111,
                        loginid: 111,
                        id:param
                    }
                };
                var json = JSON.stringify(_json);
                $.ajax({
                    url: "/drug/detail",
                    type: "POST",
                    data: json,
                    contentType: "application/json",
                    success: function (data) {
                        data = data["1"];
                        var arr = [];
                        if (data.errcode == 0) {
                            _this.detail=data;
                            _this.details = true;
                        }
                    }
                });
            },
            select:function(param){
                var self = this ;
                if (self.selectlist.length > 0){
                    for (var i in self.selectlist){
                        if (self.selectlist[i].id == self.selectid){
                            self.toast = true ;
                        }
                    }
                }
                if (self.toast){
                    setTimeout(function(){
                        self.toast = false ;
                        self.closedetail();
                    },1000)
                } else {
                    self.selectlist.push({'id':this.selectid,'name':param.name});
                    this.socket.emit('unite',{'id':this.selectid,'name':param.name});
                    self.closedetail();
                }
            },
            delet:function(param){
                for (var i in this.selectlist){
                    if (this.selectlist[i].id == param){
                        this.socket.emit('delete',this.selectlist[i].id);
                        this.selectlist.splice(i,1);
                    }
                }
            },
            send:function(){
                var self = this;
                this.socket.emit('send',self.selectlist);
                $('.btn-sure').addClass('disabled');
                setTimeout(function(){
                    self.seletdetails = false;
                },2000)
            }
        }
    })
</script>
</body>
</html>
