<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <script src="js/vue.js"></script>
    <script src="js/scoket.io.js"></script>
    <script src="js/jquery-1.11.3.js"></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/medicine.css">
    <title>中药宝典</title>
</head>
<body>
<div id="medicine">
    <template v-if="part == 1">
        <div class="firstbox flex">
            <div class="lt flex">
                <div class="name">
                    <span class="t-rl name-font">
                        {{content.name}}
                    </span>
                </div>
                <div v-if="content.alias" class="frominfo flex">
                    <span class="line">
                        <i class="infoname t-rl font-describe">别&#x3000;名</i>
                        <span class="t-rl infoitem font-normal">
                            {{content.alias}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="imgbox flex flex-w-center flex-h-center">
                <i></i>
            </div>
            <div class="rt flex">
                <span class="nobefore">
                    <i class="infoname t-rl font-describe">来&#x3000;源</i>
                    <span class="t-rl infoitem font-normal">
                        {{content.source}}
                    </span>
                </span>
                <span>
                    <i class="infoname t-rl font-describe">产&#x3000;地</i>
                    <span class="t-rl infoitem font-normal">
                        {{content.origin}}
                    </span>
                </span>
            </div>
        </div>
    </template>
    <template v-if="part == 2">
        <div class="real flex flex-h-center">
            <div class="real-left">
                <i></i>
            </div>
            <div class="real-right flex flex-column flex-h-center flex-w-center">
                <span class="flag font-describe">性状鉴别</span>
                <p class="font-normal">{{content.identify}}</p>
            </div>
        </div>
    </template>
    <template v-if="part == 3">
        <div class="real flex flex-h-center">
            <div class="real-left">
                <i></i>
            </div>
            <div class="real-right flex flex-column flex-h-center flex-w-center">
                <ul>
                    <li>
                        <span class="flag font-describe">主要成分</span>
                        <p class="font-normal">{{content.component}}</p>
                    </li>
                    <li v-if="content.effect">
                        <span class="flag font-describe">药理作用</span>
                        <p class="font-normal" v-html="content.effect">{{content.effect}}</p>
                    </li>
                    <li v-if="content.processing">
                        <span class="flag font-describe">炮&#x3000;&#x3000;制</span>
                        <p class="font-normal">{{content.processing}}</p>
                    </li>
                    <li>
                        <span class="flag font-describe">性味与归经</span>
                        <p class="font-normal">{{content.tropism}}</p>
                    </li>
                    <li>
                        <span class="flag font-describe">功能主治</span>
                        <p class="font-normal">{{content.functions}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </template>
</div>
<script>
    var  _setupWebViewJavascriptBridge = function(callback){
        if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
        if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
        window.WVJBCallbacks = [callback];
        var WVJBIframe = document.createElement('iframe');
        WVJBIframe.style.display = 'none';
        WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
        document.documentElement.appendChild(WVJBIframe);
        setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
    };
    var invokeNative = function(methodName, param, callback) {
        _setupWebViewJavascriptBridge(function(bridge) {
            bridge.callHandler(methodName, param, function responseCallback(responseData) {
                callback && callback(responseData);
            });
        });
    };
    window.onerror=function(a,b,c){
        alert(a+b+c)
    };
    vm = new Vue({
        el: '#medicine',
        data: {
            part:1,//1:左边  2：中间  3：右边
            type:true,
            socket:{},
            content:{
                origin: '',//产地
                name: '',//名字
                select: '',//类型
                subject: '',//分类
                secondSubject: '',//二级分类
                alias: '',//别名
                source: '',//来源
                identify: '',//性状鉴别
                component: '',//主要成分
                effect: '',//药理作用
                processing: '',//炮制
                tropism: '',//性味与归经
                functions: '',//功能主治
                typical:'',//图片1
                character:'',//图片2
                function:''//图片3
            },
            group:'',
            id:'',
            ip:''
        },
        mounted:function(){
                invokeNative('getGroupInfo',{},this.getgroup);
        },
        methods:{
            getgroup:function(data){
                this.group = JSON.parse(data).TvGroup;
                var _id = JSON.parse(data).TvName;
                this.id = _id.substr(_id.length-1,1);
                this.ip = JSON.parse(data).IP;
                this.part = this.id ;
                this.initscoket();
            },
            initscoket:function(){
                var _this = this;
                socket = io.connect(_this.ip+'medicine', {
                    query: {
                        id: _this.id,
                        group: _this.group
                    }
                });
                // group message 分组消息
                socket.on('group message', function(msg){
                    var type = _this.type;
                    _this.content=msg;
                    $(".imgbox i").css({"background-image":'url('+_this.content.typical+')'});
                    $(".real-left i").css({"background-image":'url('+_this.content.character+')'});
                    $(".section i").css({"background-image":'url('+_this.content.function+')'});
                });
                // global message 全局消息
                socket.on('global message', function(msg){
                    console.log('global message : ' + msg);
                });

                // notice 通知消息
                socket.on('notice', function(msg){
//                        console.log(msg)
                });
            },
            init:function(){
                var _this = this;
                var param = {
                    group: _this.group
                };
                $.ajax({
                    url: '/medicine/show',
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    data: JSON.stringify(param)
                }).done(function (data) {
                    if(data && data.data) {
                    }
                }).fail(function () {
                    alert('显示失败！');
                });
            }
        }
    })
</script>
</body>
</html>
