[v-cloak] { display: none }
body {
    font-size: 62.5%;
    user-select: none;
}
.flex {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.flex-full {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex:1;
}
.flex-column {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
}
.flex-w-center {
    -webkit-justify-content:center;
    justify-content:center;
    -moz-box-pack:center;
    -webkit--moz-box-pack:center;
    box-pack:center;
}
.flex-h-center {
    box-align:center;
    -moz-box-align:center;
    -webkit-box-align:center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align:center;/* IE 10 */
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.information {
    width:100vw;
    height:100vh;
}
.first , .second , .third, .zero {
    width: 100vw;
    height: 100vh;
    background: url("../images/bg.png") 0 0 no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.first h2 {
    color: #00a0e9;
    font-size: 3rem;
    padding-top: 40vh;
    padding-bottom: 13vh;
}
.zero h2 {
    color: #00a0e9;
    font-size: 3rem;
    padding: 40vh 0;
}
.zero h4 {
    color: #00a0e9;
    font-size: 1.2rem;
    line-height: 2rem;
}
.zero p{
    color: #666;
    font-size: 1rem;
    line-height: 4rem;
}
.first p {
    color: #666;
    font-size: 2rem;
    line-height: 4rem;
}
.second span{
    display: inline-block;
    width:26vw;
    height:26vw;
    background: url("../images/time.png") 0 0 no-repeat;
    background-size: 100% 100%;
}
.second i {
    display: inline-block;
    color: #fff;
    font-size: 8rem;
    line-height: 26vw;
}
.third h2  {
    color: #00a0e9;
    font-size: 5rem;
}
.fourth header , .fifth header , .sixth header{
    width:100vw;
    height:15vh;
    background: #353d64;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 15vh;
}
.fourth section , .fifth section {
    width:100vw;
    height:85vh;
    background: #f6f8fd;
}
.fourth section div.box {
    width:50vw;
    height:32vw;
    background: url("../images/information2.png") 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 2vw 0 3vw;
    /*position: relative;*/
}
.fourth h2 {
    color: #00a0e9;
    font-size: 2.5rem;
    text-align: center;
}
.box span {
    width:50%;
    height:100%;
    text-align: center;
}
.box span img , .left span img{
    width:15.625vw;
    height:15.625vw;
}
.box > div {
    width:48%;
    height:100%;
}
.box > div ul {
    width:15.625vw;
    height:15.625vw;
    line-height: 3.9vw;
    font-size: 1.5rem;
}
.fifth section>div {
    width:50%;
    height:100%;
}
.fifth section p {
    font-size: 1.5rem;
    color: #00a0e9;
    line-height: 3rem;
}
.left , .right {
    width:30vw;
    height:31.2vw;
}
.left {
    background: url("../images/information_bg.png") 0 0 no-repeat;
    background-size: 100% 100%;
}
.right {
    background: url("../images/medicine_bg.png") 0 0 no-repeat;
    background-size: 100% 100%;
}
.left > div ,.left ul {
    width:100%;
}
.left li {
    width:50%;
    float: left;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}
.right img {
    display: inline-block;
    width:26vw;
    height:28vw;
}
.big-mecidine {
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
}
.big-mecidine img{
    display: inline-block;
    width:39.58vw;
    height:88vh;
    padding-top:6vh;
    padding-left: 30vw;
}
.shade {
    position: absolute;
    z-index: 999;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.5;
    top:0;
    left:0;
    display: block
}
.sex:after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url(../images/icon_sex0.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin-left: 0.5rem;
}
.sex.active:after {
    background: url(../images/icon_sex1.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.sixth header i {
    display: inline-block;
    width:4vw;
    height:4vw;
    background: url("../images/icon_user.png") 0 0 no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right:1.5vw;
}
.sixth header span {
    position: absolute;
    left: 5vw;
    font-size: 1.5rem;
}
