.take_turns_change_outer{
	width:100%; height:100%; position:relative; overflow:hidden; z-index:5;
}
.take_turns_change_content{
	width:200%; height:100%; position:absolute; overflow:hidden;
}
.take_turns_change_content>li{
	width:50%; height:100%; display:none; position:absolute;
}
.take_turns_change_content>li>img{
	display:block; width:100%; height:100%;
}
.take_turns_change_outer>p{
	width:100%; height:20px; line-height:20px; text-align:center;
	position:absolute; bottom:30px; z-index:20;
}
.take_turns_change_outer>p>span{
	display:inline-block; width:15px; height:15px;
	border:1px solid #CECECE; border-radius:10px;
	margin-left:18px; cursor:pointer;
}
.take_turns_change_outer .span_onclick{
	background-color:#0497CB;
}