body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.leftFra {
    width: 380px;
    float: left;
}
.rgtVide {
    width: 1450px;
    float: right;
}
.titleTxt {
    width: 90px;
    line-height: 100px;
    font-size: 90px;
    float: left;
    color: #FFFFFF;
    text-align: center;
    word-wrap: break-word;
    margin-left: 172px;
    margin-top: 80px;
    margin-bottom: 45px;
}
.tongueTip {
    width: 1420px;
    height: 952px;
    overflow: auto;
    float: left;
}
.roundinMode {
    width: 75%;
    line-height: 45px;
    text-indent: 40px;
    color: #FFFFFF;
    font-size: 30px;
    float: left;
    margin-top: 20px;
}
.infoBox {
    width: 438px;
    height: 328px;
    position: relative;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.infoPic {
    width: 438px;
    height: 328px;
}
.infoBox .category {
    width: 90px;
    height: 56px;
    position: absolute;
    line-height: 56px;
    text-align: center;
    background-color: #f3cb0c;
    color: #FFFFFF;
    font-size: 28px;
    top: 0;
    left: 348px;
    right: 0;
    bottom: 0;
}
.infoTitle {
    width: 438px;
    line-height: 80px;
    text-indent: 30px;
    color: #333333;
    background-color: rgba(255,255,255,0.7);
    font-size: 28px;
    position: relative;
    top: -80px;
    float: left;
}
.infoTitle p {
    margin: 0;
    padding: 0;
    color: #333333;
}
.tabMenu {
    width: 1450px;
    height: 80px;
    float: left;
    margin-bottom: 25px;
    background: url("../../images/scmp/classifyMenu.png") no-repeat;
}
.menuSwitch {
     padding: 20px 40px 20px 20px;
     float:left;
     color: #c4bbb4;
     font-size: 30px;
     cursor:pointer;
 }
.menuDepar {
    padding: 20px 40px 20px 20px;
    float:left;
    color: #c4bbb4;
    font-size: 30px;
    cursor:pointer;
}
.tabMenu ul{
    margin:0 0 0 150px;
    padding: 0;
    list-style-type:none;
    overflow:hidden;
}
.tabMenu li{
    padding: 20px 40px 20px 20px;
    float:left;
    font-size: 30px;
    cursor:pointer;
}
.active2
{
    color: #FFFFFF;
}
.tabMenu .norma2
{
    color: #c4bbb4;
}
.TabTitle {
    width: 100%;
    font-size: 40px;
    float: left;
    margin-bottom: 120px;
}
.TabTitle ul{
    margin:0;
    padding:0;
    list-style-type:none;
    overflow:hidden;
    width:100%;
}
.TabTitle li{
    float:left;
    width: 380px;
    line-height: 96px;
    padding-left: 60px;
    cursor:pointer;
    margin-bottom: 20px;
}
.TabTitle .normal
{
    color: #54b768;
    text-indent: 40px;
    background: url("../../images/scmp/menuSelect.png") no-repeat;
}
.active
{
    color: #FFFFFF;
    text-indent: 40px;
    background: url("../../images/scmp/menuOption.png") no-repeat;
}
.nones{display:none;}
.marTop {
    margin-top: 20px;
}
/*详情*/
.returnBtn {
    width: 250px;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 40px;
    cursor: pointer;
    z-index: 99999;
}
.detailInfo {
    width: 1860px;
    height: 989px;
    overflow: auto;
    text-align: center;
    float: left;
    margin-top: 56px;
}
.fontCenter {
    font-size: 48px;
}
.detailInfo img{
    width: 636px;
    height: 380px;
    margin-top: 56px;
    margin-bottom: 60px;
}
.detailContent2 {
    width:100%;
    text-align: left;
    float: left;
}
p {
    margin-top: 48px;
    text-indent: 60px;
}
