* {
    margin:0;
    padding:0;
}
li {
    list-style-type:none;
}
#cret {
    padding:15px;
}
header{
    margin:20px auto;
}
div.search {
    width:200px;
    float: right;
}
table td {
    vertical-align: middle!important;
}
.update {
    z-index: 1000;
    background: #fff;
    border:1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    top:100px;
    right:0;
    left:0;
}
.update .choose {
    display: inline-block;
    width: 370px; }
.update .choose p {
    display: inline-block;
    width: 200px;
    border: 1px solid #bfcbd9;
    border-radius: 5px;
    line-height: 35px;
    background: #eee;
    padding-left: 10px; }
.update .btnA {
    float: right;
    margin-top: 10px;
    padding-right: 30px; }

.choose b {
    display: inline-block;
    width: 65px;
    text-align: right;
    margin: 15px auto; }
.update header p {
    margin: 0;
    line-height: 35px;
    padding: 0 15px; }
.choose p {
    display: inline-block;
    width: 200px;
    max-height: 200px;
    overflow: auto;
    margin:0;
    border: 1px solid #bfcbd9;
    border-radius: 5px;
    line-height: 35px;
    background: #eee;
    padding-left: 10px; }
div.remark {
    width: 300px; }
.choose-right {
    float: right;
    cursor: pointer; }
.shade {
    position: absolute;
    z-index: 999;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.8;
    top:0;
    left:0;
    display: block}
.choice {
    z-index: 1001;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%); }
.choice section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden; }
.choice header {
    border-bottom: 1px solid #ddd;
    margin:0
}
.choice header p {
    margin: 0;
    line-height: 35px;
    padding: 0 15px; }
.search-btn .el-input-group {
    width: 200px;
    margin-bottom: 20px; }

.choose-right {
    cursor: pointer; }
.list {
    width: 200px;
    height: 270px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto; }
.list li {
    text-align: left;
    padding-left:15px;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    cursor: pointer; }
.el-checkbox {
    width:100%;
}
.list li:hover {
    background: #eee; }
.right-part {
    width: 200px; }
.right-part p {
    text-align: left;
    line-height: 36px;
    padding-bottom: 10px; }
.btn-group {
    display: flex;
    justify-content: flex-end;
}
.btnC {
    padding:10px;
    }
.btnB {
    display: inline-block;
    align-self:center;
    margin:0 10px;
    }
.btnB .el-button {
    margin-bottom: 10px; }