#title{
    background-color: #E5E6E8;
    height:40px;
    line-height: 40px;
    padding-left:20px;
}
#content{
    border:1px solid #ddd;
    border-radius: 5px;
    margin-top:20px;
    overflow:hidden;
    padding:0 100px 100px 0;
}
div.oneFloor{
    clear:both;
}
div.oneFloor>p{
    border-radius: 5px;
    background-color: #E9EDEF;
    height:34px;
    line-height: 34px;
    margin:20px 0 0 20px;
    width:150px;
}
div.oneFloor>p>b{
    background-color: #8BB4E7;
    float:left;
    width:5px;
    height:34px;
    border-radius: 5px 0 0 5px;
}
div.oneFloor>p>span{
    float:left;
    padding-left:20px;
}
ul.allDoors{
    clear:both;
    margin:20px 0 0 40px;
}
ul.allDoors>li{
    float:left;
    padding:8px;
    position: relative;
    cursor: pointer;
}
ul.allDoors>li>div{
    text-align: center;
    padding:5px;
}
div.doorIcon{
    margin:10px 0 0 0;
}
ul.doorHandlers{
    position: absolute;
    top:78px;
    left:39px;
    z-index:99;
    border-radius: 5px;
    background-color: #0072C7;
    color:white;
    width:160px;
}
ul.doorHandlers>li{
    padding:5px 10px;
    cursor: pointer;
}
ul.doorHandlers>li:hover{
    background-color: #2e6da4;
}
ul.doorHandlers>li:nth-child(1){
    border-radius: 5px 5px 0 0;
    background-color: #404950;
}
ul.doorHandlers>li:nth-child(2){
    background-color: #404950;
}
.mulno{
    float: left;
    width:18px;
    height:18px;
    background-image:url("../../images/scmp/mulno.png") ;
    background-size: cover;
}
.mulyes{
    float: left;
    width:18px;
    height:18px;
    background-image:url("../../images/scmp/mulyes.png") ;
    background-size: cover;
}
.key{
    float:left;
    width:16px;
    height:16px;
    background-image: url("../../images/scmp/key.png");
    background-size: cover;
}
#shadow{
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height:100%;
}
.shadowTitle{
    background-color: #F7F7F7;
    padding:8px 20px;
    border-bottom:1px solid #EDEDED;
}
.shadowBox{
    background-color:white;
}
.topHandler{
    position:relative;
    margin-top:20px;
}
.topHandler>button{
    position:absolute;
    top:0;
    left:20px;
}
#userTable{
    margin:20px;
}
div.pageInfo{
    float:left
}
div.pageNumBox{
    float:right;
}
#doorUserFooter{
    overflow: hidden;
    padding:10px 20px 20px 20px;
}
div.pageInfo>p{
    margin-left:10px;
}
#addUserBox,#doorEdit{
    margin:0 auto;
    margin-top:50px;
    width:700px;
    height:490px;
    background-color: white;
}
.setTLeft{
    float:left;
    width:292px;
    margin:24px 0 0 30px;
}
.setTCenter{
    float:left;
    margin-top:24px;
    width:122px;
    height:338px;
}
.setTCenter>div{
    width:84px;
    margin:0 auto;
    padding-top:134px;
}
.setTRight{
    float:left;
    margin-top:24px;
    height:338px;
    width:226px;
}
.setTRight>ul{
    border:1px solid #ccc;
    height:300px;
    color:#7c7c7c;
    overflow:auto;
}
.setTRight>ul li{
    padding:10px;
    cursor: pointer;
}
.setTRight>ul li:hover{
    background-color: #f5f5f5;
}
#users{
    color:#7C7C7C;
    border:1px solid #DBDBDB;
    margin-top:10px;
    height:300px;
    overflow: auto;
}
#users li{
    padding-left:50px;
    position: relative;
    cursor: pointer;
    height:26px;
    line-height:26px;
}
#users li:hover{
    background-color:#efefef;
}
.notChoosed{
    position: absolute;
    left:20px;
    top:4px;
    width:18px;
    height:18px;
    background-image: url("../../images/assistant/gouxuan.png");
}
.isChoosed{
    position: absolute;
    left:20px;
    top:4px;
    width:18px;
    height:18px;
    background-image: url("../../images/assistant/gouxuan-h.png");
}
div.bottomBtns{
    clear:both;
    text-align:right;
    padding:20px 30px;
}
ul.doorEditList{
    width:80%;
    margin:20px auto;

}
ul.doorEditList li{
    margin-bottom:12px;
    overflow: hidden;
    padding:5px 0;
}
ul.doorEditList li span{
    width:20%;
    text-align: right;
    float:left;
}
ul.doorEditList li p{
    margin:0;
    width:80%;
    float:left;
}
li.userListHeader{
    background-color:#E5E6E8 ;
    border-bottom:1px solid #eee;
}
li.userListHeader b{
    border-left:1px solid #aaa;
}
li.userListHeader strong.s1{
    padding-right:30px;
}
li.userListHeader strong.s2{
    padding-left:30px;
}
p.addGroupUser{
    padding-top:20px;
    margin:0;
}