*{margin:0;padding:0;font-family: "微软雅黑";line-height:28px;font-size:18px;}
body{background-color: rgba(245, 245, 249, 1);}
 img{max-height:auto;}
.con h1{text-align:center;line-height:40px;font-size:22px;display:block;width:100%;}
.con{padding: 20px;}
.acdetail {text-align:justify;}
