* {
  margin:0;
  padding:0;
}
#addTeacher {
  margin:20px;
}
section {
  overflow: hidden;
  width:400px;
  margin:0 auto;
  padding: 10px;
  .choose {
    display: inline-block;
    width:370px;
    p {
      display: inline-block;
      width:200px;
      border: 1px solid #bfcbd9;
      border-radius: 5px;
      line-height: 35px;
      background: #eee;
      padding-left: 10px;
      max-height: 100px;
      overflow: auto;
    }
  }
  .btnA {
    float: right;
    margin-top:10px;
    padding-right: 30px;
  }
}
.choose b {
  display: inline-block;
  width:65px;
  text-align: right;
  margin:15px auto;
}
div.remark {
  width:300px;
}

.choice {
  background: #fff;
  border:1px solid #ddd;
  padding:0;
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:500px;
    padding:10px;
    margin:0 auto;
    overflow: hidden;
  }
  header {
    border-bottom: 1px solid #ddd;
    p {
      margin:0;
      line-height: 35px;
      padding:0 15px;
    }
  }
}
.btn-group {
  display: flex;
  justify-content: flex-end;
}
.search-btn{
  .el-input-group{
    width:200px;
    margin-bottom:20px;
  }
}
.choose-right {
  float: right;
  cursor: pointer;
}
.list {
  width:200px;
  height:270px;
  border:1px solid #ddd;
  border-radius: 5px;
  overflow: auto;
  li {
    text-align: left;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }
}
.el-checkbox {
  width:100%;
}
.btnB {
  display: inline-block;
  align-self:center;
  margin:0 10px;
  .el-button {
    margin-bottom: 10px;
  }
}
.right-part {
  width:200px;
  p {
    text-align: left;
    line-height: 36px;
    padding-bottom:20px;
  }
}
.btnC {
  padding:10px;
}
