.mar-80{margin-right:80px;}
.min-100{min-width:100px;}
.ma-br{margin-top:20px;}
.ma-30{margin-top:30px;}
.online-header{margin: 0 20px 20px 20px;}
.ma-br .btn{width:100px;}
.mart-20{margin-top:20px;}
.border-0{border:0px;}
.label-form label{width:170px;text-align:right;}
.online-modal .modal-footer{text-align:center;}
.online-modal textarea.form-control {width:500px;height:120px;}
.btn-100{width:100px;}
.label-form em{color:#f00;padding-right:10px;}
.table-list .btn{width:auto;}
#wraper{padding:0px 15px;}

.voideCon{height:auto;padding-bottom: 24px;border-bottom: 1px dashed #ddd;}
.modal-footer-con{text-align:left;}
.thumbnail-text{float:left;}
.online-sumary span{padding-right:50px;}
.pofile{position: relative;}
.pofile input{position: absolute;}
input.fileop{outline:none;border:0px;display: inline-block;}
.lanmu{background-color: lightgray;line-height:40px;text-indent:20px;}
.showImg{margin-top:20px;}
.showImg img{width:200px;height:120px;margin-left:170px;}
.upfilePath{outline:none;border:0px;}
.errorPrompt{color:#f00;text-align:center;}
.resourceSu{color:#ddd;}
.adfile{height:auto}
@media (min-width: 992px){

	.modal-lg {
	    width: 804px;
	}
}

/*进度条*/
.upPross,.upPro{height:10px;width:800px;border-radius:5px;}
.upPross{background:#f5f5f5;position:absolute;left:50%;top:50%;margin-left:-400px;z-index:9999999;display:none;}
.upPross .upPro{background:#0497CB;width:0px;}
