* {
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a {
	text-decoration: none;
}
 .s_studentMessage ul{li t-style: none;}
.s_studentMessage   ul>li{
    height: 50px;
    
}
 .s_studentMessage  ul>li:nth-child(1){
	margin-top: 30px;
}
section {
	position: relative;
	width: 100%;
}
[v-cloak] {
  display: none;
}
section>p {
	width: 100%;
	background-color: lightgray;
	padding-left: 20px;
	clear: right;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
}

/****************************************************中间按钮部分******************************************/
section>.center {
	margin: 0 20px 20px 20px;
	padding-bottom: 40px;
}

section>.center>#myButton {
	float: left;
}

section>.center .load-in,.handle {
	float: left;
}

section>.center .load-in {
	margin-left: 20px;
	margin-right: 20px;
}

section>.center>.row>input {
	height: 30px;
}

section>.center>.form-inline {
	float: right;
}

section #input-search {
	margin-right: 20px;
}
/*******************************************表格信息*********************************************/
section .table-responsive {
	clear: both;
	margin:20px;
}
section .table-responsive th{
	font-size: 14px;
}
section .table-responsive td{
	font-size: 12px;
}
/**************************************************新增学生信息***********************************************/
 section .s_addStudent{
	width: 800px;
	height: 400px;
	border: 1px solid;
	position: fixed;
	left: 100px;
	top: 160px;
	background-color: white;
}
.s_studentTop{
	height: 40px;
	border-bottom: 1px solid;
	background-color: silver;
}
.s_studentTop>p:nth-child(1){
	position: absolute;
	left: 10px;
	top: 10px;
}
.s_studentTop>p:nth-child(2){
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}

.s_addStudent button{
	position: absolute;
	bottom: 20px;
}
.s_addStudent .btn-primary{
	right: 100px;
}
.s_addStudent .btn-default{
	right: 20px;
}

/***********************************删除确认页面*************************************/
.delete_sure{
	width: 400px;
	height: 300px;
	border: 1px solid;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: white;
}
.student-message,.delete_sure .btn-primary{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 180px;
	bottom: 30px;
}
.student-message,.delete_sure .btn-default{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 55px;
	bottom: 30px;
}
.delete{
	height: 40px;
	border-bottom: 1px solid;
}

.isSure img{
	position: absolute;
	left: 100px;
	top: 105px;
}
.isSure p{
	left: 150px;
	top: 113px;
	position: absolute;
}
/*************************************分页************************************/
.left{float: left;}
.right{float: right;}
