* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

section {
	position: relative;
}

section>p {
	width: 100%;
	background-color: lightgray;
	padding-left: 20px;
	clear: right;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
}
/****************************************************中间按钮部分******************************************/
section>.center {
	margin: 0 20px 20px 20px;
	
}

section>.center>#myButton {
	float: left;
}

section>.center .load-in,.handle {
	float: left;
}

section>.center .load-in {
	margin-left: 20px;
	margin-right: 20px;
}

section>.center>.row>input {
	height: 30px;
}

section>.center>.form-inline,.search {
	float: right;
}

section #input-search {
	margin-right: 20px;
}
section .addBtn{
	float: right;
}
/*******************************************表格信息*********************************************/
section .table-responsive {
	clear: both;
	margin:20px;
	padding-top: 21px;
	overflow-x: inherit;
}
section .table-responsive .message-btn button{
	float: left;
	margin-right: 10px;
}
section .table-responsive th{
	font-size: 14px;
	text-align: center;
}
section .table-responsive td{
	font-size: 12px;
}
section .table-responsive td button{
	font-size: 12px;
	padding: 1px 6px;
}
section td{
	text-align: center;
}
.checkbtnbox{
	position: absolute;
	display: none;
	top: 10px;
    left: 10px;
    z-index: 1;
    border: 1px solid #d0d0d0;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
}
.checkbtnbox .checkbtn{
	border: 1px solid #ddd;
	margin: 3px;
	display: block;
	border-radius: 3px;
}
 section .s_addStudent{
	width: 800px;
	height: 400px;
	border: 1px solid;
	position: fixed;
	left: 100px;
	top: 160px;
	background-color: white;
}

.add-student{
	width: 400px;
	height: 300px;
	border: 1px solid;
	position: fixed;
	left: 115px;
	top: 170px;
	background-color: white;
}
.c_studentTop{
	height: 40px;
	border-bottom: 1px solid;
}
.c_studentTop>p:nth-child(1){
	position: absolute;
	left: 10px;
	top: 10px;
}
.c_studentTop>p:nth-child(2){
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}

.message-left{
	margin:15px  auto;
	text-align: center;	
	height: 30px;
}
.c_classMessage button{
	position: absolute;
	bottom: 20px;
}
.c_classMessage .btn-primary{
	left: 170px;
}
.c_classMessage .btn-default{
	left: 250px;
}
.c_classMessage .message-left .form-control{
	width: 80%;
}
/***********************************删除确认页面*************************************/
.delete_sure{
	width: 500px;
	height: 250px;
	border: 1px solid;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: white;
}
.delete{
	height: 40px;
	border-bottom: 1px solid;
}

.isSure p:nth-child(1){
	font-size: 30px;
	color: red;
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 100;
}
.isSure p:nth-child(2){
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: lemonchiffon;
	position: absolute;
	top: 95px;
	left: 80px;
}
.isSure p:nth-child(3){
	left: 150px;
	top: 113px;
	position: absolute;
}
.student-message,.delete_sure .btn-primary{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 130px;
	bottom: 30px;
}
.student-message,.delete_sure .btn-default{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 300px;
	bottom: 30px;
}

.search-wrap .form-group{
	margin-right:20px;
	margin-bottom: 10px;
}

.search-wrap .form-group .btn{
	vertical-align: top;
	width: 100px;
}

.user-detail{
	display:block;
	overflow-y: auto;
}