<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/assistant/newCourse.css">
    <script src="../../js/assistant/qwebchannel.js"></script>
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../layer/layer.js"></script>
    <script src="../../js/base.js"></script>
    <link rel="stylesheet" href="../../css/assistant/iconfont.css">
    <link rel="stylesheet" href="../../css/assistant/demo.css">
    <link rel="stylesheet" href="../../css/assistant/style.css">
</head>
<body>
aaaa
<div class="noUse"></div>
<div id="content">
    <div class="header">
        <p>创建  新  课程</p>
        <span class="icon icon-close anticon"></span>
    </div>
    <div class="must">
        <div class="mustInput">
            <p class="inputTitle">
                <b class="icon5">*</b>
                <span>授课地点：</span>
            </p>
            <div class="dropdown">
                <input type="text" placeholder="输入或选择上课地点" style="font-size:14px;color:#A1A1A1;font-family: microsoft yahei" id="inputPlace">
                <span><img src="../../images/iteach/down.png" alt=""></span>
                <ul class="hide placeList">
                </ul>
            </div>
        </div>
        <div class="mustInput">
            <p class="inputTitle">
                <b class="icon5">*</b>
                <span>授课老师：</span>
            </p>
            <div class="choosedTeacher hide">
            </div>
            <p class="btnWhite" id="toChooseTeacher">选择</p>
        </div>
        <div class="mustInput">
            <p class="inputTitle">
                <b class="icon5">*</b>
                <span>课程：</span>
            </p>
            <div class="dropdown">
                <input type="text" placeholder="输入或选择课程名称" style="font-size:14px;color:#A1A1A1;font-family: microsoft yahei" id="inputClassName">
                <span><img src="../../images/iteach/down.png" alt=""></span>
                <ul class="hide classNameList">
                </ul>
            </div>
            <p class="btnWhite" id="newCourseName">新建</p>
        </div>
        <div class="mustInput">
            <p class="inputTitle">
                <b class="icon5">*</b>
                <span>上课时间：</span>
            </p>
            <div class="choosedTimeRange hide">
            </div>
            <p class="btnWhite" id="toChooseStartTime">选择</p>
        </div>
    </div>
    <div id="choice">
        <div class="choiceHead">
            <span>可选输入信息：</span>
            <i class="leftBlock block"></i>
            <i class="rightBlock block"></i>
            <div class="choiceBox">
                <div class="mustInput" style="float:none;width:55%;">
                    <p class="inputTitle" style="height:33px;line-height: 33px;">
                        辅教老师：
                    </p>
                    <div class="choosedTeacher2 hide">
                    </div>
                    <p class="btnWhite" id="chooseTeacher2">选择</p>
                </div>
                <div class="exercise">
                    <p class="inputTitle" style="height:33px;line-height: 33px;">
                        训练项：
                    </p>
                    <div id="exercise" class="hide"></div>
                    <p class="btnWhite" id="toChooseExercise">选择</p>
                </div>
                <div class="stu">
                    <p class="inputTitle" style="height:33px;line-height: 33px;">
                        学生：
                    </p>
                    <table id="stuMsg">
                        <thead>
                        <tr>
                            <td>班级</td>
                            <td>学员</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr>
                            <td>临床医学2015班A班</td>
                            <td>所有学员（72）</td>
                            <td class="delete"><span class="icon anticon icon-minuscircleo"></span> 删除</td>
                        </tr>
                        <tr>
                            <td>临床医学2015班B班</td>
                            <td>谢吟东、谢吟东、谢吟东、谢吟东、谢吟东</td>
                            <td class="delete"><span class="icon anticon icon-minuscircleo"></span> 删除</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td id="moreStu"><span class="icon anticon icon-pluscircleo"></span>增加</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        </div>
    </div>
    <div class="btns">
        <p class="btnWhite16" id="closeAll">关闭</p>
        <p class="btnBlue16" id="saveAll">保存</p>
    </div>
</div>
<div id="shadow" class="hide">
    <div class="noUse"></div>
    <div id="newCourseBox" class="hide">
        <p class="title"><span class="icon icon-close anticon rightTop"></span></p>
        <p>课程名称</p>
        <input type="text" placeholder="请输入需要创建的新课程名称" id="inputNewClassName">
        <div>
            <p class="btnWhite16" id="newCourseBoxCancel">取消</p>
            <p class="btnBlue16" id="newCourseBoxSave">确定</p>
        </div>
    </div>
    <div id="setTeacher" class="hide">
        <p class="title">
            <b>选择老师</b>
            <span class="icon icon-close anticon rightTop"></span>
        </p>
        <div class="setTLeft">
            <p class="searchTeacher">
                <input type="text" placeholder="输入老师名字进行查找">
                <span class="matchTeacher match">
                    <b class="icon icon-search anticon find"></b>查找
                </span>
            </p>
            <ul id="teacherList">
                <li><i class="notChoosed"></i>谢吟东</li>
                <li><i class="notChoosed"></i>刘钧</li>
                <li><i class="notChoosed"></i>李茹</li>
                <li><i class="notChoosed"></i>吴科</li>
                <li><i class="notChoosed"></i>吴候</li>
                <li><i class="notChoosed"></i>吴吴</li>
                <li><i class="notChoosed"></i>谢谢</li>
                <li><i class="notChoosed"></i>李李</li>
                <li><i class="notChoosed"></i>刘刘</li>
                <li><i class="notChoosed"></i>刘三</li>
            </ul>
        </div>
        <div class="setTCenter">
            <div class="addOrDelete">
                <p class="disabled" id="addTeacher">增加 &gt;&gt;</p>
                <p class="disabled" style="margin-top:10px" id="removeTeacher">&lt;&lt; 删除</p>
            </div>
        </div>
        <div class="setTRight">
            <p>已选老师</p>
            <ul class="choosedList" id="choosedTeacher">
            </ul>
        </div>
        <div style="clear:both;overflow:hidden;padding:25px 30px 0 0">
            <p class="btnWhite16" id="setTeacherCancel">关闭</p>
            <p class="btnBlue16" id="setTeacherSave">确定</p>
        </div>
    </div>
    <div id="newCourseTime" class="hide">
        <p class="title">
            <b>选择上课时间</b>
            <span class="icon icon-close anticon rightTop"></span>
        </p>
        <div id="datepicker" class="calendar"></div>
        <div class="timeRightBox">
        	<div style="overflow: hidden;">
                            <span style="float: left;margin-right: 20px;">开放时段:</span>
                            <div style="float: left;">
                                <table border="1">
                                	<tr>
                                		<th style="width: 90px;">课节</th>
                                		<th style="width: 90px;">上课时间</th>
                                		<th style="width: 90px;">下课时间</th>
                                		<th style="width: 90px;">开放</th>
                                	</tr>
                                	<tr v-for="(item,index) in timeList" style="text-align: center;">
                                		<td>第{{item.value}}节</td>
                                		<td>{{item.starttime | filterFun}}</td>
                                		<td>{{item.endtime | filterFun}}</td>
                                		<td>
                                			<input type="checkbox"    :value="item"  v-model="checkList"/>
                                		</td>
                         
                                	</tr>
                                </table>
                            </div>
                        </div>
            <!--<div class="timeBoxInner">
                <span>上课时间</span>
                <div class="timeDrop">
                    <ul class="timeList hide">
                        <li>06</li>
                        <li>07</li>
                        <li>08</li>
                        <li>09</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                    </ul>
                    <span id="beginH">08</span><i></i>
                </div>
                <b>:</b>
                <div class="timeDrop">
                    <ul class="timeList hide">
                        <li>00</li>
                        <li>05</li>
                        <li>10</li>
                        <li>15</li>
                        <li>20</li>
                        <li>25</li>
                        <li>30</li>
                        <li>35</li>
                        <li>40</li>
                        <li>45</li>
                        <li>50</li>
                        <li>55</li>
                    </ul>
                    <span id="beginM">00</span><i></i>
                </div>
            </div>-->
            <div class="timeBoxInner">
                <span>下课时间</span>
                <div class="timeDrop">
                    <ul class="timeList hide">
                        <li>06</li>
                        <li>07</li>
                        <li>08</li>
                        <li>09</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                    </ul>
                    <span id="endH">12</span><i></i>
                </div>
                <b>:</b>
                <div class="timeDrop">
                    <ul class="timeList hide">
                        <li>00</li>
                        <li>05</li>
                        <li>10</li>
                        <li>15</li>
                        <li>20</li>
                        <li>25</li>
                        <li>30</li>
                        <li>35</li>
                        <li>40</li>
                        <li>45</li>
                        <li>50</li>
                        <li>55</li>
                    </ul>
                    <span id="endM">00</span><i></i>
                </div>
            </div>
        </div>
        <div class="saveCourseTime">
            <p class="btnBlue16" id="saveTime">确定</p>
        </div>
    </div>
    <div id="setStu" class="hide">
        <p class="title">
            <b>选择学员</b>
            <span class="icon icon-close anticon rightTop"></span>
        </p>
        <div class="setTLeft">
            <div class="dropsChooseGrade">
                <div class="timeDrop" style="width:85px">
                    <ul class="timeList hide" id="gradeList">
                        <li>00</li>
                        <li>05</li>
                        <li>10</li>
                        <li>15</li>
                        <li>20</li>
                        <li>25</li>
                        <li>30</li>
                        <li>35</li>
                        <li>40</li>
                        <li>45</li>
                        <li>50</li>
                        <li>55</li>
                    </ul>
                    <span id="chooseGrade">请选择年级</span><i></i>
                </div>
                <div class="timeDrop" style="margin-left: 10px;width:153px;text-align: center" id="getClassInGrade">
                    <ul class="timeList hide" id="classListInChoosedGrade">
                        <li>临床医学2014定向班</li>
                        <li>临床医学2014甲班</li>
                        <li>临床医学2014乙班</li>
                        <li>临床医学2014定向班</li>
                        <li>20</li>
                        <li>25</li>
                        <li>30</li>
                        <li>35</li>
                        <li>40</li>
                        <li>45</li>
                        <li>50</li>
                        <li>55</li>
                    </ul>
                    <span id="chooseClass">请选择班级</span><i></i>
                </div>
            </div>
            <ul id="studentList">
                <li class="grayone" name="first">
                    <i class="notChoosed" id="chooseAll"></i>
                    <b class="vLine"></b>
                    <span class="stuName">姓名</span>
                    <span class="stuIdTitle">学号</span>
                </li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
                <li><i class="notChoosed"></i><span class="stuName">刘钧</span><span class="stuId">2014121322</span></li>
            </ul>
        </div>
        <div class="setTCenter">
            <div class="addOrDelete">
                <p class="disabled" id="addStu">增加 &gt;&gt;</p>
                <p class="disabled" style="margin-top:10px" id="removeStu">&lt;&lt; 删除</p>
            </div>
        </div>
        <div class="setTRight">
            <p>已选择成员</p>
            <ul class="choosedStuList">
                <li class="choosedClassHead">
                    <img src="../../images/iteach/down.png" alt="">
                    <span>临床医学2014甲班</span>
                    <ul class="hide">
                        <li>刘钧(2014121322)</li>
                        <li>刘钧(2014121322)</li>
                        <li>刘钧(2014121322)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="clear:both;overflow:hidden;padding:25px 30px 0 0">
            <p class="btnWhite16" id="setStuCancel">关闭</p>
            <p class="btnBlue16" id="setStuSave">确定</p>
        </div>
    </div>
    <div id="setTeacher2" class="hide">
        <p class="title">
            <b>选择辅教老师</b>
            <span class="icon icon-close anticon rightTop"></span>
        </p>
        <div class="setTLeft">
            <p class="searchTeacher">
                <input type="text" placeholder="输入老师名字进行查找">
                <span>查找</span>
            </p>
            <ul id="teacher2List">
                <li><i class="notChoosed"></i><span>谢吟东</span></li>
                <li><i class="notChoosed"></i><span>11111</span></li>
                <li><i class="notChoosed"></i><span>222222</span></li>
                <li><i class="notChoosed"></i><span>3333</span></li>
                <li><i class="notChoosed"></i><span>4444444</span></li>
                <li><i class="notChoosed"></i><span>谢吟东33</span></li>
                <li><i class="notChoosed"></i><span>谢吟东1</span></li>
                <li><i class="notChoosed"></i><span>谢吟东2</span></li>
                <li><i class="notChoosed"></i><span>谢吟东3</span></li>
                <li><i class="notChoosed"></i><span>谢吟东4</span></li>
                <li><i class="notChoosed"></i><span>谢吟东5</span></li>
                <li><i class="notChoosed"></i><span>谢吟东6</span></li>
                <li><i class="notChoosed"></i><span>谢吟东7</span></li>
            </ul>
        </div>
        <div class="setTCenter">
            <div class="addOrDelete">
                <p class="disabled" id="addTeacher2">增加 &gt;&gt;</p>
                <p class="disabled" style="margin-top:10px" id="removeTeacher2">&lt;&lt; 删除</p>
            </div>
        </div>
        <div class="setTRight">
            <p>已选辅教老师</p>
            <ul class="choosedList" id="choosedTeacher2">
            </ul>
        </div>
        <div style="clear:both;overflow:hidden;padding:25px 30px 0 0">
            <p class="btnWhite16" id="setTeacher2Cancel">关闭</p>
            <p class="btnBlue16" id="setTeacher2Save">确定</p>
        </div>
    </div>
    <div id="setExercise" class="hide">
        <p class="title">
            <b>选择训练项</b>
            <span class="icon icon-close anticon rightTop"></span>
        </p>
        <div class="setTLeft">
            <p class="searchTeacher">
                <input type="text" placeholder="输入训练项名查找">
                <span>查找</span>
            </p>
            <ul id="exerciseList">
                <li><i class="notChoosed"></i><span>训练1</span></li>
                <li><i class="notChoosed"></i><span>训练2</span></li>
                <li><i class="notChoosed"></i><span>训练3</span></li>
                <li><i class="notChoosed"></i><span>训练4</span></li>
                <li><i class="notChoosed"></i><span>训练5</span></li>
                <li><i class="notChoosed"></i><span>训练6</span></li>
                <li><i class="notChoosed"></i><span>训练7</span></li>
                <li><i class="notChoosed"></i><span>训练8</span></li>
                <li><i class="notChoosed"></i><span>训练9</span></li>
                <li><i class="notChoosed"></i><span>训练10</span></li>
                <li><i class="notChoosed"></i><span>训练11</span></li>
                <li><i class="notChoosed"></i><span>训练12</span></li>
                <li><i class="notChoosed"></i><span>训练13</span></li>
            </ul>
        </div>
        <div class="setTCenter">
            <div class="addOrDelete">
                <p class="disabled" id="addExercise">增加 &gt;&gt;</p>
                <p class="disabled" style="margin-top:10px" id="removeExercise">&lt;&lt; 删除</p>
            </div>
        </div>
        <div class="setTRight">
            <p>已选训练项</p>
            <ul class="choosedList" id="choosedExercise">
            </ul>
        </div>
        <div style="clear:both;overflow:hidden;padding:25px 30px 0 0">
            <p class="btnWhite16" id="setExerciseCancel">关闭</p>
            <p class="btnBlue16" id="setExerciseSave">确定</p>
        </div>
    </div>
</div>
<script src="../../js/assistant/newCourse.js"></script>
<script src="../../js/assistant/prefixfree.min.js"></script>
<script src="../../js/assistant/jquery-ui.js"></script>
</body>
</html>