<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>随堂小测</title>
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/element.js"></script>
    <script src="../../js/assistant/c_common.js"></script>
    <script src="../../js/scmp/common.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <script src="../../js/base.js"></script>
    <script src="../../js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../css/element.css">
    <style>
        /*base style*/
        *{margin:0;padding:0}
        body{
            background-color: #D9E0EA;
        }
        ul{list-style-type: none}
        .grayback{
            background-color: #EBEBEB;
        }
        .whiteback{
            background-color: white;
        }
        .bluebigfont{
            font-size:24px;
            color:#1B94CA;
        }
        .contentfont{
            font-size:18px;
            color:#383838;
        }
        .contentfontsmall{
            font-size:14px;
            color:#383838;
        }
        #container{padding:10px}
        .nopre{
            width:20%;
            margin: 0 auto;
            text-align: center;
            height:300px;
            font-size:32px;
            color:#ddd;
            line-height: 300px;
        }
        .testlist{
            display:flex;
            flex-wrap: wrap;
        }
        .testitem{
            width:40%;
            margin:2% 5%;
            padding-bottom:20px;
            position:relative;
            box-shadow: 5px 5px 5px #CFD5DB;
        }
        .testitem>p {
            padding: 20px 0;
            display: flex;
            align-items: center;
        }
        .testitem>p>span{
            flex:1 1;
            text-align: left;
            padding-left:20px;
        }
        .go{
            display:flex;
            justify-content: center;
            margin-top:20px;
        }
        .description{
            display:flex;
            flex-wrap: wrap;
        }
        .description>li{
            width:40%;
            margin:2% 4%;
            display: flex;
        }
        .label{
            width:30%;
        }
        .text{
            width:54%;
        }
        .bluetag{
            width:10px;
            height:20px;
            background-color: #009FEC;
        }
        .logo{
            position: absolute;
            top:0;
            right:0;
            width:130px;
            height:130px;
            background-image: url("../../images/assistant/yifaqi.png");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        /*试卷详情*/
        .nav{
            font-size: 13px;
            margin: 5px 0;
        }
        .blue{
            color:#20a0ff;
        }
        .content{
            border: 1px solid #bfcbd9;
            padding: 40px 0;
        }
        .center{
            text-align: center;
            margin-bottom: 30px;
        }
        .line{
            text-align: center;
            margin: 50px auto;
        }
        .questionlist{font-size: 15px;text-align: left;width: 80%;margin: auto;}
        .title{font-size: 30px;text-align: center;position: relative;}
        .score{font-size: 17px; text-align: center;position: relative; padding: 10px 0;}
        .info{font-size: 17px;text-align: center;margin-bottom: 40px;}
        .mainquestiontitle{padding: 10px 0;position: relative;}
        /*.mainquestion{padding: 10px 0 30px 0;position: relative;}*/
        .choiceanswercell{display: inline-block; margin: 10px 20px;}
        .next{text-align: center;padding-bottom: 100px;}
        .btn{width: 100px;margin: 20px 50px;}
        /**/
        .questionlist .mainquestiontitle{
            position: relative;min-height: 40px;line-height: 40px;
        }
        .questionlist .mainquestion{
            position: relative;
            margin-left: 20px;
        }
        .questionlist .choicebottom{
            margin-bottom: 20px;
        }
        .questionlist .choicebottom .correctchoice{
            position: absolute;
            display: none;
            width: 100%;
            bottom: -40px;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid;
            overflow: hidden;
        }
        .questionlist .mainquestion .littletitle{
            padding: 10px 0;
            display: inline-block;
        }
        .choiceanswer{
            display: inline-block;
            text-align: left;
        }
        .bottomhandler{
            margin-top:20px;
            display:flex;
            justify-content: flex-end;
        }
        /*小测试详情*/
        .grey{background-color:#ECECEC;}
        .test_detail{
            width:100%; padding:10px 0;
            margin:auto; margin-top:10px;
        }
        .test_detail h2{
            width:100%; font-size:20px;
        }
        .test_detail h5{
            font-size:16px; margin-top:10px;
        }
        .problem_con{
            border-bottom:1px solid #BCBCBC; padding:20px 0;
        }
        .problem_con:last-of-type{
            border:none;
        }
        .problem_con p{
            margin-bottom:10px;
        }
        .options{
            width:100%;
        }
        .options span{
            padding-right:3em; display:inline-block;
        }
        .test_chart{
            width:80%; height:230px; margin:auto;
        }
        .test_con{
            width:100%; height:270px;
        }
        .test_con>div{
            float:left; height:100%;
        }
        .score_chart{
            width:70%;
        }
        .test_right{
            width:30%;
        }
        .test_right_inner{
            width:100%; padding-top:60px; height:250px;
        }
        .test_right_inner h4{
            width:100%; text-align:center; margin-bottom:30px;
        }
        .test_right>h5{
            display:flex; width:100%; justify-content:flex-end; align-items:center;
            width:20%; margin-left:80%; cursor:pointer;
        }
        .test_right>h5 span{
            margin-right:10px;
        }
        .test_right>h5 img{
            height:14px;
        }
        .qvideo{
            width:100%; height:100%;
        }
        .preview{
            
        }
        .preview img{
            width:100%;
        }
    </style>
</head>
<body>
<div id="container">
    <div id="header">
        <el-button type="text" @click="goback()">我的备课</el-button>
        <span>&gt;</span>
        <span class="contentfontsmall">随堂小测</span>
    </div>
    <div class="nopre" v-show="false">您还没有备课</div>
    <ul class="testlist">
        <li class="testitem" :class="{grayback:value.status==0,whiteback:value.status==1}" v-for="(value,index) in testlist">
            <i class="logo" v-show="value.status==0"></i>
            <p class="bluebigfont">
                <i class="bluetag"></i>
                <span>{{value.papername}}</span>
            </p>
            <ul class="description contentfont">
                <li>
                    <span class="label">类型：</span>
                    <span class="text">理论题</span>
                </li>
                <li>
                    <span class="label"></span>
                    <span class="text"></span>
                </li>
                <li>
                    <span class="label">总分：</span>
                    <span class="text">{{value.paperscore}}</span>
                </li>
                <li>
                    <span class="label">题数：</span>
                    <span class="text">{{value.totalnum}}</span>
                </li>
                <li>
                    <span class="label">学科：</span>
                    <span class="text">{{value.coursename}}</span>
                </li>
                <li>
                    <span class="label"></span>
                    <span class="text"></span>
                </li>
            </ul>
            <div class="go">
                <el-button type="primary" v-if="value.status==1" size="large" @click="opentest(value)">发起测验</el-button>
                <el-button type="primary"  v-else size="large" @click="queryreport(value)">查看结果</el-button>
            </div>
        </li>
    </ul>
    <el-dialog title="试卷详情" :visible.sync="paperdetailvisible">
        <div class="content">
            <h2 class="center margintop">{{papername}}</h2>
            <p class="center">满分：{{score}}分</p>
            <div class="questionlist" v-for="(item,index) in testpaper">
                <div class="mainquestiontitle edit">
                    {{index+1 | maintitlenum}}、{{item.nickname}}
                    <span>(共{{item.totalnum}}小题,总分: {{item.totalscore}}分)</span>
                </div>
                <!--单选多选问答判断-->
                <div class="mainquestion choicebottom" v-for="(mainitem,mainindex) in item.content" v-if="item.cateid!=6">
                    <div class="littletitle">
                        {{mainindex+1}}、{{mainitem.questionbasename}}
                        <span>({{mainitem.score}}分)</span>
                    </div>
                    <br v-if="item.cateid!=4&&item.cateid!=5" />
                    <div class="choiceanswer" v-if="item.cateid!=4&&item.cateid!=5">
                        <div class="choiceanswercell" v-for="(choiceitem,choiceindex) in mainitem.questionitem">
                            <span>{{choiceitem.itemname}}</span>{{choiceitem.content}}
                        </div>
                    </div>
                    <div class="maincontent">
                        <a v-if="ispicture(value.attrvalue)"
                          class="preview" v-for="(value,index) in mainitem.picturelist">
                          <img :src="value.filepath"/>
                        </a>
                        <span v-if="!ispicture(value.attrvalue)" v-for="(value,index) in mainitem.picturelist"
                            @click="showMyFile(value.filepath)" style="cursor:pointer;">
                            {{getfilename(value.attrvalue)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomhandler">
            <el-button type="primary" size="large" @click="starttest()">发起测验</el-button>
        </div>

    </el-dialog>

    <el-dialog title="测试报告" :visible.sync="reportvisible" size="large">
        <h4 v-show="examinfo.length==0">还没有学生提交成绩</h4>
        <div class="test_con clearfix">
            <div class="score_chart">

            </div>
            <div class="test_right">
                <div class="test_right_inner">
                    <h4 v-if="examinfo.length>0">完成人数：{{examinfo[0].count}}人</h4>
                    <h4 v-if="examinfo.length>0">平均分：{{examinfo[0].avgscore}}分</h4>
                </div>
            </div>
        </div>

        <div class="test_detail">
            <h2>详情</h2>
            <h5 v-if="questionlist_new.single.length>0">单选题</h5>
            <div class="problem_con single" v-for="(question,i) in questionlist_new.single">
                <p>
                    {{i+1}}、{{question.questionbasename}}
                </p>
                <div class="options">
                    <span v-for="(option,j) in question.questionitem">
                        {{option.itemname}}．{{option.content}}
                    </span>
                </div>
                <div class="test_chart">

                </div>
            </div>

            <h5 v-if="questionlist_new.multiple.length>0">多选题</h5>
            <div class="problem_con multiple" v-for="(question,i) in questionlist_new.multiple">
                <p>
                    {{i+1}}、{{question.questionbasename}}
                </p>
                <div class="options">
                    <span v-for="(option,j) in question.questionitem">
                        {{option.itemname}}．{{option.content}}
                    </span>
                </div>
                <div class="test_chart">

                </div>
            </div>

            <h5 v-if="questionlist_new.judge.length>0">判断题</h5>
            <div class="problem_con judge" v-for="(question,i) in questionlist_new.judge">
                <p>
                    {{i+1}}、{{question.questionbasename}}
                </p>
                <div class="test_chart">

                </div>
            </div>
        </div>

    </el-dialog>
    <el-dialog title="文件查看" :visible.sync="isshowfile">
        <video class="qvideo"
          :src="showfile"
          loop autoplay controls v-if="isshowfile"
        />
    </el-dialog>
</div>
<script>
    var vm=new Vue({
        el:'#container',
        data:{
            totalScore:100,
            testlist:[],
            paperdetailvisible:false,
            reportvisible:false,
            paperid:'',
            courseid:'',
            testpaper:[],
            categorylist:[],
            papername:'',
            score:'',
            base:{"coursename":"","sigcount":"","bestpersonal":{},"sclassname":[],"allanswer":{},"endtime":"","stdcount":"","starttime":"","robanswer":{},"placename":"","latecount":"","command":"report/integratedreport","bestgroup":{},"outcount":"","absencecount":"","vote":{}},
            testindex:0,//记录当前显示的随堂小测
            examinfo:[],//随堂小测数组
            questionlist:[],//试卷中的题目列表
            paperinfo:[],//试卷详情
            courseendtime:'',
            questionlist_new:{single:[],judge:[],multiple:[],},
            getquestionlength:0,
            isshowfile:false,
            showfile:'',
            questionTypeNum:0,//记录共有几种题目
        },
        filters:{
            maintitlenum: function (value) {
                var num=value;
                switch (value){
                    case 1: num="一";
                        break;
                    case 2: num="二";
                        break;
                    case 3: num="三";
                        break;
                    case 4: num="四";
                        break;
                    case 5: num="五";
                        break;
                    case 6: num="六";
                        break;
                    case 7: num="七";
                        break;
                    case 8: num="八";
                        break;
                    case 9: num="九";
                        break;
                    default:
                        break;
                }
                return num;
            },
        },
        watch:{
            categorylist:function(newcategorylist){//监听mainid
                for(var i=0;i<this.categorylist.length;i++){console.log('--------'+i)
                    this.querypaperquestion(this.categorylist[i].id,this.categorylist[i].cateid,this.categorylist[i].totalnum,this.categorylist[i].nickname,this.categorylist[i].scoresettype,this.categorylist[i].score,this.categorylist[i].totalscore,this.categorylist[i].priority);
                }
            }
        },
        mounted:function(){
            this.querytestlist()
        },
        methods:{
            showMyFile(url){
              this.isshowfile = true;
              this.showfile = url;
            },
            getfilename(url){
                var arr = url.split("/");
                return arr[arr.length-1];
            },
            ispicture(name){//判断是否图片
              var arr = name.split(".");
              var format = arr[arr.length-1].toLowerCase();
              if(format=='png' || format=='bmp' || format=='gif' || format=='jpg' || format=='jpeg'){
                return true;
              }else{
                return false;
              }
            },
            score_chart:function(val){//显示成绩区间统计图表
                let self = this
                if( this.examinfo.length == 0 ){
                    return false;
                }
                var examinfo = this.examinfo[val].scorevec;
                var _arr = [{value:0,name:''},{value:0,name:''},{value:0,name:''},{value:0,name:''},{value:0,name:''}];
                var nameArr = [[],[],[],[],[]];//记录每个分数段的人名
                for( var i = 0; i < examinfo.length; i++ ){
                    var _score = examinfo[i].score;
                    if(_score>self.totalScore*0.9){
                        _arr[0].value++;
                        nameArr[0].push(examinfo[i].stuname);
                    }else if(_score>self.totalScore*0.8){
                        _arr[1].value++;
                        nameArr[1].push(examinfo[i].stuname);
                    }else if(_score>self.totalScore*0.7){
                        _arr[2].value++;
                        nameArr[2].push(examinfo[i].stuname);
                    }else if(_score>self.totalScore*0.6){
                        _arr[3].value++;
                        nameArr[3].push(examinfo[i].stuname);
                    }else{
                        _arr[4].value++;
                        nameArr[4].push(examinfo[i].stuname);
                    }
                }
                nameArr.map(function(el,i) {
                    var nameStr = '';
                    el.map(function(el2,j) {
                        nameStr+=el2;
                        if ( j%4 == 0 && j > 0 ){
                            nameStr += '<br/>';
                        }else{
                            nameStr += ' ';
                        }
                    })
                    _arr[i].name = nameStr;
                })
                single_bar({
                    element:$('.score_chart')[0],
                    // xAxis_data:['100~90','90~80','80~70','70~60','60以下'],
                    xAxis_data:[
                        parseFloat(self.totalScore).toFixed(1)+'~'+parseFloat(self.totalScore*0.9).toFixed(1),
                        parseFloat(self.totalScore*0.9).toFixed(1)+'~'+parseFloat(self.totalScore*0.8).toFixed(1),
                        parseFloat(self.totalScore*0.8).toFixed(1)+'~'+parseFloat(self.totalScore*0.7).toFixed(1),
                        parseFloat(self.totalScore*0.7).toFixed(1)+'~'+parseFloat(self.totalScore*0.6).toFixed(1),
                        parseFloat(self.totalScore*0.6).toFixed(1)+'以下'
                    ],
                    data:_arr,
                    barcolor:['#0486CA'],
                    xAxis:{name:'(分数区间)'},
                    yAxis:{name:'人'}
                });
            },
            handleClick:function(tab, event) {
                console.log(tab, event);
            },
            handleIconClick:function(ev) {
                console.log(ev);
            },
            querytestlist:function(){
                var self=this
                var data={
                    command:'unifyexam/queryteacherexam',
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid'),
                    uid:getCookie('uid'),
                    scheduleid:getCookie('scheduleid')
                }
                function calback(res){
                    self.testlist=res.testlist
                }
                post('/unifyexam/queryteacherexam',data,calback,errcodefn,errfn)
            },
            opentest:function(obj){
                this.paperid=obj.paperid
                this.courseid=obj.courseid
                this.paperdetailvisible=true
                this.testpaper=[]
                this.querypapercategorylist()
                this.querypaperinfo()
                this.querycoursedetail()
            },
            starttest:function(){
                var self=this
                var data={
                    command:'unifyexam/starttest',
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid'),
                    teacherid:getCookie('uid'),
                    scheduleid:getCookie('scheduleid'),
                    paperid:self.paperid,
                    courseid:self.courseid,
                    model:1,
                    type:3,
                    name:self.papername,
                    endtime:self.courseendtime
                }
                function calback(res){
                    layer.msg('成功发起测验')
                    self.querytestlist()
                    self.paperdetailvisible=false
                }
                post('/unifyexam/starttest',data,calback,errcodefn,errfn)
            },
            querypaperinfo:function(){//查询试卷信息
                var self=this
                var data={
                    command:"exampaper/viewpaper",
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid'),
                    paperid:self.paperid,
                }
                function callback(res){
                    self.papername=res.paperinfo.name;
                    self.score=res.paperinfo.score;
                }
                post('/exampaper/viewpaper',data,callback,errcodefn,errfn)
            },
            querypaperquestion:function(mainid,cateid,totalnum,nickname,scoresettype,score,totalscore,priority){//查询试题详情并拼接试卷对象
                var self=this;
                var data={
                    command:"exampaper/querypaperquestion",
                    sessionid:getCookie("sid"),
                    loginid:getCookie("uid"),
                    paperid:self.paperid,
                    mainid:mainid,
                    cateid:cateid
                }
                function callback(res){
                    if(cateid==6){//如果cateid是组合题
                        var questionlist=[];
                        for (var i=0;i<res.questionlist.length;i++) {
                            var grouplist=res.questionlist[i].grouplist;
                            if (grouplist!=null) {
                                for (var a=0;a<grouplist.length;a++) {//三级题目排序
                                    for (var b=a+1;b<grouplist.length;b++) {
                                        if (grouplist[a].priority>grouplist[b].priority) {
                                            var obj=grouplistsort[a];
                                            grouplist[a]=grouplist[b];
                                            grouplist[b]=obj;
                                        }
                                    }
                                }
                                for (var a=0;a<grouplist.length;a++) {//三级题目排序
                                    grouplist[a].priority=a;
                                }
                            }

                            questionlist.push({
                                id:res.questionlist[i].id,
                                questionbaseid:res.questionlist[i].questionbaseid,
                                score:res.questionlist[i].score,
                                priority:res.questionlist[i].priority,
                                mainid:res.questionlist[i].mainid,
                                paperid:res.questionlist[i].paperid,
                                questionbasename:res.questionlist[i].questionbasename,
                                questionitem:res.questionlist[i].questioinitem,
                                answer:res.questionlist[i].answer,
                                grouplist:grouplist
                            })
                        }
                        for (var i=0;i<questionlist.length;i++) {//二级题目排序
                            for (var j=i+1;j<questionlist.length;j++) {
                                if (questionlist[i].priority>questionlist[j].priority) {
                                    var obj=questionlist[i];
                                    questionlist[i]=questionlist[j];
                                    questionlist[j]=obj;
                                }
                            }
                        }
                        for (var i=0;i<questionlist.length;i++) {//二级题目排序
                            questionlist[i].priority=i;
                        }
                        if (cateid==5||cateid==6) {
                            scoresettype=0;
                        }
                        self.testpaper.push({
                            id:mainid,
                            cateid:cateid,//题类
                            totalnum:totalnum,//试题总数
                            nickname:nickname,//分类名称
                            scoresettype:scoresettype,//是否统一设置
                            score:score,//试题分值
                            totalscore:totalscore,//试题总分值
                            priority:priority,//排序
                            content:questionlist//题类下属小题数组
                        });
                        self.sorttestpaper();//一级题目排序
                    }else{
                        for (var i=0;i<res.questionlist.length;i++) {//二级题目排序
                            for (var j=i+1;j<res.questionlist.length;j++) {
                                if (res.questionlist[i].priority>res.questionlist[j].priority) {
                                    var obj=res.questionlist[i];
                                    res.questionlist[i]=res.questionlist[j];
                                    res.questionlist[j]=obj;
                                }
                            }
                        }
                        for (var i=0;i<res.questionlist.length;i++) {//二级题目排序
                            res.questionlist[i].priority=i;
                        }
                        if (cateid==5||cateid==6) {
                            scoresettype=0;
                        }
                        self.testpaper.push({
                            id:mainid,
                            cateid:cateid,//题类
                            totalnum:totalnum,//试题总数
                            nickname:nickname,//分类名称
                            scoresettype:scoresettype,//是否统一设置
                            score:score,//试题分值
                            totalscore:totalscore,//试题总分值
                            priority:priority,//排序
                            content:res.questionlist//题类下属小题数组
                        });
                        self.sorttestpaper();//一级题目排序
                    }
                }
                post('/exampaper/querypaperquestion',data,callback,errcodefn,errfn)
            },
            querypapercategorylist:function(){//查询题类
                var self=this;
                var data={
                    command:"exampaper/querypapercategorylist",
                    sessionid:getCookie("sid"),
                    loginid:getCookie("uid"),
                    paperid:self.paperid,
                }
                function callback(res){
                    self.categorylist=res.categoryList
                }
                post('/exampaper/querypapercategorylist',data,callback,errcodefn,errfn)
            },
            sorttestpaper:function(){//排序
                for (var i=0;i<this.testpaper.length;i++) {
                    for (var j=i+1;j<this.testpaper.length;j++) {
                        if (this.testpaper[i].priority>this.testpaper[j].priority) {
                            var obj=this.testpaper[i];
                            this.testpaper[i]=this.testpaper[j];
                            this.testpaper[j]=obj;
                        }
                    }
                }
                for (var i=0;i<this.testpaper.length;i++) {
                    this.testpaper[i].priority=i;
                }
            },
            goback:function(){
                window.location.href='interact_index_cs.html'
            },
            queryreport:function(val){
                this.reportvisible=true
                this.totalScore = val.paperscore
                // this.totalScore = 60
                var self=this
                var data={
                    command:'report/testdetail',
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid'),
                    reportid:getCookie('scheduleid'),
                    examid:val.examid
                }
                function callback(res){
                    if(res.examinfo.length==0){
                        return false;
                    }
                    self.examinfo = res.examinfo;
                    self.score_chart(0);
                    self.test_detail(res.examinfo[0].paperid,val.examid);
                }
                post('/report/testdetail',data,callback,errcodefn,errfn)
            },
            test_detail:function(paperid,examid){//查询测试详细结果
                var self = this;
                Api.dataToJava({
                    isShade:1,
                    json:{
                        url:'/exampaper/querypapercategorylist',
                        data:JSON.stringify({
                            '1':{
                                command:'exampaper/querypapercategorylist',
                                sessionid:getCookie('sid'),
                                loginid:getCookie('uid'),
                                paperid:paperid,
                            }
                        })
                    },
                    fn:function (base) {
                        base = base[1]; //取接口的第一个返回值
                        //判断接口是否走成功， errcode为0是成功
                        if (base.errcode!=0) {
                            uselayer(3,base.errdesc);
                            return false;
                        }

                        self.questionlist_new.single=[];
                        self.questionlist_new.judge=[];
                        self.questionlist_new.multiple=[];
                        self.getquestionlength = 0;
                        self.questionTypeNum = 0;
                        for( var i = 0; i < base.categoryList.length; i++ ){
                            var item = base.categoryList[i];
                            if( item.nickname == '单选题' ){
                                self.questionTypeNum++;
                                self.connect_problem(item.cateid,item.id,paperid,'single',examid);
                            }else if( item.nickname == '判断题' ){
                                self.questionTypeNum++;
                                self.connect_problem(item.cateid,item.id,paperid,'judge',examid);
                            }else if( item.nickname == '多选题' ){
                                self.questionTypeNum++;
                                self.connect_problem(item.cateid,item.id,paperid,'multiple',examid);
                            }
                        }
                    }
                });
            },
            connect_problem:function(cateid,mainid,paperid,catename,examid){//拼接各种类型的题目
                var self = this;
                Api.dataToJava({
                    isShade:1,
                    json:{
                        url:'/exampaper/querypaperquestion',
                        data:JSON.stringify({
                            '1':{
                                command:'exampaper/querypaperquestion',
                                sessionid:getCookie('sid'),
                                loginid:getCookie('uid'),
                                paperid:paperid,
                                mainid:mainid,
                                cateid:cateid,
                            }
                        })
                    },
                    fn:function (base1) {
                        base1 = base1[1]; //取接口的第一个返回值
                        //判断接口是否走成功， errcode为0是成功
                        if (base1.errcode!=0) {
                            uselayer(3,base1.errdesc);
                            return false;
                        }
                        self.questionlist_new[catename] = base1.questionlist;
                        self.getquestionlength++;
                        if(self.getquestionlength==self.questionTypeNum){//该试卷所有类型的题目全部获取到了
                            self.detail_bar(examid);
                        }
                        
                    }
                });
            },
            detail_bar:function(examid){//画题目详情的柱状图
                var self = this;
                Api.dataToJava({
                    isShade:1,
                    json:{
                        url:'/report/paperdetail',
                        data:JSON.stringify({//获取随堂小测试卷各题目各选项选择人数
                            '1':{
                                command:'report/paperdetail',
                                sessionid:getCookie('sid'),
                                loginid:getCookie('uid'),
                                examid:examid
                            }
                        }),
                    },
                    fn:function(base2){
                        base2 = base2[1];
                        //判断接口是否走成功， errcode为0是成功
                        if (base2.errcode!=0) {
                            uselayer(3,base2.errdesc);
                            return false;
                        }
                        var paperinfo = base2.paperinfo;
                        for(var x in self.questionlist_new){
                            for( var i = 0; i < self.questionlist_new[x].length; i++ ){
                                var questionbaseid = self.questionlist_new[x][i].questionbaseid;
                                for( var j = 0; j < paperinfo.length; j++ ){
                                    if( questionbaseid == paperinfo[j].questionbaseid ){
                                        if(x == 'multiple'){
                                            //如果是多选，重新组装一下answerlist
                                            var option={};
                                            paperinfo[j].answerlist.map(function(el,k) {
                                                el.answer.split('').map(function(el2, l) {
                                                    if(!option[el2]){
                                                        option[el2] = 1;
                                                    }else{
                                                        option[el2]++;
                                                    }
                                                })
                                            })
                                            var _answerlist = [];
                                            for(var o in option){
                                                _answerlist.push({answer:o,count:option[o]});
                                            }
                                            _answerlist.sort(function(a,b){
                                                return a.answer.charCodeAt()-b.answer.charCodeAt();
                                            });
                                            self.questionlist_new[x][i].answerlist = _answerlist;
                                        }else{
                                            self.questionlist_new[x][i].answerlist = paperinfo[j].answerlist;
                                        }
                                        self.draw_detail_bar();

                                    }
                                }
                            }
                        }
                        
                    }
                });
            },
            draw_detail_bar:function(){
                var self = this;
                //画每道题目统计图

                //单选题
                for(var i = 0; i < self.questionlist_new.single.length; i++){
                    var answerlist = self.questionlist_new.single[i].answerlist;//统计答案的数组
                    if(!answerlist){
                        continue;
                    }
                    var questionitem = self.questionlist_new.single[i].questionitem;
                    var data = [];
                    var xAxis_data = questionitem.map(function(el, j) {
                        return el.itemname;
                    })
                    var correctanswer = self.questionlist_new.single[i].answer;

                    questionitem.map(function(el,j) {
                        data[j] = {value:0,text:''};
                        if(el.itemname == correctanswer){
                            data[j].text = '正确答案';
                        }
                        answerlist.map(function(el2,k) {
                            if(el2.answer == el.itemname){
                                data[j].value = el2.count;
                            }
                        })
                    });
                    single_bar2({
                        element:$('.single .test_chart')[i],
                        xAxis_data:xAxis_data,
                        data:data,
                        barcolor:['#0486CA','#CC3366'],
                        xAxis:{name:'选项'},
                        yAxis:{name:'人'}
                    });
                }
                //多选题
                for(var i = 0; i < self.questionlist_new.multiple.length; i++){
                    var answerlist = self.questionlist_new.multiple[i].answerlist;
                    if(!answerlist){
                        continue;
                    }
                    var questionitem = self.questionlist_new.multiple[i].questionitem;
                    var data = [];
                    var xAxis_data = questionitem.map(function(el, j) {
                        return el.itemname;
                    })
                    var correctanswer = self.questionlist_new.multiple[i].answer;

                    questionitem.map(function(el,j) {
                        data[j] = {value:0,text:''};
                        if(correctanswer.indexOf(el.itemname) != -1){
                            data[j].text = '正确答案';
                        }
                        answerlist.map(function(el2,k) {
                            if(el2.answer == el.itemname){
                                data[j].value = el2.count;
                            }
                        })
                    });
                    single_bar2({
                        element:$('.multiple .test_chart')[i],
                        xAxis_data:xAxis_data,
                        data:data,
                        barcolor:['#0486CA','#CC3366'],
                        xAxis:{name:'选项'},
                        yAxis:{name:'人'}
                    });
                }

                //判断题
                for(var i = 0; i < self.questionlist_new.judge.length; i++){
                    var answerlist = self.questionlist_new.judge[i].answerlist;
                    if(!answerlist){
                        continue;
                    }
                    var xAxis_data = ['正确','错误'];
                    var data = [{value:0,text:''},{value:0,text:''}];
                    var correctanswer = self.questionlist_new.judge[i].answer;
                    if( correctanswer == 1 ){
                        data[0].text = '正确答案';
                    }else{
                        data[1].text = '正确答案';
                    }
                    for(var j = 0; j < answerlist.length; j++){
                        if( answerlist[j].answer == 1 ){
                            data[0].value = answerlist[j].count;
                        }else{
                            data[1].value = answerlist[j].count;
                        }
                    }
                    single_bar2({
                        element:$('.judge .test_chart')[i],
                        xAxis_data:xAxis_data,
                        data:data,
                        barcolor:['#0486CA','#CC3366'],
                        xAxis:{name:'选项'},
                        yAxis:{name:'人'}
                    });
                }
            },
            querycoursedetail:function(){
                var self=this;
                var data={
                    command:'course/querycoursedetailinfo',
                    sessionid:getCookie('sid'),
                    loginid:getCookie('uid'),
                    scheduleid:getCookie('scheduleid')
                };
                function callback(res){
                    self.courseendtime=res.endtime;
                }
                post('/course/querycoursedetailinfo',data,callback,errcodefn,errfn);
            }
        }
    });
    function single_bar(opt){//绘制单个的柱状图
        var my_chart = echarts.init(opt.element);
        var option = {
            textStyle: {
                // color:'#ffffff',
                fontWeight: 'normal'
                // fontSize:fontSize
            },
            title :{
                show:false
            },
            color: opt.barcolor,//柱子的颜色
            tooltip : {//提示框
                show:true,
                trigger: 'axis',
                axisPointer : {
                    type : 'shadow'
                },
                formatter:function (params,ticket,callback) {
                    return params[0].data.name;
                }
            },
            grid: {//控制图表的边距
                left: '3%',
                right: '17%',
                bottom: '0%',
                containLabel: true,
                show:false

            },
            xAxis :{
                name : opt.xAxis.name,
                // nameTextStyle:{color:'#000000'},
                type : 'category',
                data : opt.xAxis_data,
                axisTick: {//x轴的刻度
                    show: false
                },
                axisLabel:{
                    // textStyle:{fontSize:fontSize}
                }
            },
            yAxis :
            {
                name : opt.yAxis.name,
                // nameTextStyle:{color:'#000000'},
                type : 'value',
                // max:100,
                axisTick: {//y轴的刻度
                    show: false
                },
                axisLabel:{
                    // textStyle:{fontSize:fontSize}
                },
                minInterval: 1
            },
            series : [
                {
                    type:'bar',
                    barWidth: '50%',
                    itemStyle: {
                        normal: {
                            label: {
                                textStyle: {
                                    color: '#116FCB'
                                },
                                formatter:function(a){
                                    return a.data.text;
                                },
                                show: false,
                                position: 'top',
                            }
                        }
                    },
                    data:opt.data
                }
            ]
        };
        my_chart.setOption(option);
        // $(window).resize(function(){
        //     my_chart.resize();
        // });
        // return my_chart;
    }
    function single_bar2(opt){//绘制单个的柱状图
        var my_chart = echarts.init(opt.element);
        var option = {
            textStyle: {
                // color:'#ffffff',
                fontWeight: 'normal'
                // fontSize:fontSize
            },
            title :{
                show:false
            },
            color: opt.barcolor,//柱子的颜色
            tooltip : {//提示框
                show:false,
                trigger: 'axis',
                axisPointer : {
                    type : 'shadow'
                }
            },
            grid: {//控制图表的边距
                left: '3%',
                right: '13%',
                bottom: '0%',
                containLabel: true,
                show:false
                
            },
            xAxis :{
                name : opt.xAxis.name,
                // nameTextStyle:{color:'#000000'},
                type : 'category',
                data : opt.xAxis_data,
                axisTick: {//x轴的刻度
                    show: false
                },
                axisLabel:{
                    // textStyle:{fontSize:fontSize}
                }
            },
            yAxis : 
            {
                name : opt.yAxis.name,
                // nameTextStyle:{color:'#000000'},
                type : 'value',
                // max:100,
                axisTick: {//y轴的刻度
                    show: false
                },
                axisLabel:{
                    // textStyle:{fontSize:fontSize}
                },
                minInterval: 1
            },
            series : [
                {
                    type:'bar',
                    barWidth: '50%',
                    itemStyle: {
                        normal: {
                            label: {
                                textStyle: {
                                    color: '#116FCB'
                                },
                                formatter:function(a){
                                    return a.data.text;
                                },
                                show: true,
                                position: 'top',
                            }
                        }
                    },
                    data:opt.data
                }
            ]
        };
        my_chart.setOption(option);
        // $(window).resize(function(){
        //     my_chart.resize();
        // });
        // return my_chart;
    }
</script>
</body>
</html>
