<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/assistant/common.css"/>
    <script src="../../js/assistant/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../js/assistant/base.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/assistant/c_common.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/echarts.min.js"></script>
    <script src="../../layer/xie/layer1.js"></script>
    <title>报告-统计</title>
    <style type="text/css">
        .no-data{
            line-height:230px !important; font-size:18px; height:200px; text-align:center;
        }

        html{ overflow:hidden; }
        body{
            background-color:#ECECEC; overflow:auto;
            font-family: "微软雅黑"; font-size:14px;
        }
        .all_outer{ width:1024px; margin:auto; }
        ._title{
            width:100%; font-size:20px; text-align:center;
        }
        .subtit{
            width:100%; font-size:18px; line-height:30px; padding-left:16px;
        }
        ._content{
            background-color:white; width:100%; padding:16px; margin-bottom:10px;
        }
        ._content p{ line-height:24px; }

        ._content1 div{
            width:50%;
        }
        ._content1 p{
            width:50%; float:left;
        }

        ._content2 div{
            width:75%;
        }
        ._content2 p{
            width:33.3%; float:left;
        }

        ._content3 div{
            width:100%;
        }
        ._content3 div:nth-child(1),._content3 div:nth-child(2){
            margin-bottom:10px;
        }
        ._content3 p{
            width:25%; float:left;
        }
        ._content3 div:nth-child(3){
            border-top:1px solid #BCBCBC; padding-top:10px; width:100%;
        }

        ._content4{
            width:100%;
        }
        ._content4 iframe{
            width:102%; height:600px; margin-left:-1%;
        }

        /*随堂小测*/
        .tab_con{
            width:100%;
        }
        .tab_con li{
            float:left; padding:0 1em; cursor:pointer;
        }
        .tab_on {
            border-bottom:1px solid;
        }
        .test_con{
            width:100%; height:270px;
        }
        .test_con>div{
            float:left; height:100%;
        }
        .score_chart{
            width:70%;
        }
        .test_right{
            width:30%;
        }
        .test_right_inner{
            width:100%; padding-top:60px; height:250px;
        }
        .test_right_inner h4{
            width:100%; text-align:center; margin-bottom:30px;
        }
        .test_right>h5{
            display:flex; width:100%; justify-content:flex-end; align-items:center;
            width:20%; margin-left:80%; cursor:pointer;
        }
        .test_right>h5 span{
            margin-right:10px;
        }
        .test_right>h5 img{
            height:14px;
        }

        
        ._content6>div{
            width:50%; height:260px; float:left; padding:0 10px;
        }
        ._content6>div>div{
            width:100%; height:230px;
        }

        /*小测试详情*/
        .grey{background-color:#ECECEC;}
        .test_detail{
            width:730px; padding:10px 30px; background-color:#ECECEC; display:none;
            margin:auto;
        }
        .test_detail h2{
            width:100%; font-size:20px; text-align:center;
        }
        .test_detail h5{
            font-size:16px; margin-top:10px;
        }
        .problem_con{
            border-bottom:1px solid #BCBCBC; padding:20px 0;
        }
        .problem_con:last-of-type{
            border:none;
        }
        .problem_con p{
            margin-bottom:10px;
        }
        .options{
            width:100%;
        }
        .options span{
            padding-right:3em; display:inline-block;
        }
        .test_chart{
            width:100%; height:230px;
        }
    </style>

</head>
<body>
    <div class="all_outer" id='vue_control' v-cloak>
        <h2 class="_title"><template v-if="base.coursename">{{base.coursename}}</template><br v-else/></h2>
        <h3 class="subtit">课程信息</h3>
        <div class="_content _content1">
            <div class="clearfix">
                <p>
                    时间：
                    <template v-if="base.starttime && base.endtime">
                        {{base.starttime.toString().substr(0,16)}}-{{base.endtime.split(' ')[1].substr(0,5)}}
                    </template>
                    
                </p>
                <p>地点：{{base.placename}}</p>
                <p style="width: 100%;">班级：<template v-for="(item,i) in base.sclassname">{{item}}</template></p> 
            </div>
            
        </div>

        <h3 class="subtit">签到信息</h3>
        <div class="_content _content2">
            <div class="clearfix">
                <p>实际签到：{{base.sigcount}}人</p>
                <p>应到：{{base.stdcount}}人</p>
                <p>计划外签到：{{base.outcount}}人</p> 
                <p>缺勤：{{base.absencecount}}人</p> 
                <p>迟到：{{base.latecount}}人</p> 
            </div>
            
        </div>

        <h3 class="subtit">课堂互动</h3>
        <div class="_content _content3">
            <div class="clearfix">
                <p>全员回答</p>
                <p>抢答</p> 
                <p>投票</p>
                <p>&nbsp;</p>
            </div>
            <div class="clearfix">
                <p>老师发起：{{base.allanswer.asktimes}}次</p>
                <p>老师发起：{{base.robanswer.asktimes}}次</p> 
                <p>老师发起：{{base.vote.votetimes}}次</p>
                <p>&nbsp;</p>
                <p>学生参与：{{base.allanswer.answertimes}}人次</p>
                <p>学生参与：{{base.robanswer.answertimes}}人次</p>
                <p>学生参与：{{base.vote.voteanswertimes}}人次</p>
                <p>&nbsp;</p>
            </div>
            <div class="clearfix">
                <p>最佳个人：{{base.bestpersonal.name}}<img src="../../images/assistant/flower.png"><span>x{{base.bestpersonal.flowercount}}</span></p>
                <p>最佳小组：{{base.bestgroup.name}}<img src="../../images/assistant/flower.png"><span>x{{base.bestgroup.flowercount}}</span></p>
            </div>
            
        </div>

        <h3 class="subtit">训练报告</h3>
        <div class="_content4">
            <iframe :src="src"></iframe>
        </div>

        <h3 class="subtit">随堂小测</h3>
        <div class="_content _content5">
            <ul class="tab_con clearfix">
                <!-- <li class="tab_on">测验1</li>
                <li>测验2</li> -->
                <li v-for="(item,i) in examinfo" :class="{tab_on:i==testindex}" @click="testindex = i;">
                    {{item.examname}}
                </li>
            </ul>
            <div class="test_con clearfix">
                <div class="score_chart">

                </div>
                <div class="test_right">
                    <div class="test_right_inner">
                        <h4 v-if="examinfo.length>0">完成人数：{{examinfo[testindex].count}}人</h4>
                        <h4 v-if="examinfo.length>0">平均分：{{examinfo[testindex].avgscore}}分</h4>
                    </div>
                    <h5 @click="test_detail"><span>详情</span><img src="../../images/assistant/icon-right.png" /></h5>
                </div>
            </div>
        </div>

        <!-- <h3 class="subtit">评价报告</h3>
        <div class="_content _content6 clearfix">
            <div>
                <h4>老师胜任力</h4>
                <div class="teacher_ability">
                </div>
            </div>
            <div>
                <h4>教学环境胜任力</h4>
                <div class="teach_environment">
                </div>
            </div>
        </div> -->

        <div class="test_detail">
            <h2>详情</h2>
            <h5 v-if="questionlist_new.single.length>0">单选题</h5>
            <div class="problem_con single" v-for="(question,i) in questionlist_new.single">
                <p>
                    {{i+1}}、{{question.questionbasename}}
                </p>
                <div class="options">
                    <span v-for="(option,j) in question.questionitem">
                        {{option.itemname}}．{{option.content}}
                    </span>
                </div>
                <div class="test_chart">

                </div>
            </div>

            <h5 v-if="questionlist_new.multiple.length>0">多选题</h5>
            <div class="problem_con multiple" v-for="(question,i) in questionlist_new.multiple">
                <p>
                    {{i+1}}、{{question.questionbasename}}
                </p>
                <div class="options">
                    <span v-for="(option,j) in question.questionitem">
                        {{option.itemname}}．{{option.content}}
                    </span>
                </div>
                <div class="test_chart">

                </div>
            </div>

            <h5 v-if="questionlist_new.judge.length>0">判断题</h5>
            <div class="problem_con judge" v-for="(question,i) in questionlist_new.judge">
                <p>
                    {{i+1}}、{{question.questionbasename}}
                </p>
                <div class="test_chart">

                </div>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript">
        function change_height(height){//根据子页面传过来的值改变iframe的高度
            $('._content4 iframe').height(height+80);
        }
       
        var vm=new Vue({
            el:"#vue_control",
            data:{
                sid:getCookie('sid'),
                loginid:getCookie('uid'),
                uid:getCookie('uid'),
                scheduleid:GetQueryString('scheduleid'),
                base:{"coursename":"","sigcount":"","bestpersonal":{},"sclassname":[],"allanswer":{},"endtime":"","stdcount":"","starttime":"","robanswer":{},"placename":"","latecount":"","command":"report/integratedreport","bestgroup":{},"outcount":"","absencecount":"","vote":{}},
                testindex:0,//记录当前显示的随堂小测
                examinfo:[],//随堂小测数组
                questionlist:[],//试卷中的题目列表
                paperinfo:[],//试卷详情
                totalScore:100,
                questionlist_new:{single:[],judge:[],multiple:[],},
                getquestionlength:0,
                questionTypeNum:0,//记录当前的试卷有哪几种题型
            },
            methods:{
                test_detail:function(){
                    var self = this;

                    //获取试卷所有题目
                    if( this.examinfo.length == 0 ){
                        return false;
                    }
                    var json = {
                        '1':{
                            command:'exampaper/querypapercategorylist',
                            sessionid:self.sid,
                            loginid:self.uid,
                            paperid:self.examinfo[self.testindex].paperid
                        }
                    };
                    Api.dataToJava({
                        isShade:1,
                        json:{
                            url:'/exampaper/querypapercategorylist',
                            data:JSON.stringify(json)
                        },
                        fn:function (base) {
                            base = base[1]; //取接口的第一个返回值
                            
                            //判断接口是否走成功， errcode为0是成功
                            if (base.errcode!=0) {
                                uselayer(3,base.errdesc);
                                return false;
                            }
                            self.questionlist_new.single=[];
                            self.questionlist_new.judge=[];
                            self.questionlist_new.multiple=[];
                            self.getquestionlength = 0;
                            self.questionTypeNum = 0;
                            var paperid = self.examinfo[self.testindex].paperid;
                            var examid = self.examinfo[self.testindex].examid;
                            for( var i = 0; i < base.categoryList.length; i++ ){
                                var item = base.categoryList[i];
                                if( item.nickname == '单选题' ){
                                    self.questionTypeNum++;
                                    self.connect_problem(item.cateid,item.id,paperid,'single',examid);
                                }else if( item.nickname == '判断题' ){
                                    self.questionTypeNum++;
                                    self.connect_problem(item.cateid,item.id,paperid,'judge',examid);
                                }else if( item.nickname == '多选题' ){
                                    self.questionTypeNum++;
                                    self.connect_problem(item.cateid,item.id,paperid,'multiple',examid);
                                }
                            }
                        }
                    })
                },
                connect_problem:function(cateid,mainid,paperid,catename,examid){//拼接各种类型的题目
                    var self = this;
                    Api.dataToJava({
                        isShade:1,
                        json:{
                            url:'/exampaper/querypaperquestion',
                            data:JSON.stringify({
                                '1':{
                                    command:'exampaper/querypaperquestion',
                                    sessionid:getCookie('sid'),
                                    loginid:getCookie('uid'),
                                    paperid:paperid,
                                    mainid:mainid,
                                    cateid:cateid,
                                }
                            })
                        },
                        fn:function (base1) {
                            base1 = base1[1]; //取接口的第一个返回值
                            //判断接口是否走成功， errcode为0是成功
                            if (base1.errcode!=0) {
                                uselayer(3,base1.errdesc);
                                return false;
                            }
                            self.questionlist_new[catename] = base1.questionlist;
                            self.getquestionlength++;
                            if(self.getquestionlength==self.questionTypeNum){//该试卷所有类型的题目全部获取到了
                                self.detail_bar(examid);
                            }
                            
                        }
                    });
                },
                detail_bar:function(examid){//画题目详情的柱状图
                    var self = this;
                    Api.dataToJava({
                        isShade:1,
                        json:{
                            url:'/report/paperdetail',
                            data:JSON.stringify({//获取随堂小测试卷各题目各选项选择人数
                                '1':{
                                    command:'report/paperdetail',
                                    sessionid:getCookie('sid'),
                                    loginid:getCookie('uid'),
                                    examid:examid
                                }
                            }),
                        },
                        fn:function(base2){
                            base2 = base2[1];
                            //判断接口是否走成功， errcode为0是成功
                            if (base2.errcode!=0) {
                                uselayer(3,base2.errdesc);
                                return false;
                            }
                            layer.open({
                                type: 1,
                                closeBtn: 1,
                                shade:'transparent',
                                title:false,
                                area:['750px','97%'],
                                maxWidth:'800px',
                                skin:'grey',
                                shadeClose: false,
                                content:$('.test_detail'),
                            });
                            var paperinfo = base2.paperinfo;
                            for(var x in self.questionlist_new){
                                for( var i = 0; i < self.questionlist_new[x].length; i++ ){
                                    var questionbaseid = self.questionlist_new[x][i].questionbaseid;
                                    for( var j = 0; j < paperinfo.length; j++ ){
                                        if( questionbaseid == paperinfo[j].questionbaseid ){
                                            if(x == 'multiple'){
                                                //如果是多选，重新组装一下answerlist
                                                var option={};
                                                paperinfo[j].answerlist.map(function(el,k) {
                                                    el.answer.split('').map(function(el2, l) {
                                                        if(!option[el2]){
                                                            option[el2] = 1;
                                                        }else{
                                                            option[el2]++;
                                                        }
                                                    })
                                                })
                                                var _answerlist = [];
                                                for(var o in option){
                                                    _answerlist.push({answer:o,count:option[o]});
                                                }
                                                _answerlist.sort(function(a,b){
                                                    return a.answer.charCodeAt()-b.answer.charCodeAt();
                                                });
                                                self.questionlist_new[x][i].answerlist = _answerlist;
                                            }else{
                                                self.questionlist_new[x][i].answerlist = paperinfo[j].answerlist;
                                            }
                                            self.draw_detail_bar();

                                        }
                                    }
                                }
                            }
                            
                        }
                    });
                },
                draw_detail_bar:function(){
                    var self = this;
                    //画每道题目统计图

                    //单选题
                    for(var i = 0; i < self.questionlist_new.single.length; i++){
                        var answerlist = self.questionlist_new.single[i].answerlist;//统计答案的数组
                        if(!answerlist){
                            continue;
                        }
                        var questionitem = self.questionlist_new.single[i].questionitem;
                        var data = [];
                        var xAxis_data = questionitem.map(function(el, j) {
                            return el.itemname;
                        })
                        var correctanswer = self.questionlist_new.single[i].answer;

                        questionitem.map(function(el,j) {
                            data[j] = {value:0,text:''};
                            if(el.itemname == correctanswer){
                                data[j].text = '正确答案';
                            }
                            answerlist.map(function(el2,k) {
                                if(el2.answer == el.itemname){
                                    data[j].value = el2.count;
                                }
                            })
                        });
                        single_bar2({
                            element:$('.single .test_chart')[i],
                            xAxis_data:xAxis_data,
                            data:data,
                            barcolor:['#0486CA','#CC3366'],
                            xAxis:{name:'选项'},
                            yAxis:{name:'人'}
                        });
                    }
                    //多选题
                    for(var i = 0; i < self.questionlist_new.multiple.length; i++){
                        var answerlist = self.questionlist_new.multiple[i].answerlist;
                        if(!answerlist){
                            continue;
                        }
                        var questionitem = self.questionlist_new.multiple[i].questionitem;
                        var data = [];
                        var xAxis_data = questionitem.map(function(el, j) {
                            return el.itemname;
                        })
                        var correctanswer = self.questionlist_new.multiple[i].answer;

                        questionitem.map(function(el,j) {
                            data[j] = {value:0,text:''};
                            if(correctanswer.indexOf(el.itemname) != -1){
                                data[j].text = '正确答案';
                            }
                            answerlist.map(function(el2,k) {
                                if(el2.answer == el.itemname){
                                    data[j].value = el2.count;
                                }
                            })
                        });
                        single_bar2({
                            element:$('.multiple .test_chart')[i],
                            xAxis_data:xAxis_data,
                            data:data,
                            barcolor:['#0486CA','#CC3366'],
                            xAxis:{name:'选项'},
                            yAxis:{name:'人'}
                        });
                    }

                    //判断题
                    for(var i = 0; i < self.questionlist_new.judge.length; i++){
                        var answerlist = self.questionlist_new.judge[i].answerlist;
                        if(!answerlist){
                            continue;
                        }
                        var xAxis_data = ['正确','错误'];
                        var data = [{value:0,text:''},{value:0,text:''}];
                        var correctanswer = self.questionlist_new.judge[i].answer;
                        if( correctanswer == 1 ){
                            data[0].text = '正确答案';
                        }else{
                            data[1].text = '正确答案';
                        }
                        for(var j = 0; j < answerlist.length; j++){
                            if( answerlist[j].answer == 1 ){
                                data[0].value = answerlist[j].count;
                            }else{
                                data[1].value = answerlist[j].count;
                            }
                        }
                        single_bar2({
                            element:$('.judge .test_chart')[i],
                            xAxis_data:xAxis_data,
                            data:data,
                            barcolor:['#0486CA','#CC3366'],
                            xAxis:{name:'选项'},
                            yAxis:{name:'人'}
                        });
                    }
                },
                score_chart:function(val){//显示成绩区间统计图表
                    var self = this;
                    if( this.examinfo.length == 0 ){
                        return false;
                    }
                    var examinfo = this.examinfo[val].scorevec;
                    var _arr = [{value:0,name:''},{value:0,name:''},{value:0,name:''},{value:0,name:''},{value:0,name:''}];
                    var nameArr = [[],[],[],[],[]];//记录每个分数段的人名
                    for( var i = 0; i < examinfo.length; i++ ){
                        var _score = examinfo[i].score;
                        if(_score>self.totalScore*0.9){
                            _arr[0].value++;
                            nameArr[0].push(examinfo[i].stuname);
                        }else if(_score>self.totalScore*0.8){
                            _arr[1].value++;
                            nameArr[1].push(examinfo[i].stuname);
                        }else if(_score>self.totalScore*0.7){
                            _arr[2].value++;
                            nameArr[2].push(examinfo[i].stuname);
                        }else if(_score>self.totalScore*0.6){
                            _arr[3].value++;
                            nameArr[3].push(examinfo[i].stuname);
                        }else{
                            _arr[4].value++;
                            nameArr[4].push(examinfo[i].stuname);
                        }
                    }
                    nameArr.map(function(el,i) {
                        var nameStr = '';
                        el.map(function(el2,j) {
                            nameStr+=el2;
                            if ( j%4 == 0 && j > 0 ){
                                nameStr += '<br/>';
                            }else{
                                nameStr += ' ';
                            }
                        })
                        _arr[i].name = nameStr;
                    })
                    single_bar({
                        element:$('.score_chart')[0],
                        // xAxis_data:['100~90','90~80','80~70','70~60','60以下'],
                        xAxis_data:[
                            parseFloat(self.totalScore).toFixed(1)+'~'+parseFloat(self.totalScore*0.9).toFixed(1),
                            parseFloat(self.totalScore*0.9).toFixed(1)+'~'+parseFloat(self.totalScore*0.8).toFixed(1),
                            parseFloat(self.totalScore*0.8).toFixed(1)+'~'+parseFloat(self.totalScore*0.7).toFixed(1),
                            parseFloat(self.totalScore*0.7).toFixed(1)+'~'+parseFloat(self.totalScore*0.6).toFixed(1),
                            parseFloat(self.totalScore*0.6).toFixed(1)+'以下'
                        ],
                        data:_arr,
                        barcolor:['#0486CA'],
                        xAxis:{name:'(分数区间)'},
                        yAxis:{name:'人'}
                    });
                }

            },
            computed:{
                src:function(){
                    var str = 'allreport_cs.html?sid='+this.sid+'&loginid='+this.loginid+'&uid='+this.uid+'&scheduleid='+this.scheduleid;
                    return str;
                }
            },
            mounted:function(){
                var self = this;
                (function(){ //获取课堂基本信息
                    var json = {
                        '1':{
                            command:'report/integratedreport',
                            sessionid:self.sid,
                            loginid:self.uid,
                            reportid:self.scheduleid
                        }
                    };
                    Api.dataToJava({
                        isShade:1,
                        json:{
                            url:'/report/integratedreport',
                            data:JSON.stringify(json)
                        },
                        fn:function (base) {
                            base = base[1]; //取接口的第一个返回值
                            
                            //判断接口是否走成功， errcode为0是成功
                            if (base.errcode!=0) {
                                uselayer(3,base.errdesc);
                                return false;
                            }
                            self.base = base;

                        }

                    })
                })();
                
                (function(){//获取随堂小测试卷列表
                    var json = {
                        '1':{
                            command:'report/testdetail',
                            sessionid:self.sid,
                            loginid:self.uid,
                            reportid:self.scheduleid
                        }
                    };
                    Api.dataToJava({
                        isShade:1,
                        json:{
                            url:'/report/testdetail',
                            data:JSON.stringify(json)
                        },
                        fn:function (base) {
                            base = base[1]; //取接口的第一个返回值
                            
                            //判断接口是否走成功， errcode为0是成功
                            if (base.errcode!=0) {
                                uselayer(3,base.errdesc);
                                return false;
                            }
                            self.examinfo = base.examinfo;
                            if(self.examinfo.length>0){
                                self.totalScore = self.examinfo[0].fullscore;
                            }
                            self.score_chart(0);
                        }

                    });
                })();

            },
            watch:{
                testindex:function(val,oldval){//切换随堂小测时刷新柱状图
                    this.score_chart(val);
                    this.totalScore = this.examinfo[val].fullscore;
                }
            },
        })
        
        function teacher_ability(base){
            // if( base.myevaluation.length == 0 ){
            //     $('.teacher_ability').html('<p class="no-data">暂无相关数据</p>');
            // }else{
            //     var arr1 = [];//存放每个维度的名称和最大值
            //     var arr2 = [];//存放每个维度的值
            //     for ( var i = 0; i < base.myevaluation.length; i++ ){
            //         var myevaluation = base.myevaluation[i];
            //         arr1.push({
            //             text:myevaluation.evaluationitem,
            //             max:parseInt(myevaluation.fullscore)
            //         });
            //         arr2.push(parseFloat(myevaluation.score).toFixed(1));
            //     }
            //     console.log({arr1:arr1,arr2:arr2});
            //     //画雷达图
            //     writeradar_1({
            //         obj:document.getElementsByClassName('teacher_ability')[0],
            //         name:arr1,
            //         value:arr2,
            //         show:true,
            //         bg:'rgba(0,0,0,00)',
            //         nameColor:'#000',
            //         line:'#0496ca',
            //         type:'solid',
            //         color:'rgba(4,150,202,0.2)',
            //         animation:true
            //     });                                    
            // }
        }

        function writeradar_1(options){//画雷达图
            var fontColor = options.bg?'#000':'#fff';
            var nameColor = options.nameColor;
            options.bg = options.bg||'#0496ca';
            options.line = options.line||'#0496ca';
            options.type = options.type||'dotted';
            options.color = options.color||'rgba(0,0,0,0)';
            options.show = options.show||false;
            options.animation = options.animation||true;
            var obj = options.obj;
            obj.myChart = echarts.init(obj);
            obj.option = {
                animation:options.animation,
                backgroundColor:options.bg,
                title : {
                    show:false
                },
                tooltip : {
                    show:options.show,
                    trigger: 'axis',
                    formatter : '{d}：{c}分'
                },
                legend: {
                    show:false,
                    x : 'center',
                    data:['']
                },
                toolbox: {
                    show : false     //工具栏
                },
                calculable : false,  //可拖动
                polar : [
                    {
                        indicator : options.name,
                        axisLine: {            // 坐标轴线
                            show: true,// 默认显示，属性show控制显示与否
                            lineStyle:{
                                type:'dashed'
                            }
                        },
                        splitArea : {
                            show : true,
                            areaStyle : {
                                color: [options.bg,options.bg]
                            }
                        },
                        name:{
                            textStyle: {
                                color:nameColor?nameColor:fontColor,
                                fontSize: 13
                            }
                        }
                    }
                ],
                series : [
                    {
                        name: '',
                        type: 'radar',
                        data : [
                            {
                                symbolSize:0,
                                itemStyle: {
                                    normal: {
                                        color: options.line,
                                        lineStyle:{
                                            width: 2,
                                            type: options.type
                                        },
                                        areaStyle:{
                                            color:options.color
                                        }
                                    }
                                },
                                value :options.value,
                                name : ''
                            }

                        ]
                    }
                ]
            };
            obj.myChart.setOption(obj.option);
        }

        function single_bar(opt){//绘制单个的柱状图
            var my_chart = echarts.init(opt.element);
            var option = {
                textStyle: {
                    // color:'#ffffff',
                    fontWeight: 'normal'
                    // fontSize:fontSize
                },
                title :{
                    show:false
                },
                color: opt.barcolor,//柱子的颜色
                tooltip : {//提示框
                    show:true,
                    trigger: 'axis',
                    axisPointer : {
                        type : 'shadow'
                    },
                    formatter:function (params,ticket,callback) {
                        return params[0].data.name;
                    }
                },
                grid: {//控制图表的边距
                    left: '3%',
                    right: '13%',
                    bottom: '0%',
                    containLabel: true,
                    show:false
                    
                },
                xAxis :{
                    name : opt.xAxis.name,
                    // nameTextStyle:{color:'#000000'},
                    type : 'category',
                    data : opt.xAxis_data,
                    axisTick: {//x轴的刻度
                        show: false
                    },
                    axisLabel:{
                        // textStyle:{fontSize:fontSize}
                    }
                },
                yAxis : 
                {
                    name : opt.yAxis.name,
                    // nameTextStyle:{color:'#000000'},
                    type : 'value',
                    // max:100,
                    axisTick: {//y轴的刻度
                        show: false
                    },
                    axisLabel:{
                        // textStyle:{fontSize:fontSize}
                    },
                    minInterval: 1
                },
                series : [
                    {
                        type:'bar',
                        barWidth: '50%',
                        itemStyle: {
                            normal: {
                                label: {
                                    textStyle: {
                                        color: '#116FCB'
                                    },
                                    formatter:function(a){
                                        return a.data.text;
                                    },
                                    show: false,
                                    position: 'top',
                                }
                            }
                        },
                        data:opt.data
                    }
                ]
            };
            my_chart.setOption(option);
            $(window).resize(function(){
                my_chart.resize();
            });
            return my_chart;
        }

        function single_bar2(opt){//绘制单个的柱状图
            var my_chart = echarts.init(opt.element);
            var option = {
                textStyle: {
                    // color:'#ffffff',
                    fontWeight: 'normal'
                    // fontSize:fontSize
                },
                title :{
                    show:false
                },
                color: opt.barcolor,//柱子的颜色
                tooltip : {//提示框
                    show:false,
                    trigger: 'axis',
                    axisPointer : {
                        type : 'shadow'
                    }
                },
                grid: {//控制图表的边距
                    left: '3%',
                    right: '13%',
                    bottom: '0%',
                    containLabel: true,
                    show:false
                    
                },
                xAxis :{
                    name : opt.xAxis.name,
                    // nameTextStyle:{color:'#000000'},
                    type : 'category',
                    data : opt.xAxis_data,
                    axisTick: {//x轴的刻度
                        show: false
                    },
                    axisLabel:{
                        // textStyle:{fontSize:fontSize}
                    }
                },
                yAxis : 
                {
                    name : opt.yAxis.name,
                    // nameTextStyle:{color:'#000000'},
                    type : 'value',
                    // max:100,
                    axisTick: {//y轴的刻度
                        show: false
                    },
                    axisLabel:{
                        // textStyle:{fontSize:fontSize}
                    },
                    minInterval: 1
                },
                series : [
                    {
                        type:'bar',
                        barWidth: '50%',
                        itemStyle: {
                            normal: {
                                label: {
                                    textStyle: {
                                        color: '#116FCB'
                                    },
                                    formatter:function(a){
                                        return a.data.text;
                                    },
                                    show: true,
                                    position: 'top',
                                }
                            }
                        },
                        data:opt.data
                    }
                ]
            };
            my_chart.setOption(option);
            $(window).resize(function(){
                my_chart.resize();
            });
            return my_chart;
        }
</script>
</html>