/*任务和消息*/
.c_task_and_msg{
	display:flex; background-color:#ffffff; width:100%;
	margin-bottom:calc(20vw * 100 / 1920); padding:calc(30vw * 100 / 1920);
}
.c_task_and_msg>div{
	flex:1;
}
.c_task_and_msg>div:nth-child(1){
	margin-right:calc(30vw * 100 / 1920);
}
.c_task_and_msg_top{
	display:flex; align-items:center; justify-content:space-between;
	padding-right:calc(30vw * 100 / 1920);
}
.c_task_and_msg_top>div{
	display:flex; align-items:center;
}
.c_task_and_msg_top_left{
	justify-content:flex-start;
}
.c_task_and_msg_top_left h5{
	font-size:calc(18vw * 100 / 1920); color:#00a0e9; font-weight:bold;
	margin-right:calc(5vw * 100 / 1920);
}
.c_task_and_msg_top_left div{
	color:#ffffff; background-image:url(../../images/homepage/icon_shuzikuang.png);
	background-size:100% 100% ; background-repeat:no-repeat;
	width:calc(38vw * 100 / 1920); height:calc(25vw * 100 / 1920);
	display:flex; align-items:center; justify-content:center;
	padding-left:0.3vw;
}
.c_task_and_msg_top_right{
	justify-content:flex-end; cursor:pointer;
}
.c_task_and_msg_top_right span{
	color:#78909c; font-size:calc(15.5vw * 100 / 1920); margin-right:calc(5vw * 100 / 1920);
}
.c_task_and_msg_top_right img{
	width:calc(8vw * 100 / 1920);
}

.c_task_and_msg>div ul{
	width:100%; margin-top:calc(32vw * 100 / 1920);
	height:calc(320vw * 100 / 1920); overflow:auto;
}
.c_task_and_msg>div ul::-webkit-scrollbar {
    width:12px;
}
/* 滚动槽 */
.c_task_and_msg>div ul::-webkit-scrollbar-track {
    -webkit-box-shadow:rgba(0,0,0,0.3);
    border-radius:10px;
}
/* 滚动条滑块 */
.c_task_and_msg>div ul::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow:rgba(0,0,0,0.5);
}

.c_task_and_msg>div ul li{
	width:100%; height:calc(48vw * 100 / 1920);
	background-color:#F3F5F9; margin-bottom:calc(6vw * 100 / 1920);
	padding:0 calc(35vw * 100 / 1920); display:flex; align-items:center;
	justify-content:space-between; cursor:pointer;
    border-left:calc(6vw * 100 / 1920) solid #00a0e9;
}
.c_task_and_msg>div ul li p{
	color:#333333; margin-right:calc(1vw);
}
.c_task_and_msg>div ul li span{
	color:#78909c;
}
/*加载更多按钮*/
.c_task_and_msg>div ul button{
	display:block; margin:auto; background-color:#eee; padding:0.5vw 1vw; cursor:pointer;
}
/*加载等待图片*/
.c_task_and_msg>div ul img{
	display:block; margin:auto;
}
.no-data{
	width:100%; height:100%; display:flex; background-color:#F3F5F9;
	justify-content:center; align-items:center; font-size:1.2vw; color:#333333;
}
/*点击任务的提示框*/
.c_task_dialog{
    width:calc(800vw * 100 / 1920); background-color:#ffffff;
    border-radius:calc(10vw * 100 / 1920); position:relative; overflow:hidden;
    display:none;
}
.c_task_dialog h3{
    width:100%; color:#00a0e9; text-align:center; margin-top:calc(38vw * 100 / 1920);
    font-size:calc(48vw * 100 / 1920);
}
.c_task_dialog p{
    color:#6f6f6f; font-size:calc(42vw * 100 / 1920);
    margin:calc(114vw * 100 / 1920) auto calc(104vw * 100 / 1920);
    width:100%; text-align:center;
}
.c_task_dialog button{
    width:calc(460vw * 100 / 1920); height:calc(106vw * 100 / 1920);
    border-radius:calc(15vw * 100 / 1920); margin:auto; display:block;
    background-color:#00a0e9; color:#ffffff; font-size:calc(40vw * 100 / 1920);
    cursor:pointer; margin-bottom:calc(38vw * 100 / 1920);
}
.c_task_dialog_close{
    position:absolute; display:block; width:calc(53vw * 100 / 1920); cursor:pointer;
    height:calc(53vw * 100 / 1920); right:calc(30vw * 100 / 1920); top:calc(30vw * 100 / 1920);
}
